<div>
    <font face="tahoma, sans-serif" color="#666666">Olá <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Uma sugestão {{anonimous}} foi enviada referente ao {{entityType}} <b>{{entityName}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Pessoa: <b>{{person}}</b><br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Contato: <b>{{email}}</b><br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Tipo: <b>{{type}}</b><br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Data: <b>{{date}}</b><br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Url: <b><a href="{{url}}">link</a></b><br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Mensagem: {{message}}</b><br><br></font>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Spcultura – Mapas Culturais</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">São Paulo</font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="mailto:spcultura@prefeitura.sp.gov.br" target="_blank">spcultura@prefeitura.sp.gov.br</a>
        <br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="http://spcultura.prefeitura.sp.gov.br" target="_blank">http://spcultura.prefeitura.sp.gov.br</a><br>
    </font>
</div>