<div>
    <font face="tahoma, sans-serif" color="#666666">Bem vindo(a) a plataforma Mapas Culturais!<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Com o cadastro de agente cultural, você pode se inscrever em editais e ainda cadastrar eventos e projetos de sua autoria, que ficam disponíveis para consultas neste banco de dados.<br>Construa seu próprio mapa cultural!<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Aproveite!<br><br></font>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Spcultura – Mapas Culturais</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">São Paulo</font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="mailto:spcultura@prefeitura.sp.gov.br" target="_blank">spcultura@prefeitura.sp.gov.br</a>
        <br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="http://spcultura.prefeitura.sp.gov.br" target="_blank">http://spcultura.prefeitura.sp.gov.br</a><br>
    </font>
</div>
