@use '../0.settings/mixins' as *;

.single-1 {
    &__description {
        padding-bottom: size(16);
    }
    &__longdescription {
        white-space: pre-line;
    }
}
.single-2 {
    &__longdescription {
        white-space: pre-line;
    }
}