@use '../0.settings/mixins' as *;

.faq {
    background-color: var(--mc-gray-100);
    max-width: size(1440);
    width: 100%;
    margin: 0 auto;

    &__main {
        max-width: size(1170);
        margin: 0 auto;
    }

    &__header {
        background-color: #FFCF8F;
        padding: size(24);

    }
    &__principal, &__msgtitle {
        padding: 24px 0 0  16px;
    }
    &__h1 {
        font-size: var(--mc-font-size-lg);
    }
    &__listed {
        display: flex;
        flex-direction: column;
    }
    &__btn {
        padding: size(18) size(16);
        display: grid;
        grid-template-columns: 1fr size(12);
        border: none;
        color: var(--mc-primary-500);
        background-color: var(--mc-white);
        border-radius: var(--mc-border-radius-sm);
        font-size: size(16);
        font-weight: 600;
        font-family: 'Open Sans';
        align-items: center;
        justify-items: start;
        text-align: left;
        text-decoration: none;

        &--selected {
            background-color: var(--mc-primary-500);
            color: var(--mc-white);
        }

    }

    &__aside {
        display: flex;
        flex-direction: column;
        gap: size(16);
    }

    &__footer {
        background-color: var(--mc-gray-100);
        display: flex;
        flex-direction: column;
        gap: size(14);
        margin-top: size(80);
        align-items: center;

    }

    &__footer-btns {
        display: flex;
        gap: size(24);
        flex-direction: column;
        align-items: center;
        padding-bottom: size(80);

        @media (max-width: size(750)) {
            flex-direction: column;
            justify-content: center;

            .button {
                width: 100%;
            }
        }
    }

    &__img {
        display: flex;
        flex-direction: row;
        gap: size(32);
        align-items: center;

        @media (max-width: size(500)) {
            flex-direction: column;
            gap: 0;
            img {
                width: 80%;
            }
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
    }

    &__search {
        border: var(--mc-border-hairline) var(--mc-gray-500);
        border-radius: var(--mc-border-radius-pill) 0 0 var(--mc-border-radius-pill);
        border-right: none;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.1875rem;
        margin: 0;
        padding: size(13.68) size(20);
        padding-right: 0;
        width: 100%;

        @media (max-width:size(500)) {
            padding-top: size(8);
            padding-bottom: size(8);
        }
    }

    &__search-btn {
        border: var(--mc-border-hairline) var(--mc-gray-500);
        border-radius: 0 var(--mc-border-radius-pill) var(--mc-border-radius-pill) 0;
        border-left: none;
        padding: size(15) size(18);
        background-color: var(--mc-white);

        .iconify {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (max-width:size(500)) {
            padding: size(9.5) size(20);
        }
    }

    &__find {
        max-width: size(770);
        width: 100%;
        margin: 0 auto;
        display: flex;
        gap: size(20.5);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width:size(800)) {
            gap: size(10);
        }
    }

    &__filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: size(770);
        width: 100%;
        padding-top: 32px;
        @media (max-width:size(800)) {
            padding-top: 16px;

        }
    }
    &__suggestions {
        display: flex;
        flex-direction: column;
    }
    &__back {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        position: relative;
        bottom: 106px;
        left: 16px;
        max-width: size(70);
        @media (max-width:size(800)) {
          bottom: size(90);

        }
    }

    &__content {
        background-color: var(--mc-gray-100);
        max-width: size(1440);
        max-height: size(1993);
        width: 100%;
        display: grid;
        grid-template-columns: size(270) 1fr;
        gap: size(30);
        padding: size(32) size(16);

        @media (max-width: size(750)) {
            grid-template-columns: 1fr;
        }
    }
    &__sections {
        select {
            font-size: var(--mc-font-size-xxs);
        }
    }
    &__frequent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: size(30);
        padding: size(24) size(16);
        font-size: size(16);

        @media (max-width: size(750)) {
            grid-template-columns: 1fr;
            gap: size(8) 0;
            padding: size(8) size(16);
        }
    }

    &__helper {
        font-size: size(36)
    }

    &__card {
        background: var(--mc-white);
        padding: size(16) size(18);
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        align-items: center;
        border-radius: var(--mc-border-radius-sm);

        &--frequent {
            justify-content: flex-start;
            gap: size(16);
            height: size(130);
            @media (max-width: size(750)) {
                height: 100%;
            }
        }
    }

    &__links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px 30px;
        padding: 16px 16px 146px;

        @media (max-width: size(750)) {
            grid-template-columns: 1fr;
            padding: 16px 16px 0;
        }
    }
}