@use '../0.settings/mixins'as *;

.form-builder {
    background-color: var(--mc-gray-100);

    &__cards .mc-card {
        height: 100%;
    }

    &__content {
        max-width: size(1200);
        margin: 0 auto;
        padding: size(20) size(16);

        .input-group {
            &__title {
                font-weight: var(--mc-font-bold);
            }

            &__subtitle {
                color: var(--mc-gray-700);
            }

            &__inputs {
                padding: size(15) 0;
                display: flex;
                flex-direction: row;
                gap: size(24);

                & .input-box {
                    display: flex;
                    flex-direction: row;
                    gap: size(24);

                    .field__title {
                        display: none;
                    }
                }

                & .input__label {
                    font-weight: normal;
                }
            }

            &__input {
                align-items: center;
                display: flex;
                gap: size(8);
                font-weight: 400;
                font-size: size(14);
                line-height: size(19);

                input[type="radio"] {
                    width: size(16);
                    height: size(16);
                    border: size(2) var(--mc-black);
                    border-radius: size(12);
                    margin: 0;
                }
            }
        }

        .build-list {
            &__content {
                padding-top: size(16);
            }

            &__title {
                font-weight: 600;
            }
        }

        .tabs-component__header--right {
            position: sticky;
            right: 0;
        }
    }

    &__step-config {

        & > * {
            align-items: flex-end;
            display: flex;
            margin: size(8) size(8) size(32);
        }

        .button--text-danger {
            flex: none;
        }
    }

    &__add-step {
        width: max-content;
    }
}