@use '../0.settings/mixins'as *;

.form-preview {
    background-color: var(--mc-gray-100);

    .container {
        gap: size(32) 2.56%;
        grid-template-columns: 74.36% 23.08%;
    }

    .opportunity-header__content {
        padding: size(47) size(16) size(67) size(16);
    }

    &__content {
        margin: 0 auto;
        max-width: size(1170);
        padding: size(24) size(16) size(40);
        width: 100%;
    }
}