@use '../0.settings/mixins' as *;

.controller-project {
    &.action-single {
        .single-project {
            &__longdescription {
                white-space: pre-line;
            }

            &__subproject {
                .entity-card {
                    background-color: var(--mc-gray-100);
                }
            }

            &__not-found {
                display: flex;
                justify-content: center;
            }
        }

        .additional-info {
            display: flex;
            flex-direction: column;
            gap: size(5);
            padding-bottom: size(32);

            &__title {
                font-weight: 700;
            }

            &__item {
                align-items: center;
                display: flex;
                color: var(--mc-low-700);
                gap: size(8);

                &__title {
                    font-weight: var(--mc-font-semibold);
                }

                &__content {
                    text-transform: uppercase;
                }
            }
        }
    }
}