@use '../0.settings/mixins' as *;

.controller-seal {
    background-color: var(--mc-white);

    .tabs-component__panels {
        margin-bottom: 0;
    }

    &.action-edit {
        background-color: var(--mc-gray-100);

        .divider {
            width: 100%;
            border-bottom: size(1) solid;
        }
    }

    &.action-single {
        .tabs {
            &-component {
                &__header {
                    border-bottom: 1px solid;
                    padding: 0;

                    @media (max-width: size(1200)) {
                        margin: 0 size(16);                        
                    }
                }

                &__buttons {
                    margin: size(35) 0 0;
                }

                &__button {
                    &--active::after {
                        background-color: var(--mc-primary-500);
                    }
                }
            }

            &__info {
                .container main {
                    gap: size(40);

                    h3 {
                        font-weight: 700;
                        font-size: size(24);
                        line-height: size(28);
                        padding-bottom: size(16);
                    }

                    h2 {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px;
                    }

                    .property {
                        padding-top: 176px;
                    }

                }

                .divider {
                    background-color: var(--mc-gray-300);
                    grid-column-end: span 3;
                    height: size(0.5);
                    width: 100%;
                    
                    @media (max-width: size(800)) {
                        grid-column-end: 2;
                    }
                }
            }
        }
    }
}