@use '../0.settings/mixins' as *;

.system-roles-modal {
    display: flex;
    flex-direction: column;
    gap: size(16);

    .modal {
        &__title {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: size(24);
            line-height: size(28);
            margin-left: size(16);
        }

        &__action {
            justify-content: flex-start;
            flex-direction: row-reverse;

            @media (max-width:size(800)) {
                justify-content: center;
                flex-direction: unset;
            }
        }
    }

    .field {
        max-width: size(580);

    }

    .field label {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: size(14);
        line-height: size(19);
    }

    &__filter {
        display: flex;
        align-items: center;
        padding-bottom: size(24);
    }

    &__input {
        max-width: size(500);
        width: 100%;
        border: 1px solid var(--mc-gray-300);
        border-radius: size(68);
        height: size(40);
        padding: size(16) size(48) size(16) size(16);
        max-width: size(580);

    }

    &__icon {
        position: relative;
        left: size(-34);
        top: size(2);
        font-size: size(16);

    }

    &__select {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: size(16);
        line-height: size(22);
        margin-bottom: size(12);


    }

    &__section {
        border: size(1) solid var(--mc-gray-100);
        border-radius: size(4);
        margin-bottom: size(16);
        padding: size(16);

    }

    &__list {
        padding-inline-start: 0;
        // margin: 0 0 0 4px;
        margin-block: 0;
    }

    &__item {

        display: inline-block;
        margin: 0.2em 0.5em;
    }

    &__title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: size(14);
        line-height: size(19);

        padding-bottom: size(8);
    }



    &__label {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: size(12);
        line-height: size(16);
        margin-right: size(13);
        display: flex;
        align-items: center;
    }

}