@use '../0.settings/mixins' as *;

.controller-panel.action-system-roles {
    .panel-entity-card {

        &__header> :first-child {
            grid-template-columns: 1fr;
            align-items: start;
            display: grid;
        }

        &__main {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: start;

            .system-roles-card {
                &__columns {
                    columns: 3;
                    column-gap: size(16);
                }
                @media (max-width: size(1180)) {
                    &__columns {
                        columns: 2;
                    }
                    &__column {
                        break-inside: avoid;
                        padding-right: size(40);
                    }
                }
                @media (max-width: size(940)) {
                    &__columns {
                        columns: 1;
                    }
                    &__column {
                        break-inside: avoid;
                        padding-right: 0;
                    }
                }
                &__column {
                    break-inside: avoid;
                    padding-right: size(80);
                }

                &__info,
                &__slug {

                    font-size: size(12);
                    font-style: normal;
                    font-weight: normal;
                    font-size: size(14);
                    line-height: size(16);
                }

                &__slug {
                    padding-top: size(9);
                }

                &__label {
                    color: var(--mc-gray-700);
                    font-size: size(12);
                    font-style: normal;
                    font-weight: normal;
                    font-size: size(14);
                    line-height: size(16);
                    text-transform: uppercase
                }

                &__entityInfo {
                    font-size: size(14);
                    font-weight: 700;
                    line-height: size(16);
                    margin-left: size(5);
                    font-size: 0.875rem;
                }

                &__content {
                    background: var(--mc-gray-100);
                    border-radius: size(8);
                    padding: size(20);
                    margin-top: size(35);
                }

                &__close,
                &__expand {
                    padding-top: size(21);
                    align-items: center;
                    color: var(--mc-primary-500);
                    display: flex;
                    gap: size(4);
                    justify-content: flex-end;
                    min-width: size(82);

                    label {
                        font-weight: 700;
                        font-size: size(18.5);
                        line-height: size(24.5);

                    }
                }

                &__list {
                    font-family: 'Open Sans';
                    font-weight: 700;
                    font-size: size(12);
                    line-height: size(16.34);

                }

                &__users {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: size(14);
                    line-height: size(19);
                }

            }
        }

        &__header--picture {
            display: none;
        }

        &__footer-actions {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            .button.delete {
                display: flex;
                align-items: flex-start;
                padding: size(9) size(19);

                span {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: size(14);
                    line-height: size(19);
                }

                svg {
                    font-size: size(16);
                }
            }

            @media (max-width: size(500)) {

                display: grid;
                grid-template-columns: 1fr;

                .button.delete {
                    height: size(48);
                    display: flex;
                    align-items: center;

                    span {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: size(18);
                        line-height: size(25);
                    }
                }


                .right {
                    .button {
                        height: size(48);
                        gap: calc(36%);
                        align-items: center;
                        justify-content: flex-start;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: size(18);
                        line-height: size(25);
                    }
                }
            }

        }
    }
}