@use 'sass:math';
@use '../0.settings/mixins' as *;


.mapas-terms {
    .term__content p {
        width: 100%;
        margin-bottom: 1em;
    }

    .tabs-component {
        &__header {
            background-color: var(--mc-high-500);
            max-width: unset;

            @media (min-width:size(1170)) {
                padding-inline: calc(50vw - size(math.div(1170, 2)));

            }

        }

        &__button--active::after {
            background-color: var(--mc-primary-500);
        }

        &__panels {
            margin-bottom: 0;
            
                @media (max-width:size(600)){
                    .btn {
                       display: flex;
                       flex-direction: column-reverse;
                       gap: size(16);
                    }
                }
            
            .tab-component.termsOfUsage {
                padding: size(24) size(16) 0;

            }

            .tab-component.privacyPolicy {
                padding: size(24) size(16) 0;

            }

            .tab-component.termsUse {
                padding: size(24) size(16) 0;
            }
        }
    }



    &__header {
        max-width: size(1170);
        width: 100%;
        margin: 0 auto;
        border-radius: size(4);

        @media (max-width: size(360)) {
            padding-left: 0;
        }

        &-title {
            margin: size(75) 0 size(48);

            .title {
                &__title {
                    font-weight: 700;
                    font-size: size(32);
                    line-height: size(44);
                }
            }
        }
    }

    &__content {

        background: var(--mc-gray-100);
        margin: 0 auto;
        max-width: 100%;

        .mc-card {
            &__title {
                display: none;
            }
        }

        .mc-card,
        .btn {
            max-width: size(1170);
            margin: 0 auto;
        }

        .btn {
            display: flex;
            justify-content: space-evenly;
            margin: size(46) auto;
        }

        .mc-card {
            @media (max-width:size(500)) {
                padding-left: 0;
            }

            &__content {
                .term {
                    &__content {
                        ol {
                            @media (max-width:size(500)) {
                                padding-left: 25px;
                            }

                            li {
                                @media (max-width:size(340)) {
                                    text-align: left;
                                    line-height: 1.5;

                                }
                            }
                        }
                    }
                }
            }
        }

        .accept,
        .back {
            max-width: size(473);
            width: 100%;
        }
    }
}