@use '../0.settings/mixins' as *;

.user-management {
    background-color: var(--mc-gray-100);
    height: 100%;
    max-width: size(1088);
    padding: size(50) 0 size(30);

    & > * {
        padding-inline: size(32);
    }

    &--account-privacy {
        padding-top: 0;
    }

    &__title {
        padding: size(50) size(32) size(30);
        // max-width: 68rem;
        align-items: center;
        display: grid;
        grid-template-columns: size(40) 1.2fr;
        gap: size(16);
        background-color: var(--mc-white);
        margin-bottom: size(40);
    }

    &__title-icon {
        align-items: center;
        border-radius: var(--mc-border-radius-pill);
        display: flex;
        height: size(40);
        justify-content: center;
        width: size(40);
        background-color: var(--mc-low-500);

        .iconify {
            width: size(20);
            height: size(20);
            color: var(--mc-high-500);
        }
    }

    &__return {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: size(26);
    }

    &__header {
        display: grid;
        gap: size(32);
        grid-template-columns: size(113) 1fr;
        max-width: size(1088);

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__header-icon {
        align-items: center;
        background-color: var(--mc-gray-500);
        border-radius: 50%;
        display: flex;
        height: size(113);
        justify-content: center;
        width: size(113);

        .iconify {
            width: size(58);
            height: size(58);
            color: var(--mc-high-500);
        }

        @include mobile {
            justify-self: center;
        }
    }

    &__header-content {
        
    }

    &__user {
        display: flex;
        font-size: size(24);
        font-weight: 700;
        justify-content: space-between;
        line-height: size(33);
        width: 100%;

        @include mobile {
            align-items: center;
            flex-direction: column;
            gap: size(8);
            margin-bottom: size(16);
        }
    }

    &__user-delete {
        display: block;

        svg {
            color: var(--mc-danger-500);
            margin-right: size(6);
        }

        a {
            color: var(--mc-low-500);
            color: var(--mc-primary-500);
            font-size: size(14);
            text-decoration: none;
        }
    }

    &__user-info {
        display: grid;
        gap: size(20) 0;
        grid-template-columns: 1fr 2fr;
        margin: size(10) 0;

        @include mobile {
            gap: size(8) 0;
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }

    &__user-seals {
        margin: size(24) 0;

        .entity-seals {
            background-color: var(--mc-high-500);
            margin: 0;
            padding: size(16);

            &__seals--seal {
                flex-direction: row;
                gap: size(8);

                .seal-label {
                    font-size: size(14);
                    font-weight: 700;
                    line-height: size(19);
                }
            }
        }
    }

    &__properties {
        margin-bottom: size(24);
    }

    &__properties-label {
        margin-bottom: size(21);
    }

    &__properties-content {
        background-color: var(--mc-high-500);
        padding: size(16);
    }

    &__properties-tabs {
        .tabs-component-button {
            &--active-agent {
                &::after {
                    background-color: var(--mc-agents-500);
                }
            }

            &--active-event {
                &::after {
                    background-color: var(--mc-events-500);
                }
            }

            &--active-space {
                &::after {
                    background-color: var(--mc-spaces-500);
                }
            }

            &--active-project {
                &::after {
                    background-color: var(--mc-projects-500);
                }
            }

            &--active-opportunity {
                &::after {
                    background-color: var(--mc-opportunities-500);
                }
            }

            &--active-registration {
                &::after {
                    background-color: var(--mc-opportunities-500);
                }
            }
        }

        & > .tabs-component {
            &__panels {
                margin: size(10) 0;
            }
        }
    }
}