//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$brand-primary: #F99922;
$brand-accent: #000000;


$brand-event: #00A651;
$brand-agent: #2D56A6;
$brand-space: #ffd400;
$brand-project: #ED1C24;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$headings-font-stack:		"Open Sans", serif;
$headings-font-weight:		bold;