@use '../settings/mixins' as *;

.edit-1 {
    background-color: var(--mc-gray-100);

    .row {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: size(24);
        margin-bottom: size(10);
        width: 100%;
        &.no-breakline {
            flex-wrap: nowrap;
        }
    }

    &__content {
        
        @media (max-width: size(800)) {
            grid-template-columns: 100%;
        }

        .card-1 {
            grid-column-start: 1;
            grid-column-end: 3;
         
            @media (max-width: size(800)) {
                grid-template-columns: 100%;
                grid-column-end: 2;
            }
         
            .card__content {
                display: grid;
                grid-template-columns: 66% 7% 27%;
                flex-wrap: wrap;

                    
                @media (max-width: size(800)) {
                    grid-template-columns: 100%;
                    gap: size(20);
                }
            }

            &__left {
                display: flex;
                flex-direction: column;
                gap: size(24);
                width: 100%;

                .row {
                    flex-wrap: nowrap;

                    @media (max-width: size(800)) {
                        flex-wrap: wrap;
                    }
                }
            }

            &__divider {
                border-right: 1px solid var(--mc-gray-300);
                margin: 0 auto;
                width: 1px;
                height: 100%;

                @media (max-width: size(800)) {
                    border-bottom: 1px solid var(--mc-gray-300);
                    height: size(1);
                    width: 100%;
                }
            }

            &__right {
                display: flex;
                flex-direction: column;
                gap: 40px;
                width: 100%;
            }
        }

        main, aside, card-1__left {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        
    }
    
}