@use '../settings/mixins' as *;

.edit-1 {
    background-color: var(--mc-gray-100);

    .row {
        display: flex;
        gap: size(24);
        width: 100%;
    }

    &__content {
        
        @media (max-width: size(800)) {
            grid-template-columns: 100%;
            
        }
        .card-1 {
            grid-column-start: 1;
            grid-column-end: 3;
         
            @media (max-width: size(800)) {
                grid-template-columns: 100%;
                grid-column-end: 2;

            }

         
         
            .card__content {
                display: grid;
                grid-template-columns: 66% 7% 27%;
            }

            &__left {
                display: flex;
                flex-direction: column;
                gap: 24px;
                width: 100%;
            }
            &__divider {
                border-right: 1px solid var(--mc-gray-300);
                margin: 0 auto;
                width: 1px;
                height: 100%;
            }
            &__right {
                display: flex;
                flex-direction: column;
                gap: 40px;
                width: 100%;
            }
        }

        main, aside, card-1__left {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        
        
        // @media (max-width: size(800)) {
        //     grid-template-columns: 100%;
        //       aside, divider {
        //         grid-column-start: 1;
        //         grid-column-end: 3;
        //       }
        // }
        //  @media (min-width: size(350)){
        //      grid-column-start: 1;
        //      grid-column-end: 3;
        //  }
        
    }
    
}