@use '../0.settings/mixins' as *;

.controller-event {
    &.action-edit {
        .long-description {
            .field__title {
                font-weight: 700;
                font-size: size(18);
                line-height: size(25);
            }
        }
    }

    &.action-single {
        .long-description {
            .single-event {
                &__longdescription {
                    white-space: pre-line;

                }
            }
        }
    }
}