@use '../settings/mixins'as *;

.controller-opportunity {

    .tabs-component__panels {
        .tab-component.support {
            position: relative;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                background-color: var(--mc-gray-100);
            }

            .button-support {
                min-width: size(270);
            }
        }
    }

    &.action-edit {
        .tabs-component {
            &__header {
                margin: size(-40) auto size(40);

                @media (max-width: size(800)) {
                    margin-top: 0;
                    background-color: var(--mc-high-500);
                }
            }
        }

        .modalEmbedTools {
            .modal-content {
                width: 80%;
                max-width: size(1170);
            }
        }
    }

    &.action-single {
        .tabs-component {
            .opportunity-container {
                max-width: size(1170);
                margin: 0 auto;
                padding: size(32) 0;
            }
        }
    }

    .form-builder {
        background-color: var(--mc-gray-100);

		&__period {
			font-weight: var(--mc-font-bold);	
		}

		&__label {
			font-size: size(14);
			font-weight: var(--mc-font-bold);
			color: var(--mc-gray-500);
		}

		&__value {
			font-weight: var(--mc-font-bold);
		}

        .subtitle {
            font-size: size(12);
            font-weight: normal;
            color: var(--mc-gray-500);
        }        

        &__content {
            max-width: size(1200);
            margin: 0 auto;
            padding: size(20) size(16);

            .mc-card {
                height: 100%;

                &__content {
                    .request-data {
                        &__title {
                            font-weight: var(--mc-font-bold);
                        }

                        &__subtitle {
                            font-weight: var(--mc-font-regular);
                            color: var(--mc-gray-700);
                            margin-bottom: size(3);
                        }

                        &__inputs {
                            padding: size(15) 0;
                            display: flex;
                            flex-direction: row;
                            gap: size(24);

                            &.no-padding-bottom {
                                padding-bottom: 0;
                            }
                        }

						&__input {
							align-items: center;
							display: flex;
							gap: size(8);
							font-weight: 400;
							font-size: size(14);
							line-height: size(19);

							input[type="radio"] {
								width: size(16);
								height: size(16);
								border: size(2) var(--mc-black);
								border-radius: size(12);
								margin: 0;
							}
						}
                    }
                }

                .build-list {
                    &__content {
                        padding-top: size(16);

                    }

                    &__title {
                        font-weight: 600;
                    }

                    .mc-tag-list__tagList {
                        padding-bottom: size(16);

                        &--tag {
                            background-color: var(--mc-primary-500);
                        }
                    }

                    .popover-tag {
                        padding: size(16) 0 0 0;
                    }
                }
            }
        }

        &__bg-content {
            background-color: var(--mc-white);

            p {
                font-family: 'Open Sans';
                color: var(--mc-opportunities-500);
                font-weight: 700;
                font-size: size(24);
                line-height: size(28);
            }

            &--spacing {
                padding: size(16);

                div {
                    margin-bottom: size(16);
                }
            }
        }
    }
}