@use '../settings/mixins' as *;

.controller-opportunity {
  background-color: var(--mc-white);

  .tabs-component__panels {
    margin-bottom: 0;
  }

  &.action-edit {
    background-color: var(--mc-gray-100);

    .tabs-component {
      &__header {
        margin: size(-40) auto size(40);

        @media (max-width: size(800)) {
          margin-top: 0;
          background-color: var(--mc-high-500);
        }
      }
    }

    .container {
      main {
        gap: size(40);
      }
    }

    .divider {
      width: 100%;
      border-bottom: size(1) solid;
    }

    .modalEmbedTools {
      .modal-content {
        width: 80%;
        max-width: size(1170);
      }
    }
  }

  &.action-single {
    .tabs {
      &-component {
        &__header {
          border-bottom: 1px solid;
          padding: 0;

          @media (max-width: size(1200)) {
            margin: 0 size(16);
          }
        }

        &__buttons {
          margin: size(35) 0 0;
        }

        &__button {
          &--active::after {
            background-color: var(--mc-opportunities-500);
          }
        }
      }

      &__info {
        .container main {
          gap: size(40);

          h3 {
            font-weight: 700;
            font-size: size(24);
            line-height: size(28);
            padding-bottom: size(16);
          }

          h2 {
            font-weight: 700;
            font-size: size(24);
            line-height: size(28);
          }

          .property {
            padding-top: size(176);
          }

        }

        .divider {
          background-color: var(--mc-gray-300);
          grid-column-end: span 3;
          height: size(0.5);
          width: 100%;

          @media (max-width: size(800)) {
            grid-column-end: 2;
          }
        }
      }
    }
  }

  &__period {
    &--title {
      font-weight: 700;
      font-size: size(24);
      line-height: size(33);
      color: var(--mc-black);
    }

    &--content {
      background: var(--mc-gray-100);
      border-radius: size(4);
      padding: size(1);
    }

    &--description {
      font-weight: 600;
      font-size: size(18);
      line-height: size(25);
      text-align: center;
      color: var(--mc-black);
    }
  }

  &__subscription {
    &--title {
      font-weight: 700;
      font-size: size(24);
      line-height: size(33);
      color: var(--mc-black);
    }

    &--description {
      font-weight: 400;
      font-size: size(16);
      line-height: size(22);
      color: var(--mc-black);
    }

    &--button {
      background: var(--mc-primary-500);
      border-radius: size(8);
      font-weight: 700;
      font-size: size(24);
      line-height: size(33);
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--mc-white);
    }
  }

  &__phases {
    background: var(--mc-white);
    border-radius: size(4);
    padding: 24px;

    &--title {
      font-weight: 800;
      font-size: size(12);
      line-height: size(16);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--mc-black);
    }

    &--description {
      font-weight: 400;
      font-size: size(12);
      line-height: size(16);
      color: var(--mc-black);
    }
  }

  &__helpers {
    display: flex;
    gap: size(10);
  }

  &__full {
    width: 100%;
  }

  .form-builder {
    background-color: var(--mc-gray-100);

    .subtitle {
      font-size: size(12);
      font-weight: normal;
      color: var(--mc-gray-500);
    }

    &__title {
      font-size: size(22);
      margin: auto 0 auto size(16);
    }

    &__period {
      margin: auto 0;
      padding-left: 5px;
    }

    &__content {
      max-width: size(1200);
      margin: 0 auto;
      padding: size(20) size(16);

      .mapas-card {
        .build-list {
          &__content {
            padding-top: size(16);
          }
          &__title {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
          }

          .mc-tag-list__tagList {
            padding-bottom: size(16);

            &--tag {
              background-color: var(--mc-primary-500);
            }
          }

          .popover-tag {
            padding: size(16) 0 0 0;

            .button-popover {
              
              button {
                svg {

                }
              }
            }
          }

          &__content {
            // area da tag
          }
        }

        &__title {

          .category {


            &-header {
              &__title {
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
              }

              &__subtitle {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: var(--mc-gray-700);
              }

            }
          }
        }
      }

      p {
        font-weight: bold;
      }

      .period_label {
        font-size: size(14);
        font-weight: bolder;
        color: var(--mc-gray-500);
      }
    }

    &__bg-content {
      background-color: var(--mc-white);

      &--spacing {
        padding: size(16);

        div {
          margin-bottom: size(16);
        }
      }
    }

    &__label-btn {
      margin: size(20) 0;
    }
  }
}