@use '../settings/mixins' as *;

.controller-registration {

    .registration {
        background-color: var(--mc-gray-100);

        .container {
            grid-template-columns: 74.36% 23.08%;
            gap: size(32) 2.56%;

            main {
                gap: size(40) size(24);
            }
        }

        &__content {
            width: 100%;
            margin: 0 auto;
            position: relative;

            &>* {
                max-width: size(1170);
                margin: 0 auto;
            }

            &--title {
                font-weight: 700;
                font-size: size(48);
                line-height: size(65);
                margin-block: size(26);
            }

            &--steps {
                padding: size(24) 0;
                width: 100%;
                background: white;
                max-width: unset;
                margin-bottom: size(60);
                position: sticky;
                top: 0;
                overflow-x: scroll;

                .stepper {
                    margin: 0 auto;
                }
            }

            .info {
                .title {
                    font-weight: 700;
                    font-size: size(24);
                    line-height: size(28);
                    margin: 0 0 size(13);
                }

                .content {
                    display: flex;
                    gap: size(60);
                    background: var(--mc-high-500);
                    padding: size(10) size(24);

                    &__info {
                        display: flex;
                        flex-direction: column;

                        p {
                            margin: 0;
                        }

                        .title {
                            font-weight: 600;
                            font-size: size(14);
                            line-height: size(19);
                        }

                        .info {
                            font-weight: 700;
                            font-size: size(18);
                            line-height: size(25);
                            color: var(--mc-opportunities-500);
                        }
                    }
                }
            }

            .section {
                &__title {
                    font-weight: 700;
                    font-size: size(32);
                    line-height: size(44);
                    margin-bottom: size(24);
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    gap: size(32);

                    .card {
                        background-color: var(--mc-high-500);
                        border-radius: var(--mc-border-radius-sm);
                        padding: size(16);

                        &.owner {
                            padding: size(16) size(24);
                        }

                        &__title {
                            font-weight: 700;
                            font-size: size(18);
                            line-height: size(25);
                        }

                        &__subtitle {
                            font-weight: 400;
                            font-size: size(12);
                            line-height: size(16);
                        }

                        &__content {
                            margin-top: size(16);
                            display: flex;

                            .owner {
                                display: flex;
                                align-items: center;
                                gap: size(9);

                                &__image {
                                    width: size(40);
                                    height: size(40);
                                    background-color: var(--mc-gray-500);
                                    border-radius: var(--mc-border-radius-pill);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    overflow: hidden;

                                    .iconify {
                                        font-size: size(19);
                                        color: var(--mc-high-500);
                                    }

                                    img {
                                        width: 100%;
                                    }
                                }

                                &__name {
                                    font-weight: 700;
                                    font-size: size(14);
                                    line-height: size(19);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}