@use '../settings/mixins' as *;

.search {
    .loading {
        color: var(--mc-low-500);
    }

    .tab-component{
        &.map {
            .loading {
                left: 50%;
                margin-left: -50px;
                position: fixed;
                top: 49%;
                width: 200px;
                z-index: 1000;
            }
        }

        &.list {
            .loading,
            .panel__row {
                grid-column-end: span 9;
                text-align: center;
            }
        }
    }

    &__header {
        background-color: var(--mc-high-500);
        border: unset;
        bottom: 0;
        padding: size(50) 0 0;
        
        &--content {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            max-width: size(1170);
            padding:0 size(16);
    
            &-left {
                align-items: center;
                display: flex;
                gap: size(16);
    
                &-icon {
                    align-items: center;
                    border-radius: 50%;
                    display:flex;
                    height: size(48);
                    justify-content: center;
                    width: size(48);
            
                    .iconify {
                        font-size: size(15);
                    }

                    @media (max-width: size(500)) {
                        height: size(32);
                        width: size(32);

                        .iconify {
                            font-size: size(10);
                        }
                    }
                }
    
                &-label {
                    line-height: size(65);
                    font-size: size(48);
                    font-weight: 700;

                    @media (max-width: size(500)) {
                        line-height: size(33);
                        font-size: size(24);
                        font-weight: 700;
                    }
                }
            }
        }
    }

    &__tabs{
        // label - before - tabs
        &--before {
            line-height: size(22);
            font-size: size(16);
            font-weight: 600;

            @media (max-width: size(500)) {
                line-height: size(20);
                font-size: size(14);
            }
        }

        //header - tabs
        .tabs-component__header {
            align-items: flex-end;
            height: size(87.5);
            padding: size(21) size(16) size(18);
            position: relative;

            &--left {
                bottom: size(8);
                position: absolute;
            }

            &--right {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                left: 0;
                position: absolute;
                width: 100%;
            }

            @media (max-width: size(800)) {
                margin-top: size(60);
                height: size(63);
                justify-content: center;

                &--left {
                    bottom: 0;
                }
            }
        }

        // paineis - tabs
        .tabs-component__panels {
            background-color: var(--mc-gray-100);
            margin: 0;
            min-height: size(500);

            .search-list {
                main {
                    grid-row-start: 1;
                }
                aside {
                    grid-column-start: 2;
                }
            }

        }

        // grupo de botões - tabs
        .tabs-component__buttons {
            margin: 0;

            .tabs-component__button {
                font-size: size(14);
                font-weight: 700;
                line-height: size(19);
    
                a {
                    margin: 0;
                    padding: size(11) size(13) size(11);

                    @media (max-width: size(800)) {
                        padding: size(7) size(13) size(7);
                    }
                }
                
                &--active::after {
                    background-color: var(--mc-primary-500);  
                }
            }
        }
        
        // tab - list
        &--list {
            margin: 0 auto;
            max-width: size(1170);
            padding: size(24) size(16);
            width: 100%;
            

            .search-list {    
                &__filter {
                    display: flex;
                    grid-row-start: 1;
                    grid-column-start: 10;
                    justify-content: flex-end;
                    max-width: 1170px;
                    padding: 0;
            
                    &--filter {
                        width: 100%;
                    }
                }
            }

            @media (max-width: size(900)) {
                .col-9 {
                    grid-column-end: span 12;
                }

                .col-3 {
                    grid-column-start: 1;
                    grid-column-end: 13;
                }
            }
        }

        // tab - map
        &--map {
            position: relative;

            .search-filter {
                grid-column-start: 10;
            }

            .mc-map {
                height: 800px;

                .leaflet-container {
                    z-index: 0;
                }

                @media (max-width: size(600)) {
                    height: 600px;
                }

                @media (max-width: size(360)) {
                    height: 400px;
                }
            }

            .search-map {    
                &__filter {
                    display: flex;
                    justify-content: flex-end;
                    max-width: 1170px;
                    margin: 0 auto;
                    padding: 0 size(16);
            
                    &--filter {
                        position: absolute;
                        width: 328px;
                        z-index: 1;
                    }
                }
            }
        }
    }

    @media (max-width: size(900)) {
        &__tabs {
            &--map,
            &--list {

                .search-filter {
                    &__actions {
                        display: flex;
                        flex-direction: row;
                        gap: size(8);

                        &--formBtn {
                            position: relative !important;
                            bottom: unset !important;
                        }
                    }

                    &__filter {
                        height: 100vh !important;
                        position: fixed !important;
                        right: 0 !important;
                        top: 0 !important;
                        width: 100vw !important;
                    }
                }

                .search-map {
                    &__filter {
                        &--filter {
                            position: relative;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.action-opportunities,
.action-projects {
    .tabs-component__panels{
        background: var(--mc-gray-100);
        margin-top: size(123);
        padding-bottom: size(40);
        margin-bottom: 0;
        min-height: size(500);

        @media (max-width: 500px) {
            margin-top: size(130);
        }
    }

    .search__tabs--list {
        .loading,
        .panel__row {
            grid-column-end: span 9;
            text-align: center;
        }
    }
}