@use '../settings/mixins' as *;

.single-1 {

    &__content {

        @media screen and (max-width: 800px) {
            grid-template-columns: 100%;
            gap: 0;
        }
        
        .divider {
            grid-column-start: 1;
            grid-column-end: 3;
            border-bottom: size(5) solid var(--mc-black);
            margin: size(60) 0;
            width: 100%;
            @media screen and (max-width: 800px) {
                grid-column-end: 2;
                display: none;
            }

        }

        main, aside {
            display: flex;
            flex-direction: column;
            gap: size(40);
        }      
    }
}