@use '../settings/mixins' as *;
.controller-space {
    background-color: var(--mc-white);

    &.action-edit {
        background-color: var(--mc-gray-100);

        .container{
            main {
                gap: size(40);
            }
             
        }

        .divider {
            width: 100%;
            border-bottom: size(1) solid;
        }
    }

    &.action-single {
        .tabs {
            &-component {
                &__header {
                    border-bottom: 1px solid;
                    justify-content: center;
                }
                
                &__buttons {
                    margin: size(35) 0 0;
                }

                &__button {
                    &--active::after {
                        background-color: var(--mc-primary-500);
                    }
                }
            }

            &__info {
                .container main{   
                    gap: size(40);

                    .placeholder-hour{
                            label {
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 25px;
                            }
                            .placeholder-hour--content {
                                background-color: var(--mc-gray-300);
                                width: 100%;
                                height: size(64);
                            }
                    }

                    .placeholder-resource {
                        label {
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 25px;
                        }
                        .placeholder-resource--content {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }

                    h3 {
                        font-weight: 700;
                        font-size: size(24);
                        line-height: size(28);
                        padding-bottom: size(16);
                    }
        
                    h2 {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px;
                    }

                    .property {
                        button {
                            background-color: var(--mc-danger-300);
                            color: var(--mc-low-500);
                            border-color: var(--mc-danger-300);
                        }
                        padding-top: 176px;
                    }        
                }

                .divider {
                    background-color: var(--mc-gray-300);
                    grid-column-end: span 3;
                    height: size(0.5);
                    width: 100%;
                }
            }
        }
    }
}