@use '../settings/mixins' as *;

.p-user-detail {
    padding: size(50) size(32) size(30);
    max-width: size(1088);
    background-color: var(--mc-gray-100);

    &__header {
        .header-top {
            margin-bottom: size(26);
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

        }

        &--title {
            max-width: size(1088);

            .title-header {
                display: flex;
                align-items: flex-start;
                flex-direction: row;
                position: relative;

                &__content {
                    max-width: 100%;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                &__icon {
                    position: absolute;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    background-color: var(--mc-gray-500);
                    width: size(113);
                    height: size(113);
                    align-items: center;



                    .iconify {
                        width: size(58);
                        height: size(58);
                        color: var(--mc-high-500);
                    }
                }

                &__label {
                    width: 100%;
                    margin-left: size(147);
                    font-weight: 700;
                    font-size: size(24);
                    line-height: size(33);

                    &--edit {

                        svg {
                            color: var(--mc-danger-500);
                            margin-right: size(6);
                        }
                    }

                    &--content {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        max-width: 100%;
                    }
                }

                .content-user {
                    font-weight: 600;
                    font-size: size(14);
                    line-height: size(19);
                    display: flex;
                    justify-content: space-between;
                    margin-right: size(260);
                }
            }
        }
    }

    .editing-email {
        background-color: white;
        width: size(970);
        height: size(194);
        margin-bottom: size(44);

        &__content {
            max-width: size(752);
            padding-top: size(12);
            padding-left: size(16);
            padding-bottom: size(16);
            padding-right: auto;

            &--label {

                font-weight: 700;
                font-size: size(18);
                line-height: size(25);
                margin-bottom: size(16);
            }

            &--email {
                font-style: normal;
                font-weight: 700;
                font-size: size(14);
                line-height: size(19);
                gap: size(9);
                padding-right: size(18);
            }

            &--edit {
                gap: size(18);

                svg {
                    color: var(--mc-helper-500);
                    margin-right: size(8);
                }

                &-label {
                    margin-left: size(8);
                    font-weight: 700;
                    font-size: size(14);
                    line-height: size(19);
                    color: var(--mc-helper-500);
                }
            }
        }
    }

    .content-footer {
        padding-bottom: size(40);
    }

    .content-detail {
        padding-bottom: size(21);
    }



    .footer-content-detail {
        background-color: white;
        width: size(975);
        padding: size(16);
        padding-bottom: size(24);
    }


    .tabs-component--user {
        .tabs-component {

            .panel--entity-tabs--identify {
                background-color: var(--mc-high-500);
                margin-left: size(16);

                &__name {
                    a {
                        color: black;
                        font-style: none;
                        text-emphasis-style: none;
                    }
                }
            }

            .panel--entity-tabs__content {
                background-color: var(--mc-gray-100);
                border-radius: size(6);
                height: size(48);
                margin-top: size(8);
                padding: size(14);

                .grid-12 {
                    padding-top: size(3);

                }

                // form - items
                font-weight: 700;
                font-size: size(14);
                line-height: size(19);

                &--name {

                    a {
                        color: var(--mc-low-500);
                        text-decoration: none;
                    }
                }

                &--pen {
                    a {
                        label {
                            color: var(--mc-low-500);

                        }

                    }
                }

                .panel--entity-tabs__content--editable {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    min-height: max-content;
                    margin-right: size(97);

                    &-edit {
                        svg {
                            color: default;
                        }

                    }

                    &-label {
                        color: var(--mc-low-500);
                        font-weight: 700;
                        font-size: size(14);
                        line-height: size(19);
                    }

                    .panel__entity-actions--editable {
                        display: flex;
                        margin-right: size(8);

                        .panel__entity-actions--trash {
                            svg {
                                color: var(--mc-danger-500);
                            }
                        }

                        .panel__entity-actions--archive {

                            svg {
                                color: var(--mc-primary-500);
                            }

                            // padding-right: 3px;
                        }
                    }
                }
            }
        }

        width: size(938);
        background-color: var(--mc-high-500);
        border-radius: size(6);

        .tabs-component__header {
            width: size(938);
            background-color: var(--mc-high-500);
            border-radius: size(6);
            padding-left: size(1);
        }

        .tabs-component__panels {
            background-color: white;
            width: size(938);

            .tabs-component__header {
                width: size(38);
                background-color: var(--mc-gray-100);
                border-radius: size(6);
                padding-left: size(10);
            }
        }


        .tabs-component-button--active-agent {
            &::after {
                background-color: var(--mc-agents-500);
            }
        }

        .tabs-component-button--active-event {
            &::after {
                background-color: var(--mc-events-500);
            }
        }

        .tabs-component-button--active-space {
            &::after {
                background-color: var(--mc-spaces-500);
            }
        }

        .tabs-component-button--active-project {
            &::after {
                background-color: var(--mc-projects-500);
            }
        }

        .tabs-component-button--active-opportunity {
            &::after {
                background-color: var(--mc-opportunities-500);
            }
        }
    }
}