@use '../settings/mixins' as *;

.p-user-detail {
    padding: size(50) size(32) size(30);
    max-width: size(1088);
    background-color: var(--mc-gray-100);

    &__header {
        &-top {
            margin-bottom: size(26);
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

        }

        &-content {
            max-width: size(1088);
            display: grid;
            grid-template-columns: size(113) 1fr;
            gap: size(32);

            .management {
                &-icon {
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    background-color: var(--mc-gray-500);
                    width: size(113);
                    height: size(113);
                    align-items: center;

                    .iconify {
                        width: size(58);
                        height: size(58);
                        color: var(--mc-high-500);
                    }

                }

                &-content {
                    max-width: 100%;


                    &__label {
                        display: flex;
                        justify-content: space-between;

                        width: 100%;
                        font-weight: 700;
                        font-size: size(24);
                        line-height: size(33);

                        &--delete {
                            svg {
                                color: var(--mc-danger-500);
                                margin-right: 6px;
                            }
                        }
                    }

                    &__info {
                        font-weight: 600;
                        font-size: size(14);
                        line-height: size(19);
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        max-width: size(600);

                        &>* {
                            min-width: size(260);
                            flex-basis: 50%;
                        }
                    }
                }
            }
        }


    }

    .entity-seals {
        margin: size(40) 0;
    }

    &__account-config {
        background-color: white;
        max-width: 970px;
        margin-bottom: 44px;
        padding: size(12) size(16);

            &-label {

                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 16px;
            }

            &-email {
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                gap: 9px;
                padding-right: 18px;
            }

            &-edit {
                gap: size(18);

                svg {
                    color: var(--mc-helper-500);
                    margin-right: 8px;
                }

                &-label {
                    margin-left: size(8px);
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 19px;
                    color: var(--mc-helper-500);
                }
            }

    }

    

    

    .content-detail {
        padding-bottom: 21px;
    }



    .footer-content-detail {
        background-color: white;
        width: 975px;
        padding: 16px;
        // padding-bottom: 24px;
    }


    .tabs-component--user {
        .tabs-component {

            .panel--entity-tabs--identify {
                background-color: var(--mc-high-500);
                margin-left: 16px;

                &__name {
                    a {
                        color: black;
                        font-style: none;
                        text-emphasis-style: none;
                    }
                }
            }

            .panel--entity-tabs__content {
                background-color: var(--mc-gray-100);
                border-radius: 6px;
                height: 48px;
                margin-top: 8px;
                padding: 14px;

                .grid-12 {
                    padding-top: 3px;

                }

                // form - items
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;

                &--name {

                    a {
                        text-decoration: none;
                    }
                }

                &--pen {
                    a {
                        label {
                            color: var(--mc-low-500);

                        }

                        svg {}
                    }
                }

                .panel--entity-tabs__content--editable {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    min-height: max-content;
                    margin-right: 97px;



                    &-edit {
                        cursor: pointer;

                    }

                    &-label {
                        color: var(--mc-low-500);
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;

                    }

                    &-edit:hover {


                        border-color: var(--mc-primary-700);
                        color: var(--mc-primary-700);

                    }

                    .panel__entity-actions--editable {
                        display: flex;
                        margin-right: 8px;

                        .panel__entity-actions--trash {
                            svg {
                                color: var(--mc-danger-500);
                            }
                        }

                        .panel__entity-actions--archive {

                            svg {
                                color: var(--mc-primary-500);
                            }

                            // padding-right: 3px;
                        }
                    }
                }
            }
        }

        width: 938px;
        background-color: var(--mc-high-500);
        border-radius: 6px;

        .tabs-component__header {
            width: 938px;
            background-color: var(--mc-high-500);
            border-radius: 6px;
            padding-left: 1px;
        }

        .tabs-component__panels {
            background-color: white;
            width: 938px;
            margin-bottom: 0;

            .tabs-component__header {
                width: 938px;
                background-color: var(--mc-gray-100);
                border-radius: 6px;
                padding-left: 10px;
            }
        }


        .tabs-component-button--active-agent {
            &::after {
                background-color: var(--mc-agents-500);
            }
        }

        .tabs-component-button--active-event {
            &::after {
                background-color: var(--mc-events-500);
            }
        }

        .tabs-component-button--active-space {
            &::after {
                background-color: var(--mc-spaces-500);
            }
        }

        .tabs-component-button--active-project {
            &::after {
                background-color: var(--mc-projects-500);
            }
        }

        .tabs-component-button--active-opportunity {
            &::after {
                background-color: var(--mc-opportunities-500);
            }
        }

        .tabs-component-button--active-registration {
            &::after {
                background-color: var(--mc-opportunities-500);
            }
        }
    }
}