@use 'sass:color';

// COLORS
$white: #FFFFFF !default;
$black: #1E1E1E !default;
$red: red !default;
$gray: #F5F5F5;
$gray-dark: #e0dede;

// STEPS COLORS
$bg-step-circle: #D14526;

// MENU COLORS
$active-menu: #117C83;