//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$brand-primary: #C52C2C !default;
$brand-event:   #ED8721 !default;
$brand-agent:   #DEC50B !default;
$brand-space:   #23A350 !default;
$brand-project: #3199E5 !default;
$brand-devs:    #A03981 !default;
