//
// Overrides
// --------------------------------------------------
//## Changes from parent theme.


// header icons size
.menu {
    > li {
        div.icon {
            font-size: 14px;
        }
    }
}

// extend fontawesome icons styles
.icon {
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
}

// Users stats icon add
#user-stats {
    .icon {
        &.icon-add {
            margin-top: 4px;
            padding: 4px 5px;
        }
    }
}

.warning, .danger {
    &:before {
        margin: 0px 7px 0 0;
    }
}

//tag search
.tag-selected {
    &:after {
        font-size: 0.75rem;
        padding-left: 5px;
        width: 0.75rem;
    }
}

// change font size for tools icons
#search-tools .icon-show-search-on-map {
    margin-right: 10px;
}
// image gallery arrows (magnificpopup)
button.mfp-arrow {
    font-size:1.3rem;
}