//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------


// _header.scss
.menu {
    > li {
        div.icon {
            font-size: 14px;
        }
    }
}

// _search-result-header.scss
#search-tools .icon-show-search-on-map {
    margin-right: 10px;
}



//
// components/
// --------------------------------------------------

// _alerts.scss
.warning, .danger {
    &:before {
        margin: 0px 7px 0 0;
    }
}

// _icons.scss
.icon {
    font-size: inherit;
    text-rendering: auto;
}

// _tags.scss
.tag-selected {
    &:after {
        font-size: 0.75rem;
        padding-left: 5px;
        width: 0.75rem;
    }
}

// _user-stats.scss
#user-stats {
    .icon {
        &.icon-add {
            margin-top: 4px;
            padding: 4px 5px;
        }
    }
}



//
// vendor/
// --------------------------------------------------

// _magnific-popup.scss
button.mfp-arrow {
    font-size:1.3rem;
}