//
// Variables
// --------------------------------------------------


//== Colors
//

$brand-primary: #ed1c24;
$brand-accent: #000;

$brand-event: #faa819;
$brand-agent: #ddde1f;
$brand-space: #7dc790;
$brand-project: #00a7e0;


//== Typography
//

$headings-font-family:    'Open Sans';


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Mapas Culturais via Bower.

//** Load fonts from this directory.
$icon-font-path:          '../fonts/';
//** Icon font family name
$icon-font-family:			'FontAwesome';
//** File name for all font files.
$icon-font-name:          "fontawesome-webfont";
//** Element ID within SVG icon file.
$icon-font-svg-id:        "fontawesomeregular";


//** About icon
// used on .icon-about on _icons.scss file
$unicode-about:                 "\f05a" !default;

//** Add icon
// used on .icon-add on _icons.scss
$unicode-add:                   "\f067"   !default;

//** Add button icon
// used on .add on _buttons.scss
$unicode-add-button:            "\f055" !default;

//** Agent icon
// used on:
// .icon-agent on _icons.scss file
// .btn-map-agent on _maps.scss file
$unicode-agent:                 "\f007" !default;

//** Attachment icon
// used on .attachment-title on _registration-form.scss file
$unicode-attachment:            "\f0c6" !default;

//** Arrow icons used on _icons.scss file (Image Gallery)
$unicode-arrow-left:			"\f104" !default;
$unicode-arrow-right:			"\f105" !default;

//** Check icon
// used on:
// .check on _icons.scss file
// .filter-list li on _advanced-search.scss file
$unicode-check:                 "\f00c"   !default;

//** Close icon
// used on:
// .close on _alerts.scss file
// .icon-close on _icons.scss file
// .tag-selected on _tags.scss file
$unicode-close:                 "\f00d"   !default;

// used on .delete on _buttons.scss file
$unicode-delete:                "\f057"   !default;

//** Datepicker's arrows icons
// used on .ui-datepicker-prev and .ui-datepicker-next on _datepicker.scss file
$unicode-datepicker-arrow-left:     "\f137" !default;
$unicode-datepicker-arrow-right:    "\f138" !default;

//** Developers icon
// used on .icon-developers on _icons.scss
$unicode-developers:            "\f0ad" !default;

//** Download icon
// used on .download on _buttons and _icons.scss file
$unicode-download:              "\f019" !default;

//** Edit icon
// used on:
// .edit on _buttons.scss
// .edit-box on _edit_box.scss
// .editable on _editable.scss
$unicode-edit:                  "\f044"   !default;

//** Em cartaz icon
// used on .icon-em-cartaz on icons.scss
$unicode-em-cartaz:				"\f005" !default;

//** Error icon
// error icon
$unicode-error:                 "\f06a" !default;

// alias for $unicode-error
// used on .danger on _alerts.scss file
$unicode-danger:                $unicode-error !default;

// alias for $unicode-error
// used on .warning on _alerts.scss file
$unicode-warning:               $unicode-error !default;

//** Event icon
// used on:
// .icon-event on _icons.scss file
// .btn-map-event on _maps.scss file
$unicode-event:                 "\f133" !default;

//** Go back icon
// used on .icon-go-back on _icons.scss file
$unicode-go-back:               "\f177" !default;

//** Panel icon
// used on .icon-panel on _icons.scss file
$unicode-panel:                  "\f0e4" !default;

//** Panel icon
// used on .icon-home on _icons.scss file
$unicode-home:                  "\f015" !default;

//** How to use icon
// used on .icon-help on _icons.scss
$unicode-help:            "\f059" !default;

//** Info icon
// used on .icon-info on _alerts.scss file
$unicode-info:                  "\f0eb" !default;

//** Insert icon
// used on .insert class on _buttons.scss
$unicode-insert:                "f103"   !default;

//** Lock icon
// lock icons
$unicode-lock:                  "\f023" !default;
$unicode-lock-open:             "\f13e" !default;

// alias for $unicode-lock
// used on .icon-login on _icons.scss file
$unicode-login:                           $unicode-lock !default;

// alias for $unicode-lock
// used on .icon-private-info on _icons.scss file
$unicode-private-info:                    $unicode-lock !default;

// alias for $unicode-lock
// used on .icon-publication-status-locked on _icons.scss file
$unicode-space-publication-status-locked: $unicode-lock !default;

// alias for $unicode-lock-open
// used on .icon-publication-status-open on _icons.scss file
$unicode-space-publication-status-open:   $unicode-lock-open !default;

//** Notifications icon
// used on .icon-notifications on _icons.scss file
$unicode-notifications:               "\f0f3" !default;

//** Project icon
// used on .icon-project on _icons.scss file
$unicode-project:               "\f0f6"   !default;

//** Radio icon
// used on .icon-radio-button on _forms.scss file
$unicode-radio-button:          "\f10c"   !default;

// used on .icon-radio-button.selected on _forms.scss file
$unicode-radio-button-selected: "\f192"   !default;

//** Search icon
// used on .icon-search on _icons.scss
$unicode-search:                "\f002"   !default;

//** Select arrow icon
// used on:
// .placeholder on _dropdown.scss file
// .select2-arrow on _editable.scss file
// .icon-select-arrow on _icons.scss file
$unicode-select-arrow:          "\f107"   !default;

//** Up arrow icon
// used on:
// .icon-arrow-up on _icon.scss file
$unicode-arrow-up:				"\f106"	!default;

//** Send icon
// used on .send on _buttons.scss
$unicode-send:                  "\f093" !default;

//** Show advanced search icon
// used on .icon-show-advanced-search on _icons.scss file
$unicode-show-advanced-search:  "\f0b0"   !default;

//** Show map icon
// used on .icon-show-map on _icons.scss
$unicode-show-map:              "\f041" !default;

//** Show search on list icon
// used on .icon-show-search-on-list on _icons.scss file
$unicode-show-search-on-list:   "\f03a" !default;

//** Show search on map icon
// used on .icon-show-search-on-map on _icons.scss file
$unicode-show-search-on-map:    "\f041" !default;

//** Space icon
// used on:
// .icon-space on _icons.scss file
// .btn-map-space on _maps.scss file
$unicode-space:                 "\f0f7" !default;

//** Sucess icon
// used on .icon-success on _alerts.scss file
$unicode-success:               "\f00c" !default;

//** Social icons
// used on .icon-share on _icons.scss file
$unicode-share:                 "\f1e0" !default;
// used on .icon-twitter on _icons.scss file
$unicode-twitter:               "\f099" !default;
// used on .icon-facebook on _icons.scss file
$unicode-facebook:              "\f09a" !default;
// used on .icon-googleplus on _icons.scss file
$unicode-googleplus:            "\f0d5" !default;
// used on .icon-instagram on _icons.scss file
$unicode-instagram:             "\f0d2" !default;