@use '../settings/mixins' as *;

.edit-1 {
    background-color: var(--mc-gray-100);

    .row {
        display: flex;
        gap: size(24);
        width: 100%;
    }

    &__content {
        display: grid;
        grid-template-columns: 770px 370px;
        gap: 32px;

        .card-1 {
            grid-column-start: 1;
            grid-column-end: 3;

            &__left {
                display: flex;
                flex-direction: column;
                gap: 24px;
                width: 65%;
            }
            &__divider {
                border-right: 1px solid var(--mc-gray-300);
                margin: 0 calc(4% - 0.5px);
            }
            &__right {
                width: 27%;
            }
        }

        main, aside {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        
    }
    
}