@use '../settings/mixins' as *;

.main-footer {
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 80px 0;
    position: relative;
    flex-wrap: wrap;
    z-index: 1;
    
    @include mobile {
        align-items: center;
        flex-direction: column;
    }

    &__links {
        ul {
            list-style: none;
            padding: 0;
            li:first-child {
                font-weight: 600;
                padding-bottom: size(8) ;        
            }
            li {
                padding-bottom: size(16);
                a {
                    color: #2269F7;
                    text-decoration: none;
                }
            }
        }
        @include mobile {
            width: 50%;
        }
    }
    &__logo {
        
        &--share {
            align-items: center;
            color: gray;
            display: flex;
            gap: 20px;
            justify-content: center;
            padding: 34px 0;
        }
        @include mobile {
            width: 90%;
            margin: 0 5%;
            svg {
                width: 100%;
            }

        }    
    }
}