@use '../settings/mixins' as *;

.main-header {
    align-items: center;
    background-color: white;
    box-shadow: 0 size(4) size(4) rgba(0, 0, 0, 0.25);
    display: flex;
    height: size(90);
    justify-content: space-between;
    padding: 0 size(25);
    position: relative;
    width: 100%;
    z-index: 1;

    &__logo {
        color: var(--mc-primary-500);
    }

    &__menu {
        display: flex;
        gap: size(46);
        list-style: none;
        padding: 0;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @media (max-width: 1200px) {
            gap: size(26);
        }

        @media (max-width: 1024px) {
            gap: size(16);
        }

        @include mobile {
            display: none;
        }

        &--item {
            text-decoration: none;

            li {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 size(5);
            }

            .icon {
                align-items: center;
                background-color: var(--mc-gray-700);
                color: var(--mc-white);
                display: flex;
                height: size(32);
                justify-content: center;
                width: size(32);
                border-radius: 50%;

            }

            .label {
                margin: size(4) 0;
                font-family: var(--mc-font-body);
                font-style: normal;
                font-weight: 400;
                font-size: size(14);
                line-height: size(15);
                text-align: center;
                color: var(--mc-black);;
            }


            &.home {
                &:hover{
                    .icon {
                        background-color: var(--mc-primary-500);
                    }
                    .label {
                        color: var(--mc-primary-500);
                    }
                }
            }

            &.projects {
                &:hover{
                    .icon {
                        background-color: var(--mc-projects-500);
                    }
                    .label {
                        color: var(--mc-projects-500);
                    }
                }
            }

            &.spaces {
                &:hover{
                    .icon {
                        background-color: var(--mc-spaces-500);
                    }
                    .label {
                        color: var(--mc-spaces-500);
                    }
                }
            }

            &.events {
                &:hover{
                    .icon {
                        background-color: var(--mc-events-500);
                    }
                    .label {
                        color: var(--mc-events-500);
                    }
                }
            }

            &.agents {
                .icon {
                    font-size: 14px;
                }   
                
                &:hover{
                    .icon {
                        background-color: var(--mc-agents-500);
                    }
                    .label {
                        color: var(--mc-agents-500);
                    }
                }
            }

            &.opportunities {
                &:hover{
                    .icon {
                        background-color: var(--mc-opportunities-500);
                    }
                    .label {
                        color: var(--mc-opportunities-500);
                    }
                }
            }
            
        }
    }

    &__options {
        &--loggedIn {
            display: none;
            align-items: center;
            &.active {
                display: flex;
            }
            button.options {
                background:  var(--mc-gray-700);
                border-radius: size(8);
                color: var(--mc-white);
                cursor: pointer;
                display: inline;
                position: relative;
                padding: size(13) size(35) size(13) size(16);
                border: none;
                font-weight: 600;
                font-size: size(14);
                line-height: size(14);
                &::before {
                    content: url(https://api.iconify.design/fe/arrow-down.svg?color=white);
                    height: 16px;
                    position: absolute;
                    right: 13px;
                    top: calc(50% - size(8));
                    width: size(16);
                }   
            }

            ul {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    color: var(--mc-gray-700);
                    display: flex;
                    position: relative;
                    border-bottom: 1px solid var(--mc-gray-100);
                    white-space: nowrap;
                    &:first-child {
                        border-radius: size(5) size(5) 0 0;
                    }
                    &:last-child {
                        border-bottom: none;
                        border-radius: 0 0 size(5) size(5);
                    }
                    a {
                        color: var(--mc-gray-700);
                        padding: size(10) size(16);
                        text-decoration: none;
                        width: 100%;
                    }
                    &:hover {
                        background-color: var(--mc-gray-700);
                        color: var(--mc-white);
                        a {
                            color: var(--mc-white);
                        }
                    }
                }
            }

            .notifications {
                a {
                    padding: size(13) size(35) size(13) size(16);
                    display: flex;
                    gap: size(4);
                    align-items: center;
                    font-weight: 600;
                    font-size: size(14);
                    line-height: size(14);
                    text-decoration: none;
                    color: black;
                    svg {
                        font-size: size(24);
                    }
                    &.mobile {
                        display: none;
                        svg {
                            font-size: size(20);
                        }
                    }
    
                    @include mobile {
                        &.mobile {
                            display: flex;
                        }
                        &.desk {
                            display: none;
                        }
                    }
                }

            }

        }

        &--loggedOff {
            display: none;
            &.active {
                display: flex;
            }
            .logIn {
                align-items: center;
                background:  var(--mc-gray-700);
                border-radius: size(8);
                color: var(--mc-white);
                display: flex;
                font-size: size(14);
                font-weight: 600;
                gap: size(28);
                line-height: size(14);
                padding: size(13) size(16);
                text-decoration: none;
                span {
                    display: flex;
                    svg {
                        transform: matrix(-1, 0, 0, 1, 0, 0);
                    }
                }
            }
        }
    }
}