@use '../settings/mixins' as *;

.main-footer {
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: var(--mc-shadow-lv1-up);
    display: flex;
    gap: size(40);
    justify-content: center;
    padding: size(80) 0;
    position: relative;
    flex-wrap: wrap;

    @include mobile {
        gap: 0;
    }

    &__logo,
    &__links {
        max-width: size(1170);
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 size(16);

        @include mobile {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__logo {
        &--img {
            flex-basis: 100%;
            width: 100%;

            @media (max-width: size(800)) {
                .theme-logo {
                    margin: 0 auto;
                }
            }

            @media (max-width: size(500)) {
                width: 70%;

                .theme-logo {
                    grid-template-columns: 100%;
                    text-align: center;

                    &__logo {
                        width: 50%;
                        margin: 0 25%;
                    }
                }
            }

            @media (max-width: size(490)) {
                width: 100%;
            }

            svg {
                width: 100%;
            }
        }

        &--share {
            align-items: center;
            color: var(--mc-low-700);
            display: flex;
            gap: size(20);
            justify-content: center;
            padding: size(34) 0;
            font-size: size(20);
        }

        @include mobile {
            align-items: center;
        }    
    }

    &__links {
        align-items: flex-start;
        justify-content: space-evenly;
        gap: size(40);
        padding: 0 size(56);
        
        @include mobile {
            gap: 0;
        }

        @media (max-width: size(450)) {
            width: 100%;
            padding: 0 size(40);
        }

        &--group {
            list-style: none;
            padding: 0;

            li {
                font-weight: 400;
                font-size: size(16);
                line-height: size(22);
                padding-bottom: size(16);

                a {
                    color: var(--mc-low-500);
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: size(13);
                }
            }

            li:first-child {
                font-weight: 700;
                font-size: size(24);
                line-height: size(28);
                font-weight: 600;
                padding-bottom: size(24);    
                
                a {
                    color: var(--mc-primary-500);
                }
            }
        }
    }

    &__reg {
        width: 100%;
        position: absolute;
        bottom: 0;
        background: #042A2B;        

        &--content {
            max-width: size(1150);
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 400;
            font-size: size(14);
            line-height: size(19);
            color: var(--mc-high-500);

            a {
                color: var(--mc-high-500);
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: size(8);
            }
        }
    }
}