@use '../settings/mixins' as *;

.main-footer {
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: var(--mc-shadow-lv1-up);
    display: flex;
    gap: size(40);
    justify-content: center;
    padding: size(80) 0;
    position: relative;
    flex-wrap: wrap;

    /* &::before {
        box-shadow: var(--mc-shadow-lv1-up);
        content: '';
        height: size(80);
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    } */
    
    @include mobile {
        align-items: center;
        flex-direction: column;
    }

    &__links {
        ul {
            list-style: none;
            padding: 0;

            li:first-child {
                font-weight: 600;
                padding-bottom: size(8) ;        
            }

            li {
                padding-bottom: size(16);

                a {
                    color: #2269F7;
                    text-decoration: none;
                }
            }
        }

        @include mobile {
            width: 70%;
        }
    }
    &__logo {
        
        &--share {
            align-items: center;
            color: gray;
            display: flex;
            gap: 20px;
            justify-content: center;
            padding: 34px 0;
        }

        @include mobile {
            width: 70%;
            margin: 0 5%;
            
            svg {
                width: 100%;
            }
        }    
    }
}