@use '../settings/mixins' as *;

.single-1 {
    .divider {
        border-bottom: size(5) solid var(--mc-black);
        margin: size(60) 0;
        width: 100%;
    }
    
    justify-content: space-between;
    main {
        width: 74.36%;
    }
    aside {
        width: 23.08%;
    }
}