{{{_header}}}
<div>
    <font face="tahoma, sans-serif" color="#666666">Nueva entidad creada en la plataforma {{siteName}} <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Creado(a) <b>{{entityType}}</b> de nombre <b>{{entityName}}</b> en <b>{{url}}</b> el <b>{{createTimestamp}}</b>.<br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Sigue construyendo y actualizando tu plataforma.<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Saludos +! =]<br><br></font>
</div>
{{{_footer}}}