{{{_header}}}
<div>
    <font face="tahoma, sans-serif" color="#666666">Hola <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Entidad {{entityType}} <b>{{entityName}}</b>, Su sello de certificador caducará el {{daysToExpire}}, Acceder a la página de entidad haciendo clic<a href="{{url}}" rel='noopener noreferrer'>aquí</a> y solicita la renovación del período de validez.<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Saludos +! =]<br><br></font>
</div>
{{{_footer}}}