{{{_header}}}
<div>
    <font face="tahoma, sans-serif" color="#666666">Hola <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Entidad {{entityType}} <b>{{entityName}}</b> no se ha actualizado desde <b>{{lastUpdateTimestamp}}</b>, actualice la información si es necesario accediendo a este <a href="{{url}}" rel='noopener noreferrer'>link</a>.<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Chau+! =]<br><br></font>
</div>
{{{_footer}}}
