vendor
var
public/router.php
vendor
src/modules/Components/assets/js/media-query.js
src/modules/Components/assets/js/media-query/
node_modules
mix-manifest.json
.pnpm-store
.worktrees
**/docker-data/
src/themes/BaseV1/assets/css/main.css
src/themes/BaseV1/assets/css/main.css.map
**/.env
!/dev/.env
src/plugins/*
!src/plugins/MapasNetwork
!src/plugins/MapasNetwork/**
.vscode
.zed
public/assets
public/evaluators-default-profiles
public/files/distributionslog
helm/mapas/charts
