[submodule "src/plugins/MultipleLocalAuth"]
	path = src/plugins/MultipleLocalAuth
	url = https://github.com/culturagovbr/plugin-MultipleLocalAuth.git
	branch = feature/login-basev2
[submodule "src/plugins/AdminLoginAsUser"]
	path = src/plugins/AdminLoginAsUser
	url = https://github.com/mapasculturais/plugin-AdminLoginAsUser
[submodule "src/plugins/SpamDetector"]
	path = src/plugins/SpamDetector
	url = https://github.com/culturagovbr/plugin-SpamDetector
[submodule "src/plugins/RecreatePCacheOnLogin"]
	path = src/plugins/RecreatePCacheOnLogin
	url = https://github.com/mapasculturais/plugin-RecreatePCacheOnLogin.git
[submodule "src/themes/MapaMinC"]
	path = src/themes/MapaMinC
	url = https://github.com/culturagovbr/theme-MapaMinC.git
[submodule "src/plugins/Metabase"]
	path = src/plugins/Metabase
	url = https://github.com/RedeMapas/plugin-Metabase
	branch = main
