[submodule "src/plugins/MultipleLocalAuth"]
	path = src/plugins/MultipleLocalAuth
	url = https://github.com/redemapas/plugin-MultipleLocalAuth.git
	branch = main
[submodule "src/plugins/AdminLoginAsUser"]
	path = src/plugins/AdminLoginAsUser
	url = https://github.com/mapasculturais/plugin-AdminLoginAsUser
[submodule "src/plugins/SpamDetector"]
	path = src/plugins/SpamDetector
	url = https://github.com/culturagovbr/plugin-SpamDetector
[submodule "src/plugins/RecreatePCacheOnLogin"]
	path = src/plugins/RecreatePCacheOnLogin
	url = https://github.com/mapasculturais/plugin-RecreatePCacheOnLogin.git
