.vscode
.sass-cache
*.codekit
src/files
.project
.phpintel
nbproject
.settings
db/dump.sql
db/arquivos.tar.gz
src/protected/application/conf/config.php
src/protected/application/conf/conf-test-local.php
src/protected/DoctrineProxies/*
src/protected/application/lib/modules/*/node_modules
src/protected/application/plugins/*/node_modules
src/protected/application/themes/*/node_modules
src/protected/application/themes/mapasculturais-*
src/protected/node_modules
src/protected/vendor
src/pub
src/assets
src/protected/application/themes/Ceara
compose/config.d/z.config.local.php
*.log
.idea
main.css
main.css.map
mix-manifest.json
_apigen.phar
.DS_Store
.composer/
.bash_history
SaaS/*
documentation/site
private-files
docker-data
scripts/nohup.out
src/geojson
