@use '../settings/mixins' as *;

.cardKey {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 89px;
    max-width: 100%;

    &__content {
      display: grid;
        &--key {
            display: flex;
            flex-direction: column;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            height: 18px;
            word-wrap: break-word;
            overflow: hidden;
            max-width: 100%;

        }

      

        &--pvt {
            &--label {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                display: flex;
                align-items: center;
                letter-spacing: 0.07em;
                text-transform: uppercase;
            }
            display: flex;
            gap: 22.75px;

            &--icon {
                display: grid;

                &-symbol {
                    margin-right:19px;
                    cursor: pointer;

                    svg {
                        width: 17px;
                        height: 20px;

                        path {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}