@use '../settings/mixins' as *;

.button {
    align-items: center;
    appearance: none;
    border: none;
    border-radius: var(--mc-border-radius);
    display: inline-flex;
    font-size: size(16);
    font-weight: bold;
    line-height: 1.25em;
    padding: size(8) size(16);
    text-decoration: none;

    .iconify {
        height: 1.25em;
        width: 1.25em;
    }

    &:not(&--icon) {

        .iconify {
            margin-right: size(16);
        }
    }

    &--large {
        justify-content: center;
        max-width: 100%;
        width: size(320);
    }

    &--primary {
        background-color: var(--mc-primary-500);
        color: var(--mc-white);

        &:focus, &:hover {
            background-color: var(--mc-primary-700);
        }
    }

    &--secondary {
        background-color: var(--mc-secondary-500);
        color: var(--mc-primary-500);

        &:focus, &:hover {
            background-color: var(--mc-secondary-700);
        }
    }

    &--solid {
        background-color: var(--mc-gray-300);
        color: var(--mc-black);

        &:focus, &:hover {
            background-color: var(--mc-gray-500);
        }
    }

    &--text {
        background-color: transparent;
        color: var(--mc-primary-500);

        &:focus, &:hover {
            background-color: rgba(black, 0.1);
        }
    }
}
