@use '../settings/mixins' as *;

$col-columns: 12;

[class*="col-"] {
    float: left;
    box-sizing: border-box;
}

@for $i from 1 through $col-columns {
    .col-#{$i} {
        grid-column-end: span $i;
    }
}
@for $i from 1 through $col-columns {
    @media (max-width: size(800)) {
        .sm\:col-#{$i} {
            grid-column-end: span $i;
        }
    }
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: size(20) size(24);
    width: 100%;

    @media (max-width: size(800)) {
        gap: size(15) size(19);
    }

    &.v-center {
        align-items: center;
    }

    &.v-top {
        align-items: start;
    }

    &.v-bottom {
        align-items: end;
    }

    @media (max-width: size(300)) {
        gap: size(10) size(14);
    }
}



.grid-12{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: size(20) size(24);
    width: 100%;

    @media (max-width: size(800)) {
        gap: size(15) size(19);
    }

    &.v-center {
        align-items: center;
    }

    &.v-top {
        align-items: start;
    }

    &.v-bottom {
        align-items: end;
    }

    @media (max-width: size(300)) {
        gap: size(10) size(14);
    }
}

.container {
    display: grid;
    grid-template-columns: 65% 32%;
    gap: size(32) 3%;
    margin: size(32) auto;
    max-width: size(1190);
    padding: 0 size(16);
    flex-wrap: wrap;

    @media (max-width: size(1060)) {
        grid-template-columns: 60% 37%;
    }
    
    @media (max-width: size(800)) {
        grid-template-columns: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
    }
}