@use '../settings/mixins' as *;


.create-modal {
    margin: 0;
    color: black;

    &__buttons {
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 24px;
        .button{
            place-content: center;
        }
    }
}

    