@use '../settings/mixins' as *;


.create-modal {
    margin: 0;
    color: black;

    .field {
        margin: size(16) 0
    }

    &__fields {
        &--choice {
            &-label {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
            }

            &-list {
                max-width: 520px;

                &-box {
                    display: flex;
                    padding-top: 14px;
                    height: 48px;
                    background: #FFFFFF;
                    border: 1px solid #313131;
                    border-radius: 4px;

                    &-label {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                    }

                    &-selection {
                        padding-left: 310px;
                        margin-right: 13px;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                    }
                }

                margin-top: 8px;
            }

        }
    }

    &__buttons {
        border-radius: var(--mc-border-radius-sm);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 24px;

        .button {
            place-content: center;
        }
    }

    .entity-terms.field {
        &.error {
            margin-bottom: 0;
            padding-bottom: 0;

            button {
                border: size(2) solid #FF0000;
            }
        }

        h4 {
            font-family: var(--mc-font-headings);
            font-style: normal;
            font-weight: 600;
            font-size: size(14) !important;
            line-height: size(19);
            margin: 0 size(5);
        }

    }
}