@use '../settings/mixins' as *;

.entity-card {
	background-color: var(--mc-white);
	border-radius: var(--mc-border-radius-sm);
	padding: size(16);
	width: 100%;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&__header {
		align-items: stretch;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		position: relative;

		&.user-details {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			justify-content: flex-start;
			gap: size(4) size(16);
			align-items: center;

			.user-image {
				align-items: center;
				background-color: var(--mc-gray-300);
				border-radius: 50%;
				display: flex;
				height: size(48);
				justify-content: center;
				min-width: size(48);
				overflow: hidden;
				width: size(48);

				img {
					width: 100%;
				}

				.iconify {
					font-size: size(24);
					color: var(--mc-gray-700);
				}
			}

			.user-info {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				gap: size(10);
				margin: size(4) 0;

				&.with-labels {
					max-width: size(430);
				}

				&.without-labels {
					max-width: size(700);
				}

				width: 100%;

				&__name {
					align-items: center;
					display: flex;
					font-size: size(25.5);
					font-weight: 700;
					line-height: size(30);
				}

				&__attr {
					display: flex;
					flex-direction: column;
					gap: size(4) 0;

					.lb-agent {
						font-style: bold;
					}

					.lb-agent-type {
						color: var(--mc-agents-500);
					}
				}
			}
		}

		&.user-slot {
			align-items: flex-start;
			height: 100%;
			position: absolute;
			right: 0;
			max-width: size(280);

			.entityType {
				align-items: center;
				border-radius: var(--mc-border-radius-pill);
				display: table;
				font-size: size(12);
				font-weight: 700;
				line-height: size(16);
				min-width: size(137);
				padding: size(8) size(16);
				text-transform: capitalize;
				text-align: center;
				vertical-align: middle;

				.iconify {
					float: left;
					font-size: size(16);
					line-height: size(16);
				}
			}

			.openSubscriptions {
				color: var(--mc-low-700);
				display: flex;
				font-size: size(14);
				font-weight: 700;
				gap: size(6);
				line-height: size(19);

				.iconify {
					color: #008739;
					font-size: size(21);
				}

			}
		}

		&--highlight {
			padding: size(6) size(16);
			border-radius: var(--mc-border-radius-pill);
			min-width: size(137);
			display: block;
			text-align: center;
			color: var(--mc-high-500);
			font-weight: 700;
			font-size: size(12);
			line-height: size(22);
			text-transform: capitalize;

			.iconify {
				font-size: size(22);
				float: left;
				gap: size(8);
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: size(8);
		margin: size(16) 0 size(8);
		text-align: left;

		&-shortDescription {
			word-break: break-all;
		}

		&--occurrence {
			&-data {
				font-weight: 700;
				font-size: size(14);
				line-height: size(19);
				display: flex;
				align-items: center;
				gap: size(10);

				.iconify {
					font-size: size(18);
				}
			}


			&-space {
				font-weight: 700;
				font-size: size(14);
				line-height: size(19);
				display: flex;
				align-items: center;
				gap: size(11);

				.link {
					align-items: center;
					display: flex;
					gap: size(10);
					text-decoration: none;
					font-size: size(18);
				}

				.space-adress {
					a {
						text-decoration: none;
					}

					&__adress {


						margin-left: size(10);

						@media (max-width:size(600)) {
							word-break: break-all;
						}
					}
				}

				@media (max-width:size(500)) {
					align-items: flex-start;
				}
			}

			&-info {
				display: flex;
				align-items: center;
				gap: size(40);

				.ageRating {

					&__class {

						font-weight: 500;
						font-size: 0.75rem;
						line-height: 1rem;
						text-transform: uppercase;
						color: var(--mc-low-700);
					}

					&__value {
						font-weight: 700;
						font-size: 13.5px;
						line-height: 16px;
					}

					@media (max-width:size(700)) {
						display: flex;
						flex-direction: column;
					}
				}

			}
		}

		&--description {
			font-weight: 400;
			font-size: size(12);
			line-height: size(16);
			margin-bottom: size(16);
			color: var(--mc-low-700);
			word-break: break-all;



			&-adress {
				color: var(--mc-low-500);
				font-weight: 600;
				font-size: 12px;
				line-height: 22px;
			}
		}

		&--terms {

			&-area,
			&-tag,
			&-linguagem {
				display: flex;
				align-items: flex-start;
				flex-direction: column;

				.area__title,
				.tag__title,
				.linguagem__title {
					font-weight: 500;
					font-size: size(12);
					line-height: size(16);
					display: flex;
					align-items: center;
					text-transform: uppercase;
					color: var(--mc-low-700);
				}
			}

			.terms {
				font-weight: 700;
				font-size: size(12);
				line-height: size(16);
				margin: size(4) 0 size(8);
				text-align: left;
			}
		}
	}

	&__footer {
		display: flex;
		flex-wrap: nowrap;
		gap: size(24) 0;

		@media (max-width: size(500)) {
			flex-direction: column;
		}

		&--info {
			min-width: size(200);

			.seals {
				display: flex;
				flex-wrap: wrap;
				gap: size(5);

				&__title {
					align-items: center;
					display: flex;
					font-size: size(12);
					line-height: size(16);
					text-transform: uppercase;
					width: 100%;
				}

				&__seal {
					align-items: center;
					background: var(--mc-high-300);
					border-radius: var(--mc-border-radius-xs);
					display: flex;
					font-size: size(12);
					font-weight: 400;
					height: size(32);
					justify-content: center;
					line-height: size(16);
					width: size(32);
				}
			}
		}

		&--action {
			align-items: flex-end;
			display: flex;
			justify-content: flex-end;
			width: 100%;

			.button {
				display: block;
				max-width: size(500);
				text-align: center;

				.iconify {
					float: right;
				}
			}
		}
	}

	&.portrait {
		.entity-card__footer {
			flex-direction: column;
		}
	}
}

.panel-entity-card {
	background-color: var(--mc-white);
	border-radius: var(--mc-border-radius-sm);
	padding: size(24);

	&__header {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;

		&> :first-child {
			align-items: center;
			display: grid;
			grid-template-columns: size(64) 1fr;
			gap: size(16);

			@media (max-width: size(500)) {

				display: flex;
				flex-direction: column;
				align-items: flex-start;

				.panel-entity-card__main {
					display: none;
				}
			}
		}

		&--picture {
			display: flex;
			align-items: center;
			justify-content: center;
			width: size(64);
			height: size(64);
			background-color: var(--mc-low-300);
			border-radius: 50%;

			svg {
				font-size: size(32);
			}

			img {

				border-radius: 50%;
				width: 100%;
			}

			@media (max-width: size(500)) {

				height: size(32);
				width: size(32);

				svg {
					font-size: size(16);
				}
			}
		}

		&--info {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			gap: size(10);

			&-title {
				display: inline-block;
				font-weight: 700;
				font-size: size(24);
				line-height: size(28);
				text-align: left;
				word-break: break-word;

				.icon-app {
					margin-left: size(17);

					color: var(--mc-primary-500);

				}
			}

			&-subtitle {
				font-weight: 500;
				font-size: size(14);
				line-height: size(19);
				margin: 0;
				text-transform: uppercase;
			}
		}
	}

	&__header-actions {
		display: flex;
		flex-wrap: wrap-reverse;

		button {
			align-items: center;
			appearance: none;
			background-color: transparent;
			border: none;
			border-radius: var(--mc-border-radius-sm);
			display: flex;
			padding: size(8);
			flex-direction: row;
			align-items: center;
			gap: size(8);

			&:focus,
			&:hover {
				background-color: var(--mc-gray-100);
			}

			.iconify {
				height: size(20);
				width: size(20);
			}

			span {
				font-size: size(12);
				font-weight: bold;

				@include mobile {
					@include sr-only;
				}
			}
		}
	}

	&__main {
		display: flex;
		flex-wrap: wrap;
		padding: size(16);
		min-height: size(57);

		dl {
			font-size: size(14);
			margin: 0 size(40) size(16) 0;
			text-transform: uppercase;
		}

		dt {
			display: inline;
			margin: 0 1ch 0 0;
			padding: 0;

			&::after {
				content: ':';
			}
		}

		dd {
			display: inline;
			font-weight: bold;
			margin: 0;
			padding: 0;
		}

		@media (max-width:size(500)) {
			padding: size(16) 0;
		}
	}

	/* &__footer {
		
	} */

	&__footer-actions {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		.panel__entity-actions {
			@media (max-width: size(500)) {

				display: flex;
				padding-top: size(16);
				justify-content: center;
				flex-wrap: wrap;
				
			}
		}

		@media (max-width: size(500)) {
			align-items: center;
			flex-direction: column-reverse;
		}

		&.left {
			.publish-archived.button {
				color: var(--mc-primary-500);
				border: none;
				background-color: white;
				font-weight: 700;
				font-size: 14px;
				line-height: 19px;
			}
		}

		&.right {
			display: flex;
			gap: size(32);

			@media (max-width: size(500)) {
				.button {
					width: size(305);
					height: size(48);
					display: flex;
					justify-content: flex-start;
					align-items: center;
					flex-direction: row;
					gap: 91px;
				}

				.button:first-of-type {
					display: flex;
					gap: 77px;
					align-items: center;
					justify-content: flex-end;
				}
			}
		}

		button {
			margin-left: size(4);
		}

		.button {

			&.archive {
				color: var(--mc-low-500);

				.iconify {
					color: var(--mc-warning);
				}
			}

			&.delete {
				color: var(--mc-low-500);

				.iconify {
					color: var(--mc-error);
				}
			}

			@include mobile {
				padding: size(8);

				span {
					// @include sr-only;

				}
			}
		}
	}
}