@use '../settings/mixins' as *;

/* popover do agente */
.agent-popover {
    .popover__content {
        padding: 0;
    }
    
    .view-card {
        .mapas-card__content {
            flex-direction: column;
            gap: size(18);
        }

        &__close {
            position: absolute;
            right: size(21);
            top: size(21);
        }

        &__header {
            display: grid;
            grid-template-columns: size(48) 1fr;
            align-items: center;
            gap: size(12);

            .image {
                align-items: center;
                background-color: var(--mc-gray-300);
                border-radius: var(--mc-border-radius-pill);
                display: flex;
                height: size(48);
                justify-content: center;
                overflow: hidden;
                width: size(48);

                img {
                    width: 100%;
                }

                .iconify {
                    font-size: size(22);
                }
            }

            .name {
                font-weight: 700;
                font-size: size(18);
                line-height: size(25);
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: size(8);

            .type {
                font-weight: 600;
                font-size: size(14);
                line-height: size(19);

                .actualType {
                    text-transform: uppercase;
                }
            }

            .tags {
                display: flex;
                flex-direction: column;
                gap: size(4);

                &__label {
                    color: var(--mc-gray-700);
                    font-weight: 600;
                    font-size: size(12);
                    line-height: size(16);
                    text-transform: uppercase;
                }

                &__tagsList {
                    font-weight: 700;
                    font-size: size(12);
                    line-height: size(16);
                }
            }
        }
    }
}

.entity-related-agents {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;

    &__group {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: size(10);

        &--name {
            align-items: center;
            color: var(--mc-black);
            display: flex;
            font-family: var(--mc-font-heading);
            font-size: size(16);
            font-style: normal;
            font-weight: 700;
            gap: size(14);
            line-height: size(22);

            .act {
                align-items: center;
                display: flex;
                height: size(22);
                justify-content: space-between;
                width: size(48);

                a {
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    font-size: size(15);
                    justify-content: center;
                    padding: size(3.5);

                    &:hover {
                        color: var(--mc-gray-700);
                    }
                }
            }
        }

        &--agents {
            display: flex;
            flex-wrap: wrap;
            gap: size(16);

            .agent {
                cursor: pointer;
                display: flex;
                height: size(40);
                position: relative;
                width: size(40);

                    &__img {
                        border-radius: 50%;
                        display: flex;
                        overflow: hidden;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        background: var(--mc-gray-500);
                        &--img {
                            max-width: 100%;
                        }
                        .iconify {
                            color: var(--mc-high-500);
                        }
                    }

                &__delete {
                    align-items: center;
                    background-color: var(--mc-error);
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    height: size(18);
                    position: absolute;
                    justify-content: center;
                    right: size(-5);
                    top: size(-5);
                    width: size(18);

                    .iconify {
                        font-size: size(14);
                    }
                }
            }
        }

        &--actions {
            align-items: center;
            display: flex;
            gap: 13px;
        }
    }

    &__addNew {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: size(8);

        &--title {
            color: var(--mc-black);
            font-family: var(--mc-font-heading);
            font-size: size(14);
            font-style: normal;
            font-weight: 600;
            line-height: size(19);
            margin-bottom: size(8);
        }
    }
}