.entity-terms {
    margin: 20px 0;
    h4 {
        font-weight: 700;
        font-size: 18px;
    }
    ul {
        margin: 10px 0;
        display: flex;
        gap: 10px;
        padding: 0;
        li {
            list-style: none; 
            padding: 10px; 
            min-width: 130px;
            background-color: #EFEFEF; 
            border-radius: 15px; 
            font-size: 13px; 
            line-height: 13px;
            text-align: center;
            a {
                text-decoration: none; 
                color: black; 
            }
        }
    }
}