@use '../settings/mixins' as *;

.entity-links {
    margin: size(25) 0;
    max-width: size(500);
    &__title {
        margin: 0 0 size(10) 0;
    }
    &__links {
        display: flex;
        flex-direction: column; 
        list-style: none;
        margin: 0;
        padding: 0;
        &--item{
            align-items: center;
            display: flex;
            justify-content: space-between;
            .link {
                font-family: var(--mc-font-body);
                font-style: normal;
                font-weight: 700;
                font-size: size(18);
                line-height: size(25);
                margin: 0 size(5);
                color: var(--mc-black);
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: size(5);
                svg {
                    font-size: size(20);
                    margin: 0 (5);
                }
            }            
            .edit {
                display: flex;
                gap: size(14);
                line-height: size(25);
                svg {
                    cursor: pointer;
                    font-size: size(14);
                }
            }              
        }
        &--addNew {
            border-radius: size(15);
            cursor: pointer;
            display: flex;
            font-family: var(--mc-font-body);
            font-size: size(12);
            font-weight: 600;
            gap: size(10);
            justify-content: center;
            line-height: size(16);
            padding: size(10) size(20);
            position: relative;
            svg {
                font-size: size(16);
                position: absolute;
                right: size(10);
                top: calc(50% - size(8));
            }
        }
        li {
            margin: size(7) 0;
        }
    }
}