@use '../settings/mixins' as *;

.entity-list {
    margin: 0;

    &__label {


        &--title {
            align-items: center;
            display: flex;
            text-decoration: none;
            margin: 0;
        }

        &--title {
            margin: 0;
            align-items: center;
            display: flex;
            text-decoration: none;


            &-img {

                border-radius: 50%;
                overflow: hidden;
                width: size(56);
                height: size(56);
                margin: size(13) size(14) size(13) 0;

                
            }


            .profile {
                    width: 100%;
                    height: 100%;

                }

                .placeholder {
                    background-color: red;
                }

        }
    }
}