.entity-terms {
    margin: 20px 0;
    h4 {
        margin: 0 0 10px 0;
    }
    &__terms {
        margin: 10px 0;
        display: flex;
        gap: 10px;
        padding: 0;
        flex-wrap: wrap;
        li {
            border-radius: 15px;
            list-style: none;
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            text-align: center;
            position: relative;
            font-size: 13px;
            gap: 10px;
            line-height: 13px;
            min-width: 130px;
            svg {
                position: absolute;
                top: calc(50% - 8px);
                font-size: 16px;
                right: 10px;
                color: var(--mc-primary-500);
            }
        }
        &--term {
            align-items: center;
            background-color: #E1E1E1;
            a {
                text-decoration: none; 
                color: black; 
            }
        }
        &--addNew {
            background-color: var(--mc-primary-500) !important;
            color: white !important;
            cursor: pointer;
            svg {
                color: white !important;
            }
        }
    }
}