@use '../settings/mixins' as *;

.entity-actions {

    background-color: var(--mc-primary-500);
    bottom: 0;
    margin-top: 50px;
    padding: size(24) 0;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;

    &__content {
        display: flex;
        justify-content: space-between;
        max-width: size(1170);
        margin: 0 auto;

        & > * {
            z-index: 1;
        }
        
        &--groupBtn {
            display: flex;
            gap: size(25);
    
            .btn {
                background: #BFF3FF;
                color: #2269F7;
                cursor: pointer;
                font-weight: 600;
                font-size: size(18);
                font-family: var(--mc-font-body);
                line-height: size(25);
                padding: size(11) size(32);
                
                &.publish {
                    background: var(--mc-white);
                    padding: size(11) size(100);
                }
            }
    
        }
    }

}
@media (max-width: size(1024)) {
    .entity-actions {

        display: flex;
        gap: size(24);
        flex-direction: column-reverse;
        
        &__groupBtn {
            display: inline-flex;
            gap: size(24);

            &--btn {
                justify-content: center;
                width: 100%;
            }

        
        }
    }
}
@media (max-width: size(870)) {
    .entity-actions {
        &__groupBtn {
            flex-direction: column;
        }
    }
}

@media (max-width: size(600)) {
    .entity-actions {
        padding: size(24) size(10);
    }
}