.entity-seals {
    margin: 25px 0;
    h4 {
        margin: 0 0 10px 0;
    }
    .seals {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        .seal {
            align-items: center;
            background: #C4C4C4;
            border-radius: 4px;
            display: flex;
            height: 47px;
            justify-content: center;
            position: relative;
            // overflow: hidden;
            width: 48px;
            .icon {
                align-items: center;
                background-color: red;
                border-radius: 50%;
                color: white;
                cursor: pointer;
                display: flex;
                font-size: 13px;
                height: 16px;
                justify-content: center;
                position: absolute;
                top: -8px;
                right: -8px;
                width: 16px;
                z-index: 2;
            }
        }
        .addSeal {
            align-items: center;
            border: 1px solid;
            border-radius: 4px;
            display: flex;
            height: 47px;
            justify-content: center;
            position: relative;
            width: 48px;
            cursor: pointer;
        }
    }
}