@use '../settings/mixins' as *;

.entity-list {
    margin: 0 auto;
    list-style-type: none;

    &__owner {
        display: flex;
        flex-direction: column;

        &--title {
            gap: size(16);
            font-weight: 700;
            font-size: size(12);
            line-height: size(16);
            display: flex;
            align-items: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;
        }
        
        &--content {
            &-name,
            a {
                color: var(--mc-agents-500);
                text-decoration: none;
                display: flex;
                flex-wrap: nowrap;
                gap: size(8);
                flex-direction: row-reverse;
                align-items: center;
                justify-content: flex-end;
            }

            &-img {
                border-radius: 50%;
                overflow: hidden;
                width: size(40);
                height: size(40);
            }

            &-placeholder {
                .background {
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--mc-gray-500);
                    overflow: hidden;
                    height: size(40);
                    width: size(40);
                }

                svg {
                    color: var(--mc-high-500);
                }
            }
        }

    }
}