@use '../settings/mixins' as *;

.entity-header {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;

    &::before {
        width: 100vw;
        height: 100%;
        position: absolute;
        content: " ";
        margin: 0 calc(50% - 50vw);
        background-color: white;
    }

    &__content { 
        display: flex;

        &-leftSide {
            z-index: 1;

            .avatar {
                align-items: center;
                background-color: var(--mc-gray-500);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                object-fit: cover;
                overflow: hidden;
        
                img {
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }
        
                svg {
                    font-size: size(80);
                    color: var(--mc-white);
                }
        
                @include mobile {
                    height: size(113);
                    margin: size(-48) auto size(16) auto;
                    width: size(113);
                }
        
                @include desktop {
                    height: size(167);
                    margin: size(-80) size(32) size(22) size(16);
                    width: size(167);
                }
            }
        }

        &-rightSide {
            .title {
                font-style: normal;
                font-weight: 700;        
                font-size: size(48);
                line-height: size(65);
                margin-top: size(10);
        
                @include mobile {
                    font-size: size(24);
                    line-height: size(33);
                    text-align: center;
                    margin: 0;
                }
            }

            .share-mobile {
                display: none!important;
                gap: size(4)!important;
                max-width: unset!important;
                @include mobile {
                    display: flex!important;
                    margin: size(3) 0 size(11);
                }
            }

            .description {
                p {
                    margin: 0;
                }

                @include mobile {
                    font-size: size(12);
                    line-height: size(16);
                    padding: 0 size(16)!important;
                }
            }
        }

        .share {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: size(7) size(9);
            max-width: size(167);
    
            .button {
                color: var(--mc-gray-700);
                padding: size(10);
                color: #3E3E3E;

                .iconify {
                    font-size: size(18);
                }
            }
    
            @include desktop {
                margin: size(16) size(32) size(22) size(16);
            } 
    
            @include mobile {
                display: none;
            }
        }

        .metadata {
            display: flex;
            dl {
                display: inline-block;
                margin: size(8) size(40) size(16) 0;
                @include mobile {
                    display: flex;
                    margin: size(6) 0;
                    justify-content: center;
                }
            }    
            dt, dd {
                display: inline-block;
                margin: 0;
                @include mobile{
                    font-size: size(12)!important;
                    line-height: size(16)!important;
                }
            }    
            dt {
                color: var(--mc-gray-700);
                font-size: size(12);
                font-style: normal;
                font-weight: 400;
                line-height: size(16);
                text-transform: uppercase;
    
                &::after {
                    content: ':';
                }
            }    
            dd {
                font-size: size(16);
                font-weight: 700;
                line-height: size(21);
                margin-left: size(5);
                text-align: left;
                &.type {
                    text-transform: uppercase;
                }
                
            }
            @include mobile {
                text-align: center;
                flex-direction: column;
                padding: size(10) size(15);
            }
        }

        @include mobile {
            flex-direction: column;
        }
    }

    &__breadcrumbs {

        ul, li {
            margin: 0;
            padding: 0;
        }

        ul {
            align-items: center;
            display: flex;
            gap: size(5);
        }

        li {
            list-style: none;

            &[aria-current] {
                font-weight: bold;
            }

            @include mobile {

                &:not([aria-current])::before {
                    content: url('https://api.iconify.design/fa-solid/chevron-left.svg?height=12');
                    margin-inline-end: size(5);
                    opacity: 0.5;
                }

                &[aria-current] {
                    display: none;
                }
            }

            @include desktop {

                &:not([aria-current])::after {
                    content: url('https://api.iconify.design/fa-solid/chevron-right.svg?height=12');
                    margin-inline-start: size(5);
                    opacity: 0.5;
                }
            }
        }

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__cover {
        aspect-ratio: 3 / 1;
        background-color: var(--mc-gray-300);
        background-image: var(--url);
        background-position: center;
        background-size: cover;
        padding: size(10);
        position: relative;
        width: 100%;

        .iconify {
            font-size: size(76);
            color: white;
            position: absolute;
            top: calc(50% - (size(76) / 2));
            left: calc(50% - (size(64) / 2));
        }
    }

    &__cover--no-image {
        background: transparent;
    }

    &--no-image {

        .entity-header {

            &__content-leftSide{
                .avatar {
                    margin-top: 0;
                    margin-left: 0;
                }
                .share {
                    margin-left: 0;
                }
            }


            &__cover {
                aspect-ratio: unset;
                background: none;
                height: size(60);
            }
        }
    }

    &__edit {
        background-color: var(--mc-white);
        position: relative;
        &--content {
            align-items: baseline;
            display: flex;
            justify-content: space-between;
            padding: size(74) size(130) size(61);
            .title {
                align-items: center;
                display: flex;
                gap: size(18);
                .icon {
                    align-items: center;
                    border-radius: 50%;
                    display: flex;
                    height: size(72);
                    justify-content: center;
                    width: size(72);
                    svg {
                        font-size: size(22);
                        color: var(--mc-white);
                    }
                }
            }


            
        }    
    }
    

}
