@use '../settings/mixins' as *;

body.base-v2.controller-site.action-error {
    background-color: var(--mc-gray-100);
}

.error-page {

    display: flex;
    flex-direction: column;
    background-color: var(--mc-gray-100);
    border-radius: size(4);
    margin: 0 auto;
    padding: size(55) size(135);

    @media (max-width: size(900)) {
        padding: size(16);
    }

    &.error-404 {
        .error-card {
            .content {

                .left__content {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 72px;
                    // line-height: 98px;
                }

                .right {
                    img {
                        max-width: 432px;
                        max-height: 466px;
                        width: 100%;
                    }

                }
            }
        }
    }

    &.error-403 {
        @media (max-width:size(1000)) {
            &.error-page {
                padding: 16px 16px 53px 16px
            }
        }

        .error-card {
            padding: 127px 138px 199px 138px;

            @media (max-width: size(1000)) {
                padding: 24px 16px 53px 16px;

                .content {
                    gap: size(49);
                    display: flex;
                    flex-direction: column-reverse;

                    .left {
                        display: flex;
                        align-items: center;

                        &__content {
                            text-align: center;
                        }

                        &__title,
                        &__message {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 28px;
                        }
                    }
                }

                .btn {
                    justify-content: center;
                    display: flex;
                    align-items: center;
                   
                    button {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        max-width: 304px;
                    }
                }
            }
        }

        .content {
            gap: size(49);



            .left {
                max-width: 592px;

                &__content {
                    line-height: 25px;
                }
            }
        }

        .btn {
            @media (max-width:size(500)){
                
                padding-top: size(32);
            }
            button {
                padding: 24px 26px;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 1.75rem;
                max-width: 387px;
            }
        }
    }



    .error-card {
        padding: 75px 55px;
        background: var(--mc-high-300);

        .message-error {
            padding: 24px 0 16px 0;
        }

        @media (max-width:size(800)) {
            padding-inline: size(16);
        }

        .content {
            display: flex;

            @media (max-width:size(800)) {
                display: grid;
                grid-template-columns: 1fr;
            }

            .left {
                display: flex;
                flex-direction: column;
                gap: size(23);
                max-width: 560px;

                &__content {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                }


                &__title {
                    padding-top: size(24);
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 54px;
                }

                &__message {
                    font-size: size(64);
                    line-height: size(50);
                    font-weight: 700;
                    font-family: "Open Sans";
                    font-style: normal;

                }
            }

            .right {
                img {

                    max-width: size(381);
                    max-height: size(459);
                    width: 100%;
                }
            }
        }

        .error-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            .message-error {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .btn {
                padding: size(16) 0 0 0;
                margin: 0 uto;

                @media (max-width:size(600)) {

                    .text {
                        label {

                            padding: size(24) 0 size(16) 0;
                        }
                    }

                    margin: 0 auto;

                        
                        button {
                            max-width: size(280);
                            max-height: size(72);
                            padding: size(24) size(19);
                            font-size: size(24);

                    }
                }

                button {
                    padding: 19px 33px;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: size(24);
                    line-height: size(28);
                }
            }
        }
    }
}