@use '../settings/mixins' as *;

.field {
    display: flex;
    flex-direction: column;
    gap: size(8);
    margin: 0;
    width: 100%;

    &__error {
        font-family: Open Sans;
        font-size: size(12);
        font-weight: 600;
        line-height: size(16);
        letter-spacing: 0em;
        text-align: left;
        color: var(--mc-error);
    }

    .required {
        font-family: Open Sans;
        font-size: size(12);
        font-weight: 700;
        line-height: size(16);
        letter-spacing: 0em;
        text-align: left;
        color: var(--mc-error);
    }

    label {
        display: flex;
        font-family: var(--mc-font-headings);
        font-size: size(14);
        font-style: normal;
        font-weight: 600;
        line-height: size(19);
        margin: 0 size(5);
        gap: size(8);
        align-items: baseline;
    }

    input, textarea, select {
        border: size(1) solid var(--mc-gray-500);
        border-radius: var(--mc-border-radius-xs);
        font-size: size(16);
        padding: size(14);
        width: 100%;
        &.dp__input {
            padding-left: size(35);
        }
        &.mc-multiselect--input{
            padding-right: size(28);
        } 
    }

    .dp__input_wrap {
        input {
            background: url(https://api.iconify.design/material-symbols/date-range.svg) no-repeat size(10) center/size(20);
            background-color: var(--mc-white);
            padding: size(14) size(14) size(14) size(40);
        }
    }


    input[type="checkbox"],
    input[type="radio"] {
        float: left;
        height: size(18);
        margin-right:size(8);
        width: size(18);
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(https://api.iconify.design/ic/baseline-arrow-drop-down.svg) no-repeat 96% center/size(20);
        background-color: var(--mc-white);
    }

    textarea {
        min-height: size(91);
    }

    &.error {
        input, textarea, select {
            background: url('https://api.iconify.design/fa6-solid/circle-exclamation.svg?color=red') no-repeat right size(20) center / size(20);
            border: size(2) solid #FF0000;
            padding-right: size(45);
        }
    }
}