@use '../settings/mixins' as *;


.home-register {
    padding: size(60) size(16);
    &__content {
        background-color: var(--mc-white);
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: size(1170);

        &--title {

        }
        &--description
        }
        &--button {

        }   
}