@use '../settings/mixins' as *;

.home-entities {
    background-color: var(--mc-gray-100);
    padding: size(60) size(16);
    
    &__content {
        min-height:size(156);
        max-width: size(1170);
        margin:0 auto;
        
        &--header {
            .title {
                font-weight: 700;
                font-size: size(32);
                line-height: size(44);
                @media (max-width: size(800)) {
                    font-weight: 700;
                    font-size: size(24);
                    line-height: size(28);
                }
            }

            .description {
                font-weight: 400;
                font-size: size(18);
                line-height: size(25);

                @media (max-width: size(800)) {
                    font-weight: 400;
                    font-size: size(16);
                    line-height: size(22);
                }
            }

        }

        &--cards {
            display: flex;
            flex-direction: column;
            gap: size(16);
            margin: size(40) 0 size(20);

            .card {
                border-radius: size(7);
                display: flex;
                overflow: hidden;
                
                &__left {
                    flex-basis: 55%;
                    width: size(648);
                    overflow: hidden;
                    position: relative;
                    
                    &--content {
                        align-items: center;
                        background-color: rgba(0,0,0,.3);
                        display: flex;
                        flex-direction: row;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        padding: size(46) size(40);
                        gap: size(18);
                        max-width: size(1170);
                        margin: 0 auto;

                        &-icon {
                            width:size(64);
                            height: size(64);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .iconify {
                                font-size: size(31);
                                color: var(--mc-high-300);
                            }
                        }

                        &-title {
                            color: var(--mc-high-300);
                            font-weight: 700;
                            font-size: size(24);
                            line-height: size(28);
                        }
                    }

                    &--img{
                        height: size(156);

                        img {
                            width: 100%;
                            object-fit: cover;
                            -o-object-fit: cover;
                            
                        }
                    }
                }

                &__right{
                    align-items: flex-end;
                    background-color: var(--mc-high-300);
                    display: flex;
                    flex-basis: 45%;
                    flex-direction: column;
                    padding: size(24) size(32) size(13);
                    width: size(23);
                    justify-content: space-between;
                

                    p {
                        font-weight: 400;
                        font-size:size(16);
                        line-height:size(22);
                        margin: 0;
                    }
                }

                @media (max-width:size(800)) {
                    display: flex;
                    flex-direction: column;

                    &__left,
                    &__right {
                        flex-basis: 50%;
                        width: 100%;
                    }
                }
            }
        }
    }
}