@use '../settings/mixins' as *;

.home-opportunities {
    margin: 0 auto;
    position: relative;
    background-color: #FFA794;
    padding: size(80) size(16);
    width: 100%;

    &__filter {
        display: flex;
        gap: size(30);
        justify-content: center;
        left: 0;
        padding: 0 size(16);
        position: absolute;
        top: size(-18.5);
        width: 100%;

        &--form {
            align-items: center;
            display: flex;
            max-width: size(470);
            position: relative;
            width: 100%;

            .input {
                border: size(1) solid var(--mc-gray-100);
                border-radius: size(68) 0 0 size(68);
                border-right: 0;
                font-size: size(16);
                line-height: size(18);
                max-width: size(385);
                padding: size(14) 0 size(14) size(20);
                width: 100%;

                &:focus-visible {
                    outline: 0;
                }
            }

            .button {
                align-items: center;
                background: white;
                border: size(1) solid var(--mc-gray-100);
                border-radius: 0 size(68) size(68) 0;
                border-left: 0;
                cursor: pointer;
                display: flex;
                font-size: size(20);
                padding: size(15) size(34);
                margin-left: -1px;

                .iconify {
                    font-size: size(16);
                }

                &:focus-visible {
                    outline: 0;
                }
            }
        }

        .button.filter {
            .iconify {
                font-size: size(24);
            }
        }
    }

    &__content {
        max-width: size(1170);
        margin: 0 auto;

        &--title {
            display: flex;
            justify-content: space-between;

            label {
                font-weight: 700;
                font-size: size(32);
                line-height: size(44);
                @media (max-width: size(500)) {
                    font-size: size(24);
                    line-height: size(28);
                }
            }

            .actions {
                gap: size(24);
                display: flex;

                &--btn {
                    align-items: center;
                    background: var(--mc-white);
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    height: size(48);
                    justify-content: center;
                    width: size(48);

                    .iconify{
                        font-size: size(27);
                        color: #D50200;
                    }

                    &:disabled {
                        background: var(--mc-gray-100);
                        cursor: default;
                        .iconify {
                            color: #8A4A4A;
                        }
                    }
                }
            }
        }

        &--description {
            font-weight: 400;
            font-size: size(16);
            line-height: size(22);
        }

        &--cards {
            &-list {
                list-style: none;
                padding: 0;
                display: flex;
                gap: size(40);
                overflow: hidden;

                li {
                    max-width: size(328);
                    min-width: size(328);
                    width: 100%;
                }
            }
        }

    }
}