@use '../settings/mixins' as *;

.mapas-breadcrumb {
    margin: 0 auto;
    max-width: 1170px;
    
    @media (max-width: size(800)) {
        font-size: size(14);
    }

    ul, li {
        margin: 0;
        padding: 0;
    }

    ul {
        width: 100%;
        max-width: size(1170);
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: size(5);
        padding: size(8) size(10);
        position: absolute;
        z-index: 1;
    }

    li {
        align-items: center;
        display: flex;
        list-style: none;
        margin-right: size(26);
        position: relative;

        @media (max-width: size(800)) {
            margin-right: size(16);
        }

        &::after {
            background: url(https://api.iconify.design/fe/arrow-right.svg) no-repeat center center/contain;
            content: "";
            margin-inline-start: size(5);
            height: size(18);
            opacity: 0.5;
            position: absolute;
            right: size(-26);
            width: size(18);

            @media (max-width: size(800)) {
                right: size(-20);
            }
        }
    }

    li:last-child {
        font-weight: bold;
        &::after {
            content: none;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &__hasCover {
        ul {
            background: linear-gradient(180deg, rgba(2, 2, 1, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
            color: white;
            padding: size(8) size(10) size(60); 
        }
        
        li {
            &::after {
                background: url(https://api.iconify.design/fe/arrow-right.svg?color=white) no-repeat center center/contain;
            }
        }
    }
}

.action-edit {
    .mapas-breadcrumb {
        &__hasCover {
            ul {
                background: transparent;
                color: black;
                padding: size(8) size(10);
            }

            li {
                &::after {
                    background: url(https://api.iconify.design/fe/arrow-right.svg) no-repeat center center/contain;
                }
            }
        }
    }
}