@use '../settings/mixins' as *;

.no-scroll {
    overflow: hidden;
}

.mc-header-menu-user {

    .popover {
        &__content {
            padding: 0;
        }

        @media (max-width: size(1020)) {
            display: none;
        }   
    }

    &__user {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: size(4);
        padding: size(5) size(20) size(5) size(13);

        &--name {
            font-weight: 600;
            font-size: size(14);
            line-height: size(14);
            
            @media (max-width: size(1150)) {
                display: none;
            }
        }

        &--avatar {
            width: size(40);
            height: size(40);
            display: flex;
            border-radius: 50%;
            overflow: hidden;
        }

        &::before {
            content: "";
            background: url('https://api.iconify.design/ic/baseline-arrow-drop-down.svg') no-repeat center center / contain;
            background-size: size(20);
            height: size(15);
            position: absolute;
            right: 0;
            width: size(15);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__btn {
        background:  var(--mc-gray-700);
        border-radius: var(--mc-border-radius-sm);
        color: var(--mc-white);
        cursor: pointer;
        display: inline;
        position: relative;
        padding: size(13) size(35) size(13) size(16);
        border: none;
        font-weight: 600;
        font-size: size(14);
        line-height: size(14);
        &::before {
            content: url(https://api.iconify.design/fe/arrow-down.svg?color=white);
            height: 16px;
            position: absolute;
            right: 13px;
            top: calc(50% - size(8));
            width: size(16);
        }
    }

    &__desktop {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            color: var(--mc-gray-700);
            display: flex;
            position: relative;
            border-bottom: 1px solid var(--mc-gray-100);
            white-space: nowrap;
            &:first-child {
                border-radius: size(5) size(5) 0 0;
            }
            &:last-child {
                border-bottom: none;
                border-radius: 0 0 size(5) size(5);
            }

            a {
                color: var(--mc-gray-700);
                padding: size(10) size(16);
                text-decoration: none;
                width: 100%;
            }

            .label {
                margin: 0;
            }

            &:hover {
                background-color: var(--mc-gray-700);
                color: var(--mc-white);
                a {
                    color: var(--mc-white);
                }
            }
        }
    }

    &__mobile {
        
        &--list{
            position: absolute;
            width: 100%;
            height: 100vh;
            background: white;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            list-style: none;
            padding: 0 0 size(20);
            z-index: 100;
            
            li {
                display: flex;
                border-bottom: size(1) solid #DFDFDF;
                line-height: size(20);
                padding: 0 size(20);
    
                a {
                    text-decoration: none;
                    color: var(--mc-black);
                }
                
                &:hover {
                    background-color: var(--mc-gray-700);
                    color: var(--mc-white);
                    a {
                        color: var(--mc-white);
                    }
                }
            }

            .close {
                height: size(90);
                display: flex;
                align-items: center;
                justify-content: flex-end;
                border-top: none;
                
                &__btn {
                    cursor: pointer;
                    padding: size(25) size(23.5);
                    border: none;
                    background: none;
                    
                    .iconify {
                        font-size: size(25);
                        right: 0;
                    }
                }

                &:hover {
                    background-color: white;
                    color: var(--mc-low-500);
                }
            }
        }


        &--btn {
            display: none;
            
            @media (max-width: size(1020)) {
                display: flex;
                position: relative;
                z-index: 99;
            }

            svg {
                font-size: size(24);
            }
        }

    }
}