@use '../settings/mixins' as *;

.mc-side-menu {
  .side-button {
    position: fixed;
    z-index: 100;
    left: 16px;
    max-width: 100%;
    background-color: var(--mc-white);
    border-radius: 0.25rem;
    display: flex;
    padding: size(16);
    text-decoration: none;
    height: 4rem;
    align-content: center;
    justify-content: space-around;
    align-items: center;

    &__content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: size(15);
      &--text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: size(14);
        line-height: size(19);
        color: var(--mc-primary-500);
      }

      &--icon {
        .iconify {
          font-size: size(14);
          color: var(--mc-primary-500);

        }

      }
    }
  }

  // &__container {

  //   left: 0;
  //   top: 0;
  //   //background-color: var(--mc-black);
  //   background-color: rgba(0, 0, 0, 0.7);
  //   width: 100%;
  //   height: 100%;
  //   z-index: 101 !important;

  //   &--content {
  //     position: absolute;
  //     background-color: rgba(255, 255, 255, 1) !important;
  //     width: 33%;
  //     height: 100%;
  //     z-index: 102 !important;
  //   }
}