@use '../settings/mixins' as *;

.mc-stepper-vertical-wrapper {

    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:size(1180)) {
        padding-inline: 55px;
    }
}

ol.mc-stepper-vertical {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: -28px;

    @media (max-width:size(950)) {
        margin: 0 55 0 55px;
        // padding-inline: 44px;
    }

    @media (max-width:size(600)) {
        // padding-inline: size(44);
        margin: 0 45px;
    }

}

ol.mc-stepper-vertical li {
    position: relative;
    counter-increment: item;
    border-left: 3px solid red;
    padding: 0 0 20px 45px;

    @media (max-width:size(600)) {
        padding: 0 16px 20px 45px;
        // margin: 0 45px;
    }

    .mapas-card {
        padding: size(16);

        .evaluation-box {
            &__line {
                max-width: size(1038);
                border-bottom: 1px solid var(--mc-gray-100);
                height: 1px;
                padding-top: 2px;
                background-color: red;
            }
        }
    }

    &:last-of-type {
        border-left: 0;
    }
}

.evaluation {
    &-section {
        margin-bottom: size(20);

        &__header {
            margin-bottom: size(24);
            display: flex;
            flex-direction: column;
            gap: size(8);

            .title {
                font-weight: 700;
                font-size: size(24);
                line-height: size(28);
            }

            .subtitle {
                font-weight: 400;
                font-size: size(16);
                line-height: size(22);
            }
        }
    }

    &-line {
        height: size(1);
        border-bottom: size(1) solid var(--mc-gray-100);
        margin: 0 0 size(20);
    }
}

.config {
    &-input {
        background-color: var(--mc-high-500);
        margin: 0;

        input {
            border-radius: 4px;
        }
    }

    &-phase {
        &__title {
            &--title {
                font-weight: 700;
                font-size: size(24);
                line-height: size(28);

            }
        }

        &__info {
            &--message {
                align-items: center;
                gap: size(10);
                display: flex;
                font-weight: 400;
                font-size: size(16);
                line-height: size(22);

                .iconify {
                    font-size: size(20);
                }
            }

            &--button {
                display: flex;
                gap: size(22);
                align-items: center;

            }
        }

        &__line {
            max-width: size(1038);
            border-bottom: 1px solid var(--mc-gray-100);
        }

        .phase-delete {
            margin: 0 auto;

            &__trash {
                display: flex;
                gap: size(11);
                text-decoration: none;

                .iconify {
                    svg {
                        font-size: 20px;
                        color: red;
                    }
                }
            }

            &__label {
                text-decoration: none;
            }
        }

    }
}

ol.mc-stepper-vertical li::before {
    content: counters(item, ".") "";
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    color: var(--mc-secondary-500);
    width: size(56);
    height: size(56);
    background-color: var(--mc-high-500);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -28px;
    border: 3px solid var(--mc-gray-100);
    margin-bottom: 19px;
    font-size: 25px;
}

ol.mc-stepper-vertical li.active::before {
    background-color: var(--mc-secondary-500);
    font-size: 25px;
    color: var(--mc-high-500);
}

.evaluation-step {
    &__line {
        border-top: 3px solid var(--mc-gray-100);
        margin-top: size(20);
        margin-bottom: size(26);
    }

    &__btn {

        &--secondary {
            max-width: 368px;
            width: 100%;
            height: size(78);
        }

        margin-bottom: size(20);

    }

    .evaluation-config {
        label {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: size(4);
        }

        &__area {
            max-width: 100%;
        }
    }

    .evaluation-text {
        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
        }

        margin-bottom: size(4);
    }

    .evaluation-view {
        display: flex;
        flex-direction: column;
        gap: size(8);

        &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
        }

        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }
    }

    .evaluation-open {
        &__button {
            display: flex;
            align-items: center;
            gap: 1.375rem;
        }
    }

    .evaluation-simple {
        display: flex;
        flex-direction: column;
        gap: size(8);

        &__title {}

        &__text {}
    }

    .evaluation-box {
        &__title {
            font-weight: 700;
            font-size: size(32);
            line-height: size(44);
            padding-bottom: size(8);
        }

        &__content {
            color: var(--mc-gray-700);
            font-weight: 400;
            font-size: size(16);
            line-height: size(22);

        }

        &__line {
            max-width: size(1033);
            border: 1px solid var(--mc-gray-100);
        }
    }
}

.phase {
    &-publish {
        &__auto {
            display: flex;
            flex-direction: row;
            align-self: center;
        }

        &__subscribers {
            text-align: left;
        }

        &__confirm {
            text-align: right;
        }
    }

    &-delete {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8px;

        &__trash {
            svg {
                color: var(--mc-secondary-500);
                font-size: 18px;
            }
        }

        &__label {
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            color: black;
            text-decoration: none;
        }
    }
}

.mc-stepper-vertical {
    .add-phase {
        border-left: 3px solid red;
        padding-left: 25px;
        display: flex;
        padding-left: 25px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        &.add-phase.grid-12 {
            border-left: none;

        }

        &__evaluation {
            margin-top: 25px;
        }

        &__collection {
            margin-bottom: 25px;

        }
    }

    .stepper-step {
        max-width: 1096px;
        width: 100%;

        .mapas-card {
            margin-bottom: 0;
            max-width: 100%;
            padding-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding-left: 16px;


            &__title {
                display: none;
            }
        }
    }


    .stepper-header {
        background-color: white;
        padding: 16px;
        border-radius: size(4);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: size(48);

        &.open {
            border-radius: size(4) size(4) 0 0;
        }

        &__content {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;

            .info {
                display: flex;
                flex-direction: column;
                gap: size(4);

                &__title {
                    font-size: size(24);
                    font-weight: 700;
                    line-height: size(28);
                }

                &__type {
                    .title {
                        color: var(--mc-gray-700);
                        font-size: size(14);
                        font-weight: 600;
                        line-height: size(19);
                        text-transform: uppercase;
                    }

                    .type {
                        color: var(--mc-low-500);
                        font-size: size(14);
                        font-weight: 700;
                        line-height: size(19);
                    }
                }
            }

            .dates {
                display: flex;
                gap: size(48);

                .date {
                    display: flex;
                    flex-direction: column;
                    gap: size(4);

                    &__title {
                        color: var(--mc-gray-700);
                        font-size: size(14);
                        font-weight: 600;
                        line-height: size(19);
                        text-transform: uppercase;
                    }

                    &__content {
                        align-items: center;
                        color: var(--mc-low-500);
                        display: flex;
                        font-size: size(14);
                        font-weight: 700;
                        line-height: size(19);
                    }
                }
            }
        }

        &__actions {
            color: var(--mc-primary-500);
            display: flex;
            flex-wrap: nowrap;
            font-size: size(14);
            font-weight: 700;
            gap: size(20) size(47);
            line-height: size(19);

            @media (max-width:size(800)) {
                flex-direction: column;
            }

            a.support {
                align-items: center;
                cursor: pointer;
                display: flex;
                gap: size(8);

                .iconify {
                    font-size: size(24);
                }
            }
        }

        .phase-stepper {
            @media (max-width:size(800)) {

                word-break: break-word;
                display: flex;
                flex-direction: column;
            }

            &__period {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;

                @media (max-width:size(620)) {

                    font-size: 20px;
                }
            }

            &__type {
                margin-top: 4px;
                margin-bottom: 4px;

                &--name {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;

                }

                &--label {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 19px;

                }

                &--item {

                    font-weight: 700;
                    font-size: 14px;
                    line-height: 19px;

                }

            }

            &__label {}

            &__name {
                @media (max-width:size(600)) {
                    font-size: 20px;
                }
            }
        }

        .expand-stepper {
            align-items: center;
            color: var(--mc-primary-500);
            display: flex;
            gap: size(4);
            justify-content: flex-end;
            min-width: size(82);

            label {
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;

            }

            .iconify {}
        }
    }
}