@use '../settings/mixins' as *;

.mc-stepper-vertical-wrapper {

    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding-top: 56px;

}

ol.mc-stepper-vertical {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 28px;

}

ol.mc-stepper-vertical li {
    position: relative;
    counter-increment: item;
    padding-left: 20px;
    border-left: 3px solid red;

    mapas-card {


        .avaliation-step {
            &__line {
                background-color: red;
            }
        }
    }

    &:last-of-type {
        border-left: 0;
    }

}

.phase-delete {
    &__trash {
        .iconify {
            svg {
                font-size: 20px;
                color: red;
            }
        }
    }
}

ol.mc-stepper-vertical li::before {
    content: counters(item, ".") "";
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    color: var(--mc-secondary-500);
    width: size(56);
    height: size(56);
    background-color: var(--mc-high-500);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -28px;
    border: 3px solid var(--mc-gray-100);

}

ol.mc-stepper-vertical li.active::before {
    background-color: var(--mc-secondary-500);
    color: var(--mc-high-500);
}


.phase-delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    &__trash {
        svg {
            color: var(--mc-secondary-500);
            font-size: 18px;
        }
    }

    &__label {
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            color: black;
            text-decoration: none;
    }
}

.mc-stepper-vertical {
    .add-phase {
        border-left: 3px solid red;
        padding-left: 25px;
        display: flex;
        padding-left: 25px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        &.add-phase.grid-12 {
            border-left: none;

        }


        &__evaluation {
            margin-top: 25px;
        }

        &__collection {
            margin-bottom: 25px;

        }
    }

    .stepper-step {
        max-width: 1096px;
        width: 100%;
        margin-left: 25px;

    }



    .stepper-header {

        background-color: white;
        padding: 16px;
        border-radius: 4px;
        display: grid;
        grid-template-columns: 1fr 52px;


        .phase-stepper {

            &__period {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
            }

            &__type {

                &--name {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;
                }

                &--label {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 19px;

                }

                &--item {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 19px;
                }

            }

            &__label {}

            &__name {}
        }

        .expand-stepper {
            display: flex;
            align-items: center;
            padding-right: 165px;

            color: var(--mc-primary-500);

            label {
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;

            }

            .iconify {}
        }
    }
}