@use '../settings/mixins' as *;

.mc-stepper-vertical {

    list-style: none;
    padding: 46px 25px auto 139px;

    li {
        position: relative;
        margin-bottom: 20px;
    }

    li::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: red;
        transform: translateX(-50%);
    }
    .stepper-header{
        background-color: blue;
        margin-left: 220px
    }
}