@use '../settings/mixins' as *;


.messages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin: auto;
    position: fixed;
    top: 20px;
    z-index: 100;
    width: 100%;

    &__message {
        padding: 10px;
        width: 478px;
        &--text {
            margin-left: 10px;
        }
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        &.success {
            margin-right: 8px;
            background: url('https://api.iconify.design/bi/check-circle.svg') no-repeat left center / contain;
            background-color: green;
            background-size: size(20);
        }
        &.warning {
            margin-right: 8px;
            
            icon {background: url('https://api.iconify.design/ant-design/exclamation-circle-outlined.svg') no-repeat left center / contain;
            background-size: size(20);
            }
            background-color: gold;
        }
        &.error {
            margin-right: 8px;
            background: url('https://api.iconify.design/ant-design/exclamation-circle-outlined.svg') no-repeat left center / contain;
            background-color: red;
            background-size: size(20);
        }
    }
}
