@use '../settings/mixins'as *;

.opportunity-subscription-list {
    padding-top: size(48);

    p {
        margin: 0;
    }

    .title {
        color: var(--mc-black);
        font-size: size(24);
        font-weight: 700;
        line-height: size(33);
        margin: size(16) 0;
    }

    .description {
        color: var(--mc-black);
        font-size: size(16);
        font-weight: 400;
        line-height: size(22);
    }
}