@use '../settings/mixins' as *;

.opportunity-phase-list-evaluation {

    .subscribe_prev_phase {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_action {

        &--button {
            color: var(--mc-primary-500);
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            text-align: center;
        }

        &--center {
            display: flex;
            justify-content: center;
        }
    }
    &__line {
        height: size(1);
        border-bottom: size(1) solid var(--mc-gray-100);
        margin: 0 0 size(20);
    }
}