@use '../settings/mixins'as *;

.opportunity-category {
  border-right: 1px solid var(--mc-gray-300);
  padding-right: size(16);
  &__header {
    .card-header {
      &__title {
        padding-bottom: size(8);
    }

    &__subtitle {
        padding-bottom: size(5);
    }
  }
}