@use '../settings/mixins' as *;

.panel-sidebar {
    border-right: 1px solid var(--mc-gray-100);
    height: 100%;
    padding: size(40) size(24);

    @include mobile {
        border: none;
        padding: size(24) size(16);
    }

    &__toggle {
        background-color: var(--mc-gray-300);
        color: var(--mc-gray-700);
        font-family: var(--mc-font-body);
        font-size: size(18);
        font-weight: bold;
        width: 100%;

        .iconify {
            height: size(24);
            margin-right: size(32);
            width: size(24);
        }
    }

    h2 {
        margin: 0;

        @include desktop {
            @include sr-only;
        }
    }

    h3 {
        color: var(--mc-gray-700);
        font-size: size(12);
        margin: 0;
        padding: size(16);
        text-transform: uppercase;
    }

    nav {

        @include mobile {
            display: none;

            &.--open {
                display: block;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    a {
        align-items: center;
        border-radius: var(--mc-border-radius);
        color: inherit;
        display: flex;
        padding: size(8) size(16);
        text-decoration: none;

        &:focus, &:hover {
            background-color: var(--mc-gray-100);
        }

        &.active {
            background-color: var(--mc-primary-500);
            color: white;

            &:focus, &:hover {
                background-color: var(--mc-primary-700);
            }
        }

        .iconify {
            height: size(24);
            margin-right: size(32);
            width: size(24);
        }
    }
}