@use '../settings/mixins' as *;

.panel {
    background-color: var(--mc-white);
    color: var(--mc-black);
    display: grid;
    grid-template-columns: size(320) 1fr;

    @include mobile {
        grid-template-columns: 1fr;
    }

    &__main {
        padding: size(40) 0 0;

        @include mobile {
            padding: 0;
        }
    }

    &__row {
        margin: size(24);
        max-width: size(1024);

        @include mobile {
            margin: size(16);
        }
    }
}
