@use '../settings/mixins' as *;

.panel-home {

    &__header {
        display: flex;
        flex-direction: column;
        gap: size(24);
        padding: size(29) size(132) size(9) size(31);

        &--title {
            label.title {
                font-size: size(32);
                font-weight: 700;
                line-height: size(44);
            }
        }

        &--user {
            align-items: center;
            display: flex;
            justify-content: space-between;

            &-profile {
                align-items: center;
                display: flex;
                gap: size(8);
                
                .avatar{
                    border-radius: var(--mc-border-radius-pill);
                    contain: content;
                    display: flex;
                    height: size(56);
                    width: size(56);
                }
    
                .name {
                    font-size: size(24);
                    font-weight: 600;
                    line-height: size(33);
        
                }
            }
        }
    }

    &__tabs {
        .tab-component{
            padding: size(32) size(40);
            background-color: var(--mc-gray-100);
        }

        .tabs-component{
            &__header{
                padding: 0 size(31);
            }
    
            &__buttons {
                margin: 0;
            }
        }

        &--main {
            .entity-cards {
                display: flex;
                gap: size(24);
                overflow-x: auto;
                padding-bottom: size(5);

                &__card {
                    width: size(191.8);
                    height: size(191.8);
                    border-radius: var(--mc-border-radius-xs);
                    flex-shrink: 0;
                    padding: size(16);
                    background-color: var(--mc-high-500);

                    &--header {
                        display: flex;
                        gap: size(8);
                        align-items: center;

                        &-icon {
                            width: size(32);
                            height: size(32);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: var(--mc-border-radius-pill);
                            
                            .iconify {
                                width: size(16);
                                height: size(16);
                            }
                        }

                        &-label {
                            font-weight: 600;
                            font-size: size(16);
                            line-height: size(22);
                        }
                    }

                    &--counter {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin: size(16) 0 size(19);

                        &-num {
                            font-weight: 700;
                            font-size: size(32);
                            line-height: size(44);
                        }

                        &-label {
                            font-weight: 600;
                            font-size: size(14);
                            line-height: size(19);
                        }
                    }
                }
            }
        }
    }    
}