@use '../settings/mixins' as *;

.panel--open-opportunities {
    &__content {
        width: 100%;

        &--title {
            font-weight: 700;
            font-size: size(24);
            line-height: size(28);
            margin-bottom: size(16);
        }

        &--cards {

            .carousel {
                &__track {
                    gap: size(24);
                }

                .actions {
                    display: flex;
                    position: absolute;
                    top: size(-50);
                    right: 0;
                    gap: size(18);

                    button.carousel__prev {
                        background: url(https://api.iconify.design/akar-icons/arrow-left.svg?color=%230074C1) no-repeat center center / size(15);
                    }

                    button.carousel__next {
                        background: url(https://api.iconify.design/akar-icons/arrow-right.svg?color=%230074C1) no-repeat center center / size(15);
                    }

                    button.carousel__prev,
                    button.carousel__next {
                        background-color: var(--mc-high-500);
                        border: none;
                        border-radius: var(--mc-border-radius-pill);
                        width: size(40);
                        height: size(40);
                    }

                    .carousel__icon {
                        display: none;
                    }
                }
            }

            .card {
                padding: size(16) size(16) size(24);
                background-color: var(--mc-high-500);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                min-height: size(229);
                align-items: flex-start;

                &__content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    &--title {
                        font-weight: 700;
                        font-size: size(16);
                        line-height: size(22);
                        text-align: left;
                    }

                    &--inscricao {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding:size(8)size(4);
                    }
                }

                &__action {
                    width: 100%;
                }
            }
        }
    }
}