@use '../settings/mixins' as *;

.panel--open-opportunities {
    &__content {
        width: 100%;

        &--title {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 16px;
        }

        &--cards {

            .carousel {
                &__track {
                    gap: 24px;
                }
            }

            .card {
                padding: 16px 16px 24px;
                background-color: var(--mc-high-500);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                min-height: 229px;
                align-items: flex-start;

                &__content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    &--title {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 22px;
                        text-align: left;
                    }

                    &--inscricao {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 8px 4px;
                    }
                }

                &__action {
                    width: 100%;
                }
            }
        }
    }
}