@use '../settings/mixins' as *;

.panel-sidebar {
    border-right: 1px solid var(--mc-gray-100);
    padding: size(40) size(24);

    @include mobile {
        border: none;
        padding: size(24) size(16);
    }

    &__toggle {
        align-items: center;
        appearance: none;
        background: transparent;
        border: none;
        display: flex;
        font-size: size(18);
        font-weight: bold;

        .iconify {
            height: size(24);
            margin-right: size(40);
            width: size(24);
        }
    }

    h2 {
        background-color: var(--mc-gray-300);
        border-radius: var(--mc-border-radius);
        color: var(--mc-gray-700);
        margin: 0;
        padding: size(8) size(16);

        @include desktop {
            @include sr-only;
        }
    }

    nav {

        @include mobile {
            display: none;

            &.is-open {
                display: block;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    a {
        align-items: center;
        border-radius: var(--mc-border-radius);
        color: inherit;
        display: flex;
        padding: size(8) size(16);
        text-decoration: none;

        &:focus, &:hover {
            background-color: var(--mc-gray-100);
        }

        &.active {
            background-color: var(--mc-primary-500);
            color: white;

            &:focus, &:hover {
                background-color: var(--mc-primary-700);
            }
        }

        .iconify {
            height: size(24);
            margin-right: size(40);
            width: size(24);
        }
    }
}