@use '../settings/mixins' as *;

.popover {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;

    &__content {
        background-color: white;
        border: size(1) solid var(--mc-gray-100);
        border-radius: size(5);
        display: block;
        position: absolute;
        z-index: 1;

        &[class*="up"], &[class*="down"], &[class*="left"], &[class*="right"] { 
            &::before {
                background-color: white;
                content: '';
                height: size(7);
                position: absolute;
                transform: rotate(45deg);
                width: size(7);
            }
        }

        /* Up */
        &[class*="up-"], &.up {
            bottom: calc(100% + 10px);
            white-space: nowrap;
            &::before {
                border: size(1) solid var(--mc-gray-100);
                border-top: none;
                border-left: none;
                bottom: size(-4);
                right: calc(50% - size(3.5));
            }
        }
        &.up {  
            &-left {
                right: 0;
                &::before {
                    right: size(20);
                }
            }
            &-right {
                left: 0;
                &::before {
                    left: size(20);
                }
            }
        }

        /* Down */
        &[class*="down-"], &.down {
            top: calc(100% + 10px);
            white-space: nowrap;
            &::before {
                border: 1px solid var(--mc-gray-100);
                border-bottom: none;
                border-right: none;
                right: calc(50% - size(3.5));
                top: size(-4);
            }
        }
        &.down {
            &-left {
                right: 0;
                &::before {
                    right: size(20);
                }
            }
            &-right {
                left: 0;
                &::before {
                    left: size(20);
                }
            }
        }
        
        /* Left */
        &[class*="left-"], &.left {
            right: calc(100% + 10px);
            white-space: nowrap;
            &::before {
                border: size(1) solid var(--mc-gray-100);
                border-bottom: none;
                border-left: none;
                right: size(-4);
                top: calc(50% - size(2.5));
            }
        }
        &.left {      
            &-up {
                bottom: -15px;
                &::before {
                    bottom: size(20);
                    top: unset;
                }
            }
            &-down {
                top: -15px;
                &::before {
                    top: size(20);
                    bottom: unset;
                }
            }
        }

        /* Right */
        &[class*="right-"], &.right {
            left: calc(100% + 10px);
            white-space: nowrap;
            &::before {
                border: size(1) solid var(--mc-gray-100);
                border-top: none;
                border-right: none;
                left: size(-4);
                top: calc(50% - size(2.5));
            }
        }
        &.right {
            &-up {
                bottom: size(-15);
                &::before {
                    bottom: size(20);
                    top: unset;
                }
            }
            &-down {
                top: size(-15);
                &::before {
                    bottom: unset;
                    top: size(20);
                }
            }
        }

    }   
}
