@use '../settings/mixins' as *;

.registration-card {
    background-color: var(--mc-high-500);
    border-radius: var(--mc-border-radius-xs);
    display: grid;
    gap: size(32);
    grid-template-columns: size(74) 1fr;
    margin: size(24) size(30);
    padding: size(24) size(23);

    &.border {
        border: var(--mc-border-hairline) var(--mc-low-700);
    }

    &__image {
        display: flex;
        justify-content: center;

        .image {
            align-items: center;
            background-color: var(--mc-gray-300);
            border-radius: var(--mc-border-radius-pill);
            display: flex;
            height: size(64);
            justify-content: center;
            overflow: hidden;
            width: size(64);
            
            .iconify {
                font-size: size(33);
                color: var(--mc-gray-700);
            }
        }
    }

    &__content {
        .header {
            align-items: center;
            display: flex;
            justify-content: space-between;

            &__title {
                font-size: size(24);
                font-weight: 700;
                line-height: size(28);
            }

            &__actions {

            }
        }

        .content {
            display: flex;
            gap: size(25) size(64);
            margin: size(15) 0;
            min-height: size(61);
            
            &__register,
            &__registerDate,
            &__registerCategory {
                .title {
                    color: var(--mc-gray-700);
                    font-size: size(16);
                    font-weight: 600;
                    line-height: size(22);
                    margin: 0;
                    text-transform: uppercase;
                }
                .data {
                    font-size: size(16);
                    font-weight: 700;
                    line-height: size(22);
                    margin: 0;
                }
            }
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__left {
                .status {
                    font-weight: 800;
                    font-size: size(12);
                    line-height: size(16);
                    background-color: var(--mc-low-700);
                    padding: size(8) size(32);
                    border-radius: var(--mc-border-radius-pill);
                    color: var(--mc-high-500);
                }
            }

            &__right {
                display: flex;
                gap: size(25);

                .button--text-danger {
                    color: var(--mc-error);
                }
            }
        }
    }
}