@use '../settings/mixins' as *;

.search-header {
    background-color: var(--mc-high-500);
    border: unset;
    bottom: 0;
    padding: size(50) 0 size(23);
    
    &__content {
        padding:0 size(16);
        align-items: center;
        display: flex;
        justify-content: space-between;
        max-width: size(1170);
        margin: 0 auto;

        &--left {
            align-items: center;
            display: flex;
            gap: size(16);

            &-icon {
                align-items: center;
                border-radius: 50%;
                display:flex;
                justify-content: center;
                width: 48px;
                height: size(48);
        
                .iconify {
                    font-size: size(15);
                }
            }

            &-label {
                font-weight: 700;
                font-size: size(48);
                line-height: size(65);
            }
        }
    }

    // &__actions {
    //     position: relative;
    //     &--label {
    //         position: absolute;
    //         top: 5px;
    //         padding-left: 16px;
    //     }
    //     .tabs-component__buttons {
    //         padding-left: size(150);
    //     }
    // }
}