@use '../settings/mixins' as *;

.search-filter {
    position: relative;

    &__actions {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        left: 0;
        position: absolute;
        right: 0;
        top: size(-90);

        &--form {
            display: flex;

            &-input {
                border: var(--mc-border-hairline) var(--mc-gray-500);
                border-radius: var(--mc-border-radius-pill) 0 0 var(--mc-border-radius-pill);
                border-right: none;
                font-weight: 400;
                font-size: size(16);
                line-height: size(19);
                margin: 0;
                padding: size(13) size(20);
                width: 100%;
            }
    
            &-button {
                align-items: center;
                border: var(--mc-border-hairline) var(--mc-gray-500);
                border-radius: 0 var(--mc-border-radius-pill) var(--mc-border-radius-pill) 0;
                border-left: none;
                background-color: var(--mc-high-500);
                display: flex;
                justify-content: center;
                margin: 0;
                padding: size(13) size(33) size(13) size(20);

                .iconify {
                    height: size(20.5);
                    width: size(20.5);
                }
            }

            @media (max-width: size(900)) {
                &-input {
                    font-weight: 400;
                    font-size: size(16);
                    line-height: size(19);
                    padding: size(9) size(16);
                }

                &-button {
                    padding: size(9) size(16);
                }
            }
        }
    }

    &__filter {
        background: #FFFFFF;
        box-shadow: var(--mc-shadow-lv1);
        border-radius: var(--mc-border-radius-xs);
        padding: size(16);
        position: absolute;
        width: 100%;

        form,
        .form {
            &__label {
                color: var(--mc-primary-500);
                display:inline-block;
                font-weight: 700;
                font-size: size(18);
                line-height: size(25);
                margin-bottom: size(15);
            }

            .field {
                margin-bottom: size(24);
            }
        }
    }

    .list {
        width: 100%;

        .search-filter {
            &__actions {

                &--formBtn {
                    display: none;
                }

                @media (max-width: size(900)) {

                    &--formBtn {
                        display: flex;
                    }
                }
            }

            &__filter {
                &--close {
                    display: none;
                }
            }

        }

        @media (max-width: size(900)) {
            left: 0;
            position: absolute;
            top: 0;

            .search-filter {
                &__filter {
                    background-color: var(--mc-gray-100);
                    padding: 0 size(16) size(21);
                    position: absolute;
                    right: 0;
                    top: size(14);
                    width: 100%;
                    z-index: 1;

                    &>* {
                        clear: both;
                    }
    
                    &--close {
                        @media (max-width: size(900)) {
                            display: block;
                            float: right;
                            padding-right: 0;
                        }
                    }
    
                    form {
                        background: #FFFFFF;
                        border-radius: var(--mc-border-radius-xs);
                        padding: size(16);
                    }
                }
            }
        }

        @media (max-width: size(900)) {
            .search-filter__actions {
                top: size(-74);
                margin-right: size(-16);
            }
        }

        @media (max-width: size(800)) {
            .search-filter__actions {
                width: 100%;
                justify-content: center;
                top: size(-124);
            }
        }
    }   
    
    .map {
        .search-filter {
            &__actions {
                top: size(-66);

                &--formBtn {
                    bottom: size(-74);
                    position: absolute;
                }

                @media (max-width: size(900)) {
                    top: size(-50);
                }
            }

            &__filter {
                background-color: var(--mc-gray-100);
                padding: 0 size(16) size(21);
                position: absolute;
                right: 0;
                top: size(14);
                width: 100%;

                &>* {
                    clear: both;
                }

                &--close {
                    float: right;
                    padding-right: 0;
                }

                form {
                    background: #FFFFFF;
                    border-radius: var(--mc-border-radius-xs);
                    padding: size(16);
                }
            }
        }

        @media (max-width: size(800)) {
            height: 0;  

            .search-filter {
                &__actions {
                    justify-content: center;
                    position: relative;
                    top: size(-100);
                }
            }
        }
    }
}