@use '../settings/mixins' as *;

.tabs-component {

    &__buttons {
        display: flex;
        margin: size(40) 0 0;
        padding: 0;
    }

    &__button {
        list-style: none;

        &::after {
            border-radius: var(--mc-border-radius);
            display: block;
            height: 6px;
            content: '';
            width: 100%;
        }

        a {
            align-items: center;
            color: inherit;
            display: flex;
            line-height: size(20);
            padding: size(16);
            text-decoration: none;
        }

        &:focus, &:hover {
            background-color: var(--mc-gray-100);
        }

        .iconify {
            color: var(--mc-gray-700);
            font-size: size(20);
            margin-right: size(6);
        }

        &.is-active {
            color: var(--mc-primary-500);
            font-weight: bold;

            &::after {
                background-color: var(--mc-primary-500);
            }

            .iconify {
                color: var(--mc-primary-500);
            }
        }

        &.is-disabled {
            color: var(--mc-gray-500);
        }
    }

    &__panels {
        background-color: var(--mc-gray-300);
        padding: 0.1px; // Hack to avoid margins collapse
        margin: 0 0 size(40);
    }
}
