@use '../settings/mixins' as *;
@use 'sass:color';

.theme-logo {
    display: grid;
    grid-template-columns: 35% 59%;
    gap: 6%;
    max-width: size(450);
    align-items: center;
    text-decoration: none;

    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;

    &__logo {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        padding: size(9) 0;

        &--part1,
        &--part2 {
            width: 100%;
            aspect-ratio: 10/13;
        }

        &--part1 {
            background: var(--logo-color1);
            transform: skew(0, -19deg);
        }

        &--part2 {
            background: var(--logo-color2);
            transform: skew(0, 19deg);
        }
    }

    &__text {
        font-weight: 700;
        font-size: size(18);
        line-height: size(23);
        letter-spacing: size(6.4);
        color: var(--mc-low-500);
        display: flex;
        flex-direction: column;

        &--subtitle {
            font-weight: 400;
        }

        @media (max-width: size(530)) {
            font-size: size(13);
            line-height: size(18);
        }
    }
}
  