@use '../settings/mixins' as *;
@use 'sass:color';

.theme-logo {
    display: grid;
    grid-template-columns: 30% 64%;
    gap: 6%;
    max-width: size(450);
    align-items: center;

    &__logo {
        display: grid;
        grid-template-columns: 25% 25%;
        padding: size(9) 0;

        &--part1,
        &--part2 {
            width: 100%;
            aspect-ratio: 9/13;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 199.99%;
            }
        }

        &--part1 {
            background: var(--logo-color);
            transform: skew(0, -20deg);
            opacity: .5;

            &:before {
                background: var(--logo-color);;
                top: 51%;
            }
        }

        &--part2 {
            background: var(--logo-color);
            transform: skew(0, 20deg);

            &:before {
                background: var(--logo-color);
                top: -49%;
            }
        }
    }

    &__text {
        font-weight: 700;
        font-size: size(27);
        line-height: size(35);
        letter-spacing: size(6.4);
        color: var(--mc-low-500);
        display: flex;
        flex-direction: column;

        &--subtitle {
            font-weight: 400;
        }

        @media (max-width: size(580)) {
            font-size: size(18);
            line-height: size(22);
        }

        @media (max-width: size(480)) {
            font-size: size(13);
            line-height: size(18);
        }
    }
}
  