@use '../settings/mixins' as *;
@use 'sass:color';

.theme-logo {
    display: grid;
    grid-template-columns: 35% 59%;
    gap: size(20);
    max-width: size(450);
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;

    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;

    &__logo {
        display: grid;
        max-width: 117px;
        grid-template-columns: repeat(4, 25%);
        padding: size(9) 0;

        .part1, .part2, .part3, .part4 {
            width: 100%;
            aspect-ratio: 10/13;
        }

        .part1, .part3 {
            transform: skew(0, -19deg);
        }

        .part2, .part4 {
            transform: skew(0, 19deg);
        }

        .part1 {
            background-color: var(--logo-bg1);
        }
        
        .part2 {
            background-color: var(--logo-bg2);
        }

        .part3 {
            background-color: var(--logo-bg3);
        }

        .part4 {
            background-color: var(--logo-bg4);
        }
    }

    &__text {
        font-weight: 700;
        font-size: size(18);
        line-height: size(23);
        letter-spacing: size(6.4);
        color: var(--mc-low-500);
        display: flex;
        flex-direction: column;

        &--subtitle {
            font-weight: 400;
        }

        @media (max-width: size(530)) {
            font-size: size(13);
            line-height: size(18);
        }
    }
}
  