//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$brand-primary: #5064A5 !default;
$brand-event:   #F7931D !default;
$brand-agent:   #5FB643 !default;
$brand-space:   #AB1F24 !default;
$brand-project: #795099 !default;
$brand-devs:    #CE5AA1 !default;
