//
// Mixins
// --------------------------------------------------


//== Row
//
//## mixin to add horizontal borders to elements

@mixin row($color, $position) {
	@if $position == top {
		margin-top: $line-height-base;
		padding-top: $line-height-base;
		border-top: 1px solid $color;
	}
	@else if $position == bottom {
		margin-bottom: $line-height-base;
		padding-bottom: $line-height-base;
		border-bottom: 1px solid $color;
	} 
}