.setinha,
.mc-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    line-height: 0;
    border-color: transparent transparent #000 transparent;
}