//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$gray-darker: #333333;
$gray-dark: #666666;
$gray: #cccccc;
$gray-light: #e2e2e2;
$gray-lighter: #eeeeee;

$brand-primary: #ff9900;
$brand-accent: #000000;

$brand-event: #b3b921;
$brand-agent: #1dabc6;
$brand-space: #e83f96;
$brand-project: #cc0033;

$brand-info: #40b4b4;;
$brand-warning: #cc9933;
$brand-danger: #cc3333;
$brand-succes: #66cc66;
