{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Olá, {{userName}}!</p>

                        <p>Informamos que, para atender à sua solicitação de exclusão de cadastro e, ao mesmo tempo, garantir a preservação legal de seu histórico, o cadastro foi excluído de forma parcial, e ficará invisível da interface pública.</p>

                        <p>Como o seu usuário possui inscrições enviadas em oportunidades/editais, os dados dessas inscrições precisam ser mantidos no banco de dados para fins de guarda legal. Por esse motivo, o seu cadastro foi removido apenas da interface e do acesso à plataforma.</p>

                        <p>Caso deseje ativar sua conta na plataforma futuramente, será necessário entrar em contato com o suporte ao usuário.</p>

                        <p>Permanecemos à disposição em caso de dúvidas!</p>

                        <p>Atenciosamente,<br>Equipe {{siteName}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{{_footer}}}
