{{{_header}}}
<div>
    <font face="tahoma, sans-serif" color="#666666">Olá <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Entidade {{entityType}} <b>{{entityName}}</b> está com selo certificador {{sealName}} expirado. Acesse a página da entidade clicando <a href="{{url}}" rel='noopener noreferrer'>aqui</a> e solicite a renovação do período de validade.<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Até +! =]<br><br></font>
</div>
{{{_footer}}}