#atividades .dropdown {
    width: 120px;
    margin: 11px 0;
}
.atividade {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
}
.atividade p {
    margin-bottom: .75rem;
}