.bloco {
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #fff;
    font-size: .875rem;
	h3 {
	    margin-bottom: .75rem;
	    font-size: .70rem;
	    line-height: 1.5rem;
	    font-family: 'Opens Sans', sans-serif;
	    letter-spacing: .1em;
	    text-transform: uppercase;
	    color: #888;
	}
}

.bloco a.adicionar {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
}
.bloco a.adicionar:hover {
    color: #333;
}
.bloco a.botao.adicionar {
    position: static;
}