.bloco {
    position: relative;
    margin-bottom: $line-height-base;
    padding-bottom: $padding-large;
    border-bottom: 1px solid #fff;
    font-size: $font-size-small;
	h3 {
	    margin-bottom: $line-height-half;
	    font-size: .70rem;
	    line-height: $line-height-base;
	    font-family: 'Opens Sans', sans-serif;
	    letter-spacing: .1em;
	    text-transform: uppercase;
	    color: #888;
	}
}

.bloco a.adicionar {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
}
.bloco a.adicionar:hover {
    color: $gray-darker;
}
.bloco a.botao.adicionar {
    position: static;
}