.search-agent {
    position: relative;
    min-height: 3rem;
    margin-bottom: $line-height-half;
    padding: .75rem 0 .75rem 3.75rem;
}
.search-agent h1 {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-bottom: 0;
}
.search-agent-thumb {
    position: absolute;
    top: .75rem;
    left: 0;
    width: 3rem;
    height: 3rem;
}