/* =Edit box
-------------------------------------------------------------- */
.edit-box {
    position: absolute;
    z-index: 149;
    min-width: 375px;
    display: none;
    padding: .75rem;
    background: #fff;
    border: none;
    border-top: 4px solid #f90;
    border-radius: 2px;
            box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.3);
}
.edit-box header {
    margin-bottom: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid #ddd;
}
.edit-box header h1 {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0;
}
.edit-box header p {
    margin-bottom: 0;
    font-size: .75rem;
}
.edit-box footer {
    text-align: right;
}
.edit-box footer button {
    margin-bottom: 0;
}
.edit-box footer .mc-cancel {
    border: none;
    cursor: pointer;
    font-weight: bold;
    height: 2rem;
    margin-left: 7px;
    padding: 0 .75rem;
    vertical-align: bottom;
    width: auto;
}
.edit-box .mc-cancel {
    padding: 3px;
}
.edit-box .mc-cancel .icon_close {
    font-size: 1.5rem;
}
.edit-box.mc-top .mc-arrow,
.edit-box.mc-bottom .mc-arrow {
    left: 50%;
    margin-left: -4px;
}
.edit-box.mc-right .mc-arrow,
.edit-box.mc-left .mc-arrow {
    top: 50%;
    margin-top: -8px;
}
.edit-box.mc-top .mc-arrow {
    bottom: -16px;
    border-color: #fff transparent transparent transparent;
}
.edit-box.mc-bottom .mc-arrow {
    top: -20px;
    border-color: transparent transparent #f90 transparent;
}


.edit-box.mc-left .mc-arrow {
    right: -16px;
    border-color: transparent transparent transparent #fff;
}

.edit-box.mc-right .mc-arrow {
    left: -16px;
    border-color: transparent #fff transparent transparent;
}
.edit-box input,
.edit-box textarea,
.edit-box select {
    width: 100%;
}
.edit-box .mc-spinner {
    width: 16px;
    margin: 0 auto;
}