/*ícones*/
.icone {
    display: inline-block;
    vertical-align: middle;
}
a.icone:hover {
    text-decoration: none;
}
h1 .icone {
    width: 2rem;
    height: 2rem;
    margin-right: .75rem;
    font-size: 2rem;
    line-height: inherit;
}
.icon_check {
    margin-right: .5rem;
    background: #fff;
    color: #ccc;
    padding: 2px;
    border-radius: 2px;
}
.icon_check:hover {
    color: #000;
}
.icon_check.selected {
    background: #000;
    color: #fff !important;
}
.icon_check:hover {
    color: #000;
}
.social_twitter {
    color: #00acee !important;
}
.social_facebook {
    color: #3b5998 !important;
}
.social_googleplus {
    color: #dd4b39 !important;
}