.item-da-galeria {
    position: relative;
    float: left;
    width: 4.5rem;
    height: 4.5rem;
    margin-right: .75rem;
    margin-bottom: $line-height-base;
    background: $gray;
}
.item-da-galeria .botoes-de-edicao {
    top: 2.25rem;
    left: 2.25rem;
    margin-top: -1rem;
    margin-left: -1rem;
}
.item-da-galeria:hover .botoes-de-edicao {
    display: block;
}
.item-da-galeria .icone {
    cursor: pointer;
}