.privado {
    position: relative;
    padding-right: $padding-large;
}
.privado .icone {
    width: 1rem;
    height: 1rem;
}
.privado h3 .icone {
    line-height: 1rem;
    vertical-align: top;
}
.privado .icon_lock:before {
    font-size: $font-size-smaller;
    color: $gray;
}