/* Abas */
.abas {
    margin: 0 0 1.5rem;
    border-bottom: 1px solid $gray-lighter;
    list-style: none;
    font-size: .875rem;
}
.abas li {
    float: left;
    margin-bottom: -1px;
    padding: 5px 20px;
    border-bottom: 1px solid $gray-lighter;
    -webkit-transition: all .3s;
            transition: all .3s;
}
.abas li:hover {
    border-bottom: 1px solid $brand-accent;
}
.abas li.active {
    border-bottom: 1px solid $brand-primary;
}
.abas a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #999;
}
.abas li.active a,
.abas li:hover a {
    color: $brand-accent;
}