/*Tags*/
.tags {
    border: 1px solid #000;
    margin-bottom: 1.5rem;
    padding: .75rem;
    border-radius: 2px;
}
.tag {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: .75rem;
    padding: 0 .5rem;
    background-color: #fff;
    border-radius: 2px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: .7rem;
    line-height: 1.5rem;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    -webkit-transition: all .3s;
            transition: all .3s;
    cursor: pointer;
}
.tag:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}
.tag.selected {
    background-color: #000;
    color: #fff;
    padding-right: .3rem;
}
.tag.selected:after {
    content: '\4d';
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    line-height: 1rem;
    font-family: 'ElegantIcons';
    vertical-align: middle;
    text-transform: none;
}
.tag-evento {
    background-color: #b3b921;
}
.tag-agente {
    background-color: #1dabc6;
}
.tag-espaco {
    background-color: #e83f96;
}
.tag-projeto {
    background-color: #c03;
}
.tag-evento,
.tag-agente,
.tag-espaco,
.tag-projeto {
    padding-right: .3rem;
    color: #fff;
}
.tag-evento:hover,
.tag-agente:hover,
.tag-espaco:hover,
.tag-projeto:hover {
    background-color: #000;
    color: #fff;
}