/*tips*/
.hltip-box {
    min-width: 60px;
    max-width: 160px;
    border-color: #000;
}
.hltip-box .hltip-arrow-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    line-height: 0;
    border-color: transparent transparent #000 transparent;
}
.hltip-box .hltip-arrow-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    line-height: 0;
    border-color: #000 transparent transparent transparent;
}
.hltip-box .hltip-title {
    font-family: 'aleo', serif;
    font-size: .875rem;
}
.hltip-box .hltip-text {
    padding: .5rem;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    background-color: #000;
    box-shadow: rgba(0,0,0, .25) 0 1px 2px 0;
}
.hltip-erro .hltip-arrow-top {
    border-color: transparent transparent #c33 transparent;
}
.hltip-erro .hltip-arrow-bottom {
    border-color: #c33 transparent transparent transparent;
}
.hltip-erro .hltip-text {
    background: #c33;
    color: #fff;
}