.venue-status {
    margin-bottom: .75rem;
    font-weight: bold;
}

.venue-status .icone {
    width: 2rem;
    height: 2rem;
    margin-right: 5px;
    border-radius: 1rem;
    text-align: center;
    line-height: 2rem;
    color: #eee;
    background-color: #e83f96;
}

.venue-status-definition {
    margin-bottom: 0;
    font-size: .75rem;
    color: #888;
}