/* galeria de vídeos */
.video {
    height: 489.5px;
}
.js-videogallery {
    margin-left: 0;
}
.js-videogallery li {
    position: relative;
    float: left;
    width: 150px;
    margin-right: .75rem;
    padding: .5rem;
    border-radius: 2px;
    list-style: none;
}
.js-videogallery li:hover,
.js-videogallery li.active {
    background: $gray-lighter;
}
.js-videogallery li h1 {
    height: 1.5rem;
    margin-bottom: 0;
    overflow: hidden;
    font-size: .75rem;
    line-height: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
}
.js-videogallery li .botoes-de-edicao {
    top: .7rem;
    right: .7rem;
}
.js-videogallery li:hover .botoes-de-edicao {
    display: block;
}
.js-metalist-item-display {
    display: block;
    cursor: pointer;
}
.js-remove-item {
    color: $gray-dark;
}
.js-remove-item:hover {
    color: $gray-darker;
}
.js-remove-item:before {
    width: 1rem;
    height: 1rem;
}
.js-videogallery .thumbnail_med_wide {
    width: 150px;
    height: 84px;
}