@use './mixins' as *;

.hide-desktop {

    @include desktop {
        display: none;
    }
}

.hide-mobile {

    @include mobile {
        display: none;
    }
}

.justify-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mobile {
        & > * + * {
            margin-top: size(16)
        }
    }
}


// For screen-readers
.sr-only {
    @include sr-only;
}


// entities colors
.home {
    &__color {
        color: var(--mc-primary-500);

        &--dark {
            color: var(--mc-primary-700);
        }

        &--light {
            color: var(--mc-primary-300);
        }
    }

    &__background {
        background-color: var(--mc-primary-500);
        color: var(--mc-high-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-primary-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-primary-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-primary-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-primary-500);
        }
        
        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-primary-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-primary-300);
        }
    }
}

.seal {
    &__color {
        color: var(--mc-seals-500);

        &--dark {
            color: var(--mc-seals-700);
        }

        &--light {
            color: var(--mc-seals-300);
        }
    }

    &__background {
        background-color: var(--mc-seals-500);
        color: var(--mc-high-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-seals-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-seals-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-seals-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-seals-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-seals-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-seals-300);
        }
    }
}

.agent {
    &__color {
        color: var(--mc-agents-500);

        &--dark {
            color: var(--mc-agents-700);
        }

        &--light {
            color: var(--mc-agents-300);
        }
    }

    &__background {
        background-color: var(--mc-agents-500);
        color: var(--mc-low-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-agents-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-agents-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-agents-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-agents-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-agents-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-agents-300);
        }
    }
}

.space {
    &__color {
        color: var(--mc-spaces-500);

        &--dark {
            color: var(--mc-spaces-700);
        }

        &--light {
            color: var(--mc-spaces-300);
        }
    }

    &__background {
        background-color: var(--mc-spaces-500);
        color: var(--mc-high-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-spaces-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-spaces-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-spaces-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-spaces-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-spaces-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-spaces-300);
        }
    }
}

.event {
    &__color {
        color: var(--mc-events-500);

        &--dark {
            color: var(--mc-events-700);
        }

        &--light {
            color: var(--mc-events-300);
        }
    }
    
    &__background {
        background-color: var(--mc-events-500);
        color: var(--mc-high-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-events-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-events-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-events-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-events-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-events-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-events-300);
        }
    }
}

.project {
    &__color {
        color: var(--mc-projects-500);

        &--dark {
            color: var(--mc-projects-700);
        }

        &--light {
            color: var(--mc-projects-300);
        }
    }
    
    &__background {
        background-color: var(--mc-projects-500);
        color: var(--mc-high-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-projects-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-projects-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-projects-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-projects-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-projects-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-projects-300);
        }
    }
}

.opportunity {
    &__color {
        color: var(--mc-opportunities-500);

        &--dark {
            color: var(--mc-opportunities-700);
        }

        &--light {
            color: var(--mc-opportunities-300);
        }
    }

    &__background {
        background-color: var(--mc-opportunities-500);
        color: var(--mc-high-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-opportunities-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-opportunities-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-opportunities-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-opportunities-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-opportunities-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-opportunities-300);
        }
    }
}

.primary {
    &__color {
        color: var(--mc-primary-500);

        &--dark {
            color: var(--mc-primary-700);
        }

        &--light {
            color: var(--mc-primary-300);
        }
    }

    &__background {
        background-color: var(--mc-primary-500);
        color: var(--mc-high-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-primary-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-primary-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-primary-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-primary-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-primary-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-primary-300);
        }
    }
}

.secondary {
    &__color {
        color: var(--mc-secondary-500);

        &--dark {
            color: var(--mc-secondary-700);
        }

        &--light {
            color: var(--mc-secondary-300);
        }
    }

    &__background {
        background-color: var(--mc-secondary-500);
        color: var(--mc-high-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-secondary-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-secondary-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-secondary-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-secondary-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-secondary-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-secondary-300);
        }
    }
}

.danger  {
    &__color {
        color: var(--mc-danger-500);

        &--dark {
            color: var(--mc-danger-700);
        }

        &--light {
            color: var(--mc-danger-300);
        }
    }

    &__background {
        background-color: var(--mc-danger-500);
        color: var(--mc-high-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-danger-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-danger-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-danger-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-danger-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-danger-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-danger-300);
        }
    }
}

.helper  {
    &__color {
        color: var(--mc-helper-500);

        &--dark {
            color: var(--mc-helper-700);
        }

        &--light {
            color: var(--mc-helper-300);
        }
    }

    &__background {
        background-color: var(--mc-helper-500);
        color: var(--mc-high-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-helper-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-helper-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-helper-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-helper-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-helper-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-helper-300);
        }
    }
}

.success  {
    &__color {
        color: var(--mc-success-500);

        &--dark {
            color: var(--mc-success-700);
        }

        &--light {
            color: var(--mc-success-300);
        }
    }

    &__background {
        background-color: var(--mc-success-500);
        color: var(--mc-high-500);
    }
    
    &__hover {
        &:hover {
            color: var(--mc-success-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-success-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-success-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-success-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-success-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-success-300);
        }
    }
}

.warning  {
    &__color {
        color: var(--mc-warning-500);

        &--dark {
            color: var(--mc-warning-700);
        }

        &--light {
            color: var(--mc-warning-300);
        }
    }

    &__background {
        background-color: var(--mc-warning-500);
        color: var(--mc-high-500);
    }

    &__hover {
        &:hover {
            color: var(--mc-warning-500);
        }

        &--bg {
            &:hover {
                background-color: var(--mc-warning-500);
            }
        }
    }

    &__border {
        border: var(--mc-border-hairline);
        border-color: var(--mc-warning-500);

        &--solid {
            border: var(--mc-border-solid);
            border-color: var(--mc-warning-500);
        }

        &--dark {
            border: var(--mc-border-hairline);
            border-color: var(--mc-warning-700);
        }

        &--light {
            border: var(--mc-border-hairline);
            border-color: var(--mc-warning-300);
        }
    }
}

.bold {
    font-weight: var(--mc-font-bold);
}

.semibold {
    font-weight: var(--mc-font-semibold);
}

.regular {
    font-weight: var(--mc-font-regular);
}

.uppercase {
    text-transform: var(--mc-font-transform-uppercase);
}

.lowercase {
    text-transform: var(--mc-font-transform-lowercase);
}