// Let's try to keep it as leaner as possible
@use './mixins' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    background-color: var(--mc-white);
    min-height: 100%;
    font-family: var(--mc-font-body);
    font-size: 16px;
    margin: 0;
    max-width: 100vw;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, small {
    font-family: var(--mc-font-headings);
    font-style: var(--mc-font-regular);
    margin: 0;
}

h1 {
    font-weight: var(--mc-font-bold);
    font-size: size(48);
    line-height: size(65);
}

h2 {
    font-weight: var(--mc-font-bold);
    font-size: size(32);
    line-height: size(44);
}

h3 {
    font-weight: var(--mc-font-bold);
    font-size: size(24);
    line-height: size(28);
}

h4 {
    font-weight: var(--mc-font-regular);
    font-size: size(18);
    line-height: size(25);
}

h5 {
    font-weight: var(--mc-font-regular);
    font-size: size(14);
    line-height: size(19);
}

h6 {
    font-weight: var(--mc-font-regular);
    font-size: size(14);
    line-height: size(19);
}

p {
    font-weight: var(--mc-font-regular);
    font-size: size(16);
    line-height: size(22);
}

small {
    font-weight: var(--mc-font-regular);
    font-size: size(12);
    line-height: size(16);
}

.main-app {
    position: relative;
}

.code {
    background: #E8E8E8;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    text-align: center;
}