//
// Main content container
// --------------------------------------------------

.main-content {
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 $border-radius-base $border-radius-base;
    padding: $padding-base;
    @media screen and (min-width: $screen-tablet) {
        float: left;
        padding: 2rem;
        margin-bottom: 4rem;
    }
    @media screen and (min-width: $screen-tablet) and (max-width: $screen-md-max) {
        width: 75%;

    }
    @media screen and (min-width: $screen-lg-desktop) and (max-width: 1366px) {
        width: 60%;
        margin-left: 20%;
        margin-right: -80%;
        padding: 4rem;
    }
    @media screen and (min-width: 1367px) {
        width: 60%;
        margin-left: 15%;
        margin-right: -85%;
        padding: 4rem;
    }
    @media print {
    	width: 100%;
    	padding: $padding-large;
    }
}

body{
    &.action-edit, &.action-create{
        .required:before {
            content: "*";
            display: inline-block;
            color: red;
        }
    }
}
