//
// Typography
// --------------------------------------------------

@font-face {
    font-family: $headings-font-family;
    src: url('#{$font-path}#{$headings-font-name}.eot');
    src: url('#{$font-path}#{$headings-font-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}#{$headings-font-name}.woff') format('woff'),
    url('#{$font-path}#{$headings-font-name}.ttf') format('truetype'),
    url('#{$font-path}#{$headings-font-name}.svg##{$headings-font-svg-id}') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font-family-base;
    src: url('#{$font-path}#{$font-regular-name}.eot');
    src: url('#{$font-path}#{$font-regular-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}#{$font-regular-name}.woff') format('woff'),
    url('#{$font-path}#{$font-regular-name}.ttf') format('truetype'),
    url('#{$font-path}#{$font-regular-name}.svg##{$font-regular-svg-id}') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font-family-base;
    src: url('#{$font-path}#{$font-italic-name}.eot');
    src: url('#{$font-path}#{$font-italic-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}#{$font-italic-name}.woff') format('woff'),
    url('#{$font-path}#{$font-italic-name}.ttf') format('truetype'),
    url('#{$font-path}#{$font-italic-name}.svg##{$font-italic-svg-id}') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: $font-family-base;
    src: url('#{$font-path}#{$font-bold-name}.eot');
    src: url('#{$font-path}#{$font-bold-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}#{$font-bold-name}.woff') format('woff'),
    url('#{$font-path}#{$font-bold-name}.ttf') format('truetype'),
    url('#{$font-path}#{$font-bold-name}.svg##{$font-bold-svg-id}') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: $font-family-base;
    src: url('#{$font-path}#{$font-bolditalic-name}.eot');
    src: url('#{$font-path}#{$font-bolditalic-name}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}#{$font-bolditalic-name}.woff') format('woff'),
    url('#{$font-path}#{$font-bolditalic-name}.ttf') format('truetype'),
    url('#{$font-path}#{$font-bolditalic-name}.svg##{$font-bolditalic-svg-id}') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: $icon-font-family;
    src:url('#{$font-path}#{$icon-font-name}.eot');
    src:url('#{$font-path}#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}#{$icon-font-name}.woff') format('woff'),
        url('#{$font-path}#{$icon-font-name}.ttf') format('truetype'),
        url('#{$font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: $font-size-base; // 16px
    line-height: $line-height-base; // 24px
    font-family: $font-stack-base;
}
pre {
    font-family: $font-stack-monospace;
    font-size: $font-size-smaller; // 12px
}
code {
    font-family: $font-stack-monospace;
    font-size: $font-size-smaller; // 12px
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: $line-height-base; // 24px
    font-weight: $headings-font-weight;
    font-family: $headings-font-stack;
    color: $headings-color;
    > a {
        font-weight: $headings-font-weight;
    }
}
h1 {
    font-size: $font-size-h1; // 36px
    line-height: $line-height-h1; // 48px
}
h2 {
    font-size: $font-size-h2; // 32px
    line-height: $line-height-h2; // 48px
}
h3 {
    font-size: $font-size-h3; // 28px
    line-height: $line-height-h3; // 32px
}
h4 {
    font-size: $font-size-h4; //24px
    line-height: $line-height-h4; // 24px
}
h5 {
    font-size: $font-size-h5; // 20px
    line-height: $line-height-h5; // 24px
}
h6 {
    font-size: $font-size-h6; // 16px
    line-height: $line-height-h6; // 24px
}