.settings-email {
    width: 100%;

    .email-test {
        display: flex;
        justify-content: flex-end;
        
        .content {
            display: flex;
            gap: 10px;
            width: 500px;
        }

        .iconify {
            font-size: 1.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}