<div>
    <font face="tahoma, sans-serif" color="#666666">Uma solicitação de recurso foi feita para a oportunidade <a href="{{opportunityUrl}}" rel='noopener noreferrer'>{{opportunityName}}</a> pelo agente <a href="{{userUrl}}" rel='noopener noreferrer'>{{userName}}</a> para inscrição de número <a href="{{registrationUrl}}" rel='noopener noreferrer'>{{registrationNumber}}</a>. Segue mensagem enviada:<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Mensagem: {{message}}<br><br></font>
</div>
