<div>
    <font face="tahoma, sans-serif" color="#666666">Olá <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Entidade {{entityType}} <b>{{entityName}}</b> está com selo certificador {{sealName}} expirado. Acesse a página da entidade clicando <a href="{{url}}">aqui</a> e solicite a renovação do período de validade.<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Até +! =]<br><br></font>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Mapas Culturais</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">Brasil</font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="mailto:marylly@hacklab.com.br" target="_blank">suporte@mapasculturais.com.br</a>
        <br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="http://hacklab.com.br" target="_blank">http://mapasculturais.org.br</a><br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">Tel +55 00 9999 9999</font>
</div>
<div>
    <img src="http://redecidadedigital.com.br/admin/admin/uploads/produto_57362c76118f031953935785aeeccd0e5ccb00bb1ded3cb89534f7.png" width="157" height="96"><br>
</div>
