{{{_header}}}
<div>
    <font face="tahoma, sans-serif" color="#666666">Olá <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Entidade {{entityType}} <b>{{entityName}}</b> não é atualizado(a) desde de <b>{{lastUpdateTimestamp}}</b>, atualize as informações se necessário acessando este <a href="{{url}}" rel='noopener noreferrer'>link</a>.<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Até +! =]<br><br></font>
</div>
{{{_footer}}}
