@use 'sass:color';

// COLORS
$black: #1E1E1E !default;
$error: #FF2D2D !default;
$gray-100: #F5F5F5 !default;
$gray-300: #C4C4C4 !default;
$gray-700: #4E4E4E !default;
$warning: #F07B07 !default;
$white: #FFFFFF !default;

$gray-500: color.mix($gray-300, $gray-700, 50%) !default;

// Default lightness deltas
$lightness-300: 25% !default;
$lightness-700: 25% !default;

// Brand colors
$primary-500: #117C83 !default;
$primary-300: lighten($primary-500, $lightness-300) !default;
$primary-700: darken($primary-500, $lightness-700) !default;

$secondary-500: #D14526 !default;
$secondary-300: lighten($secondary-500, $lightness-300) !default;
$secondary-700: darken($secondary-500, $lightness-700) !default;

// Entities colors
$seals-500: #1E1E1E !default;
$seals-300: lighten($seals-500, $lightness-300) !default;
$seals-700: darken($seals-500, $lightness-700) !default;

$agents-500: #EF7B45 !default;
$agents-300: lighten($agents-500, $lightness-300) !default;
$agents-700: darken($agents-500, $lightness-700) !default;

$events-500: #9C4EC7 !default;
$events-300: lighten($events-500, $lightness-300) !default;
$events-700: darken($events-500, $lightness-700) !default;

$opportunities-500: #D14526 !default;
$opportunities-300: lighten($opportunities-500, $lightness-300) !default;
$opportunities-700: darken($opportunities-500, $lightness-700) !default;

$projects-500:  #117C83!default;
$projects-300: lighten($projects-500, $lightness-300) !default;
$projects-700: darken($projects-500, $lightness-700) !default;

$spaces-500: #538D0A !default;
$spaces-300: lighten($spaces-500, $lightness-300) !default;
$spaces-700: darken($spaces-500, $lightness-700) !default;

// FAQ
$faq-500: #ffcf8f !default;
$faq-300: lighten($faq-500, $lightness-300) !default;
$faq-700: darken($faq-500, $lightness-700) !default;

// Feedback colors
$danger-500: #EF1010 !default;
$danger-300: lighten($danger-500, $lightness-300) !default;
$danger-700: darken($danger-500, $lightness-700) !default;

$success-500: #498200 !default;
$success-300: lighten($success-500, $lightness-300) !default;
$success-700: darken($success-500, $lightness-700) !default;

$warning-500: #FF9F1C !default;
$warning-300: lighten($warning-500, $lightness-300) !default;
$warning-700: darken($warning-500, $lightness-700) !default;

$helper-500: #0074C1 !default;
$helper-300: lighten($helper-500, $lightness-300) !default;
$helper-700: darken($helper-500, $lightness-700) !default;

// Home 
$home-opportunities: $secondary-500 !default;
$home-entities: $gray-100 !default;
$home-feature: $secondary-300 !default;
$home-register: $primary-500 !default;
$home-map: $white !default;
$home-developers: $gray-100 !default;
$home-header-gradient: linear-gradient(180deg, rgba(0, 116, 193, 0.45) 0%, rgba(255, 164, 163, 0.45) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

// Neutral colors
$low-500: #1E1E1E !default;
$low-300: lighten($low-500, $lightness-300) !default;
$low-700: darken($low-500, $lightness-700) !default;

$high-500: #FFFFFF !default;
$high-300: lighten($high-500, $lightness-300) !default;
$high-700: darken($high-500, $lightness-700) !default;

// FONTS
$font-body: 'Open Sans', sans-serif !default;
$font-headings: 'Open Sans', sans-serif !default;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$text-transform-lowercase: lowercase;
$text-transform-none: none;
$text-transform-uppercase: uppercase;

$font-size-xl: 3rem;
$font-size-lg: 2rem;
$font-size-md: 1.5rem;
$font-size-sm: 1.125rem;
$font-size-xs: 1rem;
$font-size-xxs: 0.875rem;
$font-size-xxxs: 0.75rem;

// Borders radius
$border-radius-xs: 4px !default;
$border-radius-sm: 8px !default;
$border-radius-pill: 64px !default;

// Borders
$border-hairline: 1px solid;
$border-solid: 2px solid;

// Shadows
$shadow-lv-1: 0px 4px 8px rgba(0, 0, 0, 0.16);
$shadow-lv-2: 0px 8px 16px rgba(0, 0, 0, 0.16);
$shadow-lv-3: 0px 8px 24px rgba(0, 0, 0, 0.16);
$shadow-lv-4: 0px 16px 48px rgba(0, 0, 0, 0.16);
$shadow-lv-1-up: 0px -4px 8px rgba(0, 0, 0, 0.16);
:root {
    --mc-home-developers: #{$home-developers};
    --mc-home-entities: #{$home-entities};
    --mc-home-feature: #{$home-feature};
    --mc-home-map: #{$home-map};
    --mc-home-opportunities: #{$home-opportunities};
    --mc-home-register: #{$home-register};
    --mc-home-header-gradient: #{$home-header-gradient};
    --mc-agents-300: #{$agents-300};
    --mc-agents-500: #{$agents-500};
    --mc-agents-700: #{$agents-700};
    --mc-black: #{$black};
    --mc-border-hairline: #{$border-hairline};
    --mc-border-radius-pill: #{$border-radius-pill};
    --mc-border-radius-sm: #{$border-radius-sm};
    --mc-border-radius-xs: #{$border-radius-xs};
    --mc-border-solid: #{$border-solid};
    --mc-danger-300: #{$danger-300};
    --mc-danger-500: #{$danger-500};
    --mc-danger-700: #{$danger-700};
    --mc-error: #{$error};
    --mc-events-300: #{$events-300};
    --mc-events-500: #{$events-500};
    --mc-events-700: #{$events-700};
    --mc-font-body: #{$font-body};
    --mc-font-headings: #{$font-headings};
    --mc-font-bold: #{$font-weight-bold};
    --mc-font-regular: #{$font-weight-regular};
    --mc-font-semibold: #{$font-weight-semibold};
    --mc-font-transform-lowercase: #{$text-transform-lowercase};
    --mc-font-transform-none: #{$text-transform-none};
    --mc-font-transform-uppercase: #{$text-transform-uppercase};
    --mc-gray-100: #{$gray-100};
    --mc-gray-300: #{$gray-300};
    --mc-gray-500: #{$gray-500};
    --mc-gray-700: #{$gray-700};
    --mc-helper-300: #{$helper-300};
    --mc-helper-500: #{$helper-500};
    --mc-helper-700: #{$helper-700};
    --mc-high-300: #{$high-300};
    --mc-high-500: #{$high-500};
    --mc-high-700: #{$high-700};
    --mc-low-300: #{$low-300};
    --mc-low-500: #{$low-500};
    --mc-low-700: #{$low-700};
    --mc-opportunities-300: #{$opportunities-300};
    --mc-opportunities-500: #{$opportunities-500};
    --mc-opportunities-700: #{$opportunities-700};
    --mc-primary-300: #{$primary-300};
    --mc-primary-500: #{$primary-500};
    --mc-primary-700: #{$primary-700};
    --mc-projects-300: #{$projects-300};
    --mc-projects-500: #{$projects-500};
    --mc-projects-700: #{$projects-700};
    --mc-seals-300: #{$seals-300};
    --mc-seals-500: #{$seals-500};
    --mc-seals-700: #{$seals-700};
    --mc-secondary-300: #{$secondary-300};
    --mc-secondary-500: #{$secondary-500};
    --mc-secondary-700: #{$secondary-700};
    --mc-shadow-lv1-up: #{$shadow-lv-1-up};
    --mc-shadow-lv1: #{$shadow-lv-1};
    --mc-shadow-lv2: #{$shadow-lv-2};
    --mc-shadow-lv3: #{$shadow-lv-3};
    --mc-shadow-lv4: #{$shadow-lv-4};
    --mc-spaces-300: #{$spaces-300};
    --mc-spaces-500: #{$spaces-500};
    --mc-spaces-700: #{$spaces-700};
    --mc-faq-300: #{$faq-300};
    --mc-faq-500: #{$faq-500};
    --mc-faq-700: #{$faq-700};
    --mc-success-300: #{$success-300};
    --mc-success-500: #{$success-500};
    --mc-success-700: #{$success-700};
    --mc-warning-300: #{$warning-300};
    --mc-warning-500: #{$warning-500};
    --mc-warning-700: #{$warning-700};
    --mc-warning: #{$warning};
    --mc-white: #{$white};


    --mc-font-size-xl: #{$font-size-xl};
    --mc-font-size-lg: #{$font-size-lg};
    --mc-font-size-md: #{$font-size-md};
    --mc-font-size-sm: #{$font-size-sm};
    --mc-font-size-xs: #{$font-size-xs};
    --mc-font-size-xxs: #{$font-size-xxs};
    --mc-font-size-xxxs: #{$font-size-xxxs};
}