//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------


// _header.scss
#brand-logo {
    a:nth-child(1) {
        img {
            float: left;
            width: 68px;
            @media screen and (min-width: $screen-sm-min) {
                margin-top: 0;
                width: 137px;
            }
            @media screen and (min-width: $screen-md-min) {
                margin-right: 6px;
                margin-top: 4px;
                width: 106px;
            }
            @media screen and (min-width: $screen-lg-min) {
                margin-top: 0;
                width: 137px;
            }
        }
    }
    a:nth-child(2) {
        img {
            float: left;
            margin-top: 0;
            @media screen and (max-width: $screen-sm-max) {
                display: none;
            }
            @media screen and (min-width: $screen-md-min) {
                width: 90px;
                margin-top: 11px;
            }
            @media screen and (min-width: $screen-lg-min) {
                width: 110px;
                margin-top: 0;
                margin-top: 7px;
            }
        }
    }
}
#about-nav {
    #organization-logo {
        img {
            margin-top: 6px;
            width: 73px;
            @media screen and (min-width: $screen-tablet) {
                    margin-top: 2px;
                    width: 132px;
            }

            @media screen and (min-width: $screen-md-min) {
                width: 145px;
            }
        }
    }
}
#secondary-menu {
    margin-top: 14px;
}

//_home.scss
#home-watermark {
    background-position: 80% center;

    @media screen and (max-width: $screen-sm-max) {
        background: none;
    }
}

//_panel.scss
.page-sobre {
    .panel-main-content {
        .realizacao, .apoio {
            a {
                display: inline-block;
                margin-right: 22px;
                img {
                    height: 53px;
                    margin-bottom: 12px;
                    min-height: 40px;
                    width: auto;
                    @media screen and (min-width: $screen-sm-min) {
                        min-height: 56px;
                    }
                    @media screen and (min-width: $screen-lg-min) {
                        height: 83px;
                    }
                }
            }
        }
    }
}

.widget div.agent-code {
    color: $brand-agent;
    font-size: 3em;
}