<div class="edit-box" ng-class="classes" >
    <header ng-if="args.title || args.subtitle">
        <h1 ng-if="args.title">{{args.title}}</h1>
        <p ng-if="args.subtitle">{{args.subtitle}}</p>
    </header>
    <div class="mc-content" ng-transclude></div>
    <footer>
        <div ng-show="spinnerCondition" class="mc-spinner"><img ng-src="{{spinnerUrl}}" /></div>
        <button ng-if="args.cancelLabel" type="button" class="mc-cancel btn btn-default" ng-click="cancel()" ng-bind-html='args.cancelLabel'></button>
        <button ng-if="args.submitLabel" type="submit" ng-click="submit()">{{args.submitLabel}}</button>
        </button>
    </footer>
    <div class="mc-arrow"></div>
</div>
