<div class="directive-find-entity">
    <input ng-model="searchText" ng-change="find()" placeholder="buscar por nome"/>

    <div class="no-results" ng-if="!spinnerCondition && noEntityFound">
        {{noResultsText}}
    </div>
    {{onRepeatDone()}}

    <ul class="result-container" ng-show="!noEntityFound">
        <li class="search-agent clearfix" ng-repeat="entity in result" ng-click="select(entity, attrs, $event)" on-repeat-done="{{attrs.id ? 'findEntity:' + attrs.id : 'findEntity' }}">
            <img class="search-agent-thumb" ng-src='{{avatarUrl(entity)}}' alt="{{entity.name}}" />
            <h1>{{entity.name}}</h1>
            <div class="objeto-meta">
                <div>
                    <!-- @TODO: fazer o texto área de atuação utilizar o dicionário do tema -->
                    <span class="label">área de atuação:</span>
                    {{entity.terms.area.join(', ')}}
                </div>
                <div><span class="label">tipo:</span>{{entity.type.name}}</div>
            </div>
        </li>
        <ol ng-if="noMoreResults" class="no-more-results">
            Sem mais resultados
        </ol>
    </ul>
</div>
