.info:before,
.warning:before,
.danger:before,
.success:before {
    display: inline-block;
    width: 1rem;
    height: inherit;
    font-size: $font-size-base;
    line-height: inherit;
    font-family: $icon-font-family;
    vertical-align: top;
    text-transform: none;
    font-weight: normal;
    font-style: none;
}
.info:before {
    content: $unicode-info;
    color: $brand-info;
}
.warning:before {
    content: $unicode-warning;
    color: $brand-warning;
}
.danger:before {
    content: $unicode-danger;
    color: $brand-danger;
}
.success:before {
    content: $unicode-success;
    color: $brand-success;
}
.alert {
    position: relative;
    margin-bottom: $line-height-base;
    padding: 0.5em 2.5rem;
    border-radius: $border-radius-base;
    border-style: solid;
    border-width: 1px;
    font-size: $font-size-smaller;
    text-align: left; //to make sure it's always aligned to the left.

    @media screen and (max-width: $screen-tablet) {
        clear: both;
        display: block;
        left: 0;
        right: 0;
        margin: 1em;
        padding: 0.20rem 2.5rem;
    }
    
    &.info {
        background: #cff;
        border-color: #9be7ee;
        color: $brand-info;
    }
    &.warning {
        background: #ffc;
        border-color: #eed29b;
        color: $brand-warning;
    }
    &.danger {
        background: #fcc;
        border-color: #ee9b9b;
        color: $brand-danger;
    }
    &.success {
        background: #cfc;
        border-color: #a6dfa6;
        color: $brand-success;
    }
    &.automatic {
        padding: .25rem .75rem;
        background: $gray-lighter;
        border-color: #ddd;
        color: $gray-dark;
    }
    &:before {
        position: absolute;
        margin: 0;
        left: $padding-base;
    }
    .close {
        @extend %icon;
        position: absolute;
        right: $padding-base;
        top: $padding-base;
        font-size: 1rem;
        line-height: 1.5rem;
        &:before {
            content: $unicode-close;
        }
    }
    ul {
        margin-bottom: 0;
    }
}

#editable-entity .alert {
    margin-bottom: -1em;
    @media screen and (max-width: $screen-tablet) {
        position: absolute !important;
    }
}