.venue-status {
    margin-bottom: $line-height-half;
    font-weight: bold;
}

.venue-status .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 5px;
    border-radius: 1rem;
    text-align: center;
    line-height: 2rem;
    color: $gray-lighter;
    background-color: $brand-space;
}

.venue-status-definition {
    margin-bottom: 0;
    font-size: $font-size-smaller;
    color: #888;
}
