@use '../settings/mixins' as *;

.controller-event {
    background-color: var(--mc-white);

    .tabs-component__panels {
        margin-bottom: 0;
    }

    &.action-edit {
        background-color: var(--mc-gray-100);

        .container {
            main {
                gap: 40px;
            }
        }

        .long-field {
            .field {
                label {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 25px;
                    color: var(--mc-high-700);
                }
            }
        }

        .divider {
            width: 100%;
            border-bottom: size(1) solid;
        }
    }

    &.action-single {
        .longDescription {
            p {
                overflow-wrap: break-word;
                word-break: break-word;
            }
        }

        .tabs {
            &-component {
                &__header {
                    border-bottom: 1px solid;
                    padding: 0;

                    @media (max-width: size(1200)) {
                        margin: 0 size(16);
                    }
                }

                &__buttons {
                    margin: size(35) 0 0;
                }

                &__button {
                    &--active::after {
                        background-color: var(--mc-primary-500);
                    }
                }
            }




            &__info {
                .container main {
                    gap: size(40);

                    .age-rating {
                        display: flex;
                        flex-direction: column;
                        gap: size(12);

                        &__label {
                            align-items: center;
                            display: flex;
                            font-weight: 700;
                            font-size: size(18);
                            line-height: size(25);
                        }

                        &__content {
                            background-color: var(--mc-gray-300);
                            border-radius: var(--mc-border-radius-xs);
                            padding: size(19) size(13);
                        }

                    }

                    .acessibility {
                        display: flex;
                        flex-direction: column;
                        gap: size(5);
                        padding-bottom: size(32);

                        &__label {
                            font-weight: 700;
                            font-size: size(18);
                            line-height: size(25);
                        }

                        &__audio,
                        &__libras,
                        &__phone,
                        &__infos,
                        &__attendance {
                            align-items: center;
                            display: flex;
                            font-weight: 500;
                            font-size: size(16);
                            line-height: size(22);
                            color: var(--mc-low-700);
                            gap: 8px;

                            span {
                                text-transform: uppercase;
                            }

                        }

                    }

                    h3 {
                        font-weight: 700;
                        font-size: size(24);
                        line-height: size(28);
                        padding-bottom: size(16);
                    }

                    h2 {
                        font-weight: 700;
                        font-size: size(24);
                        line-height: size(28);
                    }

                    .property {
                        padding-top: size(176);
                    }

                }

                .divider {
                    background-color: var(--mc-black);
                    grid-column-end: 3;
                    grid-column-start: 1;
                    height: size(5);
                    width: 100%;

                    @media (max-width: size(800)) {
                        grid-column-end: 2;
                    }
                }
            }
        }
    }
}