<div>
    <font face="tahoma, sans-serif" color="#666666">Nova entidade criada na plataforma Mapas Culturais <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Criado(a) <b>{{entityType}}</b> de nome <b>{{entityName}}</b> na instalação <b>{{url}}</b> em <b>{{createTimestamp}}</b>.<br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Continue construindo e atualizando o seu mapa cultural.<br><br></font>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Spcultura – Mapas Culturais</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">São Paulo</font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="mailto:spcultura@prefeitura.sp.gov.br" target="_blank">spcultura@prefeitura.sp.gov.br</a>
        <br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="http://spcultura.prefeitura.sp.gov.br" target="_blank">http://spcultura.prefeitura.sp.gov.br</a><br>
    </font>
</div>
