<div>
    <font face="tahoma, sans-serif" color="#666666">Olá <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Entidade {{entityType}} <b>{{entityName}}</b>, seu selo certificador irá expirar em {{daysToExpire}}, acesse a página da entidade clicando <a href="{{url}}">aqui</a> e solicite a renovação do período de validade.<br><br></font>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Spcultura – Mapas Culturais</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">São Paulo</font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="mailto:spcultura@prefeitura.sp.gov.br" target="_blank">spcultura@prefeitura.sp.gov.br</a>
        <br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="http://spcultura.prefeitura.sp.gov.br" target="_blank">http://spcultura.prefeitura.sp.gov.br</a><br>
    </font>
</div>
