.mc-title {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    small {

        font-family: var(--mc-font-headings);
        font-style: var(--mc-font-regular);
        line-height: normal;
        margin: 0;

        @media (max-width: size(500)) {}
    }

    &__h1 {
        font-size: var(--mc-font-size-xl);

        &--long {
            font-size: var(--mc-font-size-md);
            line-height: size(28);
        }

        &--short {
            line-height: size(65.37);
        }

        @media (max-width: size(500)) {
            &--long {
                font-size: var(--mc-font-size-xs);
            }

            &--short {
                font-size: var(--mc-font-size-md);
            }
        }
    }


    &__h2 {
        font-size: var(--mc-font-size-lg);

        &--long {
            font-size: var(--mc-font-size-sm);
            line-height: size(24);
        }

        &--short {
            font-size: var(--mc-font-size-sm);
        }

        @media (max-width: size(500)) {
            &--long {
                font-size: var(--mc-font-size-xs);
                line-height: size(24);
            }

            &--short {
                font-size: var(--mc-font-size-sm);
            }
        }

    }

    &__h3 {
        font-size: var(--mc-font-size-md);


        &--long {
            font-size: var(--mc-font-size-sm);
        }


        &--short {
            font-size: var(--mc-font-size-md);

        }

        @media (max-width: size(500)) {
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;

            &--long {

                font-size: var(--mc-font-size-xs);
            }



            &--short {
                font-size: var(--mc-font-size-sm)
            }
        }
    }

    &__h4 {
        font-size: var(--mc-font-size-sm);

        &--long {
            font-size: var(--mc-font-size-xs)
        }


        &--short {
            font-size: var(--mc-font-size-sm);

        }

        @media (max-width: size(500)) {
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            line-height: normal;

            &--long {
                font-size: var(--mc-font-size-xs);

            }

            &--short {
                font-size: var(--mc-font-size-sm);

            }
        }
    }

    &__h5 {
        font-size: var(--mc-font-size-xxs);

        &--long {
            font-size: var(--mc-font-size-xxs);

        }

        &--short {
            font-size: var(--mc-font-size-xxs);

        }

        @media (max-width: size(500)) {
            &--long {
                font-size: var(--mc-font-size-xxxs);

            }

            &--short {
                font-size: var(--mc-font-size-xxs);

            }
        }
    }

    &__h6 {
        font-size: var(--mc-font-size-xxs);

        &--long {
            font-size: var(--mc-font-size-xxs);

        }

        &--medium {}

        &--short {
            font-size: var(--mc-font-size-xxs);

        }

        @media (max-width: size(500)) {
            &--long {
                font-size: var(--mc-font-size-xxxs);

            }

            &--medium {}

            &--short {
                font-size: var(--mc-font-size-xxs);

            }
        }
    }

    &__p {
        font-size: var(font-size-xs);
        line-height: size(22);

        &--long {
            font-size: var(font-size-xxs);

        }

        &--short {
            font-size: var(font-size-xs);

        }

        @media (max-width:size(500)) {
            &--long {
                font-size: var(font-size-xxs);
    
            }
    
            &--short {
                font-size: var(font-size-xs);
    
            }
        }
    }
}