@use '../0.settings/mixins' as *;

.mc-title {
    // size medium (utilizado no card)
    font-size: var(--mc-font-size-sm);

    &--long {
        font-size: size(20);
    }

    &--short {
        font-size: var(--mc-font-size-md);
    }

    @media (max-width: size(600)) {
        &--long {
            font-size: var(--mc-font-size-xs);
        }

        &--short {
            font-size: var(--mc-font-size-sm);
        }
    }

    &--small {
        font-size: var(--mc-font-size-xs);
    }

    &--small.mc-title--long {
        font-size: var(--mc-font-size-xxxs);
    }

    &--small.mc-title--short {
        font-size: var(--mc-font-size-md);
    }

    // size big (utilizada na single)
    &--big {
        font-size: var(--mc-font-size-lg);

        @media (max-width: size(600)) {
            font-size: var(--mc-font-size-md);
        }
    }

    &--big.mc-title--long {
        font-size: var(--mc-font-size-sm);

        @media (max-width: size(600)) {
            font-size: var(--mc-font-size-xs);
        }
    }

    &--big.mc-title--short {
        font-size: var(--mc-font-size-xl);

        @media (max-width: size(600)) {
            font-size: var(--mc-font-size-lg);
        }
    }

}