.mc-tag {
    align-items: center;
    background-color: var(--mc-500);
    border-radius: var(--mc-border-radius-pill);
    color: var(--mc-text);
    display: grid;
    font-size: size(13);
    grid-template-columns: 1fr;
    font-weight: $font-weight-semibold;
    gap: size(10);
    justify-content: space-between;
    line-height: size(13);
    min-height: size(33);
    padding: size(7) size(14);
    position: relative;
    text-align: center;
    word-break: break-word;

    &--editable {
        grid-template-columns: 1fr size(16);
    }
}
