//
// Mixins & Placeholders
// --------------------------------------------------


//== Row
//
//## mixin to add horizontal borders to elements

@mixin row($color, $position) {
	@if $position == top {
		margin-top: $line-height-base;
		padding-top: $line-height-base;
		border-top: 1px solid $color;
	}
	@else if $position == bottom {
		margin-bottom: $line-height-base;
		padding-bottom: $line-height-base;
		border-bottom: 1px solid $color;
	} 
}

//== Placeholders
//

//== Icons
//## Use it whenever you want to add these rules to an element that displays an icon 

%icon {
    font-family: 'ElegantIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
}