//
// Mixins & Placeholders
// --------------------------------------------------


//== Row
//
//## mixin to add horizontal borders to elements

@mixin row($color, $position) {
	@if $position == top {
		margin-top: $line-height-base;
		padding-top: $line-height-base;
		border-top: 1px solid $color;
	}
	@else if $position == bottom {
		margin-bottom: $line-height-base;
		padding-bottom: $line-height-base;
		border-bottom: 1px solid $color;
	}
}


//== Arrow
//
//## mixin to add arrows to elements

@mixin arrow($direction, $size, $color) {
    content: "";
    position: absolute;
    top: -$size;

    @if $direction == down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    }

    @else if $direction == left {
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        border-top: $size solid transparent;
    }

    @else if $direction == right {
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        border-top: $size solid transparent;
    }

    @else if $direction == up {
        border-bottom: $size solid $color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
    }
}


//== Placeholders
//

//== Icons
//## Use it whenever you want to add these rules to an element that displays an icon

%icon {
    display: inline-block;
    &:before {
        display: inline-block;
        font-family: $icon-font-family;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        vertical-align: top;
    }
    &:hover {
    	text-decoration: none;
    }
}