//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$gray-darker: #333 !default;
$gray-dark: #666 !default;
$gray: #ccc !default;
$gray-light: #e2e2e2 !default;
$gray-lighter: #eee !default;

$brand-primary: #1c5690 !default;
$brand-accent: #000000 !default;

$brand-event: #b3b921 !default;
$brand-agent: #1dabc6 !default;
$brand-space: #e83f96 !default;
$brand-project: #cc0033 !default;
$brand-seal: #cc0033 !default;
$brand-developer: #9966cc !default;

$brand-info: #40b4b4 !default;
$brand-warning: #cc9933 !default;
$brand-danger: #cc3333 !default;
$brand-success: #66cc66 !default;
$brand-default: $gray-light !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #ffffff !default;
//** Global text color on `<body>`.
$text-color:            $gray-darker !default;

//** Global textual link color.
$link-color:            $brand-accent !default;
//** Link hover color same as $link-color.
$link-hover-color:      $link-color !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
//** Load fonts from this directory.
$font-path:					'../fonts/' !default;
//** Font family name
$font-family-base:			'Open Sans' !default;
//** Font file names and svg ids
$font-regular-name:			'OpenSans-Regular-webfont' !default;
$font-regular-svg-id:		'open_sansregular' !default;
$font-italic-name:			'OpenSans-Italic-webfont' !default;
$font-italic-svg-id:		'open_sansitalic' !default;
$font-bold-name:			'OpenSans-Bold-webfont' !default;
$font-bold-svg-id:			'open_sansbold' !default;
$font-bolditalic-name:		'OpenSans-BoldItalic-webfont' !default;
$font-bolditalic-svg-id:	'open_sansbold_italic' !default;


//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-stack-monospace:   'Courier New', monospace !default;
//** Default font stack
$font-stack-base:        $font-family-base, Helvetica, Arial, sans-serif !default;

$font-size-base:          1rem !default; // 16px
$font-size-small:         .875rem !default; // 14px
$font-size-smaller:       .75rem !default; // 12px

$font-size-h1:            2.25rem !default; // 36px
$font-size-h2:            2rem !default; // 32px
$font-size-h3:            1.75rem !default; // 28px
$font-size-h4:            1.5rem !default; // 24px
$font-size-h5:            1.25rem !default; // 20px
$font-size-h6:            $font-size-base !default; // 16px

$line-height-base:        1.5rem !default; // 24px
$line-height-half:        $line-height-base/2 !default; // 12px

$line-height-h1:            3rem !default; // 48px
$line-height-h2:            3rem !default; // 48px
$line-height-h3:            2rem !default; // 32px
$line-height-h4:            $line-height-base !default; // 24px
$line-height-h5:            $line-height-base !default; // 24px
$line-height-h6:            $line-height-base !default; // 24px

//** Headings font family name
$headings-font-family:		'aleo' !default;
//** Headings font file name
$headings-font-name:		'aleo-regular-webfont' !default;
$headings-font-svg-id:		'aleoregular' !default;
//** Default headings font stack
$headings-font-stack:		$headings-font-family, serif !default;
$headings-font-weight:		normal !default;
$headings-color:			$brand-accent !default;


//== Iconography
//
//## Specify custom location and filename of the included ElegantIcons icon font.
//** Load fonts from this directory.
$icon-font-path:			$font-path !default;
//** Icon font family name
$icon-font-family:			'ElegantIcons' !default;
//** File name for all font files.
$icon-font-name:			'ElegantIcons' !default;
//** Element ID within SVG icon file.
$icon-font-svg-id:			'ElegantIcons' !default;


//** About icon
// used on .icon-about on _icons.scss file
$unicode-about:                 "\e060" !default;

//** Add icon
// used on .icon-add on _icons.scss
$unicode-add:                   "\4c"   !default;

//** Add button icon
// used on .add on _buttons.scss
$unicode-add-button:            "\e050" !default;

//** Agent icon
// used on:
// .icon-agent on _icons.scss file
// .btn-map-agent on _maps.scss file
$unicode-agent:                 "\e08a" !default;

//** Seal icon
// used on:
// .icon-seal on _icons.scss file
// .btn-map-seal on _maps.scss file
$unicode-seal:                 "\e078" !default;

//** API icon
// used on:
// .icon-api on _icons.scss file
$unicode-api:                   "\e102" !default;

//** Attachment icon
// used on .attachment-title on _registration-form.scss file
$unicode-attachment:            "\e016" !default;

//** Arrow icons
// used on .icon-arrow-left and .icon-arrow-right on _icons.scss file (Image Gallery)
$unicode-arrow-left:			"\34" !default;
$unicode-arrow-right:			"\35" !default;

//** Check icon
// used on:
// .check on _icons.scss file
// .filter-list li on _advanced-search.scss file
$unicode-check:                 "\4e"   !default;

//** Close icon
// used on:
// .close on _alerts.scss file
// .icon-close on _icons.scss file
// .tag-selected on _tags.scss file
$unicode-close:                 "\4d"   !default;

// used on .delete on _buttons.scss file
$unicode-delete:                "\e051"   !default;

//** Datepicker's arrows icons
// used on .ui-datepicker-prev and .ui-datepicker-next on _datepicker.scss file
$unicode-datepicker-arrow-left:     "\e045" !default;
$unicode-datepicker-arrow-right:    "\e046" !default;

//** Developers icon
// used on .icon-developers on _icons.scss
$unicode-developers:            "\e035" !default;

//** Download icon
// used on .download on _buttons and _icons.scss file
$unicode-download:              "\e092" !default;

//** Edit icon
// used on:
// .edit on _buttons.scss
// .edit-box on _edit_box.scss
// .editable on _editable.scss
$unicode-edit:                  "\6c"   !default;

//** Em cartaz icon
// used on .icon-em-cartaz on icons.scss
$unicode-em-cartaz:				"\e033" !default;

//** Error icon
// error icon
$unicode-error:                 "\e061" !default;

// alias for $unicode-error
// used on .danger on _alerts.scss file
$unicode-danger:                $unicode-error !default;

// alias for $unicode-error
// used on .warning on _alerts.scss file
$unicode-warning:               $unicode-error !default;

//** Event icon
// used on:
// .icon-event on _icons.scss file
// .btn-map-event on _maps.scss file
$unicode-event:                 "\e023" !default;

//** Go back icon
// used on .icon-go-back on _icons.scss file
$unicode-go-back:               "\23" !default;

//** Panel icon
// used on .icon-panel on _icons.scss file
$unicode-panel:                  "\e0f2" !default;

//** Panel icon
// used on .icon-home on _icons.scss file
$unicode-home:                  "\e074" !default;

//** How to use icon
// used on .icon-help on _icons.scss
$unicode-help:            "\e064" !default;

//** Info icon
// used on .icon-info on _alerts.scss file
$unicode-info:                  "\e007" !default;

//** Insert icon
// used on .insert class on _buttons.scss
$unicode-insert:                "\37"   !default;

//** Lock icon
// lock icons
$unicode-lock:                  "\e06c" !default;
$unicode-lock-open:             "\e000" !default;

// alias for $unicode-lock
// used on .icon-login on _icons.scss file
$unicode-login:                           $unicode-lock !default;

// alias for $unicode-lock
// used on .icon-private-info on _icons.scss file
$unicode-private-info:                    $unicode-lock !default;

// alias for $unicode-lock
// used on .icon-publication-status-locked on _icons.scss file
$unicode-space-publication-status-locked: $unicode-lock !default;

// alias for $unicode-lock-open
// used on .icon-publication-status-open on _icons.scss file
$unicode-space-publication-status-open:   $unicode-lock-open !default;

//** Notifications icon
// used on .icon-notifications on _icons.scss file
$unicode-notifications:               "\e065" !default;

//** Project icon
// used on .icon-project on _icons.scss file
$unicode-project:               "\68"   !default;

//** Radio icon
// used on .icon-radio-button on _forms.scss file
$unicode-radio-button:          "\5b"   !default;

// used on .icon-radio-button.selected on _forms.scss file
$unicode-radio-button-selected: "\5c"   !default;

//** Search icon
// used on .icon-search on _icons.scss
$unicode-search:                "\55"   !default;

//** Group icon
// used on .icon-group on _icons.scss
$unicode-group:                "\e08b"   !default;


$unicode-show-advanced-filters:          "\54"   !default;

//** Select arrow icon
// used on:
// .placeholder on _dropdown.scss file
// .select2-arrow on _editable.scss file
// .icon-select-arrow on _icons.scss file
$unicode-select-arrow:          "\33"   !default;

//** Up arrow icon
// used on:
// .icon-arrow-up on _icon.scss file
$unicode-arrow-up:				"\32"	!default;

//** Send icon
// used on .send on _buttons.scss
$unicode-send:                  "\e091" !default;

//** Show advanced search icon
// used on .icon-show-advanced-search on _icons.scss file
$unicode-show-advanced-search:  "\67"   !default;

//** Show map icon
// used on .icon-show-map on _icons.scss
$unicode-show-map:              "\e081" !default;

//** Show search on list icon
// used on .icon-show-search-on-list on _icons.scss file
$unicode-show-search-on-list:   "\e056" !default;

//** Show search on map icon
// used on .icon-show-search-on-map on _icons.scss file
$unicode-show-search-on-map:    "\e083" !default;

//** Space icon
// used on:
// .icon-space on _icons.scss file
// .btn-map-space on _maps.scss file
$unicode-space:                 "\e0ef" !default;

//** Sucess icon
// used on .icon-success on _alerts.scss file
$unicode-success:               "\e052" !default;

//** Social icons
// used on .icon-share on _icons.scss file
$unicode-share:                 "\e0a0" !default;
// used on .icon-twitter on _icons.scss file
$unicode-twitter:               "\e094" !default;
// used on .icon-facebook on _icons.scss file
$unicode-facebook:              "\e093" !default;
// used on .icon-googleplus on _icons.scss file
$unicode-googleplus:            "\e096" !default;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 16px text and 1.5 line-height (24px).

$padding-base:     $line-height-base/2 !default; // 12px

$padding-large:    $line-height-base !default; // 24px

$padding-small:    $line-height-base/3 !default; // 8px

$border-radius-base: 2px !default;

//** Width of the `border` for generating arrows.
$caret-width-base:          8px !default;

//** Border styles to create dividing rows.
$thin-row: 1px solid $gray-lighter !default;

//== Tables
//
//## Customizes the `table` element with basic values, each used across all table variations.

//** Table caption
$table-caption-color: #fff !default;
$table-caption-bg: $brand-primary !default;


//== Buttons
//
//## For each of Mapas Culturais's buttons, define text, background and border color.

$btn-font-weight:                bold !default;

$btn-default-color:              $gray-dark !default;
$btn-default-bg:                 $gray-light !default;
$btn-default-border:             darken($gray, 10%) !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 10%) !default;

$btn-accent-color:               #fff !default;
$btn-accent-bg:                  $brand-accent !default;
$btn-accent-border:              darken($btn-accent-bg, 10%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-verified-color:             #000 !default;
$btn-verified-bg:                #fff !default;
$btn-verified-border:            transparent !default;


//== Forms
//
//##form-fields

//** <input> <textarea> <button> <select>
$form-fields-bg:                       #fff !default;
$form-fields-bg-disabled:              $gray-lighter !default;
$form-fields-color:                    $gray-dark !default;
$form-fields-border:                   $gray !default;
$form-fields-border-radius:            $border-radius-base !default;
$form-fields-border-focus:             $gray-darker !default;
$form-fields-color-placeholder:        $gray !default;
$form-fields-color-placeholder:        $gray !default;
$form-fields-font:                     $font-stack-base !default;
$form-fields-font-size:                $font-size-smaller !default;
$form-fields-height:                   2rem !default;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//

$z-index-descricao-do-agente:    800 !default;
$z-index-descricao-do-selo:		  1000 !default;
$z-index-descricao-do-saas:    15000 !default;
$z-index-home-watermark:         900 !default;
$z-index-nav-title:             1000 !default;
$z-index-home-nav:              1200 !default;
$z-index-leaflet:               1300 !default;
$z-index-editable-entity:       1400 !default;
$z-index-infobox:               15000 !default;
$z-index-main-header:           1700 !default;
$z-index-submenu-dropdown:      1800 !default;
$z-index-tip:                   1900 !default;
$z-index-busca:                 9999 !default;
$z-index-map-label:          2000000 !default;

//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding-vertical:      .25rem !default;
$alert-padding-horizontal:    .75rem !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-success-bg:            #cfc !default;
$alert-success-text:          $brand-success !default;
$alert-success-border:        darken(#cfc, 10%) !default;

$alert-info-bg:               #cff !default;
$alert-info-text:             $brand-info !default;
$alert-info-border:           darken(#cff, 10%) !default;

$alert-warning-bg:            #ffc !default;
$alert-warning-text:          $brand-warning !default;
$alert-warning-border:        darken(#ffc, 10%) !default;

$alert-danger-bg:             #fcc !default;
$alert-danger-text:           $brand-danger !default;
$alert-danger-border:         darken(#fcc, 10%) !default;


//== Registration Form
//
//## Define registration form header colors.

$registration-header-bg:      $brand-project !default;
$registration-header-color:	  #fff !default;


//== Editable Entity Bar
//
//## Define editable entity bar colors.

$small-brand-color:              $brand-primary;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / portrait phone
$screen-xxs:                 320px !default;
$screen-xxs-min:             $screen-xxs !default;
$screen-small-phone:         $screen-xxs-min !default;

// Small screen / landscape phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Box shadows
//
//## Define box-shadows.
$box-shadow-header:			0 2px 2px 0 rgba(0,0,0,.15) !default;
$box-shadow-map:			0 2px 6px rgba(0,0,0,.5) !default;
$box-shadow-dropdown:		0 2px 4px rgba(0,0,0,.3) !default;
$box-shadow-button:			0 1px 2px 0 rgba(0,0,0, .25) !default;
$box-shadow-modal:			0 3px 10px 0 rgba(0,0,0,.3) !default;
$box-shadow-image:			0 2px 2px 2px rgba(0,0,0,.25) !default;

//== User submenu
//
//## Define user submenu colors.

$user-submenu-divider:			#fff !default;
$user-submenu-link:				lighten($brand-primary, 50%) !default;
$user-submenu-link-hover:		#fff !default;
$user-submenu-bg:				$brand-primary !default;
