//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$gray-darker: #333;
$gray-dark: #666;
$gray: #ccc;
$gray-light: #e2e2e2;
$gray-lighter: #eee;

$brand-primary: #E81F26;
$brand-accent: #004279;

$brand-event: #0073CF;
$brand-agent: #84C121;
$brand-space: #2C9CD3;
$brand-project: #00C4DF;

$brand-info: #40b4b4;
$brand-warning: #cc9933;
$brand-danger: #cc3333;
$brand-success: #66cc66;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #ffffff;
//** Global text color on `<body>`.
$text-color:            $gray-darker;

//** Global textual link color.
$link-color:            $brand-accent;
//** Link hover color set via `darken()` function.
$link-hover-color:      $link-color;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
//** Load fonts from this directory.
$font-path:          "../fonts/";
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   'Courier New', monospace;
$font-family-base:        'Open Sans', Helvetica, Arial, sans-serif;

$font-size-base:          1rem; // 16px
$font-size-small:         .875rem; // 14px
$font-size-smaller:       .75rem; // 12px

$font-size-h1:            2.25rem; // 36px
$font-size-h2:            2rem; // 32px
$font-size-h3:            1.75rem; // 28px
$font-size-h4:            1.5rem; // 24px
$font-size-h5:            1.25rem; // 20px
$font-size-h6:            $font-size-base; // 16px

$line-height-base:        1.5rem; // 24px
$line-height-half:        $line-height-base/2; // 12px

$line-height-h1:            3rem; // 48px
$line-height-h2:            3rem; // 48px
$line-height-h3:            2rem; // 32px
$line-height-h4:            $line-height-base; // 24px
$line-height-h5:            $line-height-base; // 24px
$line-height-h6:            $line-height-base; // 24px

$headings-font-family:    'aleo', serif;
$headings-font-weight:    normal;
$headings-color:          $brand-accent;


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Mapas Culturais via Bower.

//** Load fonts from this directory.
$icon-font-path:          $font-path;
//** File name for all font files.
$icon-font-name:          "ElegantIcons";
//** Element ID within SVG icon file.
$icon-font-svg-id:        "ElegantIcons";



//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base:     $line-height-base/2; // 12px

$padding-large:    $line-height-base; // 24px

$padding-small:    $line-height-base/3; // 8px

$border-radius-base: 2px;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary;

//** Width of the `border` for generating arrows.
$caret-width-base:          8px;

//** Border styles to create dividing rows.
$thin-row: 1px solid $gray-lighter;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            $padding-small;

//** Default background color used for all tables.
$table-bg:                      transparent;

//** Border color for table and cell borders.
$table-border-color:            $gray;


//== Buttons
//
//## For each of Mapas Culturais's buttons, define text, background and border color.

$btn-font-weight:                bold;

$btn-default-color:              $gray-dark;
$btn-default-bg:                 #d8d8d8;
$btn-default-border:             #c4c4c4;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                darken($btn-info-bg, 5%);

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             darken($btn-warning-bg, 5%);

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              darken($btn-danger-bg, 5%);

$btn-link-disabled-color:        $gray;


//== Forms
//
//##form-fields

//** <input> <textarea> <button> <select>
$form-fields-bg:                       #fff;
$form-fields-bg-disabled:              $gray-lighter;
$form-fields-color:                    $gray-dark;
$form-fields-border:                   $gray;
$form-fields-border-radius:            $border-radius-base;
$form-fields-border-focus:             $gray-darker;
$form-fields-color-placeholder:        $gray;
$form-fields-color-placeholder:        $gray;
$form-fields-font:                     $font-family-base;
$form-fields-font-size:                $font-size-smaller;
$form-fields-height:                   2rem;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            1000;
$zindex-dropdown:          1000;
$zindex-popover:           1060;
$zindex-tooltip:           1070;
$zindex-navbar-fixed:      1030;
$zindex-modal-background:  1040;
$zindex-modal:             1050;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding-vertical:      .25rem;
$alert-padding-horizontal:    .75rem;
$alert-border-radius:         $border-radius-base;
$alert-link-font-weight:      bold;

$alert-success-bg:            #cfc;
$alert-success-text:          $brand-success;
$alert-success-border:        darken(#cfc, 10%);

$alert-info-bg:               #cff;
$alert-info-text:             $brand-info;
$alert-info-border:           darken(#cff, 10%);

$alert-warning-bg:            #ffc;
$alert-warning-text:          $brand-warning;
$alert-warning-border:        darken(#ffc, 10%);

$alert-danger-bg:             #fcc;
$alert-danger-text:           $brand-danger;
$alert-danger-border:         darken(#fcc, 10%);


