.breadcrumb {
    list-style-type: none;
    font-size: .8rem;
    overflow: hidden;
    width: 100%;
    margin: 0;
    background-color: #FFF;
    border-color: #bbb -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 0px 0;
    background-color: #F4F4F4;

    li {
        display: inline-block;
        margin-right: -6px;
        display: inline-block;
        font-weight: 100;

        &.active a {
            font-weight: bold;
            color: #777;
        }

        &:first-child {
            border-left: 1px solid #BBB;

            a {
                padding-left: 15px;
                padding-right: 20px;

                &:before {
                    content: none;
                }
            }
        }

        a {
            color: #999;
            text-decoration: none;
            padding: .6rem;
            margin-left: 5px;

            &:after {
                border-bottom: 13px solid transparent;
                border-left: 8px solid #F4F4F4;
                border-top: 13px solid transparent;
                content: " ";
                display: block;
                height: 0;
                margin-left: 1px;
                margin-top: -24px;
                position: absolute;
                width: 0;
                z-index: 2;
            }

            &:before {
                border-bottom: 14px solid transparent;
                border-left: 8px solid #BBB;
                border-top: 14px solid transparent;
                content: " ";
                display: block;
                height: 0;
                margin-left: 1px;
                margin-top: 0.25px;
                position: absolute;
                width: 0;
                z-index: 1;
            }
        }
    }
}
