.compliant-suggestion-box {
    float: right;
}

.button-form-compliant-suggestion {
    border: 1px solid #143d65;
    cursor: pointer;
    color: white;
}

.form-complaint-suggestion {
  background: #f8f8f8;
  padding-left: 18px;
  padding-top: 32px;
  border-left: 3px solid  #143d65;

}

.input-name {
    width: 350px;
}

.input-email {
    width: 350px;
}
