#editable-entity {
    position: fixed;
    z-index: $z-index-editable-entity;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    min-height: 42px;
    padding: .25rem 130px;
    border-left: 8px solid $brand-primary;
    background: $gray-light;
    text-align: center;
}
#editable-entity.editable-entity-edit {
    padding: .25rem 245px;
}
#editable-entity.can-edit-roles {
    padding: .25rem 380px;
}
#editable-entity .alert {
    display: none;
    margin-bottom: 0;
    padding: .25rem $padding-base;
}
#editable-entity .controles {
    position: absolute;
    top: .25rem;
    right: .75rem;
    width: 370px;
    text-align: right;
}
#small-brand {
    position: absolute;
    left: .75rem;
    font-size: 20px;
    line-height: 2rem;
    a {
        color: $small-brand-color;
    }
}
#funcao-do-agente {
    width: 135px;
    background: #fff;
    text-align: left;
}
#funcao-do-agente .submenu-dropdown {
    background: #fff;
}
#funcao-do-agente .submenu-dropdown:before {
    color: #fff;
}
#funcao-do-agente .submenu-dropdown li:hover {
    background: $gray-lighter;
    color: $brand-accent;
}
