.ficha-spcultura {
    margin-bottom: $line-height-base;
    padding: $padding-base;
    background: #f8f8f8;
    border-radius: $border-radius-base;
    font-size: $font-size-small;
    color: #888;
    @media screen and (min-width: $screen-tablet) {
        padding: $padding-large;
    }
}
.servico {
    margin-bottom: $line-height-base;
    padding-top: $padding-large;
    border-top: 1px solid #ddd;
}
.servico > p,
.infos p {
    margin-bottom: 0;
    font-size: $font-size-smaller;
    color: #888;
}
.mapa {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 408px;
    margin-bottom: $line-height-base;
}