.main-content-header {
    margin-bottom: 2rem;
    position: relative;
    @media screen and (min-width: $screen-tablet) {
        margin-bottom: 4rem;
    }
    h2 {
        font-size: $font-size-h4;
        line-height: $line-height-h4;
        margin-top: $padding-base;
        @media screen and (min-width: $screen-tablet) {
            font-size: $font-size-h2;
            line-height: $line-height-h2;
            margin-top: 0;
        }
    }
    @media print {
        margin-bottom: $line-height-base;
    }
}

.header-image {
    position: relative;
    height: 12rem;
    margin-top: -$padding-base;
    margin-right: -$padding-base;
    margin-bottom: -3.75rem;
    margin-left: -$padding-base;
    background-image: url(../img/fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    >.btn {
        position: absolute;
        bottom: $line-height-base;
        right: $line-height-base;
    }
    @media print, screen and (min-width: $screen-tablet) {
        margin: -2rem -2rem 2rem;
    }
    @media screen and (min-width: $screen-lg-desktop) {
        margin: -4rem -4rem 4rem;
    }
}
article.agent {
    .header-image {
        background-color: $brand-agent;
    }
}
article.space {
    .header-image {
        background-color: $brand-space;
    }
}
article.event {
    .header-image {
        background-color: $brand-event;
    }
}
article.project, article.registration {
    .header-image {
        background-color: $brand-project;
    }
}
article.seal {
    .header-image {
        background-color: $brand-seal;
    }
}

.header-content {
    position: relative;
    margin-top: 3.75rem;
    padding-top: 3.75rem;
    text-align: center;
    .avatar {
        position: absolute;
        left: 50%;
        top: -3rem;
        margin-left: -3rem;
        width: 6rem;
        height: 6rem;
        >.btn {
            position: absolute;
            right: $line-height-half;
            bottom: $line-height-half;
        }
        .verified-seal {
            position: absolute;
            bottom: .25rem;
            right: .25rem;
            width: 2rem;
            height: 2rem;
            background-size: contain;
            background-position: top;
            background-image: url(../img/verified-seal-small.png);
        }
    }
    .entity-type {
        .icon {
            vertical-align: baseline;
        }
        a {
            font-size: $font-size-smaller;
            text-transform: uppercase;
            color: inherit;
        }
    }
    .project-type, .registration-type {
        color: $brand-project;
    }
    .agent-type {
        color: $brand-agent;
    }
    .event-type {
        color: $brand-event;
    }
    .space-type {
        color: $brand-space;
    }
    .seal-type {
        color: $brand-seal;
    }


    > h2 {
        margin-bottom: 0;
    }
    .event-subtitle, .entity-parent-title, .registration-title {
        font-weight: 100;
        margin-bottom: 0;
        > a {
            font-weight: 100;
        }
    }
    .entity-parent-title {
        &:after {
            content: ' »';
        }
    }
    @media print, screen and (min-width: $screen-tablet) {
        margin-top: 0;
        padding-top: 0;
        padding-left: 10.5rem;
        min-height: 9rem;
        text-align: left;
        .avatar {
            left: 0;
            top: 0;
            width: 9rem;
            height: 9rem;
            margin: 0;
            .verified-seal {
                display: none;
            }
        }
    }
}
