.main-content-header {
    margin-bottom: 2rem;
    @media screen and (min-width: $screen-tablet) {
        margin-bottom: 4rem;
    }
    h2 {
        font-size: $font-size-h4;
        line-height: $line-height-h4;
        margin-top: $padding-base;
        @media screen and (min-width: $screen-tablet) {
            font-size: $font-size-h2;
            line-height: $line-height-h2;
            margin-top: 0;
        }
    }
    @media print {
        margin-bottom: $line-height-base;
    }
}
.imagem-do-header {
    position: relative;
    height: 12rem;
    margin: -$padding-base;
    background-color: $gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: $screen-tablet) {
        margin: -2rem -2rem 2rem;
    }
    @media screen and (min-width: $screen-lg-desktop) {
        margin: -4rem -4rem 4rem;
    }
}
.imagem-do-header .btn {
    position: absolute;
    bottom: $line-height-base;
    right: $line-height-base;
}
.com-imagem .btn {
    display: none;
}
.com-imagem:hover .btn {
    display: block;
}
.content-do-header {
    position: relative;
    margin-top: 5rem;
    text-align: center;
    @media screen and (min-width: $screen-tablet) {
        margin-top: 0;
        padding-left: 10.5rem;
        min-height: 9rem;
        text-align: left;
    }
    .avatar {
        position: absolute;
        left: 50%;
        top: -8rem;
        margin-left: -3rem;
        width: 6rem;
        height: 6rem;
        @media screen and (min-width: $screen-tablet) {
            left: 0;
            top: 0;
            width: 9rem;
            height: 9rem;
            margin: 0;
        }
        .btn {
            position: absolute;
            right: $line-height-half;
            bottom: $line-height-half;
        }
    }
    .entity-type {
        .icone {
            vertical-align: baseline;
        }
        a {
            font-size: $font-size-smaller;
            text-transform: uppercase;
            color: inherit;
        }
    }
    .project-type, .registration-type {
        color: $brand-project;
    }
    .agent-type {
        color: $brand-agent;
    }
    .event-type {
        color: $brand-event;
    }
    .space-type {
        color: $brand-space;
    }

    > h2 {
        margin-bottom: 0;
    }
    .event-subtitle, .entity-parent-title, .registration-title {
        font-weight: 100;
        margin-bottom: 0;
        > a {
            font-weight: 100;
        }
    }
    .entity-parent-title {
        &:after {
            content: ' »';
        }
    }
    @media print {
        min-height: 0;
        padding-left: 0;
        .avatar {
            display: none;
        }
        > h2 {
            font-size: 1.5rem;
            line-height: 1;
            margin-bottom: #line-height-half;
        }

    }
}
