.regra {
    margin-bottom: $line-height-base;
}
.regra header {
    margin-bottom: $line-height-half;
    padding: 0 $padding-small;
    background: $gray-lighter;
    border-radius: $border-radius-base;
}
.regra:last-child {
    margin-bottom: 0;
}
.regra h3 {
    margin-bottom: 0;
    font-size: $font-size-base;
}
.ocorrencia .mapa,
.ocultar-mapa {
    display: none;
}
.toggle-mapa {
    float: right;
    font-size: $font-size-smaller;
    color: $gray-dark;
    line-height: 2rem;
}
.toggle-mapa:hover {
    color: $gray-darker;
    text-decoration: none;
}