/* =Footer
-------------------------------------------------------------- */
#main-footer {
    position: relative;
    z-index: $z-index-home-nav;
    padding: $padding-large;
    background: $brand-accent;
    color: #fff;
    a {
        color: #fff;
    }
    ul {
        margin: 0;
        list-style: none;
        li {
            display: inline-block;
            margin-right: 10px;
            a {
                font-weight: normal;
            }
        }
    }
    @media print {
        display: none;
    }
}
