//
// Main Header
// --------------------------------------------------


#main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-index-main-header;
    background: #fff;
    h1 {
        margin-bottom: 0;
        img {
            display: block;
        }
    }
    @media screen and (min-width: $screen-tablet) {
        border-top: 6px solid $brand-accent;
    }
    @media print {
        position: relative;
        border-top: none;
    }

    @media screen and(min-width: $screen-md) and (max-width: 1104px) {
        #about-nav {
            padding: 20px 10px;
        }
        #brand-logo { padding-right: 0; }
        #main-nav {
            .entities-menu {
                li {
                    width: 6.25rem;
                    a {
                        font-size: 0.7rem;
                    }
                }
            }
            .session-menu {
                li {
                    &.notifications { width: 5.8rem; }
                    a {
                        font-size: 0.7rem;
                    }
                }

            }
        }
    }
}


//** This is a div inserted via js when in search pages.
//** It envolves all elements with the selectors below.
#header-nav-row {
    position: relative;
}


//== Branding
//
//## Site brand and Institution logo.

//** Brand logo.
#brand-logo {
    float: left;
    padding: .25rem;
    font-size: 1rem;
    line-height: 1.875rem;
    a {
        color: $brand-primary;
        &:hover {
            text-decoration: none;
        }
    }
    img {
        width: 70px;
        @media screen and (min-width: $screen-tablet) {
            width: 138px;
        }
    }
    @media screen and (min-width: $screen-tablet) {
        padding: .375rem $padding-base;
        line-height: 3.75rem;
    }
    @media screen and (min-width: $screen-desktop) {
        font-size: 1.25rem;
        padding: .375rem $padding-large;
    }
    @media screen and (min-width: $screen-lg-desktop) {
        font-size: 1.5rem; //24px
    }
}
//** About Nav.
#about-nav {
    float: left;
    padding: .25rem;
    @media screen and (min-width: $screen-tablet) {
        float: right;
        padding: $padding-base;
    }
    @media print, screen and (min-width: $screen-desktop) {
        padding: $padding-base $padding-large;
    }
}
#organization-logo {
    float: left;
    img {
        width: 56px;
        @media screen and (min-width: $screen-tablet) {
            width: 90px;
            margin: 0 auto;
        }
    }
}
#secondary-menu {
    display: none;
    float: left;
    margin: 0;
    list-style: none;
    @media screen and (min-width: $screen-tablet) {
        display: block;
    }
    li {
        float: left;
        margin-left: $padding-base;
        a {
            font-weight: normal;
            color: $gray;
            &:hover {
                color: #000;
            }
        }
    }
        @media print {
        display: none;
    }
}
body.action-search {
    @media screen and (max-width: $screen-xs-max) {
        #main-header {
            border-top: none;
        }
        #brand-logo, #about-nav {
            display: none;
        }
    }
}


//== Main Nav
//
//## Main nav includes entities menu and session menu.


#main-nav {
    clear: both;
    @media screen and (min-width: $screen-tablet) {
        clear: none;
        float: right;
    }
}


//** Both entities and session menus share common styles under the class '.menu'.
.menu {
    position: relative;
    margin: 0;
    @media screen and (min-width: $screen-tablet) {
        margin: -6px 0 0;
    }
    > li {
        position: relative;
        list-style-type: none;
        float: left;
        box-sizing: border-box;
        padding: .25rem;
        border-top: 3px solid $brand-accent;
                box-shadow: 1px 0 0 0 $gray-lighter inset;
        -webkit-box-shadow: 1px 0 0 0 $gray-lighter inset;
        > a {
            display: block;
            vertical-align: middle;
            font-size: $font-size-smaller;
            line-height: 1.25rem/*20px*/;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
        div.icon {
            width: $line-height-base;;
            height: $line-height-base;;
            margin: 0 auto .25rem;
            font-size: $font-size-base;
            line-height: $line-height-base;
            border-radius: $border-radius-base;
        }
        .menu-item-label {
            display: none;
            @media screen and (min-width: $screen-tablet) {
                display: block;
            }
        }
        @media screen and (min-width: $screen-tablet) {
            border-top-width: 6px;
            padding: $padding-base;
        }
        &:first-child {
                    box-shadow: none;
            -webkit-box-shadow: none;
        }
        &:hover {
            border-top-color: $brand-primary;
            > a {
                color: $brand-primary;
            }
        }
    }
    @media print {
        display: none;
    }
}

//background images
.display-background-button {
    
    position: absolute;
    bottom: 1.5rem;
    right: 6.5rem;

    @media screen and (max-width: $screen-tablet) {
        bottom:inherit;
        top:$line-height-base;
    }
}

.hide-background-button{
    display: none !important;
}

//** Entities Menu
.entities-menu {
    @media screen and (min-width: $screen-tablet) {
        float: left;
        border-left: 1px solid $brand-accent;
    }
    li {
        -webkit-transition: all .3s;
                transition: all .3s;
        @media screen and (max-width: $screen-tablet) {
            width: 20%;
        }
        @media screen and (min-width: $screen-desktop) {
            width: 7.1rem;
        }
        &.active:after {
            bottom: 0;
            left: 50%;
            margin-left: -$caret-width-base;
        }
    }
}
//** Events
#entities-menu-event {
    &.active, &:hover, &.current-entity-parent {
        border-top-color: $brand-event;
        color: $brand-event;
        a {
            color: $brand-event;
        }
    }
    &.active {
        &:after {
            @include arrow(up, $caret-width-base, $brand-event);
        }
    }
}
//** Agents
#entities-menu-agent {
    &.active, &:hover, &.current-entity-parent {
        border-top-color: $brand-agent;
        color: $brand-event;
        a {
            color: $brand-agent;
        }
    }
    &.active {
        &:after {
            @include arrow(up, $caret-width-base, $brand-agent);
        }
    }
}
//** Spaces
#entities-menu-space {
    &.active, &:hover, &.current-entity-parent {
        border-top-color: $brand-space;
        color: $brand-space;
        a {
            color: $brand-space;
        }
    }
    &.active {
        &:after {
            @include arrow(up, $caret-width-base, $brand-space);
        }
    }
}
//** Projects
#entities-menu-project {
    &.active, &:hover, &.current-entity-parent {
        border-top-color: $brand-project;
        color: $brand-project;
        a {
            color: $brand-project;
        }
    }
    &.active {
        &:after {
            @include arrow(up, $caret-width-base, $brand-project);
        }
    }
}
//** Opportunity
#entities-menu-opportunity {
    &.active, &:hover, &.current-entity-parent {
        border-top-color: $brand-opportunity;
        color: $brand-opportunity;
        a {
            color: $brand-opportunity;
        }
    }
    &.active {
        &:after {
            @include arrow(up, $caret-width-base, $brand-opportunity);
        }
    }
}

//** Subsite
#entities-menu-subsite {
    &.active, &:hover {
        border-top-color: $brand-subsite;
        color: $brand-subsite;
        a {
            color: $brand-subsite;
        }
    }
    &.active {
        &:after {
            @include arrow(up, $caret-width-base, $brand-subsite)
        }
    }
}
//** Seals
#entities-menu-seal {
    &.active, &:hover, &.current-entity-parent {
        border-top-color: $brand-seal;
        color: $brand-seal;
        a {
            color: $brand-seal;
        }
    }
    .active {
        &:after {
            @include arrow(up, $caret-width-base, $brand-seal);
        }
    }
}
//** Session Menu
.session-menu {
    @media screen and (max-width: $screen-xs-max) {
        position: absolute;
        top: 0;
        right: $padding-small;
        > li {
            border-top: none;
        }
    }

    @media screen and (min-width: $screen-tablet) {
        display: block;
        float: left;
        border-right: 1px solid $brand-accent;
        border-left: 1px solid $brand-accent;
    }
}

//** When on search pages on small screen, session menu isn't shown.
@media screen and (max-width: $screen-xs-max) {
    body.action-search {
        .session-menu {
            display: none;
        }
    }
}
.login {
    @media screen and (max-width: $screen-tablet) {
        width: auto;
        &:hover {
            border-top: none;
        }
    }
    @media screen and (min-width: $screen-tablet) {
        width: 6.5rem;
    }
}
//** Session user and notifications submenus share common styles under the class '.submenu'.
.submenu {
    position: absolute;
    box-sizing: border-box;
    z-index: $z-index-main-header+1;
    top: 100%;
    margin: 0;
    padding: $padding-base;
    list-style: none;
    font-size: .8rem;
    line-height: 1rem;
    background: $gray-light;
    box-shadow: $box-shadow-dropdown;
    border-radius: $border-radius-base;
    li {
        float: none;
        position: relative;
        line-height: $line-height-base;
    }
    @media screen and (min-width: $screen-tablet) {
        margin: -$caret-width-base 0 0;
        left: 50%;
    }
}
//** User
.user {
    width: auto;
    .avatar {
        float: none;
        width: 1.875rem;
        height: 1.875rem;
        margin: 0;
        @media screen and (min-width: $screen-tablet) {
            width: 2rem;
            height: 2rem;
            margin: .5rem 0;
        }
        @media screen and (min-width: $screen-desktop) {
            margin: .5rem;
        }
    }
    .submenu {
        right: 0;
        width: 11.5rem;
        background: $user-submenu-bg;
        li {
            position: relative;
            padding-right: 2rem;
            &.row {
                margin: .5rem;
                border-top: 1px solid $user-submenu-divider;
            }
        }
        a {
            display: block;
            vertical-align: middle;
            color: $user-submenu-link;
            padding: $padding-small;
            font-weight: normal;
            &:hover {
                color: $user-submenu-link-hover;
                text-decoration: none;
            }
        }
        .add {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
        }
        &:before {
            @include arrow(up, $caret-width-base, $brand-primary);
            right: 0.6875rem; //11px
        }
        @media screen and (min-width: $screen-tablet) {
            margin-left: -5.75rem; //half its width
            &:before {
                right: auto;
                left: 50%;
                margin-left: -$caret-width-base;
            }
            .add {
                display: block;
            }
        }
    }
}
//**Notifications
.notifications {
    @media screen and (min-width: $screen-tablet) {
        width: 6.5rem;
    }
    .submenu {
        right: -2.875rem;
        width: 20rem;
        background: $gray-light;
        .slimScrollDiv {
            margin-bottom: $line-height-half;
        }
        .check_alt {
            float: right;
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
            padding: 0;
            font-size: 1.25rem;
            vertical-align: middle;
            color: #999;
        }
        .check_alt:hover {
            color: $brand-primary;
        }
        &:before {
            @include arrow(up, $caret-width-base, $gray-light);
            right: 3.375rem;
        }
        ul {
            overflow: hidden;
            width: 100%;
            height: 316px;
            margin: 0 1rem 0 0;
        }
        .notification {
            margin-bottom: $line-height-half;
            padding: $padding-small;
            background: #f5f5f5;
            border-left: 5px solid #999;
            border-radius: 0 $border-radius-base $border-radius-base 0;
            &:hover,
            &.read {
                border-left: 5px solid $brand-primary;
                background: #fff;
            }
        }
        @media screen and (min-width: $screen-tablet) {
            right: auto;
            margin-left: -10rem; // half its width
            &:before {
                right: auto;
                left: 50%;
                margin-left: -$caret-width-base;
            }
        }
    }
}
