.main-content {
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 2px 2px;
    padding: 2rem;
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        float: left;
        width: 75%;
        margin-bottom: 4rem;
    }
    @media screen and (min-width: $screen-md-min) {
        display: inline-block;
        padding: 4rem;
        width: 60%;
    }
    @media print {
    	width: 100%;
    	padding: $padding-large;
    }
}
