.main-content {
    float: left;
    width: 60%;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 4rem;
    padding: 4rem;
    background: #fff;
    border-radius: 0 0 2px 2px;
    @media print {
    	width: 100%;
    	padding: $padding-large;
    }
}