.main-content {
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 2px 2px;
    padding: $padding-base;
    @media screen and (min-width: $screen-sm-min) {
        float: left;
        width: 75%;
        margin-bottom: 4rem;
        padding: $padding-large;
    }
    @media screen and (min-width: $screen-md-min) {
        width: 60%;
    }
}
