/* = Main section
-------------------------------------------------------------- */
#main-section {
    position: relative;
    margin-top: 78px;
    background: $gray-lighter;
}
body.editable #main-section {
    margin-top: 136px;
}