/* =Mapa
-------------------------------------------------------------- */
#mapa {
    display: block;
    position: fixed;
    z-index: 0;
    top: 96px;
    bottom: 0;
    left: 0; /*348px qdo abre a infobox*/
    right: 0;
}
#infobox {
    position: absolute;
    z-index: $z-index-infobox;
    top: 105px;
    left: 0;
    bottom: 0;
    width: 400px;
    overflow: auto;
    padding: 2rem .75rem .75rem;
    border-radius: 0;
    background: #fff;
}
#infobox .icon_close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}
#infobox .espaco-dos-eventos {
    background: $gray-light;
    border-radius: $border-radius-base;
    padding: $padding-small;
    font-size: $font-size-smaller;
}
#infobox .espaco-dos-eventos .icone {
    margin: -3px 5px 0 0;
}
.animate-show,
.animate-hide {
    -webkit-transition: all linear 1s;
            transition: all linear 1s;
}

/*filtro local*/
#filtro-local {
    height: 1.875rem;
    @media screen and (min-width: $screen-desktop){
        position: absolute;
        z-index: $z-index-editable-entity;
        left: 0;
    }
}
#filtro-local label {
    display: none;
}
#filtro-local input[type='text'] {
    width: 259px;
    margin-right: 6px;
    margin-bottom: 0;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    border: none;
    @media screen and (min-width: $screen-phone) {
        width: 350px;
    }
    @media screen and (min-width: $screen-tablet) {
        width: 350px;
    }
}
#filtro-local input[type='text']:focus {
    border: 1px solid $brand-accent;
}
#form-local {
    display: inline-block;
    vertical-align: top;
}
.botoes-do-mapa {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: $border-radius-base;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    background-color: $brand-accent;
    color: #fff;
    text-align: center;
}
#proximo-a-mim {
    background: $brand-accent url(../img/icon-localizacao.png) center no-repeat;
}
#proximo-a-mim:hover {
    background-color: $brand-primary;
}
.botoes-do-mapa.active {
    background-color: $brand-primary;
}