//
// Control panel
// --------------------------------------------------

//** These classes are also used on pages

.panel-main-content {
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 $border-radius-base $border-radius-base;
    padding: $padding-base;
    @media screen and (min-width: $screen-tablet) {
        float: left;
        padding: 2rem;
        margin-bottom: 4rem;
        width: 75%;
    }
    @media screen and (min-width: $screen-lg-desktop) {
        width: 60%;
        padding: 4rem;
    }
    @media print {
    	width: 100%;
    	padding: $padding-large;
    }
}
.panel-header {
    h2 {
        font-size: 1.5rem;
        line-height: 1;
        text-align: center;
        @media screen and (min-width: $screen-tablet) {
            float: left;
            text-align: left;
        }
    }
    .btn {
        display: none;
        float: right;
        margin: .5rem 0;
        @media screen and (min-width: $screen-tablet) {
            display: inline-block;
        }
    }
}
.panel-list .objeto h1 .icon {
    width: $line-height-base;;
    height: $line-height-base;;
    margin-right: 0;
    background: #fff;
    border-radius: $border-radius-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: #999;
    border: 1px solid #ddd;
    text-align: center;
    &:hover {
        color: $brand-accent;
    }
    &.active, &.active:hover {
        color: #fff;
        background: $brand-accent;
        border: 1px solid $brand-accent;
    }

}
.panel-list .objeto-meta {
    margin-bottom: $line-height-half;
    padding-top: 0;
    border-top: 0;
    div {
             box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-right: 5px;
        @media screen and (min-width: $screen-tablet) {
            display: inline-block;
        }
    }
}
.entity-actions {
    display: none;
    @media screen and (min-width: $screen-tablet) {
        display: block;
    }
}

.sidebar-panel {
    display: none;
    @media screen and (min-width: $screen-tablet) {
        display: block;
        position: relative;
        float: left;
        box-sizing: border-box;
        width: 25%;
        padding: $padding-base;
    }
    @media screen and (min-width: $screen-lg-desktop) {
        width: 20%;
        padding: $padding-large;
    }
}

.panel-app-form {
    input.txt {
        width: 88%;
        
        &.small {
            font-size: 11px;
            font-family: monospace;
        }
    }
}