.panel-main-content {

    .user-managerment {

        .btn {
            text-align: left;
        }

        .btn:before {
            padding-right: 0.4rem;
        }

        .icon-user:before {
            content: "\e0e0";
        }

        .lista {
            padding-left: 0px;
            article {
                text-align: left;
                font-size: 12px;
    
                .objeto-left{
                    float: left;
                    width: 30%;
                    
                }
    
                .objeto-right {
                    float: right;
                    width: 70%;
                }
    
                .area-atuacao, .tags {
                    max-height: 88px;
                    overflow-y: auto; 
                }
            }

            .objeto {
                
                .objeto-header {
                    width: 100%;
                    h1 {
                        width: 80%;
                        display: inline-block;
                    }
                    .objeto-header-actions {
                        display: inline-block;
                        width: 15%;
                    }
                }
                .objeto-content {
                    width: 100%;
                }
            }
        }

        .user-managerment-search {
            text-align: center;
            max-width: 500px;
            padding-right: 125px;

            #campo-de-busca {
                float: left;
                width: 100%;
                height: 2.5rem;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                font-size: 0.875rem;
            }

            #search-filter {
                float: right;
                width: 140px;
                height: 2.5rem;
                margin-right: -140px;
                font-size: 0.875rem;
                line-height: 2.5rem;
                font-weight: bold;
                text-align: left;
            }
        }
    
        .entity-list-header {
            border-left-style: solid;
            border-left-width: 1rem;
            border-right-style: solid;
            border-right-width: 0rem;

            h1 {
                font-size: 1.0rem;
                .icon {
                    font-size: 1.0rem;
                }
            }
        }
        
    }

    .user-managerment-admin {
        .option-roles {
            float: left;
            margin-right: 2%;
            width: 25%;

            select {
                width: 100%;
            }
        }

        div.entity-table-content {
            float: left;
            max-height: 400px;
            width: 73%;
            overflow-y: scroll;
            margin-top: 24px;
        }

        table.user-admin-table {
            width: 100%;
            td {
                text-align: left;
            }
        }

        .icon-minus:before {
            content: "\e04f";
        }

        .icon-subsite {
            &:before {
                content: $unicode-subsite;
                padding: 4px 6px 0px 2px;
            }
            display: block;
            padding-bottom: 5px;
            padding-top: 5px;
            border-bottom: 1px solid #DDD;
            cursor: pointer;
        }

        .block-with-text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
        }

        .truncate {
            width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
    }

    .user-managerment-infos {
        .user-info {
            margin: 2rem;
            padding-bottom: 10px;
    
            .label {
                line-height: 2em;
            }
        }
        .tabs-content {
            .icon-agent {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 2px;
                text-align: center;
            }
            .icon-agent.active {
                color: #fff;
                background: #000000;
                border: 1px solid #000000;
            }
        
            .agents-table {
                margin: 0;
                border: solid 1px #ccc;
                .agent-default{
                    background-color: #bbb;
                }
            }
    
            .tab-table {
                overflow: hidden;
                border: 0;
                border-left: 1px solid #ccc;
            }
    
            .tab-table button:hover {
                background-color: #ddd;
            }
    
            .tab-table button.active {
                background-color: $table-caption-bg;
                color: #ebf3fc;
                font-weight: bold;
                border-color: $table-caption-bg;
            }
    
            .tab-table button {
                background-color: inherit;
                float: left;
                outline: none;
                font-size: 1.1vw;
                margin: 0px;
                padding: 0.5rem;
                border: none;
                cursor: pointer;
                height: 3rem;
                border-radius: 0;
                border-top: solid 1px #ccc;
                border-right: solid 1px #ccc;
                width: 20%;
            }
            
            .tab-table.registration button {
                width: 25%;
            }
    
            .tab-content-table {
                display: none;
                border: none;
            }
    
            .entity-table {
                *border-collapse: collapse; /* IE7 and lower */
                border-spacing: 0;
                border: solid #ccc 1px;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                -webkit-box-shadow: 0 1px 1px #ccc;
                -moz-box-shadow: 0 1px 1px #ccc;
                box-shadow: 0 1px 1px #ccc;
                width: 100%;
    
                caption {
                    cursor: pointer;
                    border-radius: 0;
                }
    
                thead tr td {
                    text-align: center;
                    font-weight: bolder;
                    background: #e5e5e5;
                }
    
                tr:hover {
                    background: #fbf8e9;
                    -o-transition: all 0.1s ease-in-out;
                    -webkit-transition: all 0.1s ease-in-out;
                    -moz-transition: all 0.1s ease-in-out;
                    -ms-transition: all 0.1s ease-in-out;
                    transition: all 0.1s ease-in-out;
                }
    
                td, th {
                    border-left: 1px solid #ccc;
                    border-top: 1px solid #ccc;
                    padding: 10px;
                    text-align: left;
                }
    
                td.fit {
                    white-space: nowrap;
                    width:1%;
                }
    
                th {
                    background-color: #dce9f9;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
                    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
                    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
                    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
                    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
                    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
                    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
                    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
                    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
                    border-top: none;
                    text-shadow: 0 1px 0 rgba(255,255,255,.5);
                }
    
                td:first-child, .bordered th:first-child {
                    border-left: none;
                }
    
                th:first-child {
                    -moz-border-radius: 6px 0 0 0;
                    -webkit-border-radius: 6px 0 0 0;
                    border-radius: 6px 0 0 0;
                }
    
                th:last-child {
                    -moz-border-radius: 0 6px 0 0;
                    -webkit-border-radius: 0 6px 0 0;
                    border-radius: 0 6px 0 0;
                }
                
                th:only-child{
                    -moz-border-radius: 6px 6px 0 0;
                    -webkit-border-radius: 6px 6px 0 0;
                    border-radius: 6px 6px 0 0;
                }
    
                tr:last-child td:first-child {
                    -moz-border-radius: 0 0 0 6px;
                    -webkit-border-radius: 0 0 0 6px;
                    border-radius: 0 0 0 6px;
                }
    
                tr:last-child td:last-child {
                    -moz-border-radius: 0 0 6px 0;
                    -webkit-border-radius: 0 0 6px 0;
                    border-radius: 0 0 6px 0;
                }
                
            }
        }
    }
}
