/* =Responsive
-------------------------------------------------------------- */
@media screen and (min-width: 1588px) {
    .objeto-capa {
        width: 50%;
        padding: 6rem 25%;
    }
}
@media screen and (max-width: 1408px) and (min-width: 1056px) {
    .sidebar-left,
    .sidebar-right {
        width: 20%;
    }
}
@media screen and (max-width: 1055px) {
    .sidebar-right.sidebar {
        border-top: none;
    }
    .sidebar-right.sidebar .setinha {
        display: none;
    }
}
@media screen and (max-width: 1054px) and (min-width: 844px) {
    .sidebar-left,
    .sidebar-right {
        width: 25%;
        float: right;
    }
    .sidebar-left {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .main-content {
        width: 75%;
    }
}
@media screen and (max-width: 843px) {
    .sidebar-left,
    .sidebar-right,
    .main-content {
        clear: both;
        float: none;
        width: 100%;
    }
    .sidebar-left.sidebar {
        border-top: none;
    }
    .sidebar-left.sidebar .setinha {
        display: none;
    }
    .sidebar-left .widget {
        float: right;
        margin: 0 $line-height-half $line-height-base;
        border-bottom: none;
    }
    .botoes-de-compartilhar {
        float: left;
        margin-right: $line-height-half;
    }
}
