.display-seal-relation {
    //display: inline;
    width: 90%;
}

.seal-avatar{
    float: left;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.agent-avatar{
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}