//
// Search Results Header
// --------------------------------------------------


#search-results-header {
    position: relative;
    /* max-height: 2*$line-height-base; */
    padding: 0 141px 0 0;
    background-color: $gray-lighter;
    color: $brand-accent;
    @media screen and (min-width: $screen-tablet) {
        min-height: 2*$line-height-base;
        max-height: auto;
    }
}
#search-results {
    display: inline-block;
    max-width: 100%;
    margin: $padding-base 0;
    padding: 0 $padding-base;
    box-sizing: border-box;
    font-size: .70rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (min-width: $screen-tablet) {
        max-width: none;
        overflow: auto;
        border-right: 2px solid #d3d3d3;
        font-size: $font-size-smaller;
    }
}
#selected-filters {
    display: none;
    vertical-align: top;
    margin: $padding-base 0 0;
    padding: 0 $padding-base;
    @media screen and (min-width: $screen-tablet) {
        display: inline-block;
    }
}
#search-tools {
    float: right;
    margin: $padding-base 0;
    padding: 0 $padding-small;
    margin-right: -141px;
    border-left: 2px solid #d3d3d3;
    box-sizing: border-box;
    @media print {
        display: none;
    }
    .icon {
        float: right;
        line-height: 1.5rem;
        font-size: $font-size-base;
        font-family: $icon-font-family;
        font-weight: normal;
        text-align: center;
        color: #999;
        &:hover, &.selected {
           color: $brand-accent;
        }
    }
    .icon-show-search-on-map {
        margin-right: 5px;
    }
    #share-tools {
        position: relative;
        float: left;
        margin-right: $padding-small;
        padding-right: $padding-small;
        border-right: 2px solid #d3d3d3;
        .share-search-results {
            position: absolute;
            z-index: $z-index-home-nav;
            display: none;
            top: 2.25rem;
            right: 0;
            width: 260px;
            padding: $padding-base;
            background: #fff;
            border-radius: $border-radius-base;
            box-shadow: $box-shadow-dropdown;
            &:before {
                @include arrow(up, $caret-width-base, #fff);
                right: 8px;
            }
            .icon {
                float: left;
                width: $line-height-base;;
                height: $line-height-base;;
                margin-right: $padding-small;
            }
            #search-url {
                width: 100%;
                cursor: default;
            }
        }
    }
    #export-tools, #view-tools {
        float: left;
        width: auto;
        margin-right: $padding-small;
        padding-right: $padding-small;
        border-right: 2px solid #d3d3d3;
    }
}

#search-sort {
    float: left; 
    padding-right: 0.5em; 
    margin-right: 0.5em; 
    box-sizing: border-box;
	border-right: 2px solid #d3d3d3;
	
	.switch-field {
	    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;    
	    overflow: hidden;
	    display: inline;
	    position: relative;
	}
	  
	.switch-field input {
	  position: absolute !important;
	  clip: rect(0, 0, 0, 0);
	  height: 1px;
	  width: 1px;
	  border: 0;
	  overflow: hidden;
	}

	.switch-field label {
	float: right;
	}

	.switch-field label {
	display: inline-block;
	width: 16px;
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 0.8em;
	font-weight: normal;
	text-align: center;
	text-shadow: none;
	padding: 0px 4px;
	border: 1px solid #ccc;    
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
	}

	.switch-field label:hover {
	  cursor: pointer;
	}

	.switch-field input:checked + label {
	background-color: rgb(180, 180, 180);
	-webkit-box-shadow: none;
	box-shadow: none;    
	}

	.switch-field label:first-of-type {
	border-radius: 0 4px 4px 0;
	}

	/*.switch-field label:last-of-type {
	border-radius: 4px 0 0 4px;
	}*/

	.switch-field select {
	  border-radius: 0px;
	  font-size: 0.8em;
	  height: 26px;
	  margin-bottom: 0px;
	  
	}
	
}

