.display-seal-relation {
    width: 90%;
}

.seal-avatar {
    float: left;
    width: 15%;
    margin-left: 15rem;
    margin-right: auto;
}

.agent-avatar {
    width: 15%;
    margin-left: 25rem;
    margin-right: auto;
}

#seal-name, #seal-print-container {
    margin-top: 3rem;
    margin-bottom: 1px solid #eee !important;
    margin-left: 15rem;
}

#expiration-date {
    margin-left: 15rem;
}

#main-footer, body{
    background-color: #eee;
}