/* header dos resultados*/
#header-dos-resultados {
    position: relative;
    min-height: $line-height-base;
    padding: 0 123px 0 0;
    background-color: $gray-lighter;
    font-size: $font-size-smaller;
    color: $brand-accent;
}
#resultados {
    display: inline-block;
    margin: $padding-base 0;
    padding: 0 $padding-base;
    box-sizing: border-box;
    border-right: 2px solid #d3d3d3;
}
#filtros-selecionados {
    display: inline-block;
    vertical-align: top;
    margin: $padding-base 0 0;
    padding: 0 $padding-base;
}
#header-dos-resultados .botao-de-icone {
    float: right;
}
#header-dos-resultados .botao-de-icone.active {
    text-decoration: none;
    background-color: $brand-accent;
}
#header-dos-resultados .icon_map {
    margin-right: 5px;
}
#ferramentas {
    float: right;
    width: 123px;
    margin: $padding-base 0;
    padding: 0 $padding-base;
    margin-right: -123px;
    border-left: 2px solid #d3d3d3;
    box-sizing: border-box;
}
#compartilhar {
    position: relative;
    float: left;
}
.busca-popover{ 
    position: absolute;
    z-index: 100;
    display: none;
    top: 2.25rem;
    right: -24px;
    width: 400px;
    padding: $padding-base;
    background: #fff;
    border-radius: $border-radius-base;
            box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
}
.busca-popover .setinha {
    right: 28px;
    top: -16px;
    border-color: transparent transparent #fff transparent;
}
.busca-popover .icone {
    width: $line-height-base;;
    height: $line-height-base;;
    margin-left: .75rem;
    font-size: 1.5rem;
}
.busca-popover .icone:hover {
    color: $brand-accent;
}
.busca-popover.info {
    font-weight: normal;
    font-size: .7rem;
    color: $gray-dark;
}
#url-da-busca {
    width: 70%;
    margin-bottom: 0;
    border: 1px solid $gray;
    cursor: default;
}
#views {
    float: left;
    width: auto;
    margin-left: .75rem;
    padding-left: $padding-base;
    border-left: 2px solid #d3d3d3;
}