/* =Barra lateral
-------------------------------------------------------------- */
.sidebar {
    float: left;
    position: relative;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: $padding-large;
    .avatar {
        float: left;
        width: 3rem;
        height: 3rem;
        margin-right: .75rem;
        background-size: cover;
    }
    .setinha {
        top: 0;
        left: 50%;
        margin-left: -8px;
    }
}
.sidebar-left {
    width: 15%;
}
.sidebar-right {
    width: 25%;
}
.sidebar.event {
    border-top: $brand-event 12px solid;
    .event-project-link,
    .widget-list-item > a {
        color: $brand-event;
    }
    .setinha {
        border-color: $brand-event transparent transparent transparent;
    }
}
.sidebar.agent {
    border-top: $brand-agent 12px solid;
    .widget-list-item > a {
        color: $brand-agent;
    }
    .setinha {
        border-color: $brand-agent transparent transparent transparent;
    }
}
.sidebar.space {
    border-top: $brand-space 12px solid;
    .widget-list-item > a {
        color: $brand-space;
    }
    .setinha {
        border-color: $brand-space transparent transparent transparent;
    }
}
.sidebar.project {
    border-top: $brand-project 12px solid;
    .widget-list-item > a {
        color: $brand-project;
    }
    .setinha {
        border-color: $brand-project transparent transparent transparent;
    }
}
.sidebar.registration {
    @extend .sidebar.project;
}