/* =Barra lateral
-------------------------------------------------------------- */
.sidebar {
    position: relative;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: $padding-base;
    @media screen and (min-width: $screen-md-min) {
        float: left;
        padding: $padding-large;
    }
    a.botao.adicionar {
        color: $gray-dark;
    }
    a.botao.adicionar:hover {
        color: $brand-accent;
    }
    .avatar {
        float: left;
        width: 3rem;
        height: 3rem;
        margin-right: .75rem;
        background-size: cover;
    }
    .setinha {
        top: 0;
        left: 50%;
        margin-left: -8px;
    }
}
.sidebar-left {
    overflow: hidden;
    @media screen and (min-width: $screen-lg-min) {
        width: 15%;
    }
    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        width: 20%;
        &.sidebar {
            border-top: none;
            .setinha {
                display: none;
            }
        }
    }
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        width: 25%;
        float: right;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .widget {
        float: none;
        padding-bottom: 1.5rem;
    }
}
.sidebar-right {
    @media screen and (min-width: $screen-lg-min) {
        width: 25%;
    }
    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        width: 20%;
    }
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        width: 25%;
        float: right;
    }
}

.sidebar.event {
    border-top: $brand-event 12px solid;
    .event-project-link,
    .widget-list-item > a {
        color: $brand-event;
    }
    .setinha {
        border-color: $brand-event transparent transparent transparent;
    }
}
.sidebar.agent {
    border-top: $brand-agent 12px solid;
    .widget-list-item > a {
        color: $brand-agent;
    }
    .setinha {
        border-color: $brand-agent transparent transparent transparent;
    }
}
.sidebar.space {
    border-top: $brand-space 12px solid;
    .widget-list-item > a {
        color: $brand-space;
    }
    .setinha {
        border-color: $brand-space transparent transparent transparent;
    }
}
.sidebar.project {
    border-top: $brand-project 12px solid;
    .widget-list-item > a {
        color: $brand-project;
    }
    .setinha {
        border-color: $brand-project transparent transparent transparent;
    }
}
.sidebar.registration {
    @extend .sidebar.project;
}
