/* =Barra lateral
-------------------------------------------------------------- */
.sidebar {
    position: relative;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: $padding-base;
    @media screen and (min-width: $screen-desktop) {
        padding: $padding-large;
    }
    .avatar {
        float: left;
        width: 3rem;
        height: 3rem;
        margin-right: .75rem;
        background-size: cover;
    }
    .avatar-seal {
        float: left;
        width: 5rem;
        height: 5rem;
        margin-right: .75rem;
        margin-bottom: .75rem;
        background-size: cover;
        cursor: pointer;
    }
    .botoes {
         position: absolute;
         top: -12px;
         right: -6px;
         a {
             background-color: #fff;
             border-radius: 100%;
             &:before {
                 line-height: 180%;
             }
         }
     }
    &:before {
        left: 50%;
        margin-left: -8px;
        margin-top: 8px;
    }
}
.sidebar-left {
    overflow: visible;
    //tablet
    @media screen and (min-width: $screen-tablet) and (max-width: $screen-md-max) {
        float: right;
        width: 25%;
        padding-bottom: 0;
        margin-bottom: 0;
        overflow: visible;
    }
    //note
    @media screen and (min-width: $screen-lg-desktop) and (max-width: 1366px) {
        float: left;
        width: 20%;
        overflow: visible;
        &.sidebar {
            border-top: none;
        }
    }
    @media screen and (min-width: 1367px) {
        float: left;
        width: 15%;
        overflow: visible;
    }
    .widget {
        float: none;
        padding-bottom: 1.5rem;
    }
}
.sidebar-right {
    @media screen and (min-width: $screen-tablet) {
        float: right;
    }
    @media screen and (min-width: $screen-tablet) and (max-width: $screen-md-max) {
        width: 25%;
    }
    @media screen and (min-width: $screen-lg-desktop) and (max-width: 1366px) {
        width: 20%;
    }
    @media screen and (min-width: 1367px) {
        width: 25%;
    }
}
body.action-single {
    .sidebar-left {
        @media screen and (min-width: $screen-tablet) {
            border-top-width: 12px;
            border-top-style: solid;
            &:before {
                @include arrow(down, $caret-width-base, #fff);
            }
        }
    }
    .sidebar-right {
        @media screen and (min-width: $screen-lg-desktop) {
            border-top-width: 12px;
            border-top-style: solid;
            &:before {
                @include arrow(down, $caret-width-base, #fff);
            }
        }
    }
}

.sidebar.event {
    border-top-color: $brand-event;
    &:before {
        border-top-color: $brand-event !important;
    }
    .event-project-link,
    .widget-list-item > a {
        color: $brand-event;
    }
}
.sidebar.agent {
    border-top-color: $brand-agent;
    &:before {
        border-top-color: $brand-agent !important;
    }
    .widget-list-item > a {
        color: $brand-agent;
    }
}
.sidebar.space {
    border-top-color: $brand-space;
    &:before {
        border-top-color: $brand-space !important;
    }
    .widget-list-item > a {
        color: $brand-space;
    }
}
.sidebar.project {
    border-top-color: $brand-project;
    &:before {
        border-top-color: $brand-project !important;
    }
    .widget-list-item > a {
        color: $brand-project;
    }
}

.sidebar.seal {
    border-top-color: $brand-seal;
    &:before {
        border-top-color: $brand-seal !important;
    }
    .widget-list-item > a {
        color: $brand-seal;
    }
}


.sidebar.registration {
    @extend .sidebar.project;
}
