.header-do-painel .btn {
    float: right;
    margin: .5rem 0;
}
.lista-sem-thumb .objeto h1 .icone {
    width: $line-height-base;;
    height: $line-height-base;;
    margin-right: 0;
    background: #fff;
    border-radius: $border-radius-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: #999;
    border: 1px solid #ddd;
    text-align: center;
}
.lista-sem-thumb .objeto h1 .icone:hover {
    color: $brand-accent;
}
.lista-sem-thumb .objeto h1 .icone.active,
.lista-sem-thumb .objeto h1 .icone.active:hover {
    color: #fff;
    background: $brand-accent;
    border: 1px solid $brand-accent;
}
.lista-sem-thumb .objeto-meta {
    margin-bottom: $line-height-half;
    padding-top: 0;
    border-top: 0;
}
.lista-sem-thumb .objeto-meta div {
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    margin-right: 5px;
}