.main-content-header {
    margin-bottom: 4rem;
}
.imagem-do-header {
    position: relative;
    height: 12rem;
    margin: -4rem -4rem 4rem;
    background-color: #ccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagem-do-header .botao.editar {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}
.com-imagem .botao.editar {
    display: none;
}
.com-imagem:hover .botao.editar {
    display: block;
}
.content-do-header {
    position: relative;
    min-height: 9rem;
    padding-left: 10.5rem;
}
.content-do-header .avatar {
    position: absolute;
    left: 0;
    width: 9rem;
    height: 9rem;
    margin: 0;
}
.content-do-header .avatar .botao.editar {
    position: absolute;
    right: .75rem;
    bottom: .75rem;
}