.ficha-spcultura {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    background: #f8f8f8;
    border-radius: 2px;
    font-size: .875rem;
    color: #888;
}
.servico {
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #ddd;
}
.servico > p,
.infos p {
    margin-bottom: 0;
    font-size: .75rem;
    color: #888;
}
.infos {
    float: left;
    width: 40%;
}
.mapa {
    float: right;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 60%;
    height: 408px;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
}