/* =Listas
-------------------------------------------------------------- */

.lista {
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 3rem;
    padding: 0 3rem;
}
.lista header {
    margin-bottom: 3rem;
    padding: .75rem;
    border-radius: 2px;
    background: $gray-light;
    font-size: .75rem;
}
.lista header p {
    margin-bottom: 0;
    line-height: 2rem;
}
.lista header .data {
    width: 77px;
    margin: 0;
}
#agenda.lista {
    padding: 0;
}
.objeto {
    margin-bottom: 5px;
    padding: 1.5rem;
    background: #f8f8f8;
    border-radius: 2px;
    -webkit-transition: all .3s;
            transition: all .3s;
}
#agenda.lista .objeto {
    background: $gray-lighter;
}
.objeto:hover {
    background: #fff;
}
#agenda.lista .objeto:hover {
    background: #f8f8f8;
}
.objeto h1 {
    margin-bottom: .75rem;
    padding-bottom: .75rem;
    line-height: 1.5rem;
    border-bottom: 1px solid $gray-lighter;
}
.lista .objeto h1 {
    font-size: 1.25rem;
    margin-right: 35rem;
}
#agenda-content .objeto h1 {
    margin-right: 16.5rem;
}
.objeto-content {
    position: relative;
    min-height: 6rem;
}
.objeto-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    background: $gray;
}
.objeto-resumo {
    float: left;
    min-height: 6rem;
    margin-right: 34rem;
    margin-bottom: 0;
    padding: 0 1.5rem 0 7.5rem;
    font-size: .875rem;
}
.lista .objeto-meta {
    float: right;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 34rem;
    min-height: 6rem;
    margin-left: -34rem;
    margin-top: -4rem;
    padding-left: 1.5rem;
    border-left: 1px solid $gray-lighter;
}
#agenda.lista .objeto-meta {
    width: 16.5rem;
}
#agenda.lista .objeto-resumo {
    margin-right: 16.5rem;
}
.objeto-meta div {
    font-size: .70rem;
    text-transform: uppercase;
    color: #888;
    letter-spacing: .1em;
}
.objeto-meta .ocorrencias {
    margin-top: .5rem;
}
.objeto-meta .ocorrencias .title {
    font-weight: bold;
    color: #444;
}
.objeto-meta .ocorrencias p {
    margin: .5rem 0;
}
.evento:hover h1 a,
.evento .objeto-meta a {
    color: #aebf3a;
}
.agente:hover h1 a,
.agente .objeto-meta a {
    color: $brand-agent;
}
.espaco:hover h1 a,
.espaco .objeto-meta a {
    color: $brand-space;
}
.projeto:hover h1 a,
.projeto .objeto-meta a {
    color: $brand-project;
}

.objeto.evento .nome-projeto {
    min-height: 19px;
    display: block;
    font-size: .70rem;
    text-transform: uppercase;
    color: #888;
    letter-spacing: .1em;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.2rem;
    margin-bottom: .5rem;
}
.objeto.evento .nome-projeto a {
    color: #888;
}
.objeto.evento .nome-projeto a:hover {
    color: #aebf3a;
}