/* header do objeto*/
.header-do-objeto {
    position: relative;
    margin-bottom: 5px;
    padding: .5625rem;
    background: #fff;
}
.header-do-objeto h1 {
    float: left;
    width: auto;
    height: 1.875rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 1.875rem;
}
.header-do-objeto h1 .icone {
    width: 1.5rem;
    height: 1.875rem;
    line-height: 1.875rem;
    font-size: 1.5rem;
}
.header-do-objeto .icone {
    vertical-align: initial;
}
.header-do-objeto .botao.adicionar,
.header-do-objeto .botao.adicionar:hover {
    float: right;
    margin: -1px 1.5rem;
    color: #fff;
    background: $brand-accent;
    border: 1px solid $brand-accent;
}
#header-dos-eventos {
    border-left: 3rem solid $brand-event;
    border-right: 3rem solid $brand-event;
}
#header-dos-agentes {
    border-left: 3rem solid $brand-agent;
    border-right: 3rem solid $brand-agent;
}
#header-dos-espacos {
    border-left: 3rem solid $brand-space;
    border-right: 3rem solid $brand-space;
}
#header-dos-projetos {
    border-left: 3rem solid $brand-project;
    border-right: 3rem solid $brand-project;
}