/* =Footer
-------------------------------------------------------------- */
#main-footer {
    position: relative;
    z-index: 100;
    padding: 1.5rem;
    background: $brand-accent;
    color: #fff;
}
#main-footer a {
    color: #fff;
}
#main-footer ul {
    margin: 0;
    list-style: none;
}
#main-footer li {
    display: inline-block;
    margin-right: 10px;
}
#main-footer li a {
    font-weight: normal;
}