/* =Header
-------------------------------------------------------------- */
#main-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 150;
    border-top: 6px solid #000;
    background: #fff;
}
#main-header h1 {
    margin-bottom: 0;
}
#main-header h1 img {
    display: block;
}
#logo-spcultura {
    float: left;
    padding: .375rem 1.5rem;
}
#logo-spcultura img {
    width: 138px;
}
#about-nav {
    padding: 0 1.5rem;
}
#logo-smc {
    clear: both;
}
#logo-smc img {
    width: 90px;
    margin: 0 auto;
}
#menu-secundario {
    float: right;
    margin: 0;
    list-style: none;
    font-size: .70rem;
    text-transform: uppercase;
}
#menu-secundario li {
    display: inline-block;
    margin-left: 10px;
}
#menu-secundario li:first-child {
    margin-left: 0;
}
#menu-secundario li a {
    font-weight: normal;
}
#main-nav a:hover {
    text-decoration: none;
}
.menu {
    position: relative;
    float: left;
    margin: -6px 0 0;
    border-left: 1px solid #000;
}
.menu li {
    position: relative;
    float: left;
    list-style-type: none;
}
.menu li:hover .submenu {
    display: block;
}
.menu a {
    display: block;
    vertical-align: middle;
}
.menu > li {
    width: 5rem;
    padding: .75rem;
    border-top: 6px solid transparent;
            box-shadow: 1px 0 0 0 #eee inset;
    -webkit-box-shadow: 1px 0 0 0 #eee inset;
}
.menu > li:first-child {
            box-shadow: none;
    -webkit-box-shadow: none;
}
.menu > li > a {
    font-size: .75rem;
    line-height: 1.25rem/*20px*/;
    text-align: center;
}
.menu > li div.icone {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto .25rem;
    font-size: 1rem;
    line-height: 1.5rem/*24px*/;
    border-radius: 2px;
}
.submenu {
    display: none;
    position: absolute;
    top: 70px;
    margin: 0;
    padding: .75rem;
    list-style: none;
    font-size: .8rem;
    line-height: 1rem;
    background: #e2e2e2;
            box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
    border-radius: 2px;
}
.submenu li {
    float: none;
    line-height: 1.5rem;
}
.submenu li.row {
    margin: .5rem;
    border-top: 1px solid #fff;
}
.submenu a {
    font-weight: normal;
}

/* Abas dos objetos */
.abas-objetos li {
    -webkit-transition: all .3s;
            transition: all .3s;
}
.abas-objetos li.active:after {
    content: '\42';
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    font-family: 'ElegantIcons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 34px;
    line-height: 18px;
    text-align: center;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#aba-eventos:hover,
#aba-eventos.active {
    border-top: 6px solid #b3b921;
    color: #b3b921;
}
#aba-agentes:hover,
#aba-agentes.active {
    border-top: 6px solid #1dabc6;
    color: #1dabc6;
}
#aba-espacos:hover,
#aba-espacos.active {
    border-top: 6px solid #e83f96;
    color: #e83f96;
}
#aba-projetos:hover,
#aba-projetos.active {
    border-top: 6px solid #c03;
    color: #c03;
}
#aba-eventos.enabled a,
#aba-eventos.active a,
#aba-eventos:hover a {
    color: #b3b921;
}
#aba-eventos.enabled a div.icone {
    background-color: #b3b921;
}
#aba-agentes.enabled a,
#aba-agentes.active a,
#aba-agentes:hover a {
    color: #1dabc6;
}
#aba-agentes.enabled a div.icone {
    background-color: #1dabc6;
}
#aba-espacos.enabled a,
#aba-espacos.active a,
#aba-espacos:hover a {
    color: #e83f96;
}
#aba-espacos.enabled a div.icone {
    background-color: #e83f96;
}
#aba-projetos.enabled a,
#aba-projetos.active a,
#aba-projetos:hover a {
    color: #c03;
}
#aba-projetos.enabled a div.icone {
    background-color: #c03;
}
.abas-objetos li.enabled a div.icone {
    color: #fff !important;
}
.logado {
    border-right: 1px solid #000;
}
.menu .entrar:hover {
    border-top: 6px solid #f90;
}
.menu .entrar:hover a {
    color: #f90;
}
.menu .usuario:hover,
.menu .notificacoes:hover {
    border-top: 6px solid #f90;
}
.usuario .avatar {
    float: none;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}
.usuario .setinha {
    left: 50%;
    top: -16px;
    margin-left: -8px;
    border-color: transparent transparent #f90 transparent;
}
.usuario .submenu {
    left: -2.5rem;
    width: 10rem;
    background: #f90;
}
.usuario .submenu li {
    position: relative;
    padding-right: 2rem;
}
.usuario .submenu a {
    color: #000;
    padding: .5rem;
}
.usuario .submenu a:hover {
    color: #fff;
}
.usuario .submenu .adicionar {
    position: absolute;
    right: 0;
    top: 0;
}
.notificacoes .submenu {
    left: -110px;
    width: 300px;
    background: #e2e2e2;
}
.notificacoes .slimScrollDiv {
    margin-bottom: .75rem;
}
.notificacoes:hover > a {
    color: #f90;
}
.notificacoes .icon_check_alt {
    float: right;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    font-size: 1.25rem;
    vertical-align: middle;
    color: #999;
}
#main-nav .notificacoes a.icon_check_alt:hover {
    color: #f90;
}
.notificacoes .setinha {
    left: 142px;
    top: -28px;
    border-color: transparent transparent #e2e2e2 transparent;
}
.notificacoes .submenu ul {
    overflow: hidden;
    width: 100%;
    height: 316px;
    margin: 0 1rem 0 0;
}
.notificacoes .submenu a.notificacao {
    margin-bottom: .75rem;
    padding: .5rem;
    background: #f8f8f8;
    border-left: 5px solid #999;
    border-radius: 0 2px 2px 0;
}
.notificacoes .submenu a.notificacao:hover,
.notificacoes .submenu a.notificacao.lida {
    border-left: 5px solid #f90;
    background: #fff;
}