nav.barra-esquerda ul {
    list-style: none;
    margin: 0 -1.5rem;
    font-size: .875rem;
}
nav.barra-esquerda a {
    display: block;
    padding: .75rem;
    border-left: #ccc 6px solid;
    -webkit-transition: all .3s;
            transition: all .3s;
}
nav.barra-esquerda a.active {
    background: #fff;
    border-left-color: #f90;
}
nav.barra-esquerda a:hover {
    background: #f90;
    border-left-color: #f90;
    color: #fff;
    text-decoration: none;
}
nav.barra-esquerda .icone {
    vertical-align: initial;
    margin-right: 5px;
}