/* =Como usar
-------------------------------------------------------------- */
.como-usar {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #eee;
}
.como-usar-img,
.como-usar-content {
    width: 50%;
}
.como-usar-content {
         box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.como-usar-content.alignleft {
    padding-right: 3rem;
}
.como-usar-content.alignright {
    padding-left: 3rem;
}
.como-usar-content h2 {
    color: #f90;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.como-usar-img {
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.25);
}

/* =Sobre
-------------------------------------------------------------- */
.sobre-logo-prefeitura {
    margin: -10px 0 0 30px;
    max-width: 115px;
}