/* =Responsive
-------------------------------------------------------------- */
@media screen and (min-width: 1588px) {
    .objeto-capa {
        width: 50%;
        padding: 6rem 25%;
    }
}
@media screen and (max-width: 1408px) and (min-width: 1056px) {
    .barra-esquerda,
    .barra-direita {
        width: 20%;
    }
}
@media screen and (max-width: 1055px) {
    .menu > li {
        width: 4rem;
    }
    .barra-direita.barra-lateral {
        border-top: none;
    }
    .barra-direita.barra-lateral .setinha {
        display: none;
    }
}
@media screen and (max-width: 1054px) and (min-width: 844px) {
    .barra-esquerda,
    .barra-direita {
        width: 25%;
        float: right;
    }
    .barra-esquerda {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .main-content {
        width: 75%;
    }
}
@media screen and (max-width: 843px) {
    .barra-esquerda,
    .barra-direita,
    .main-content {
        clear: both;
        float: none;
        width: 100%;
    }
    .barra-esquerda.barra-lateral {
        border-top: none;
    }
    .barra-esquerda.barra-lateral .setinha {
        display: none;
    }
    .barra-esquerda .widget {
        float: right;
        margin: 0 $line-height-half $line-height-base;
        border-bottom: none;
    }
    .botoes-de-compartilhar {
        float: left;
        margin-right: $line-height-half;
    }
}