/* header dos resultados*/
#header-dos-resultados {
    position: relative;
    min-height: 1.5rem;
    padding: .75rem;
    background-color: #eee;
    font-family: 'aleo', serif;
    font-size: .875rem;
    color: #000;
}
#resultados {
    position: absolute;
    top: .75rem;
    left: .75rem;
    width: 250px;
    padding-right: .75rem;
}

#busca-combinada {
    float: right;
    margin-right: .75rem;
    padding-right: .75rem;
    border-right: 2px solid #d3d3d3;
}
#filtros-selecionados {
    margin-left: .75rem !important;
    margin-right: 106px;
    padding: 0 .75rem;
    border-left: 2px solid #d3d3d3;
    border-right: 2px solid #d3d3d3;
}
#filtros-selecionados .tag {
    margin-bottom: 0;
}
#filtros-selecionados .tag:after {
    content: '\4d';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-top: -3px;
    font-size: 1rem;
    line-height: 1rem;
    font-family: 'ElegantIcons';
    vertical-align: middle;
    text-transform: none;
}
#filtros-selecionados .remover-tudo {
    color: #fff;
    background: #000;
    padding-right: .3rem;
}
#header-dos-resultados .botao-de-icone {
    float: right;
}
#header-dos-resultados .botao-de-icone.active {
    text-decoration: none;
    background-color: #000;
}
#header-dos-resultados .icon_map {
    margin-right: 5px;
}
#ferramentas {
    float: right;
}
#compartilhar {
    position: relative;
    float: left;
}
#compartilhar-url {
    position: absolute;
    z-index: 100;
    display: none;
    top: 2.25rem;
    right: -24px;
    width: 400px;
    padding: .75rem;
    background: #fff;
    border-radius: 2px;
            box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
}
#compartilhar-url .setinha {
    right: 28px;
    top: -16px;
    border-color: transparent transparent #fff transparent;
}
#compartilhar-url .icone {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .75rem;
    font-size: 1.5rem;
}
#compartilhar-url .icone:hover {
    color: #000;
}
#compartilhar-url .info {
    font-weight: normal;
    font-size: .7rem;
    color: #666;
}
#url-da-busca {
    width: 70%;
    margin-bottom: 0;
    border: 1px solid #ccc;
    cursor: default;
}
#views {
    float: left;
    width: auto;
    margin-left: .75rem;
    padding-left: .75rem;
    border-left: 2px solid #d3d3d3;
}