/* =Barra lateral
-------------------------------------------------------------- */
.sidebar {
    float: left;
    position: relative;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: $padding-large;
    a.botao.adicionar {
        color: $gray-dark;
    }
    a.botao.adicionar:hover {
        color: $brand-accent;
    }
    .avatar {
        float: left;
        width: 3rem;
        height: 3rem;
        margin-right: .75rem;
        background-size: cover;
    }
    .setinha {
        top: 0;
        left: 50%;
        margin-left: -8px;
    }
}
.sidebar-left {
    width: 15%;
}
.sidebar-right {
    width: 25%;
}
.sidebar.evento {
    border-top: $brand-event 12px solid;
    .widget-list-item > a {
        color: $brand-event;
    }
    .setinha {
        border-color: $brand-event transparent transparent transparent;
    }
}
.sidebar.agente {
    border-top: $brand-agent 12px solid;
    .widget-list-item > a {
        color: $brand-agent;
    }
    .setinha {
        border-color: $brand-agent transparent transparent transparent;
    }
}
.sidebar.espaco {
    border-top: $brand-space 12px solid;
    .widget-list-item > a {
        color: $brand-space;
    }
    .setinha {
        border-color: $brand-space transparent transparent transparent;
    }
}
.sidebar.projeto {
    border-top: $brand-project 12px solid;
    .widget-list-item > a {
        color: $brand-project;
    }
    .setinha {
        border-color: $brand-project transparent transparent transparent;
    }
}