//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------


// _header.scss
#brand-logo {
    img {
        width: 38px;
        @media screen and (min-width: $screen-tablet) {
            width: 77px;
        }
    }
}

.verified-seal {
    height: 123px;
    width: 99px;
}
