{{{_header}}}
<div>
    <font face="tahoma, sans-serif" color="#666666">¡Hola <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Una denuncia {{anonimous}} fue hecha en {{entityType}} <b>{{entityName}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Persona: <b>{{person}}</b><br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Contacto: <b>{{email}}</b><br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Tipo: <b>{{type}}</b><br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Fecha: <b>{{date}}</b><br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Url: <b><a href="{{url}}" rel='noopener noreferrer'>link</a></b><br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Mensaje: {{message}}<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">A +! =]<br><br></font>
</div>
{{{_footer}}}