<div>
    <font face="tahoma, sans-serif" color="#666666">¡Nueva entidad creada en la plataforma Cultura en línea <b>{{name}}</b> !<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Creado(a) <b>{{entityType}}</b> de nombre <b>{{entityName}}</b> en la instalación <b>{{url}}</b> el <b>{{createTimestamp}}</b>.<br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">Continue construyendo y actualizando su plataforma Cultura en línea.<br><br></font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#666666">A +! =]<br><br></font>
</div>
<div>
    <b>
        <font face="tahoma, sans-serif" color="#444444">Cultura en línea</font>
    </b>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">Uruguay</font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="mailto:marylly@hacklab.com.br" target="_blank">suporte@mapasculturais.com.br</a>
        <br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">
        <a href="http://hacklab.com.br" target="_blank">http://mapasculturais.org.br</a><br>
    </font>
</div>
<div>
    <font face="tahoma, sans-serif" color="#444444">Tel +55 00 9999 9999</font>
</div>
<div>
    <img src="http://redecidadedigital.com.br/admin/admin/uploads/produto_57362c76118f031953935785aeeccd0e5ccb00bb1ded3cb89534f7.png" width="157" height="96"><br>
</div>
