//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

$brand-primary: #f90;
$brand-accent: #000;


//== User submenu
//
//## Define user submenu colors.

$user-submenu-link:				$brand-accent;