/* = Main section
-------------------------------------------------------------- */
#main-section {
    position: relative;
    margin-top: 78px;
    background-color: $gray-lighter;
    @media print {
        margin-top: 0 !important;
        background-color: #fff;
    }
}
body.editable #main-section {
    margin-top: 136px;
    @media print {
        margin-top: 0;
    }
}