{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "mapas.fullname" . }}
  labels:
    {{- include "mapas.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- if .Values.ingress.hosts }}
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ include "mapas.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}
          {{- end }}
    {{- end }}
    {{- else }}
    {{- /* Generate both baseDomain and funarte.baseDomain or with namespace prefix */}}
    {{- $baseDomain := .Values.ingress.baseDomain | default "mapas.tec.br" }}
    {{- $namespace := .Release.Namespace }}
    {{- $useNamespacePrefix := .Values.ingress.namespacePrefix | default true }}
    {{- /* First host */}}
    {{- if $useNamespacePrefix }}
    - host: {{ printf "%s.%s" $namespace $baseDomain | quote }}
    {{- else }}
    - host: {{ printf "%s" $baseDomain | quote }}
    {{- end }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "mapas.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
    {{- /* Second host: funarte.prefix */}}
    {{- if $useNamespacePrefix }}
    - host: {{ printf "funarte-%s.%s" $namespace $baseDomain | quote }}
    {{- else }}
    - host: {{ printf "funarte.%s" $baseDomain | quote }}
    {{- end }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "mapas.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
    {{- end }}
{{- end }}
