{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Hola, <strong>{{user}}</strong></p>

                        <p>El estado de su inscripción <strong>{{registrationNumber}}</strong> en la fase de recurso <strong>{{phaseTitle}}</strong> cambió a <strong>{{statusTitle}}</strong>.</p>

                        <p>
                            <strong>Oportunidad: </strong> <a href="{{opportunityUrl}}" rel="noopener noreferrer">{{opportunityTitle}}</a><br>
                            <strong>Inscripción: </strong> <a href="{{registrationUrl}}" rel="noopener noreferrer">{{registrationNumber}}</a>
                        </p>

                        <br>
                        <a href="{{registrationUrl}}" rel="noopener noreferrer">
                            <div class="status-card status-card--primary">
                                <h2 class="status-card--title">Seguir inscripción</h2>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{{_footer}}}
