/* =Fonts
-------------------------------------------------------------- */
@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo-bold-webfont.eot');
    src: url('../fonts/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aleo-bold-webfont.woff') format('woff'),
    url('../fonts/aleo-bold-webfont.ttf') format('truetype'),
    url('../fonts/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo-bolditalic-webfont.eot');
    src: url('../fonts/aleo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aleo-bolditalic-webfont.woff') format('woff'),
    url('../fonts/aleo-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/aleo-bolditalic-webfont.svg#aleobolditalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

body {
    font: 100%/150% /*16px/24px*/ 'Open Sans', Arial, Helvetica, sans-serif;
}
pre {
    font-family: Verdana, sans-serif;
    font-size: .75rem /*12px*/;
}
code {
    font-family: 'Courier New', monospace;
    font-size: .75rem /*12px*/;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5rem /*24px*/;
    font-weight: bold;
    font-family: 'aleo', serif;
    color: #000;
}
h1 {
    font-size: 2.25rem /*36px*/;
    line-height: 3rem /*48px*/;
}
h2 {
    font-size: 2rem /*32px*/;
    line-height: 3rem /*48px*/;
}
h3 {
    font-size: 1.75rem /*28px*/;
    line-height: 2rem /*32px*/;
}
h4 {
    font-size: 1.5rem /*24px*/;
}
h5 {
    font-size: 1.375rem /*22px*/;
}
h6 {
    font-size: 1rem /*20px*/;
}
h1 + h2,
h2 + h3,
h4 + h5,
h5 + h6 {
    margin-top: 1.5rem /*24px*/;
}