/* =General classes
-------------------------------------------------------------- */
.small {
    font-size: .75rem;
}
.bottom {
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.textcenter {
    text-align: center;
}
.textleft {
    text-align: left;
}
.textright {
    text-align: right;
}
.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear {
    clear: both;
}
.first {
    margin-left: 0;
}
.last {
    margin-right: 0;
}
.oculto {
    display: none;
}
.screen-reader,
.escondido {
    display: none;
}
/* Text meant only for screen readers */
.screen-reader-text {
    position: absolute;
    left: -9000px;
}
.sombra {
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}
.url {
    word-wrap: break-word;
    word-break: break-all;
}
.box {
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 1.5rem;
}
//renomear
.descricao {
    margin-bottom: 3rem;
}

.js-metalist-form .erro.mensagem {
    display: none;
}

.setinha,
.mc-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    line-height: 0;
    border-color: transparent transparent #000 transparent;
}