.mc-title {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    small {

        font-family: var(--mc-font-headings);
        font-style: var(--mc-font-regular);
        line-height: normal;
        margin: 0;

        @media (max-width: size(500)) {}
    }

    &__h1 {
        font-size: var(--mc-font-size-xl);

        &--long {
            font-size: var(--mc-font-size-md);
            line-height: size(28);
        }

        &--short {
            line-height: size(65.37);
        }

        @media (max-width: size(500)) {
            &--long {
                font-size: var(--mc-font-size-xs);
            }
            &--short {
                font-size: var(--mc-font-size-md);
            }
        }
    }


    &__h2 {
        font-size: var(--mc-font-size-lg);

        &--long {
            font-size: var(--mc-font-size-sm);
            line-height: size(24);
        }

        &--short {
            font-size: var(--mc-font-size-sm);
        }

        @media (max-width: size(500)) {
            &--long {
                font-size: var(--mc-font-size-xs);
                line-height: size(24);
            }
            &--short {
                font-size: var(--mc-font-size-sm);
            }
        }

    }

    // --mc-font-size-xl: 48px;     /* $font-size-xl: 3rem */
    // --mc-font-size-lg: 32px;     /* $font-size-lg: 2rem */
    // --mc-font-size-md: 24px;     /* $font-size-md: 1.5rem */
    // --mc-font-size-sm: 18px;     /* $font-size-sm: 1.125rem */
    // --mc-font-size-xs: 16px;     /* $font-size-xs: 1rem */
    // --mc-font-size-xxs: 14px;    /* $font-size-xxs: 0.875rem */
    // --mc-font-size-xxxs: 12px;   /* $font-size-xxxs: 0.75rem */
    h3 {
        font-size: var(--mc-font-size-md);

        &--long {
            // font-size: ;
        }

        &--medium {}

        &--short {}

        @media (max-width: size(500)) {
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;

            &--long {

                font-size: var(--mc-font-size-xs);
            }



            &--short {
                font-size: var(--mc-font-size-sm)
            }
        }
    }

    h4 {
        font-size: var(--mc-font-size-sm);

        &--long {}

        &--medium {}

        &--short {}

        @media (max-width: size(500)) {
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            line-height: normal;

            &--long {}

            &--medium {}

            &--short {}
        }
    }

    h5 {
        font-size: var(--mc-font-size-xxs);

        &--long {}

        &--medium {}

        &--short {}

        @media (max-width: size(500)) {
            &--long {}

            &--medium {}

            &--short {}
        }
    }

    h6 {
        font-size: var(--mc-font-size-xxs);

        &--long {}

        &--medium {}

        &--short {}

        @media (max-width: size(500)) {
            &--long {}

            &--medium {}

            &--short {}
        }
    }

    // &--long {

    //     font-size: var(--mc-font-size-sm);
    //     line-height: size(24.5);
    // }

    // &--short {
    //     font-size: var(--mc-font-size-xl);
    // }

    // @media (max-width: size(500)) {
    //     &--mobile-h2 {
    //         font-size: var(--mc-font-size-sm);
    //         line-height: size(21);
    //     }

    //     &--mobile-h1 {
    //         font-size: var(--mc-font-size-md);
    //         line-height: size(28);

    //     }

    //     &--mobile-h1--aligncenter {
    //         text-align: center;
    //     }
    // }
}