@use '../0.settings/mixins' as *;

.affirmative-policies--quota-configuration {
    &__active {
        align-items: center;
        display: flex;
        gap: size(19);
    }

    &__card {
        border: size(1) solid var(--mc-gray-300);
        border-radius: var(--mc-border-radius-xs);
    }

    &__header {
        border-bottom: var(--mc-border-hairline) var(--mc-gray-300);
        display: flex;
        flex-direction: column;
        gap: size(9);
        padding: size(13) size(23);
    }

    &__quota {
        align-items: center;
        border-bottom: var(--mc-border-hairline) var(--mc-gray-300);
        display: grid;
        gap: size(20) size(30);
        grid-template-columns: 1fr size(70);
        padding: size(18) size(23);
    }

    &__quota-fields {
        display: grid;
        gap: size(20) size(30);
        grid-template-columns: 
            calc(60% - size(20)) 
            calc(20% - size(20)) 
            calc(20% - size(20));

        @media (max-width: size(1024)) {
            gap: size(20);
            grid-template-columns: 
                calc(50% - size(20)) 
                calc(25% - size(20)) 
                calc(25% - size(20));
        }
    }

    &__field-sufix {
        display: grid;
        grid-template-columns: 1fr size(20);
        justify-items: center;
        align-items: center;
    }

    &__footer {
        padding: size(10) size(23);
    }

    @media (max-width: 810px) {
        &__quota {
            grid-template-columns: 1fr;
        }
    }
}
