@use '../0.settings/mixins' as *;

.controller-agent.action-edit.Agent-2.Agent-1 {
    .data-subtitle {
        font-family: $font-headings;
        font-style: normal;
        font-weight: $font-weight-semibold;
        font-size: $font-size-xxs;
        line-height: size(19);
    }
}

.controller-agent.action-edit {
    .mc-card__title {
        p {
            font-family: $font-body;
            font-style: normal;
            font-weight: $font-weight-semibold;
            font-size: $font-size-xxs;
            line-height: size(19);
        }
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: size(21) 0;
        justify-items: start;
    }

    .input__label {
        display: flex;
        gap: size(8);
        font-family: $font-body;
        font-style: normal;
        font-weight: $font-weight-semibold;
        font-size: $font-size-xxs;
        line-height: size(19);

        input[type="checkbox"] {
            box-sizing: border-box;
            height: size(16);
            width: size(16);
            border: $border-solid (--mc-black);
            border-radius: $border-radius-xs;
        }
    }

    /* .field {
        label {
            margin: 0;
        }
    } */
}

.agent-data {
    display: flex;
    flex-direction: column;

    &__title,
    &__secondTitle {
        margin: size(16) 0 size(16) 0;
    }

    &__fields {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media (max-width:size(1043)) {
            display: grid;
            grid-template-columns: 1fr;
        }

        &--field {
            margin-bottom: size(16);

            label {
                font-family: $font-body;
                font-style: normal;
                font-weight: $font-weight-semibold;
                font-size: $font-size-xxs;
                line-height: size(19);
                margin-bottom: size(8);
            }

            @media (max-width:size(600)) {
                .box {
                    margin: size(8) 0 size(27) 0;
                }
            }

            .box {
                margin-top: size(8);
                max-width: size(300);
                width: 100%;
                min-height: size(49);
                background: var(--mc-gray-100);
                border-radius: size(4);
                padding: size(16);
                word-break: break-word;
            }
        }
    }
}