@use '../0.settings/mixins' as *;

.collapsible-content {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        
        &-content {
            flex: 1;
            min-width: 0;
        }
        
        &-icon {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: auto;
            min-width: size(24);

            .iconify {
                font-size: size(24);
                width: size(24);
                height: size(24);
                flex-shrink: 0;
            }
        }
    }
    
}

