@use '../0.settings/mixins' as *;

.complaint-suggestion {
    display: flex;
    gap: size(16);

    &__modal {
        .modal-content {
            max-width: size(570);
        }
    }

    &__modal-content {
        display: grid;
        gap: size(24);
    }

    &__input-group {
        display: grid;
        gap: size(16);

        input[type="checkbox"] {
            height: size(16);
        }
    }

    &__recaptcha {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .modal-content {
        padding: size(16);
        max-width: size(570);
        width: 100%;
    }
}