@use '../0.settings/mixins' as *;

.documentary-evaluation-form {
    &__content {
        display: flex;
        flex-direction: column;
        gap: size(20);
    }

    &__title {
        display: flex;
        justify-content: center;
        background-color: #FFCF8F;
        height: size(58);
        align-items: center;

        h3 {
            padding: size(10);
            text-align: center;
            font-weight: var(--mc-font-bold);
            font-size: var(--mc-font-size-xxs);
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
        }
    }

    &__textarea {
        label {
            flex-direction: column;
        }
    }

    .field {
        textarea {
            min-height: size(155);
        }
    }

    &__verification {
        &__seals-image {
            display: flex;
            gap: size(16);
            flex-wrap: wrap;
        }
    }
}