@use '../0.settings/mixins' as *;

.entity-social-media {
    &__links {
        display: flex;
        flex-direction: column;
        gap: size(13);
        list-style: none;
        padding: 0;

        &--link {
            align-items: center;
            display: grid;
            gap: size(15);
            grid-template-columns: size(24) calc(100% - size(39));
            line-height: size(19);
            padding: 0;
            color: var(--mc-gray-700);

            a {
                color: var(--mc-gray-700);
                font-family: var(--mc-font-body);
                font-style: normal;
                font-weight: 600;
                font-size: size(14);
                text-decoration: none;
            }

            .iconify {
                font-size: size(24);
                margin: 0 auto;
            }
        }

    }

    &__edit {
        display: flex;
        flex-direction: column;
        gap: size(8);

        &--link {
            align-items: center;
            display: grid;
            gap: size(15);
            grid-template-columns: 1fr 8fr;
            justify-items: center;

            .iconify {
                color: var(--mc-gray-700);
                font-size: size(25);
            }

            .field {
                margin: 0;

                label {
                    display: none;
                }

            }

        }

    }
}