@use '../0.settings/mixins' as *;

.entity-data {
    display: flex;
    flex-direction: column;
    gap: size(8);

    &__label {
        font-size: var(--mc-font-size-xxs);
        font-weight: 600;
    }

    &__data {
        align-items: center;
        background-color: var(--mc-gray-100);
        border-radius: var(--mc-border-radius-xs);
        display: flex;
        gap: size(8);
        justify-content: space-between;
        min-height: size(48);
        padding: size(8) size(12);

        &:has(.mc-tag-list) {
            background-color: var(--mc-white);
        }

    }
    
    &__value {
        font-size: var(--mc-font-size-xs);
        font-weight: 700;
    }
}