@use '../0.settings/mixins' as *;

.entity-social-media {
    &__links {
        display: flex;
        flex-direction: column;
        gap: size(13);
        list-style: none;
        padding: 0;
        margin-top: size(24);

        &--label {
            display: block;
            font-family: var(--mc-font-body);
            font-style: normal;
            font-weight: 700;
            font-size: size(14);
            color: #000;
            margin-bottom: size(8);
        }

        &--link {
            display: flex;
            flex-direction: column;
            padding: 0;
            color: var(--mc-gray-700);

            a {
                color: var(--mc-gray-700);
                font-family: var(--mc-font-body);
                font-style: normal;
                font-weight: 600;
                font-size: size(14);
                text-decoration: none;
            }

            .iconify {
                font-size: size(24);
                margin: 0;
            }
        }

    }

    &__links--content {
        display: flex;
        align-items: center;
        gap: size(12);
    }

    &__description {
        margin-bottom: 17px;
    }

    &__edit {
        &--link {
            .field {
                margin: 0;
                width: 100%;

                &__title {
                    font-weight: 700;
                    margin-bottom: size(8);
                }

                &__input {
                    display: block ;
                    width: 100%;

                    > .entity-social-media__input-wrapper {
                        width: 100% ;
                        flex: none;
                        margin-top: -33px;
                    }
                }
            }
        }
    }

    &__input-wrapper {
        position: relative;
        width: 100%;
        display: block;
        flex: none ;

        input {
            padding-left: size(45) !important;
            padding-right: size(14);
            width: 100%;
            position: relative;
            box-sizing: border-box;
            display: block;
        }
         
        svg {
            color: var(--mc-gray-500);
            position: relative;
            margin-inline-start: size(16);
            margin-bottom: size(-38);
            z-index: 2;
        }
    }
}