@use '../0.settings/mixins' as *;

.entity-location {
    .public-location {
        &__label {

            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: size(14);
            line-height: size(19);
        }
    }

    &__title {
        font-weight: 600;
        font-size: size(18);
        line-height: size(25);
    }

    .leaflet-container {
        z-index: 0;
    }

    &__address {
        font-size: size(13);
        line-height: size(18);
        margin: size(5) 0;
    }

    .mc-map {
        max-height: size(230);
    }
}