@use '../0.settings/mixins' as *;

.entity-log {
  &__history {
    &--title {
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: var(--mc-low-500);
    }
    &--link {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: var(--mc-helper-500);
      text-decoration: none;
    }
  }
}
