@use '../0.settings/mixins' as *;

.entity-cover {
    align-items: center;    
    border: size(1) dashed var(--mc-gray-500);
    border-radius: var(--mc-border-radius-sm);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    .mc-image-uploader {
        width: 100%;
    }

    &__cover{
        &--img {
            align-items: center;
            aspect-ratio: 3/1;
            background-image: var(--url);
            background-position: center;
            background-size: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding: size(10);
            position: relative;
            transition: background-size .2s ease-in;
            width: 100%;

            .label{
                align-items: center;
                border-radius: var(--mc-border-radius-sm);
                color: var(--mc-white);
                cursor: pointer;
                display: flex;
                justify-content: center;
                opacity: 0;
                padding: size(5) size(10);
                position: absolute;
                background-color: rgba(0, 0, 0, .3);
                transition: opacity .1s ease-in;
                z-index: 1;
            }

            img{
                width: 100%;
            }

            &::before {
                content: " ";
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 3;
            }
            
            &:hover {
                backdrop-filter: blur(size(1));
                background-size: 105%;

                &::after {
                    content: " ";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    backdrop-filter: blur(size(2));
                }
                
                .label {
                    opacity: 1;
                }
            }
        }
        
        &--newImg {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: size(10);
            padding: size(25) 0;
            & > * {
                cursor: pointer;
            }
            &:hover {
                background-color: rgba(0, 0, 0, .2);
            }
        }
    }

    svg {
        color: var(--mc-gray-500);
    }

    h5 {
        align-items: center;
        color: var(--mc-gray-700);
        display: flex;
        font-weight: 400;
        margin: 0;
        text-align: center;
    }
}
