@use '../0.settings/mixins' as *;

.evaluation-form {
    overflow-y: auto;
    padding-right: size(10);
    display: flex;
    flex-direction: column;
    gap: size(24);

    .needs-tiebreaker {
        font-size: $font-size-md;
        padding: 5px;
        text-align: center;
    }
}