@use '../0.settings/mixins' as *;

.evaluation-actions {
    padding-top: size(24);

    .modal-content {
        max-width: size(732);
    }

    &__buttons {
        &__saveafter, &__reopen {
            display: block;
            background-color: var(--mc-eval-not-eval);
            color: var(--mc-black);
            border-color:  var(--mc-eval-not-eval);
            &:hover {
                background-color:var(--mc-white);
                color: var(--mc-black);
                border-color:  var(--mc-eval-not-eval);
            }

            svg {
                float: left;
                font-size: size(16);
            }
        }
        
        &__send, &__finalcontinue {
            display: block;
            text-align: center;
            background-color: var(--mc-eval-approved);
            color: var(--mc-black);
            border-color: var(--mc-eval-approved);
            &:hover {
                background-color: var(--mc-white);
                color: var(--mc-black);
                border-color: var(--mc-eval-approved);
            }
            .arrow-icon {
                float: right;
                font-size: size(16);
            }

            .send-icon {
                float: left;
                font-size: size(16);
            }
        }

        &__final {
            display: block;
            background-color: var(--mc-eval-pending);
            color: var(--mc-black);
            border-color: var(--mc-eval-pending);
            &:hover {
                background-color: var(--mc-white);
                color: var(--mc-black);
                border-color: var(--mc-eval-pending);
            }

            svg {
                float: left;
                font-size: size(16);
            }
        }
    }
}