@use '../0.settings/mixins' as *;

.evaluation-actions {
    padding-top: size(24);

    .modal-content {
        max-width: size(732);
    }

    &__buttons {
        &__saveafter, &__reopen {
            background-color: #FFCF8F;
            color: var(--mc-black);
            border-color:  #FFCF8F;
            &:hover {
                background-color:var(--mc-white);
                color: var(--mc-black);
                border-color:  #FFCF8F;
            }
        }
        
        &__send, &__finalcontinue {
            display: block;
            text-align: center;
            background-color: #BFE88B;
            color: var(--mc-black);
            border-color: #BFE88B;
            &:hover {
                background-color: var(--mc-white);
                color: var(--mc-black);
                border-color: #BFE88B;
            }
            svg {
                float: right;
                font-size: size(21);
            }
        }

        &__final {
            background-color: #99D6FF;
            color: var(--mc-black);
            border-color: #99D6FF;
            &:hover {
                background-color: var(--mc-white);
                color: var(--mc-black);
                border-color: #99D6FF;
            }
        }
    }
}