@use '../0.settings/mixins' as *;

.field {
    display: flex;
    flex-direction: column;
    gap: size(8);
    margin: 0;
    width: 100%;

    &--horizontal {
        flex-direction: row;

        & > label {
            white-space: nowrap;
        }
    }
    
    &__shortdescription {
        text-align: right;
    }
    &__longdescription {
        white-space: pre-line;
    }

    &__error {
        font-family: Open Sans;
        font-size: size(12);
        font-weight: 600;
        line-height: size(16);
        letter-spacing: 0em;
        text-align: left;
        color: var(--mc-error);
    }

    &__upload {
        align-items: center;
        display: flex;
        gap: size(16);
    }

    &__buttonUpload {
        width: max-content;

        input {
            display: none;
        }
    }

    &__currence {
        align-items: center;
        display: flex;
        gap: size(9);
    }

    &__currence-sign {
        font-size: var(--mc-font-size-xs);
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: size(8);

        &::-webkit-scrollbar {
            width: size(8);
        }
        
        &::-webkit-scrollbar-track {
            background: var(--mc-gray-100);
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: var(--mc-gray-500);
            border-radius: size(5);
            border: size(2) solid var(--mc-gray-100);
        }
    }

    .required {
        font-family: Open Sans;
        font-size: size(12);
        font-weight: 700;
        line-height: size(16);
        letter-spacing: 0em;
        text-align: left;
        color: var(--mc-error);
    }

    &.disabled {
        label {
            color: var(--mc-gray-500);
        }
        
        input, textarea, select{
            cursor: default;
            opacity: .5;
            pointer-events: none;
        }
    }

    & > label {
        display: flex;
        font-family: var(--mc-font-headings);
        font-size: size(14);
        font-style: normal;
        font-weight: 600;
        line-height: size(19);
        gap: size(8);
        align-items: center;
    }

    &__checkbox {
        align-items: center;
        display: grid;
        font-family: var(--mc-font-headings);
        font-size: size(14);
        font-style: normal;
        font-weight: 600;
        gap: size(8);
        grid-template-columns: size(18) 1fr;
        line-height: size(19);
    }

    input, textarea, select {
        border-radius: var(--mc-border-radius-xs);
        border: size(1) solid var(--mc-gray-500);
        font-family: Open Sans;
        font-size: var(--mc-font-size-xxs);
        line-height: normal;
        padding: size(14);
        width: 100%;

        &.dp__input {
            padding-left: size(35);
        }
        &.mc-multiselect--input{
            padding-right: size(28);
        } 
    }
    
    .dp__input_wrap {
        input {
            background: url(https://api.iconify.design/material-symbols/date-range.svg) no-repeat size(10) center/size(20);
            background-color: var(--mc-white);
            padding: size(14) size(14) size(14) size(40);
        }
    }


    input[type="checkbox"],
    input[type="radio"] {
        float: left;
        height: size(18);
        margin: 0;
        width: size(18);
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(https://api.iconify.design/ic/baseline-arrow-drop-down.svg) no-repeat calc(100% - size(10)) center/size(20);
        background-color: var(--mc-white);
    }

    textarea {
        min-height: size(91);
    }

    &.error {
        input, textarea, select {
            background: url(https://api.iconify.design/fa6-solid/circle-exclamation.svg?color=red) no-repeat right size(16) center / size(20);
            border: size(2) solid #FF0000;
        }

        .dp__input_wrap {
            input {
                background: 
                url(https://api.iconify.design/fa6-solid/circle-exclamation.svg?color=red) no-repeat right size(32) center / size(20),
                url(https://api.iconify.design/material-symbols/date-range.svg) no-repeat size(10) center/size(20);
                padding-right: size(45);
            }
        }
    }
}