@use '../0.settings/mixins' as *;

.home-search {
    display: flex;
    gap: size(30);
    justify-content: center;
    left: 0;
    padding: 0 size(16);
    position: absolute;
    bottom: size(-18.5);
    width: 100%;
    z-index: 2;

    &__form {
        align-items: center;
        display: flex;
        max-width: size(470);
        position: relative;
        width: 100%;

        .input {
            border: size(1) solid var(--mc-gray-100);
            border-radius: size(68) 0 0 size(68);
            border-right: 0;
            font-size: size(16);
            line-height: size(18);
            max-width: size(385);
            padding: size(14) 0 size(14) size(20);
            width: 100%;

            &:focus-visible {
                outline: 0;
            }
        }

        .button {
            align-items: center;
            background: white;
            border: size(1) solid var(--mc-gray-100);
            border-radius: 0 size(68) size(68) 0;
            border-left: 0;
            cursor: pointer;
            display: flex;
            font-size: size(20);
            padding: size(15) size(34);
            margin-left: size(-1);

            .iconify {
                font-size: size(16);
            }

            &:focus-visible {
                outline: 0;
            }
        }
    }

    .button.filter {
        .iconify {
            font-size: size(24);
        }

        @media (max-width: size(800)) {
            font-size: size(14);
            padding: size(5) size(15);
            gap: size(9);
        }
    }
}