@use '../0.settings/mixins' as *;


.home-map {
    display: flex;
    flex-direction: column;
    gap: size(27);
    padding: size(80) size(16);
    position: relative;
    background-color: var(--mc-home-map);

    &__header {
        display: flex;
        flex-direction: column;
        gap: size(4);
        margin: 0 auto;
        max-width: size(1170);
        width: 100%;

        .title {
            font-size: size(32);
            font-weight: 700;
            line-height: size(44);  

            @media (max-width:size(800)) {
                font-size: size(24);
                line-height: size(28);
            }
        }

        .description {
            font-size: size(18);
            font-weight: 400;
            line-height: size(25);

            @media (max-width:size(800)) {
                font-size: size(14);
                line-height: size(19);
            }
        }
    }

    &__content {
        max-width: size(1170);
        margin: 0 auto;
        position: relative;
        width: 100%;      
        
        .leaflet-container {
            border-radius: var(--mc-border-radius-sm);
        }
    } 
}