@use '../0.settings/mixins' as *;

.image-customizer {
    border: var(--mc-border-hairline);
    border-radius: var(--mc-border-radius-sm);
    padding: size(10) size(25) size(25);
    margin: 0;

    &__legend {
        padding: 0 size(10);
    }

    &__wrapper {
        border-bottom: var(--mc-border-hairline) var(--mc-gray-300);
        display: flex;
        flex-direction: column;;
        gap: size(20) size(32);
        width: 100%;
        margin-top: size(20);
        padding-bottom: size(20);
    }

    &__uploader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: size(20);
        width: max-content;
        margin: 0 auto;

        .uploader-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: size(7);
            max-width: size(416);
        }

        .uploader-content {
            align-items: center;
            border: size(1) dashed var(--mc-gray-500);
            border-radius: var(--mc-border-radius-sm);
            color: var(--mc-gray-500);
            cursor: pointer;
            display: flex;
            font-size: size(50);
            min-height: size(96);
            justify-content: center;
            overflow: hidden;
            min-width: size(416);  
            
            &:hover {
                background-color: var(--mc-gray-300);
                background-size: 105%;
            }
        } 
    }
}