@use '../0.settings/mixins' as *;

.mc-multiselect {
    width: 100%;

    &--input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(https://api.iconify.design/ic/baseline-arrow-drop-down.svg) no-repeat right size(16) center/contain;
        background-color: var(--mc-white);
        background-size: size(24);
    }

    &__filter {
        padding: size(5) size(10);
        display: flex;
        gap: size(8);
        justify-content: flex-end;
    }

    &__filter-input {
        width: 100%;
        padding: size(6) size(16);
        font-family: var(--mc-font-body);
    }

    &__close {
        display: flex;
        align-items: center;
        padding: size(10);
        cursor: pointer;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: size(500);
    }

    &__confirm-button {
        padding: size(5) size(10);
        display: flex;
    }

    &__options {
        display: flex;
        flex-direction: column;
        list-style: none;
        overflow-y: auto;
        padding: 0;
        width: 100%;
        margin: 0;
        max-height: size(256);

        @media (max-width: size(500)) {
            max-height: unset;
        }
    }

    &__option {
        display: flex;
        gap: size(8);
        border-radius: var(--mc-border-radius-xs);
        color: var(--mc-low-500);
        cursor: pointer;
        padding: size(5) size(10);

        &:hover {
            background-color: var(--mc-gray-300);
        }
    }

    &__count {
        padding: size(5) size(10);
        label {
            justify-content: center;
        }
    }

    &__popper {
        .popover__content {
            background-color: var(--mc-white);
            border-radius: var(--mc-border-radius-xs);
            padding: 0;
        }

        &.v-popper {
            &__popper {
                .v-popper {
                    &__inner {
                        border: none;
                    }

                    &__arrow-container {
                        display: none;
                    }
                }
            }

        }
    }

    &--disabled,
    &--disabled > input {
        opacity: .9;
        pointer-events: none;
        background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
        color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    }
}