@use '../0.settings/mixins' as *;

.mc-accordion {
    background-color: var(--mc-gray-100);
    
    &__title {
        font-size: size(14);
    }
    &__header {
        align-items: center;
        background: var(--mc-white);
        border-radius: size(4);
        cursor: pointer;
        display: grid;
        gap: size(10);
        grid-template-columns: 1fr size(30);
        justify-content: center;
        max-width: size(870);
        padding: 18px 16px;

        &--active{
            border-radius: size(4) size(4) 0 0;
        }
    }
    
    &__content {
        background: var(--mc-white);
        border-top: 1px solid var(--mc-gray-100);
        max-width: size(870);
        padding: size(16);
        
    }

    &__close {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}