@use '../0.settings/mixins' as *;

.mc-tag-list {
    display: flex;
    flex-direction: column;
    gap: size(8);
    margin: 0;

    &__list {
        margin: 0;
        display: flex;
        gap: size(10);
        padding: 0;
        flex-wrap: wrap;

        & > li {
            list-style: none;
        }
    }
}