@use '../0.settings/mixins' as *;

.mc-map {
    height: size(400);  
    
    .leaflet-container {
        z-index: 1;
        
        .leaflet-pane {
            z-index: 0;
        }

        .leaflet-control-container {
            .leaflet-control-zoom {
                display: flex;
                background-clip: unset;
                border: 0;
                gap: size(6);
                margin-left: size(16);
                margin-top: size(19);

                .leaflet-control-zoom-in,
                .leaflet-control-zoom-out {
                    align-items: center;
                    border: unset;
                    border-radius: var(--mc-border-radius-sm);
                    display: flex;
                    font-size: size(15);
                    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.16));
                    font-weight: 400;
                    height: size(48);
                    justify-content: center;
                    width: size(48);

                    &.leaflet-disabled {
                        background-color: var(--mc-gray-100);
                    }
                }

            }
        }
    }

    .leaflet-marker-icon {
        &:hover {
            z-index: 1000 !important;
        }
    }

    &-marker {
        align-items: center;
        border: var(--mc-border-hairline) var(--mc-gray-300);
        border-radius: var(--mc-border-radius-pill);
        display: flex;
        height: size(30);
        justify-content: center;
        left: size(-14);
        position: absolute;
        top: size(-48);
        width: size(30);

        &::before {
            background: white;
            border: var(--mc-border-hairline) var(--mc-gray-300);
            border-radius: var(--mc-border-radius-pill);
            content: '';
            height: size(38);
            position: absolute;
            width: size(38);
            z-index: -1;
        }

        &::after {
            width: size(13);
            height: size(13);
            content: '';
            position: absolute;
            background: white;
            bottom: size(-11);
            -webkit-transform: rotate(45deg) skew(20deg, 20deg);
            transform: rotate(45deg) skew(20deg, 20deg);
            border: var(--mc-border-hairline) var(--mc-gray-300);
            z-index: -1;
            border-top: none;
            border-left: none;
        }
    }

    &-cluster {
        &.agent_space_event__background {
            background: white;
            &::before {
                background-image: conic-gradient(
                    var(--mc-agents-500) 0deg,
                    var(--mc-agents-500) 120deg,
                    var(--mc-spaces-500) 120deg,
                    var(--mc-spaces-500) 240deg,
                    var(--mc-events-500) 240deg
                );
            }
            &::after {
                background: var(--mc-spaces-500);
            }
        }

        &.agent_space__background {
            background: white;
            &::before {
                background-image: conic-gradient(
                    var(--mc-agents-500) 0deg,
                    var(--mc-agents-500) 180deg,
                    var(--mc-spaces-500) 180deg
                );
            }
            &::after {
                background: var(--mc-agents-500);
            }
        }

        &.agent_event__background {
            background: white;
            &::before {
                background-image: conic-gradient(
                    var(--mc-agents-500) 0deg,
                    var(--mc-agents-500) 180deg,
                    var(--mc-events-500) 180deg
                );
            }
            &::after {
                background: var(--mc-agents-500);
            }
        }

        &.space_event__background {
            background: white;
            &::before {
                background-image: conic-gradient(
                    var(--mc-spaces-500) 0deg,
                    var(--mc-spaces-500) 180deg,
                    var(--mc-events-500) 180deg
                );
            }
            &::after {
                background: var(--mc-spaces-500);
            }
        }

        &.agent__background {
            background: white;
            &::before {
                background: var(--mc-agents-500);
            }
            &::after {
                background: var(--mc-agents-500);
            }
        }
        &.space__background {
            background: white;
            color: var(--mc-low-500);
            &::before {
                background: var(--mc-spaces-500);
            }
            &::after {
                background: var(--mc-spaces-500);
            }
        }
        &.event__background {
            background: white;
            color: var(--mc-low-500);
            &::before {
                background: var(--mc-events-500);
            }
            &::after {
                background: var(--mc-events-500);
            }
        }
    }
}