@use '../0.settings/mixins' as *;

.mc-multiselect {
    
    &--input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url(https://api.iconify.design/ic/baseline-arrow-drop-down.svg) no-repeat 96% center/contain;
        background-color: var(--mc-white);
        background-size: size(20);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: size(10);

        &-form {            
            .input {
                border: var(--mc-border-hairline) var(--mc-gray-100);
                border-radius: var(--mc-border-radius-pill);
                font-weight: 400;
                font-size: size(16);
                line-height: size(19);
                padding: size(10) size(16);
                width: 100%;
            }
            .mc-tag-list__tagList {
                max-height: size(180);
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            list-style: none;
            overflow-y: auto;
            padding: 0;
            width: max-content;
            margin: 0;
            max-height: size(250);

            .item {
                display: flex;
                gap: size(8);
            }
        }

        &-button {
            display: flex;
            justify-content: flex-end;
        }
    }
    
    // @TODO: refatoração do popover
    .popover {
        width: 100%;
        &__content {
            padding: 0;
        }
    }
}