@use '../0.settings/mixins' as *;

.opportunity-category-list {
    display: flex;
    flex-direction: column;
    gap: size(16);
    max-width: 90%;

    &__add-category {
        display: flex;
        align-items: center;
        gap: size(32);
        
        .field {
           max-width: size(432);

            & input {
                max-width: size(432);
                padding: size(8);
            }
        }
    }
}