@use '../0.settings/mixins'as *;

.opportunity-phase-header {
    align-items: center;
    padding: size(13) size(24);
    margin-bottom: size(16);
    background-color: var(--mc-white);

    &__label {
        color: var(--mc-gray-500);
    }

    &--spacing {
        padding: size(16);

        div {
            margin-bottom: size(16);
        }
    }
}