@use '../0.settings/mixins' as *;

.opportunity-evaluation-committee {
    display: flex;
    flex-direction: column;
    gap: size(24);    

    &__header{
        display: flex;
        flex-direction: column;
        gap: size(8);
    }

    &__add-new-evaluator {
        display: flex;
    }

    &__card-grouping {
        display: flex;
        flex-direction: column;
        gap: size(16);
    }

    &__card {
        border-radius: var(--mc-border-radius-xs);
        border: size(1) solid var(--mc-low-300);
        display: flex;
        flex-direction: column;
    }

    &__card-header {
        align-items: center;
        border-bottom: size(1) solid var(--mc-low-300);
        display: flex;
        flex-wrap: wrap;
        gap: size(16);
        justify-content: space-between;
        padding: size(16) size(24);
    }

    &__card-header-info {
        max-width: 53%;
        align-items: center;
        display: flex;
        gap: size(16);

        .evaluator-data {
            display: flex;
            flex-direction: column;
        }
    }

    &__card-header-actions {
        align-items: center;
        display: flex;
        gap: size(16);
    }

    &__card-content {
        padding: size(24);
    }

    &__change-distributions {
        display: flex;
        flex-wrap: wrap;
        gap: size(16);
        justify-content: space-between;
        align-items: center;
    }

    &__distributions {
        display: flex;
        gap: size(24);
    }

    &__distribution {
        max-width: size(120);
    }

    &__settings {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: size(10);
        min-height: size(49);
    }

    &__all-settings {
        display: flex;
        flex-direction: column;
        gap: size(10);
    }

    &__user-id {
        display: flex;
        justify-content: flex-end;
        padding: 5px;
    }

    &__summary {
        display: flex;
        gap: size(32);
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: solid 1px #000;
        padding: 30px 0px 30px 0px;
        
        
        span {
            display: flex;
            gap: 5px;
            border-radius: 5px;
            padding: 8px;
            align-items: center;
        }
        
        &__sent {
            background-color: #BFE88B;
        }

        &__pending {
            background-color: #FFB5B5
        }

        &__started {
            background-color: #FFCF8F;
        }

        &__completed {
            background-color: #99D6FF;
        }
    }
}