@use '../0.settings/mixins' as *;

.opportunity-evaluations-list {
    max-width: size(1824) !important;
    position: sticky;
    top: size(40);
    z-index: 1;

    &__container {
        width: size(140);
        display: flex;
        flex-direction: column;
        box-shadow: 2px 3px 4px -1px rgb(0 0 0 / 16%);
        border-radius: 0px 4px 4px 0px;
        max-height: size(800);
        transition: width .5s;

        @media (max-width: size(500)){
            display: none;
        }
        .act-button {
            border: 1px solid var(--mc-gray-100);
            padding: size(13) size(18);
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: size(15);
            background-color: var(--mc-white);
            justify-content: space-between;
           
            .label {
                font-family: 'Open Sans';
                font-style: normal;
                font-size: size(14);
                font-weight: 700;
                line-height: size(19);
                color: var(--mc-primary-500);
            }

            .icon {
                .iconify {
                    font-size: size(14);
                    color: var(--mc-primary-500);
                }
            }
        }

        &.isOpen {
            width: size(311);

            .find {
                border-top: 1px solid var(--mc-gray-100);
                padding: size(21) size(16);
                background-color: var(--mc-white);
                border-bottom: 1px solid var(--mc-gray-100);

                .content {
                    display: flex;
                    gap: size(5);
                    align-items: center;

                    input[type="text"] {
                        position: relative;
                        border-radius: size(69);
                        height: size(40);
                        border: size(1) solid var(--mc-gray-100);
                        background: url(https://api.iconify.design/ant-design/search-outlined.svg) no-repeat calc(100% - size(10)) center/size(20);
                        width: 100%;
                        padding: size(12) size(30) size(12) size(20);
                    }

                    .button-filter {
                        max-width: size(100);
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: size(100);
                        height: size(36);
                        border-radius: size(4);
                        border: size(2) solid var(--mc-primary-500);
                        color: var(--mc-white);
                        gap: size(12);

                        label {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: size(14);
                            line-height: sie(19);
                        }

                        svg {
                            font-size: size(16);
                            color: var(--mc-white);
                            width: size(16);
                            height: size(16);
                        }
                    }
                }
            }

            .label-evaluation {
                &__check {
                    margin-top: size(15);
                    display: flex;
                    flex-direction: row;
                    gap: size(8);

                    &--pending {
                        background: #FFFFFF;
                        box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.16);
                        border-radius: 0px 4px 4px 0px;

                        input[type="checkbox"] {
                            background: var(--mc-white);
                            box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.16);
                            border-radius: 0px 4px 4px 0px;
                        }
                    }

                    &--label {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }

            ul.evaluation-list {
                background-color: var(--mc-white);
                list-style: none;
                padding:0;
                margin: 0;
                overflow-y: auto;
                overflow-x: hidden;
                max-height: size(880);
                
                li.evaluation-list__card:last-child {
                    margin-bottom: size(16);
                }
                
                li.evaluation-list__card {
                    background-color: var(--mc-white);
                    padding: size(16);
                   
                    .evaluation-list__content {
                        border: 1px solid var(--mc-gray-100);
                        border-radius: var(--mc-border-radius-xs);
                        padding: size(16);
                        background-color: var(--mc-white);
    
                    }
                
                    .link {
                        text-decoration: none;
                        color: unset;

                        .card {
                            &-header {
                                display: flex;
                                flex-direction: row;
                                gap: size(8);
                                margin-bottom: size(12);

                                svg {
                                    font-size: (12);
                                    color: var(--mc-primary-500);
                                }

                                &__name {
                                    font-family: 'Open Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: size(14);
                                    line-height: size(19);
                                    color: var(--mc-primary-500);
                                }
                            }

                            &-content {
                                display: flex;
                                flex-direction: row;
                                gap: size(33);

                                &__middle {
                                    display: flex;
                                    flex-direction: column;

                                    .subscribe {
                                        font-family: 'Open Sans';
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 12px;
                                        line-height: 16px;
                                        text-transform: uppercase;
                                        color: var(--mc-low-700)
                                    }

                                    .value {
                                        font-family: 'Open Sans';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: size(14);
                                        line-height: size(19);

                                    }
                                }
                            }
                        }

                        .card-state {
                            padding-top: size(16);
                            display: flex;
                            flex-direction: column;
                            gap: size(4);
                            &__info {
                                display: flex;
                                align-items: center;
                                gap: size(8);
                                padding-bottom: size(16) ;
                            }
                            .state,
                            &label {
                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 16px;
                                color: var(--mc-low-700);
                                text-transform: uppercase;
                            }

                            button {
                                background-color: var(--mc-white);
                                border: none;
                                display: flex;
                                gap: size(8);
                                max-width: size(100);
                                padding-left: 0;
                                
                                label {
                                    color: var(--mc-low-700);
                                    font-family: 'Open Sans';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: size(12);
                                    line-height: size(16);
                                    text-align: center;
                                    text-transform: capitalize;
                                }
                                &-state {
                                   
                                }
                            }
                        }
                    }
                }
                li.evaluation-list__card--modify {
                    background-color: var(--mc-primary-300);
                }
                
            }

            .opportunity-evaluations-list__button {
                border: none;
                padding: size(23) size(17);
                width: 100%;
                justify-content: space-between;

                .label {
                    width: unset;
                }
            }
        }
    }
}