@use '../0.settings/mixins' as *;

.opportunity-committee-groups {
    display: grid;

    &__description {
        margin-bottom: size(15);
    }

    &__actions {
        display: flex;
        gap: size(8);
    }

    &__group {
        border-radius: var(--mc-border-radius-xs);
        border: size(1) solid;
        display: grid;
        margin-top: size(16);
    }

    &__edit-group {
        border-bottom: size(1) solid;
        padding: size(16);

        &--field {
            display: flex;
            gap: size(16);
            justify-content: space-between;
            align-items: center;

            input {
                max-width: 100%;
                width: 80%;
            }
        }
    }

    &__evaluators,
    &__multiple-evaluators {
        display: grid;
    }

    &__evaluators,
    &__multiple-evaluators {
        border-bottom: size(1) solid;
        gap: size(16);
        padding: size(16);
    }

    &__evaluators {
        border-bottom: none;

        & .tabs-component {
            display: grid;
            gap: size(15);

            &__header,
            &__panels {
                width: 100%;
            }
        }
    }

    &__multiple-evaluators {
        gap: size(15);
        justify-content: space-between;

        input {
            max-width: 100%;
            width: size(96);
            height: size(40);
        }
    }

    &__distribution {
        display: grid;
        gap: size(16);
    }

    &__distribution-title {
        align-items: center;
        display: flex;
        gap: size(8);
    }

    &__distribution-progress {
        background-color: var(--mc-gray-300);
        border-radius: var(--mc-border-radius-sm);
        border: var(--mc-border-hairline) var(--mc-gray-500);
        height: size(24);
        overflow: hidden;
        position: relative;
    }

    &__distribution-progressbar {
        background-color: var(--mc-success-500);
        color: black;
        display: flex;
        font-weight: var(--mc-font-semibold);
        height: 100%;
        text-align: center;
    }

    &__distribution-message {
        color: var(--mc-white);
        font-weight: var(--mc-font-semibold);
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    &__distribution-actions {
        display: flex;
        gap: size(16);
        justify-content: space-between;

        .mc-loading {
            margin: unset;
        }
    }

    .tabs-component {
        max-width: size(1020);
        min-width: 40%;
    }

    .field {
        .has-info {
            display: flex;
            gap: 5px;
        }
    }
}