@use '../0.settings/mixins' as *;

.opportunity-phases-timeline {
    &__box {
        border-radius: size(4);
        border: 1px solid var(--mc-gray-300);
        padding: size(12);
        width: max-content; 
    }
    &__status {
        display: grid;
        grid-template-columns: size(12) 1fr;
        gap: size(8);
        align-items: center;
    }
    &__label {
        font-size: size(12);
    }
}