@use '../0.settings/mixins' as *;

.opportunity-registration-filter-configuration {
    display: flex;
    gap: size(4);

    &__add-filter {
        height: size(33);
    }

    &__related-input {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        select {
            background: none;
        }
    }
}