@use '../0.settings/mixins' as *;

.opportunity-ranges-config {
    display: flex;
    flex-direction: column;
    gap: size(16);

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: size(8);
        gap: size(8);
    }

    &__content {
        border-top: 1px solid var(--mc-gray-300);
        display: flex; 
        justify-content: space-between;
        align-items: center;
        gap: size(32);
        padding-top: size(8);
        width: 100%;
        
        .field {
            display: flex;
            flex-direction: column;
        
            &__title {
                margin: 0;
            }

            &__input {
                border: 0.0625rem solid var(--mc-gray-500);
                border-radius: var(--mc-border-radius-xs);
                padding: size(8);
                font-family: var(--mc-font-family);
                font-size: var(--mc-font-size-xxs);
                line-height: normal;
                
                &--small {
                    width: 60%;
                }
            }
        }
        
        .field--small {
            width: 50%;
        }

        & > .field__trash {
            display: flex;
            justify-content: center;
            width: 20%;
        }
    }

    &__button {
        border-top: 1px solid var(--mc-gray-300);

        &__add {
            margin-top: size(8);
        }
    }
}