@use '../0.settings/mixins' as *;

.opportunity-phase-list-registrations {



    &__box {
        border: 1px solid var(--mc-gray-300);
        padding: size(16);
        border-radius: size(8);
        margin-bottom: size(16);
    }

    &__endbox {
        gap: size(8);
        a {
            color: var(--mc-white);

            .iconify {
                font-size: size(17.5);
            }
        }

        div {
            display: flex;
            align-items: center;
        }
    }

    &__status {
        padding-bottom: size(24);
    }
}