@use '../0.settings/mixins' as *;

.opportunity-basic-info {
  &__container {
    max-width: size(1200);
    display: flex;
    flex-direction: column;
    gap: size(24);
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__label {
    font-weight: 600;
    font-size: size(14);
    line-height: size(19);
    color: var(--mc-low-500);
    margin-top: size(10);
    margin-bottom: 0 !important;
  }

  &__hint {
    font-weight: 700;
    font-size: size(12);
    line-height: size(16);
    color: var(--mc-error);
  }
}