@use '../0.settings/mixins' as *;

.opportunity-phase-publish-config-registration {
    width: 100%;
    &__registrationList {
        display: flex;
        flex-direction: column;
        gap: size(8);
        border: 1px solid var(--mc-gray-300);
        padding: size(16);
        border-radius: size(8);
        margin-bottom: size(32);
        align-items: flex-start;
            .iconify{
    
                font-size: size(22.5);
            }
    }

    .modal-confirm {
        .modal__content {
            .message {
                padding-top: size(16);
            }

        }
    }

    &--published {
        width: 100%;
        padding-top: size(16);
    }

    .notPublished {
        border-bottom: 1px solid var(--mc-gray-100);
        padding-bottom: size(32);

    }

    &__button {
        width: 100%;

        .button-config {
            .button {
                width: 100%;
            }
        }
    }
 
    &__line {
        border-top: 1px solid var(--mc-gray-100);
        padding-bottom: size(16);
        min-height: size(16);
        width: 100%;
    }

    &__checkbox {
        flex-direction: row;
        display: flex;
        align-items: flex-end;
        padding-bottom: 13px;

        label {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
    }
}