@use '../0.settings/mixins' as *;

.opportunity-data-collection {
    &__section {
        border-top: size(2) solid var(--mc-gray-100);
        border-bottom: size(2) solid var(--mc-gray-100);
        padding: size(16) 0 size(40);
        gap: size(40) size(20);
    }

    &__horizontal-line {
        max-width: size(1038);
        border-bottom: 1px solid var(--mc-gray-100);
    }
    &__fields {
        padding-top: size(16);
    }

    &__field {
        .field {
            &__title {
                font-size: size(14);
                font-family: Open Sans;
                font-style: normal;
                font-weight: semibold;
                line-height: normal;
                margin: 0;
                color: var(--mc-gray-500)
            }
            & label {
                margin: 0;
            }
        }
    }

    &__delete {
        margin: 0 auto;


    }

    &__trash {
        display: flex;
        gap: size(11);
        text-decoration: none;

        .iconify {
            svg {
                font-size: 20px;
                color: var(--mc-danger-500);
            }
        }
    }

    &__category {
        align-items: start;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__registration {
        padding-left: size(35);
    }
}