@use '../0.settings/mixins' as *;

.panel--last-registrations {
    &__content {
        width: 100%;

        &-title {
            font-size: size(24);
            font-weight: 700;
            line-height: size(28);
            margin-bottom: size(16);
        }

        &-cards {
            .carousel {
                .actions {
                    display: flex;
                    gap: size(18);
                    position: absolute;
                    right: 0;
                    top: size(-50);

                    button.carousel__prev {
                        background: url(https://api.iconify.design/akar-icons/arrow-left.svg?color=%230074C1) no-repeat center center / size(15);
                    }

                    button.carousel__next {
                        background: url(https://api.iconify.design/akar-icons/arrow-right.svg?color=%230074C1) no-repeat center center / size(15);
                    }

                    button.carousel__prev,
                    button.carousel__next {
                        background-color: var(--mc-high-500);
                        border: none;
                        border-radius: var(--mc-border-radius-pill);
                        height: size(40);
                        width: size(40);
                    }

                    .carousel__icon {
                        display: none;
                    }
                }

                &__slide {
                    text-align: left;
                }
            }

            .registration-card {
                margin: 0 size(12);

                &__content {
                    .right {
                        .header {
                            align-items: flex-start;
                            flex-direction: column-reverse;

                            .title {
                                font-size: var(--mc-font-size-xs);
                                strong {
                                    font-size: var(--mc-font-size-xs);
                                }
                            }
                        }

                        .content .registerData {
                            min-width: calc(50% - 1.5rem);

                            &:nth-child(-n+2) {
                                flex: 1 1 calc(50% - 1.5rem);
                            }

                            .title {
                                font-size: var(--mc-font-size-xxs);
                            }

                            .data {
                                font-size: var(--mc-font-size-xxs);
                            }
                        }
                    }
                }
            }
        }
    }
}