@use '../0.settings/mixins'as *;

.qualification-evaluation-config {
    &__card {
        border-radius: var(--mc-border-radius-xs);
        border: var(--mc-border-hairline) var(--mc-gray-500);
        margin-bottom: size(24);
        overflow: hidden;
    }

    &__header {
        display: flex;
        flex-direction: column;
        border-bottom: var(--mc-border-hairline) var(--mc-gray-500);
    }

    &__title {
        display: grid;
        grid-template-columns: 1fr size(115);
        gap: size(32);
        padding: size(16);
        border-bottom: var(--mc-border-hairline) var(--mc-gray-300);

        @media (max-width: 884px) {
            grid-template-columns: 1fr;
        }
    }
    
    &__title-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 884px) {
            flex-direction: column;
            gap: size(32);
        }
    }

    &__filters, &__criteria-filters {
        display: flex;
        flex-direction: column;
        gap: size(16);
    }
    
    &__filters {
        padding: size(16);
    }

    &__criteria-filters {
        padding: size(16) 0 size(6);
        margin-top: size(16);
        border-top: var(--mc-border-hairline) var(--mc-gray-300);
    }

    &__non-eliminatory {
        input {
            max-width: 100%;
            width: size(96);
            height: size(40);
        }
    }

    &__filters-input {
        display: flex;
        gap: size(8);
        align-items: center;
    }

    &__criterions {
        background-color: var(--mc-gray-100);

        .criterions__title {
            padding: size(10) size(16);

            label {
                font-size: var(--mc-font-size-sm);
                font-weight: var(--mc-font-semibold);
            }
        }

        .criterion {
            display: grid;
            gap: size(32);
            grid-template-columns: 1fr size(160);
            align-items: center;

            @media (max-width: 884px) {
                grid-template-columns: 1fr;
            }

            &__buttons {
                display: flex;
                gap: size(32);

                @media (max-width: 884px) {
                    flex-direction: column;
                }

                .field__trash {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        & > .mc-accordion {
            padding: 0 size(16);
    
            &__header {
                max-width: unset;
                padding: size(10) size(26);
            }
    
            &__content {
                max-width: unset;
                background-color: var(--mc-gray-100);
            }
        }
    }

    &__criterions-content {
        display: grid;
        gap: size(16);

        & .mc-accordion {
            padding: 0 size(16);
    
            &__header {
                max-width: unset;
                padding: size(10) size(26);
            }
    
            &__content {
                max-width: unset;
                padding: size(10) size(26);
            }
        }
    }

    &__criterion {
        border: var(--mc-border-hairline) var(--mc-gray-300);
        margin: size(24); 
        padding: size(20);
        display: flex;
        flex-direction: column;
        gap: size(24);
    }

    &__config-criterion {
        gap: size(24);
        
        &__config {
            gap: size(24);
            label {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        
        &__checkboxes {
            label {
                flex-direction: row;
                align-items: center;
            }
        }
        
        &__input {
            flex-direction: row;
            gap: size(32);
            justify-content: space-between;
            
            input {
                max-width: 100%;
                width: 75%;
            }
        }
        
    }

    &__add-criterion {
        padding: size(14) size(23);
    }

    &__footer { 
        padding: size(18) 0;
    }

}