@use '../0.settings/mixins' as *;

.registration-actions {
    display: flex;
    flex-direction: column;
    gap: size(56);
    position: sticky;
    top: size(167);
    z-index: 1;

    &__primary {
        .errors {
            background: var(--mc-high-500);
            border-radius: var(--mc-border-radius-xs);
            display: flex;
            flex-direction: column;
            gap: size(8);
            margin-bottom: size(24);
            padding: size(16);

            &__title {
                color: var(--mc-error);
                font-size: size(16);
                font-weight: 700;
                line-height: size(22);
                text-align: center;
            }

            &__subtitle {
                font-size: size(16);
                font-weight: 600;
                line-height: size(22);
                margin-bottom: size(8);
            }

            &__error {
                align-items: baseline;
                display: grid;
                gap: size(8);
                grid-template-columns: size(16) 1fr;
                margin-bottom: size(8);

                &:nth-child(0) {
                    background-color: gray;
                }

                &:nth-child(1) {
                    margin-top: size(8);
                    background: green;
                }

                &::before {
                    background-color: var(--mc-secondary-500);
                    border-radius: var(--mc-border-radius-pill);
                    content: '';
                    height: size(16);
                    width: size(16);
                }

                &--text {
                    font-size: size(14);
                    line-height: size(19);

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    &__secondary {
        display: flex;
        flex-direction: column;
        gap: size(24);
    }
}