@use '../0.settings/mixins'as *;

.registration-status {
    display: flex;
    gap: size(6);
    align-items: center;

    &--selected,
    &--valid {
        color: var(--mc-success-500);
    }

    &--invalid {
        color: var(--mc-danger-500);
    }

    &__box {
       max-width: size(256); 
       border-radius: size(4);
       border: 1px solid var(--mc-gray-300);
       padding: size(8) 0 size(8) size(8);
    }
    &__status {
        display: grid;
        grid-template-columns: size(12) 1fr;
        gap: size(8);
        align-items: center;
        padding-bottom: size(16);
    }
    &__label {
        font-size: size(12);
    }
}