@use '../0.settings/mixins' as *;

.registration-print {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;

    &__actions {
        display: flex;
        gap: size(12);
        justify-content: flex-end;
        margin-bottom: size(24);
        margin-top: size(16);
        
        @include mobile {
            flex-direction: column;
            gap: size(8);
        }

        @media print {
            display: none;
        }
    }

    &__printOnly {
        visibility: hidden;
        position: absolute;
        @media print {
            visibility: visible;
        }
    }

    &__loading {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        color: white;
        background-color: var(--mc-low-500);
        width: 100%;
        height: 100%;
        opacity: .5;
    }
}