@use '../0.settings/mixins' as *;

.registration-details-workplan {
    &__goals {
        padding: size(12);
        margin-top: size(12);
        background-color: #f7f7f7;
        border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        border: 1px solid #ccc;
        width: 100%;
    }

    &__header-goals {
        // cursor: pointer;
        display: flex;
        justify-content: space-between;
        color: var(--mc-primary-500);
    }

    &__header-deliveries {
        // cursor: pointer;
        display: flex;
        justify-content: space-between;
        color: var(--mc-primary-500);
    }

    &__goals-title {
        color: var(--mc-primary-500);
    }

    &__goals__deliveries {
        border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        border: 1px solid #ccc;
        padding: size(24);
        margin-top: size(12);
        background-color: #f3f3f3;
    }

    .field {
        margin-top: size(12);
        background-color: #E8E8E8;
        padding: size(8);
        border-radius: 4px;
    }
}