@use '../0.settings/mixins' as *;

.registration-print {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;

    &__button {
        align-items: center;
        background-color: transparent;
        border: none;
        bottom: size(4);
        color: var(--mc-low-500);
        cursor: pointer;
        display: flex;
        font-size: var(--mc-font-size-xxs);
        gap: size(8);
        position: absolute;
        right: 0;

        .iconify {
            font-size: size(24);
        }
    }

    &__printOnly {
        visibility: hidden;
        position: absolute;        
        @media print {
            visibility: visible;
        }
    }

    &__loading {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        color: white;
        background-color: var(--mc-low-500);
        width: 100%;
        height: 100%;
        opacity: .5;
    }
}