.controller-seal {
  .tabs-component {
    background-color: var(--mc-white);

    &__panels {
      margin-bottom: 0;
      background-color: var(--mc-gray-100);
    }

    &__buttons {
      gap: size(49);
    }
  }
}


.seal-locked-field {
  max-width: size(1190);
  margin: size(32) auto;
  padding: 0 size(16);
  display: grid;
  gap: size(40);

  &__title {
    font-weight: 700;
    font-size: size(16);
    line-height: size(22);
    margin: size(8) 0;
  }

  &__groups {
    width: 100%;
    display: grid;
    gap: size(25);
  }

  &__group {
    display: grid;
    gap: size(15);
  }

  &__group-title {

  }

  &__group-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  &__container {
    padding: size(8);

    h3 {
      font-weight: 700;
      font-size: size(18);
      line-height: size(25);
    }

    h4 {
      font-weight: 700;
      font-size: size(16);
      line-height: size(22);
    }

    h5 {
      font-weight: 700;
      font-size: size(14);
      line-height: size(19);
    }
  }
}