@use '../0.settings/mixins' as *;

.seal-content-share {

	&__socialnetwork {
		&--title {
			font-weight: 600;
			font-size: size(14);
			line-height: size(19);
			color: var(--mc-black);
		}
		&--icons {
			display: flex;
			flex-direction: row;
			.icon {
				border: 0.5px solid var(--mc-gray-600);
				border-radius: size(4);
				padding: size(8);
				margin-right: size(24);
				display: flex;
				align-self: center;
				height: size(42);
				a {
					text-decoration: none;
					color: inherit;
					margin: 0;
					padding: 0;
				}
			}
		}
	}

	&__share {
		&--label {
			font-weight: 600;
			font-size: size(14);
			line-height: size(19);
			color: var(--mc-low-500);
		}
		&--icon {
			color: var(--mc-helper-500);
		}
		&--field {
			background: var(--mc-gray-200);
			border-radius: size(4);
			padding: size(8);
			span {
				font-weight: 600;
				font-size: size(12);
				line-height: size(16);
				color: var(--mc-black);
			}
		}
		&--button {
			font-weight: 600;
			font-size: size(16);
			color: var(--mc-helper-500);
			float: right;
			display: inline-block;
			a {
				color: var(--mc-helper-500);
			}
		}
	}

}



