@use '../0.settings/mixins' as *;

.stepper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: size(1170);
    position: relative;
    width: 100%;

    .step {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: size(87);
        position: relative;
        width: 100%;

        &::before {
            background: var(--mc-gray-300);
            content: '';
            height: size(2);
            position: absolute;
            transition: all 300ms linear;
            top: size(7);
            width: 100%;
        }

        .count {
            background-color: var(--mc-white);
            border: 2px solid var(--mc-gray-300);
            border-radius: 50%;
            color: var(--mc-gray-300);
            display: block;
            height: size(16);
            outline: 2px solid var(--mc-white);
            transition: all 300ms linear;
            width: size(16);
            z-index: 1;
        }

        .label {
            color: var(--mc-gray-500);
            font-weight: 700;
            font-size: size(14);
            line-height: size(19);
            padding: size(4);
            text-align: center;
            transition: opacity 300ms;
        }

        &.passedby, &.active {

            .count {
                background-color: var(--mc-secondary-500);
                border-color: transparent;
            }
        }

        &.passedby {

            &::before {
                background: var(--mc-secondary-500);
            }
        }

        &.active {
            cursor: default;

            .label {
                color: var(--mc-black);
            }

            &::before {
                background: linear-gradient(to right, var(--mc-secondary-500), var(--mc-secondary-500) 50%, var(--mc-gray-300) 50%);
            }
        }
    }

    &.noNavigation {
        .step {
            cursor: default;
        }
    }
}