@use '../0.settings/mixins' as *;

.subsite-configurations {
    display: grid;
    gap: size(20);

    &__section {
        border: var(--mc-border-hairline);
        border-radius: var(--mc-border-radius-sm);
        display: grid;
        gap: size(12);
        padding: size(10) size(25) size(25);
    }
    
    &__section-legend {
        padding: 0 size(10);
    }
}