@use '../0.settings/mixins' as *;

.user-mail {
    background-color: var(--mc-high-500);
    display: flex;
    flex-direction: column;
    gap: size(16);
    padding: size(16);

    &__title {
        font-size: size(18);
        font-weight: 700;
        line-height: size(25);
    }

    &__config {
        display: flex;
        flex-direction: column;
        gap: size(5);
    }

    &__config-title {
        font-size: size(14);
        font-weight: 600;
        line-height: size(19);
    }

    &__config-content {
        align-items: center;
        display: flex;
        font-size: size(14);
        gap: size(18);
        line-height: size(19);
    }

    &__config-edit {
        align-items: center;
        color: var(--mc-helper-500);
        cursor: pointer;
        display: flex;
        font-weight: 700;
        gap: size(6);
        white-space: nowrap;

        .iconify {
            font-size: size(15);
        }
    }

    &__form {
        align-items: end;
        margin: 0;

        .field {
            gap: 0;
        }

        .mail-buttons {
            align-items: center;
            display: flex;
            gap: size(8);
        }
    }

    @include mobile {
        &__config-content {
            align-items: flex-start;
            flex-direction: column;
            gap: size(8);
        }

        &__form {
            display: flex;
            flex-direction: column;

            .mail-buttons {
                flex-direction: column;
            }
        }
    }
}
