@use '../0.settings/mixins' as *;

.user-mail {
    &__account-config {
        margin: size(24) 0;
        padding: size(16);
        background-color: var(--mc-high-500);


        &-label {

            font-weight: 700;
            font-size: size(18);
            margin-bottom: size(16);
        }

        &-email {
            font-style: normal;
            font-weight: 700;
            font-size: size(14);
            gap: size(8);
            padding-right: size(18);
        }

        &-edit {
            gap: size(18);

            svg {
                color: var(--mc-helper-500);
                margin-right: size(8);
            }

            &-label {
                margin-left: size(8);
                font-weight: 700;
                font-size: size(14);
                color: var(--mc-helper-500);
            }
        }

        &-form {
            margin: size(16) 0;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }

            .field {
                gap: 0;
            }
        }


    }

    @media (max-width: size(800)) {
        &__account-config {

            &-form {
                display: flex;
                flex-direction: column;

                .mail-buttons {
                    flex-direction: column;
                    display: flex;
                    gap: size(8);
                }
            }

            p {
                display: flex;
                flex-direction: column;
            }
        }
    }
}