@use '../0.settings/mixins' as *;

.user-accepted-terms {

    &__privacy {

        &--accept {
            max-height: 100%;
            background-color: var(--mc-high-500);
            border-radius: var(--mc-border-radius-xs);
            padding: size(16) size(16) size(24);

            &-title {
                font-weight: 700;
                font-size: size(18);
                margin-bottom: size(24);

                &-box {
                    margin-top: size(24);
                    @media (max-width: size(500)){
                        .boxterm__list-subterm{
                            label{
                                font-weight: 600;
                                font-size: size(14);
                            }
                        }
                    }
                    .boxterm {
                        padding-bottom: size(24);

                        &__list {
                            margin-top: size(12);

                            &-subterm {
                                display: flex;
                                flex-direction: column;
                                gap: size(4);

                                &-title {
                                    font-weight: 700;
                                    font-size: size(16);
                                    font-style: normal;
                                }

                                &-content {
                                    font-family: $font-body;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: size(14);
                                }
                            }
                        }

                        @media (max-width: size(500)) {
                            .boxterm {
                                max-width: fit-content;
                                background-color: var(--mc-danger-500);
                            }
                        }
                    }
                }
            }
        }
    }
}