{{{_header}}}
<table role="presentation" class="main">
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>{{message}}</p>

                        {{#isEvaluator}}
                            <p>Um recurso está disponível para avaliação.</p>
                        {{/isEvaluator}}

                        {{#isProponent}}
                            <p>Recebemos a sua solicitação de recurso.</p>
                        {{/isProponent}}

                        {{#isManager}}
                            <p>Uma nova solicitação de recurso foi registrada.</p>
                        {{/isManager}}

                        <p>
                            <strong>Oportunidade: </strong> <a href="{{opportunityUrl}}" rel="noopener noreferrer">{{opportunityName}}</a><br>
                            <strong>Fase de recurso: </strong> <a href="{{phaseUrl}}" rel="noopener noreferrer">{{phaseName}}</a><br>
                            <strong>Inscrição: </strong> <a href="{{registrationUrl}}" rel="noopener noreferrer">{{registrationNumber}}</a><br>
                            <strong>Proponente: </strong> {{requesterName}}
                        </p>

                        <br>
                        <a href="{{registrationUrl}}" rel="noopener noreferrer">
                            <div class="status-card status-card--primary">
                                <h2 class="status-card--title">Acessar inscrição</h2>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{{_footer}}}
