@use './mixins' as *;

.hide-desktop {

    @include desktop {
        display: none;
    }
}

.hide-mobile {

    @include mobile {
        display: none;
    }
}

.justify-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mobile {
        & > * + * {
            margin-top: size(16)
        }
    }
}

// For screen-readers
.sr-only {
    @include sr-only;
}
