@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: url('/assets/fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Italic-webfont.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Semibold-webfont.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('/assets/fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-Bold-webfont.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: url('/assets/fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('/assets/fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype');
}


h1, h2, h3, h4, h5, h6, p, small {
    font-family: 'Open Sans';
    font-style: normal;
}

h1 {
    font-weight: var(--mc-font-bold);
    font-size: size(48);
    line-height: size(65);
}

h2 {
    font-weight: var(--mc-font-bold);
    font-size: size(32);
    line-height: size(44);
}

h3 {
    font-weight: var(--mc-font-bold);
    font-size: size(24);
    line-height: size(28);
}

h4 {
    font-weight: var(--mc-font-regular);
    font-size: size(18);
    line-height: size(25);
}

h6 {
    font-weight: var(--mc-font-regular);
    font-size: size(14);
    line-height: size(19);
}

p {
    font-weight: var(--mc-font-regular);
    font-size: size(16);
    line-height: size(22);
    margin: 0;
}

small {
    font-weight: var(--mc-font-regular);
    font-size: size(12);
    line-height: size(16);
}