@use '../0.settings/mixins' as *;

.entity-profile {
    max-width: size(118);
    min-width: size(96);
    margin: 0 auto;
    margin-bottom: size(12);

    &__profile {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: size(7);

        &:hover {
            img {
                filter: blur(size(1));
            }
        }

        &--img {
            align-items: center;
            background-color: var(--mc-gray-500);
            border-radius: 50%;
            color: var(--mc-white);
            cursor: pointer;
            display: flex;
            font-size: size(50);
            height: size(96);
            justify-content: center;
            overflow: hidden;
            width: size(96);
        }
    
        &--label {
            align-items: center;
            cursor: pointer;
            display: flex;
            font-size: size(14);
            line-height: size(19);
            text-align: center;
            position: relative;
    
            &::before {
                content: " ";
                background: url('https://api.iconify.design/zondicons/edit-pencil.svg') no-repeat center center / contain;
                position: absolute;
                top: 0;
                width: size(12);
                height: size(12);
            }
        }

    }
    
}    