@use '../0.settings/mixins' as *;

.mc-header-logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: size(13);
    max-width: size(360);
    width: 100%;

    a {
        color: var(--mc-low-500);
        text-decoration: none;
    }

    .theme-logo {
        width: 100%;
    }

    @media (max-width: size(430)){
        .theme-logo__text {
            font-size: size(11);
            letter-spacing: size(3);
            line-height: size(15);
        }
    }

    @media (max-width: size(1070)) {
        max-width: size(422);
    }
}

.mc-header-menu {
    display: flex;
    gap: size(32);
    list-style: none;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__btn-mobile {
        align-items: center;
        background: none;
        border: none;
        display: none;
        justify-content: center;
        margin: 0;
        padding: 0;

        .iconify {
            height: size(24);
            margin: size(3);
            width: size(24);
        }
    }

    @media (max-width: 1190px) {
        gap: size(20);
    }

    @media (max-width: 1070px) {
        display: none;

        &__btn-mobile {
            display: flex;
        }
    }


    &--btn {
        background: none;
        border: none;
        display: flex;
        margin: 0;
        padding: 0;

        .iconify {
            height: size(25);
            width: size(25);
        }
    }

    &--item {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        text-decoration: none;

        .icon {
            align-items: center;
            background-color: var(--mc-low-500);
            border-radius: 50%;
            color: var(--mc-white);
            display: flex;
            height: size(32);
            justify-content: center;
            width: size(32);

        }

        .label {                    
            color: var(--mc-black);
            font-family: var(--mc-font-body);
            font-size: size(14);
            font-style: normal;
            font-weight: 700;
            letter-spacing: size(0.8);
            line-height: size(15);
            margin: size(8) 0 0;
            text-align: center;
        }


        &.home {
            &:hover{
                .icon {
                    background-color: var(--mc-primary-500);
                }
                .label {
                    color: var(--mc-primary-500);
                }
            }
        }

        &.project {
            &:hover{
                .icon {
                    background-color: var(--mc-projects-500);
                }
                .label {
                    color: var(--mc-projects-500);
                }
            }
        }

        &.space {
            &:hover{
                .icon {
                    background-color: var(--mc-spaces-500);
                }
                .label {
                    color: var(--mc-spaces-500);
                }
            }
        }

        &.event {
            &:hover{
                .icon {
                    background-color: var(--mc-events-500);
                }
                .label {
                    color: var(--mc-events-500);
                }
            }
        }

        &.agent {
            .icon {
                font-size: 14px;
            }   
            
            &:hover{
                .icon {
                    background-color: var(--mc-agents-500);
                }
                .label {
                    color: var(--mc-agents-500);
                }
            }
        }

        &.opportunity {
            &:hover{
                .icon {
                    background-color: var(--mc-opportunities-500);
                }
                .label {
                    color: var(--mc-opportunities-500);
                }
            }
        }
        
    }

    &.mobile {
        background: white;
        gap: 0;
        height: 100vh;
        left: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;

        @media (max-width: size(1070)) {
            display: block;
        }

        .mc-header-menu__itens {
            list-style: none;
            margin: 0;
            padding: 0 0 0 size(16);
            width: 100%;

            li {
                border-bottom: var(--mc-border-hairline) #BBBBBB;
    
                &:last-child {
                    border-bottom: none;
                }
    
                .mc-header-menu--item {
                    display: flex;
                    flex-direction: row;
                    gap: 24px;
                    justify-content: flex-start;
                    padding: size(12) 0;
    
                    .label {
                        margin: 0;
                    }
    
                    &.painel {
                        .icon {
                            background: none;
                            color: var(--mc-low-500);
                            .iconify {
                                width: size(24);
                                height: size(24);
                            }
                        }
                    }
                }
            }
        }

        .close {
            align-items: center;
            background-color: white;
            border-top: none;
            box-shadow: var(--mc-shadow-lv1);
            display: flex;
            flex-direction: row;
            gap: size(13);
            height: size(90);
            margin: 0 auto;
            padding-left: size(16);
            padding-right: size(122);
            position: sticky;
            top: 0;
            width: 100%;
            z-index: 1;

            @media (max-width:size(400)){
                height: size(53);
            }
            
            &__btn {
                align-items: center;
                background: none;
                border: none;
                color: var(--mc-low-500);
                justify-content: center;
                margin: 0;
                padding: 0;
                text-decoration: none;

                cursor: pointer;
                display: flex;
                
                .iconify {
                    height: size(24);
                    margin: size(3);
                    width: size(24);
                }
            }

            &:hover {
                background-color: white;
                color: var(--mc-low-500);
            }

            .theme-logo {
                max-width: size(379);
                width: 100%;

                @media (max-width: size(430)){
                    .theme-logo__text {
                        font-size: size(11);
                        letter-spacing: size(3);
                        line-height: size(15);
                    }
                }
            }
        }
    }
}