@use '../0.settings/mixins' as *;

.mc-summary-agent {
    display: flex;
    flex-direction: column;
    gap: size(13);

    &__agent {
        display: grid;
        grid-template-columns: size(40) 1fr;
        gap: size(13);
        align-items: center;
        padding: size(12) size(16);
        background-color: var(--mc-white);
        border-radius: var(--mc-border-radius-xs);
    }

    &__img{
        width: size(40);
        height: size(40);
        border-radius: var(--mc-border-radius-pill);
        background-color: var(--mc-gray-500);
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }
}