@use '../0.settings/mixins' as *;

.opportunity-phase-status {
    width: 100%;

    &__line {
        width: 100%;
        border-top: 1px solid var(--mc-gray-100);
        margin: size(32) 0;
        height: 1px;
    }


    .subscribe_prev_phase {
        display: flex;
        align-items: center;
        justify-content: center;

        &__message {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: size(14);
            line-height: size(19);
        }
    }

    &_action {
        .iconify {
            font-size: size(22.5);
        }
    }

    .iconify {
        svg {}
    }

    &--center {
        display: flex;
        justify-content: center;
    }
}