//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------


// _home.scss
