@use '../settings/mixins' as *;

.finish-send-evaluation {
  .modal {
    &__content {
      margin: 0;
      padding: size(16) 0 size(24) 0;
      max-width: size(732);

      .finish-send-evaluation__text {
        display: flex;
        flex-direction: column;

      }
    }

    &__action {}
  }
}