@use '../settings/mixins' as *;

.mc-tag-list {
    display: flex;
    flex-direction: column;
    gap: size(8);
    margin: 0;

    &__title {
        margin: 0 0 size(10) 0;
    }

    &__tagList {
        margin: 0;
        display: flex;
        gap: size(10);
        padding: 0;
        flex-wrap: wrap;

        &--tag {
            align-items: center;
            border-radius: var(--mc-border-radius-pill);
            display: grid;
            font-size: size(13);
            font-weight: 600;
            gap: size(10);
            grid-template-columns: 1fr size(16);
            justify-content: space-between;
            line-height: size(13);
            list-style: none;
            min-height: size(33);
            padding: size(7) size(14);
            position: relative;
            text-align: center;
            word-break: break-word;

            .iconify {
                font-size: size(16);
            }

            a {
                align-items: center;
                display: flex;
                gap: size(10);

                .iconify {
                    font-size: size(16);
                }
            }
        }
    }
}