@use '../settings/mixins' as *;

.opportunity-phase-list-data-collection {

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
    }

    .subscribe_prev_phase {
        display: flex;
        align-items: center;
        justify-content: center;

        &__message {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
        }
    }

    &_action {

        &--button {
            color: var(--mc-primary-500);
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            display: flex;
            align-items: flex-end;
            gap: 8px;
            text-decoration: none;

        }

        &--center {
            display: flex;
            justify-content: center;
        }
    }
}