#atividades .dropdown {
    width: 120px;
    margin: 11px 0;
}
.atividade {
    margin-bottom: $line-height-base;
    padding-bottom: $padding-large;
    border-bottom: 1px solid $gray;
}
.atividade p {
    margin-bottom: $line-height-half;
}