.info:before,
.warning:before,
.danger:before,
.success:before {
    display: inline-block;
    width: 1rem;
    height: inherit;
    margin: 0 5px;
    font-size: $font-size-base;
    line-height: inherit;
    font-family: 'ElegantIcons';
    vertical-align: top;
    text-transform: none;
    font-weight: normal;
    font-style: none;
}
.info:before {
    content: '\e007';
    color: $brand-info;
}
.warning:before {
    content: '\e061';
    color: $brand-warning;
}
.danger:before {
    content: '\e061';
    color: $brand-danger;
}
.success:before {
    content: '\e052';
    color: $brand-success;
}
.alert {
    position: relative;
    margin-bottom: $line-height-base;
    padding: $padding-base;
    border-radius: $border-radius-base;
    border-style: solid;
    border-width: 1px;
    font-size: $font-size-smaller;
    &.info {
        background: #cff;
        border-color: #9be7ee;
        color: $brand-info;
    }
    &.warning {
        background: #ffc;
        border-color: #eed29b;
        color: $brand-warning;
    }
    &.danger {
        background: #fcc;
        border-color: #ee9b9b;
        color: $brand-danger;
    }
    &.success {
        background: #cfc;
        border-color: #a6dfa6;
        color: $brand-success;
    }
    &.automatic {
        padding: .25rem .75rem;
        background: $gray-lighter;
        border-color: #ddd;
        color: $gray-dark;
    }
    &:before {
        float: left;
    }
    .close {
        @extend %icon;
        position: absolute;
        right: $padding-base;
        top: $padding-base;
        font-size: 1rem;
        line-height: 1.5rem;
        &:before {
            content: '\e051';
        }
    }
    ul {
        margin-bottom: 0;
    }
}