/*botões*/
.botao,
.botao-grande {
    display: inline-block;
    border-radius: $border-radius-base;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all .3s;
            transition: all .3s;
}
.botao:hover,
.botao-grande:hover {
            box-shadow: rgba(0,0,0, .25) 0 1px 2px 0;
    -webkit-box-shadow: rgba(0,0,0, .25) 0 1px 2px 0;
    text-decoration: none;
}
.botao {
    height: 2rem;
    box-sizing: border-box;
    padding: 0 $padding-small;
    font-size: $font-size-smaller;
    line-height: 1.875rem;
}
.botao.principal {
    color: #fff;
    background: $brand-primary;
    border: 1px solid $brand-primary;
}
.botao.principal:hover {
    border-color: darken($brand-primary, 10%);
}
.botao.selected,
.botao.selected:hover {
    background-color: $brand-accent;
    border: 1px solid $brand-accent;
    color: #fff;
}
.botao.simples,
.botao.adicionar,
.botao.editar,
.botao.download,
.botao.excluir {
    color: $gray-dark;
    background: $gray-light;
    border: 1px solid $gray;
}
.botao.adicionar:hover,
.botao.editar:hover,
.botao.download:hover,
.botao.excluir:hover {
    color: $gray-darker;
    background: $gray-lighter;
    border: 1px solid $gray-dark;
}
.botao-grande {
    padding: $padding-small;
    font-size: $font-size-small;
    text-align: center;
    color: #fff;
    background: $brand-accent;
}
.botao-grande:hover {
    background: $brand-primary;
    border-color: $brand-primary;
}
.adicionar:before,
.editar:before,
.excluir:before,
.inserir:before {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    font-size: $font-size-base;
    font-family: 'ElegantIcons';
    vertical-align: top;
    text-transform: none;
    font-weight: normal;
    font-style: none;
}
.adicionar:before {
    content: '\e050';
}
.editar:before {
    content: '\6c';
}
.excluir:before {
    content: '\e051';
}
.inserir:before {
    content: '\37';
}
.botao.editar:before {
    margin-right: 5px;
    line-height: 1.875rem;
}
.botao.adicionar:before,
.botao-grande.adicionar:before,
.botao.excluir:before {
    margin-right: 5px;
}
.botao-de-icone {
    width: 1.375rem;
    line-height: 1.375rem !important;
    font-size: $font-size-base;
    font-family: 'ElegantIcons';
    font-weight: normal;
    text-align: center;
    color: #999;
}
.botao-de-icone:hover,
.botao-de-icone.selected {
    color: $brand-accent;
}
.botoes-de-edicao {
    position: absolute;
    display: none;
    padding: .2rem .5rem;
    border-radius: $border-radius-base;
    background: $gray-light;
    border: 1px solid #999;
            box-shadow: rgba(0,0,0, .25) 0 1px 2px 0;
    -webkit-box-shadow: rgba(0,0,0, .25) 0 1px 2px 0;
}

.action {
    display: inline-block;
    padding: 0 $padding-small;
    background: $brand-primary;
    border-radius: $border-radius-base;
    font-size: $font-size-smaller;
    font-weight: normal;
    -webkit-transition: all .3s;
            transition: all .3s;
}
.action:hover {
    text-decoration: none;
    background: $brand-accent;
    color: #fff;
}

.js-registration-action.selected {
    cursor: default !important;
}

.bt-remove-agent {
    margin: $line-height-base 0 0;
}

.p-dos-botoes {
    border-top: 1px solid $gray-lighter;
    padding: $padding-base 0 0;
    text-align: right;
}