//
// Buttons
// --------------------------------------------------


//== Base buttons
//
//## Different types of buttons used accros the project.

.btn {
    display: inline-block;
    box-sizing: border-box;
    height: 2rem;
    padding: 0 $padding-small;
    border-radius: $border-radius-base;
    line-height: 1.875rem;
    font-size: $font-size-smaller;
    font-family: $font-family-base;
    font-weight: $btn-font-weight;
    text-align: center;
    white-space: nowrap;
    transition: all .3s;
    cursor: pointer;
    &:hover {
        box-shadow: rgba(0,0,0, .25) 0 1px 2px 0;
        text-decoration: none;
    }
}

// Buttons actions
// --------------------------------------------------

.add,
.edit,
.send,
.download,
.delete,
.insert {
    color: $gray-dark;
    &:hover {
        color: $gray-darker;
    }
    &:before {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        font-size: $font-size-base;
        font-family: $icon-font-name;
        vertical-align: top;
        text-transform: none;
        font-weight: normal;
        font-style: none;
    }
}
.add:before {
    content: '\e050';
}
.edit:before {
    content: '\6c';
}
.send:before {
    content: '\e091';
}
.download:before {
    content: '\e092';
}
.delete:before {
    content: '\e051';
}
.insert:before {
    content: '\37';
}

.btn.add,
.btn.edit,
.btn.send,
.btn.download,
.btn.delete, {
    &:before {
        margin-right: 5px;
    }
}


// Buttons types
// --------------------------------------------------
.btn-default {
    color: $btn-default-color;
    background-color: $btn-default-bg;
    border: 1px solid $btn-default-border;
    &:hover {
        color: darken($btn-default-color, 20%);
        background-color: lighten($btn-default-bg, 5%);
        border: 1px solid darken($btn-default-border, 10%);
    }
}
.btn-primary {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border: 1px solid $btn-primary-border;
    &:hover {
        border: 1px solid darken($brand-primary, 10%);
    }
}
.btn-accent {
    color: $btn-accent-color;
    background-color: $btn-accent-bg;
    border: 1px solid $btn-accent-border;
    /* must define below so it overrides button actions colors, when used combined eg: class="btn-accent add" */
    &:hover {
        color: $btn-accent-color;
        background-color: $btn-accent-bg;
        border: 1px solid $btn-accent-border;
    }
}
.btn-verified {
    color: $btn-verified-color;
    background-color: $btn-verified-bg;
    background-image: url(../img/verified-icon.png);
    background-position: 8px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    &.selected {
        color: #fff;
        background-color: #000;
    }
}

// Buttons states
// --------------------------------------------------

.btn.disabled {
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    &:hover {
        box-shadow: none;
    }
}
.btn.selected {

}

// Buttons sizes
// --------------------------------------------------

.btn-small {
    height: 1.5rem;
    padding: 0 $padding-small;
    line-height: 1.5rem;
    font-weight: normal;
}
.btn-large {
    height: 2.5rem;
    padding: $padding-small;
    font-size: $font-size-small;
}



.botao-de-icone {
    width: 1.375rem;
    line-height: 1.375rem !important;
    font-size: $font-size-base;
    font-family: $icon-font-name;
    font-weight: normal;
    text-align: center;
    color: #999;
}
.botao-de-icone:hover,
.botao-de-icone.selected {
    color: $brand-accent;
}
.botoes-de-edicao {
    position: absolute;
    display: none;
    padding: .2rem .5rem;
    border-radius: $border-radius-base;
    background: $gray-light;
    border: 1px solid #999;
            box-shadow: rgba(0,0,0, .25) 0 1px 2px 0;
    -webkit-box-shadow: rgba(0,0,0, .25) 0 1px 2px 0;
}

.action {
    display: inline-block;
    padding: 0 $padding-small;
    background: $brand-primary;
    border-radius: $border-radius-base;
    font-size: $font-size-smaller;
    font-weight: normal;
    -webkit-transition: all .3s;
            transition: all .3s;
}
.action:hover {
    text-decoration: none;
    background: $brand-accent;
    color: #fff;
}

.js-registration-action.selected {
    cursor: default !important;
}

.bt-remove-agent {
    margin: $line-height-base 0 0;
}

.p-dos-botoes {
    border-top: 1px solid $gray-lighter;
    padding: $padding-base 0 0;
    text-align: right;
}