/* =Edit box
-------------------------------------------------------------- */
.mc-editable {
    display: inline-block;
    padding: 0 3px;
    border-radius: $border-radius-base;
    &:hover {
        background-color: $gray-light;
        &:after {
            color: $gray-darker;
        }
    }
    &:after {
        margin-left: 5px;
        content: $unicode-edit;
        font-size: $font-size-base;
        line-height: 1rem;
        font-family: $icon-font-family;
        font-weight: normal;
        font-style: normal;
        vertical-align: initial;
        text-transform: none;
        color: $gray-dark;
    }
}
.edit-box {
    position: absolute;
    z-index: $z-index-infobox;
    width: 375px;
    display: none;
    padding: $padding-base;
    background: #fff;
    border: none;
    border-top: 4px solid $brand-primary;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-modal;
}
.edit-box header {
    margin-bottom: $line-height-half;
    padding-bottom: $padding-base;
    border-bottom: $thin-row;
}
.edit-box header h1 {
    font-size: $font-size-base;
    line-height: 1rem;
    margin-bottom: 0;
}
.edit-box header p {
    margin-bottom: 0;
    font-size: $font-size-smaller;
}
.edit-box footer {
    text-align: right;
}
.edit-box footer button {
    margin-bottom: 0;
}
.edit-box.mc-top .mc-arrow,
.edit-box.mc-bottom .mc-arrow {
    left: 50%;
    margin-left: -4px;
}
.edit-box.mc-right .mc-arrow,
.edit-box.mc-left .mc-arrow {
    top: 50%;
    margin-top: -8px;
}
.edit-box.mc-top .mc-arrow {
    bottom: -16px;
    border-color: #fff transparent transparent transparent;
}
.edit-box.mc-bottom .mc-arrow {
    top: -20px;
    border-color: transparent transparent $brand-primary transparent;
}


.edit-box.mc-left .mc-arrow {
    right: -16px;
    border-color: transparent transparent transparent #fff;
}

.edit-box.mc-right .mc-arrow {
    left: -16px;
    border-color: transparent #fff transparent transparent;
}
.edit-box input,
.edit-box textarea,
.edit-box select {
    width: 100%;
}
.edit-box input {
    &[type="checkbox"], &[type="radio"], &[type="submit"] {
    width: auto;
    }
}
.edit-box .mc-spinner {
    width: 16px;
    margin: 10px auto;
    float: left;
}
