/* =Edit box
-------------------------------------------------------------- */

%edit-box-base {
    position: absolute;
    display: none;
    padding: $padding-base;
    background: #fff;
    border: none;
    border-top: 4px solid $brand-primary;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-modal;
    header {
        margin-bottom: $line-height-half;
        padding-bottom: $padding-base;
        border-bottom: $thin-row;
    }
    header h1 {
        font-size: $font-size-base;
        line-height: 1rem;
        margin-bottom: 0;
    }
    header p {
        margin-bottom: 0;
        font-size: $font-size-smaller;
    }
    footer {
        text-align: right;
    }
    footer button {
        margin-bottom: 0;
    }
}

.mc-editable {
    display: inline-block;
    padding: 0 3px;
    border-radius: $border-radius-base;
    &:hover {
        background-color: $gray-light;
        &:after {
            color: $gray-darker;
        }
    }
    &:after {
        margin-left: 5px;
        content: $unicode-edit;
        font-size: $font-size-base;
        line-height: 1rem;
        font-family: $icon-font-family;
        font-weight: normal;
        font-style: normal;
        vertical-align: initial;
        text-transform: none;
        color: $gray-dark;
    }
}
.edit-box {
    width: 375px;
    font-size: $font-size-smaller;
    z-index: $z-index-infobox;
    @extend %edit-box-base;
    @media screen and (max-width: $screen-tablet) {
        position: fixed !important;
        top: 50px !important;
        left: 0 !important;
        right: 0 !important;
        top: 25% !important;
        margin:0 !important;
        width: auto !important;
        box-shadow: 0px 0px 114px 200px rgba(0,0,0,0.75);

        .mc-arrow {
            display: none;
        }

        footer {
            text-align: center;
        }
    }
}
.edit-box.mc-top .mc-arrow,
.edit-box.mc-bottom .mc-arrow {
    left: 50%;
    margin-left: -4px;
}
.edit-box.mc-right .mc-arrow,
.edit-box.mc-left .mc-arrow {
    top: 50%;
    margin-top: -8px;
}
.edit-box.mc-top .mc-arrow {
    bottom: -16px;
    border-color: #fff transparent transparent transparent;
}
.edit-box.mc-bottom .mc-arrow {
    top: -20px;
    border-color: transparent transparent $brand-primary transparent;
}


.edit-box.mc-left .mc-arrow {
    right: -16px;
    border-color: transparent transparent transparent #fff;
}

.edit-box.mc-right .mc-arrow {
    left: -16px;
    border-color: transparent #fff transparent transparent;
}
.edit-box input,
.edit-box textarea,
.edit-box select {
    width: 100%;
}
.edit-box input {
    &[type="checkbox"], &[type="radio"], &[type="submit"] {
    width: auto;
    }
}
.edit-box .mc-spinner {
    width: 16px;
    margin: 10px auto;
    float: left;
}

// Modal

.modal-wrapper {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: -80px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-tip;
    @media screen and (min-width: $screen-tablet) {
        position: fixed;
        top: 0;
    }
    overflow-x: auto;
}

.modal {
    @extend %edit-box-base;
    display: block;
    margin: 15px;
    z-index: $z-index-tip;
    @media screen and (min-width: $screen-tablet) {
        width: 600px;
        top: 50px;
        left: 50%;
        margin: 0 0 0 -300px;
    }
    @media screen and (min-width: $screen-desktop) {
        top: 100px;
    }
    @media screen and (min-width: $screen-lg-desktop) {
        top: 150px;
    }
    .header-content {
        border-bottom: 1px solid $gray-lighter;
        margin: 1.5rem 0;
        min-height: initial;
        padding-bottom: 1.5rem;
        padding-left: 0;
        padding-top: 0;
    }
    .widget {
        border-color: $gray-lighter;
        > h3 {
            margin-bottom: 0.25rem;
        }
        p {
            margin-bottom: 0;
        }
    }
}

.editable-clear-x {
    right: 6px !important;
}