
/*Directive Find Entity*/
.directive-find-entity .result-container {
    max-height: 300px;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}
.directive-find-entity .result-container li:hover {
    background: $gray-light;
    cursor: pointer;
}

.agentes-relacionados .directive-find-entity {
    width: 375px;
    right: 0;
}
.agentes-relacionados .directive-find-entity ul.result-container > li {
    cursor: pointer;
}

.selos-relacionados .directive-find-entity {
    width: 375px;
    right: 0;
}
.selos-relacionados .directive-find-entity ul.result-container > li {
    cursor: pointer;
}