.label {
    font-weight: bold;
}
.js-dialog .label {
    color: $brand-accent;
    font-weight: normal;
}
.form-help {
    margin-bottom: 0;
    font-size: $font-size-smaller;
    font-style: italic;
    color: #999;
}
.radio-button {
    color: $brand-accent;
    font-family: $icon-font-family;
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.radio-button:before {
    content: $unicode-radio-button;
}
.radio-button.selected:before {
    content: $unicode-radio-button-selected;
}
/* Date picker*/
input.data {
    width: 72px;
    padding: 3px;
}