.label {
    font-weight: bold;
}
.input-text {
    padding: 3px 6px;
    display: inline-block;
    background: #fff;
    border: 1px solid $gray;
    border-radius: $border-radius-base;
    color: $gray-dark;
    font-family: $font-family-base;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: $font-size-smaller;
    height: 2rem;
    margin: 0 0 .75rem;
}
.js-dialog .label {
    color: $brand-accent;
    font-weight: normal;
}
.form-help {
    margin-bottom: 0;
    font-size: $font-size-smaller;
    font-style: italic;
    color: #999;
}
.radio-button {
    color: $brand-accent;
    font-family: 'ElegantIcons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.radio-button:before {
    content: '\5b';
}
.radio-button.selected:before {
    content: '\5c';
}
/* Date picker*/
input.data {
    width: 76px;
}