.highlighted-message {
    border-left: 3px solid $brand-primary;
    padding: $padding-large;
    margin-bottom: $line-height-base;
    background: #f5f5f5;

    .opportunity-phases {
        float: left;

        ul {
            &:last-child {
                margin-bottom: 0;
            }

            li {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}