/*ícones*/
.icon {
    @extend %icon;
}
h1 .icon {
    width: 2rem;
    height: 2rem;
    margin-right: .75rem;
    font-size: 2rem;
    line-height: inherit;
}
.icon-show-advanced-search {
    &:before {
        content: $unicode-show-advanced-search;
    }
}
.arrow_carrot-down {
    &:before {
        content: $unicode-select-arrow;
    }
}
.arrow_left {
    &:before {
        content: $unicode_arrow_left;
    }
}
.arrow_carrot-up {
    &:before {
        content: $unicode_arrow_carrot-up;
    }
}
.icon-space {
    &:before {
        content: $unicode-space;
    }
}
.icon-event {
    &:before {
        content: $unicode-event;
    }
}
.icon-check {
    margin-right: .5rem;
    background: #fff;
    color: $gray;
    padding: 2px;
    border-radius: $border-radius-base;
    &:before {
        content: $unicode-check;
    }
    &:hover {
        color: $brand-accent;
    }
    &.selected {
        background: $brand-accent;
        color: #fff !important;
    }
}
.icon-close {
    &:before {
        content: $unicode-close;
    }
}
.icon-comment {
    &:before {
        content: $unicode-comment;
    }
}
.icon-project {
    &:before {
        content: $unicode-project;
    }
}
.icon-download {
    &:before {
        content: $unicode-download;
    }
}
.icon-about {
    &:before {
        content: $unicode-about;
    }
}
.icon-home {
    &:before {
        content: $unicode-home;
    }
}
.icon-login {
    &:before {
        content: $unicode-login;
    }
}
.icon-private-info {
    &:before {
        content: $unicode-private-info;
    }
}
.icon-publication-status-open {
    &:before {
        content: $unicode-space-publication-status-open;
    }
}
.icon-publication-status-locked {
    &:before {
        content: $unicode-space-publication-status-locked;
    }
}
.icon-show-search-on-map {
    &:before {
        content: $unicode-show-search-on-map;
    }
}
.icon-show-search-on-list {
    &:before {
        content: $unicode-show-search-on-list;
    }
}
.icon-show-map {
    &:before {
        content: $unicode-show-map;
    }
}
.icon-add {
    &:before {
        content: $unicode-add;
    }
}
.profile {
    &:before {
        content: $unicode_profile;
    }
}
.question_alt {
    &:before {
        content: $unicode_question_alt;
    }
}
.search {
    &:before {
        content: $unicode_search;
    }
}
.share {
    &:before {
        content: $unicode_share;
    }
}
.tools {
    &:before {
        content: $unicode_tools;
    }
}

/* social icons */

.twitter {
    color: #00acee !important;
    &:before {
        content: $unicode_twitter;
    }
}
.facebook {
    color: #3b5998 !important;
    &:before {
        content: $unicode_facebook;
    }
}
.googleplus {
    color: #dd4b39 !important;
    &:before {
        content: $unicode_googleplus;
    }
}
