.privado {
    position: relative;
    padding-right: $padding-large;
}
.privado .icon {
    width: 1rem;
    height: 1rem;
}
.privado h3 .icon {
    line-height: 1rem;
    vertical-align: top;
}
.privado .lock:before {
    font-size: $font-size-smaller;
    color: $gray;
}
