//
// Registrations Tables
// --------------------------------------------------


//**  Table that shows on projects tab "Inscritos" when editing.
.registrations-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 2*$line-height-base;
	table-layout: fixed;
	thead {
		background-color: $gray-light;
		> tr {
			th {
				border-left: 1px solid #fff;
				border-bottom: none;
				.dropdown {
					background-color: transparent;
					.submenu-dropdown {
						background-color: #fff;
						&:before {
							color: #fff;
						}
					}
				}
			}
			th:first-child {
				border-radius: 2px 0 0 0;
				border-left: none;
			}
			th:last-child {
				border-radius: 0 2px 0 0;
			}
		}
	}
	tbody {
		tr {
			border-left: 3px solid $gray-lighter;
			border-right: 1px solid $gray-lighter;
			&:nth-child(odd) {
				background-color: lighten($gray-lighter, 3%);
				border-left: 3px solid $gray-light;
			}
			&:hover {
				background-color: $gray-lighter;
				border-left: 3px solid $gray;
			}
			&.approved {
				border-left: 3px solid $brand-success;
				background-color: #cfc;
				&:hover {
					background-color: lighten(#cfc, 5%);
				}
				td {
					border-bottom: 1px solid #fff;
				}
				.dropdown {
					background-color: $brand-success;
					.placeholder {
						color: #fff;
					}
				}
			}
			&.notapproved {
				border-left: 3px solid $brand-danger;
				background-color: #fcc;
				&:hover {
					background-color: lighten(#fcc, 5%);
				}
				td {
					border-bottom: 1px solid #fff;
				}
				.dropdown {
					background-color: $brand-danger;
					.placeholder {
						color: #fff;
					}
				}
			}
			&.waitlist {
				border-left: 3px solid $brand-warning;
				background-color: #ffc;
				&:hover {
					background-color: lighten(#ffc, 5%);
				}
				td {
					border-bottom: 1px solid #fff;
				}
				.dropdown {
					background-color: $brand-warning;
					.placeholder {
						color: #fff;
					}
				}
			}
			&.invalid {
				border-left: 3px solid #000;
				background-color: #999;
				&:hover {
					background-color: lighten(#999, 5%);
				}
				.dropdown {
					background-color: #000;
					.placeholder {
						color: #fff;
					}
				}
			}
			td {
				word-wrap: break-word;
			}
		}
		p {
			margin-bottom: $line-height-half;
			line-height: 1.5;
		}
		a {
			color: $brand-project;
		}
		ul {
			margin: 0;
			list-style: none;
		}
	}
	.registration-id-col {
		width: 18%;
	}
	.registration-option-col {
		width: 25%;
		text-align: left;
	}
	.registration-agents-col {
		width: 25%;
		text-align: left;
	}
	.registration-attachments-col {
		width: 12%;
		.download {
		    width: 1rem;
		    height: 1rem;
		}
		.icon.download:before {
		    font-size: $font-size-base;
		}
	}
	.registration-status-col {
		width: 20%;
		.dropdown {
			width: 100%;
			text-align: left;
		}
	}
	//** Table that shows on projects tab "Resultados".
	&.registrations-results {
		.registration-id-col {
			width: 22%;
		}
		.registration-agents-col {
			width: 29%;
			text-align: left;
		}
		.registration-option-col {
			width: 29%;
			text-align: left;
		}
	}
	//** Table that doesn't have registration-option-col.
	&.no-options {
		.registration-agents-col {
			width: 50%;
			text-align: left;
		}
	}
	&.no-attachments {
		.registration-agents-col {
			width: 37%;
			text-align: left;
		}
	}
	&.no-options.no-attachments {
		.registration-agents-col {
			width: 62%;
			text-align: left;
		}
	}

}
//** Table that shows on projects tab "Inscrições when user is logged in and has already started at least one registration.
.my-registrations {
	@extend .registrations-table;
	.registration-agents-col {
		width: 27%;
	}
}

%status-caption {
	display: inline-block;
    height: 2rem;
    padding: 0 $padding-small;
    border-radius: $border-radius-base;
    font-size: $font-size-smaller;
    line-height: 1.875rem;
    color: #fff;
}
.status-sent {
	@extend %status-caption;
	background-color: $gray-light;
}
.status-approved {
	@extend %status-caption;
	background-color: $brand-success;
}
.status-notapproved {
	@extend %status-caption;
	background-color: $brand-danger;
}
.status-waitlist {
	@extend %status-caption;
	background-color: $brand-warning;
}
.status-invalid {
	@extend %status-caption;
	background-color: #000;
}
.status-draft {
	@extend %status-caption;
	background-color: $gray-light;
}
