//
// Registration Form
// --------------------------------------------------


//## Registration form that shows on projects tab "Inscritos" when editing.

.registration-form {
	box-sizing: border-box;
	border: 1px solid #eee;
	border-radius: 2px;
	padding: $padding-large;
	margin-bottom: 2*$line-height-base;
	> div {
		float: left;
		box-sizing: border-box;
		padding-right: .75rem;
		&:nth-child(1){
			width: 40%;
		}
		&:nth-child(2) {
			width: 40%;
		}
		&:nth-child(3) {
			width: 20%;
			padding-right: 0;
		}

	}
	.dropdown-select {
		width: 100%;
	}
	.botao {
		width: 100%;
		&.principal {
			text-align: center;
		}
		&.simples {
			white-space: nowrap;
			overflow: hidden;
		}
	}
}
.registration-edition-options {
	margin-bottom: $line-height-base;
	padding: $padding-large;
	border: 1px solid $gray-lighter;
	border-radius: 2px;
	&:hover {
		background-color: #f4f4f4;
	}
	h4 {
		margin-bottom: $line-height-half;
	}

}
.registration-edition-help {
	font-style: italic;
	color: #999;
}
.attachment-list {
	margin: 0;
	list-style: none;
    .attachment-list-item {
        position: relative;
        padding: $padding-base;
        border-bottom: 1px solid $gray-lighter;
        .attachment-title {
        	display: block;
        	&:before {
        		@extend %icon;
        		content: "\e016";
        	}
        }
        .attachment-description {
        	font-size: $font-size-smaller;
        	color: #999;
        }
    }
    .is-editable {
        padding-right: 4rem;
        min-height: $line-height-base;
        .botoes {
            display: none;
            position: absolute;
            top: .75rem;
            right: .75rem;
        }
        &:hover {
            background: $gray-lighter;
            border-radius: $border-radius-base;
            .botoes {
                display: inline-block;
            }
        }
    }
    a.icone,
    a.editar {
        margin-left: 5px;
        color: $gray-dark;
        cursor: pointer;
        &:hover {
            color: $gray-darker;
        }
    }
    a.icone {
        font-size: 1rem;
    }
}