//
// Registration Form
// --------------------------------------------------


//## .highlighted-message that shows on projects tab "Sobre".
.registration-dates {
    box-sizing: border-box;
    margin-bottom: $line-height-half;
    @media screen and (min-width: $screen-tablet) {
        float: left;
        width: 100%;
        margin-bottom: 0;
        padding-right: 125px;
    }
}
article.project .highlighted-message .btn {
    @media screen and (min-width: $screen-tablet) {
        float: right;
        margin-left: -125px;
    }
}

//## Registration form that shows on projects tab "Inscritos" when logged in and on view mode.

.registration-form {
    display: none; //it shows only on tablet screen size and wider screens
	box-sizing: border-box;
	border: $thin-row;
	border-radius: $border-radius-base;
	padding: $padding-large;
	margin-bottom: 2*$line-height-base;
	> div {
		float: left;
		box-sizing: border-box;
        width: 50%;
        &:first-child {
    		padding-right: .75rem;
        }
	}
    .input-text {
        box-sizing: border-box;
        height: 2rem;
        margin-right: 5px;
        padding: 3px 6px;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: top; //to fix white space below due to hidden overflow
        background: #fff;
        border: 1px solid $gray;
        border-radius: $border-radius-base;
        color: $gray-dark;
        font-family: $font-stack-base;
        font-size: $font-size-smaller;
    }
    @media screen and (min-width: $screen-tablet) {
        display: block;
    }
}


//## Registration form that shows on projects tab "Inscritos" when editing.
.registration .alert.success {
    @media print {
        border: none;
        padding: 0;
        color: #000;
        &:before {
            content:"";
        }
    }
}
.registration-header {
	background-color: $registration-header-bg;
	color: $registration-header-color;
	padding: $padding-base;
	border-radius: $border-radius-base;
    @media print {
        display: none;
    }
}
.registration-fieldset {
	margin-bottom: $line-height-base;
	padding: $padding-small;
	border: $thin-row;
	border-radius: $border-radius-base;
	&:hover {
		background-color: #f4f4f4;
	}
	h4 {
		margin-bottom: $line-height-half;
	}
    .dropdown {
        width: 125px;
    }
    .invalid {
        .dropdown {
            background-color: #000;
            .placeholder {
                color: #fff;
            }
        }
    }
    .approved {
        .dropdown {
            background-color: $brand-success;
            .placeholder {
                color: #fff;
            }
        }
    }
    .notapproved {
        .dropdown {
            background-color: $brand-danger;
            .placeholder {
                color: #fff;
            }
        }
    }
    .waitlist {
        .dropdown {
            background-color: $brand-warning;
            .placeholder {
                color: #fff;
            }
        }
    }

    .status {
        width: 100px;
    }
    @media print {
        padding: 0 0 $padding-base;
        border: none;
        border-bottom: $thin-row;
        border-radius: 0;
        h4 {
            font-size: 1rem;
            line-height: 1;
        }
    }
    @media screen and (min-width: $screen-desktop) {
        padding: $padding-base;
    }
}
.registration-help {
	font-style: italic;
	color: #999;
}
.registration-id {
	font-size: 2rem;
	line-height: 1;
    @media print {
        font-size: 1rem;
        line-height: 1.5;
    }
}
.registration-agent {
	.warning {
		display: none;
	}
	&.pendent {
		.warning {
			display: block;
		}
	}
	.registration-agent-avatar {
		float: left;
		width: 2rem;
		height: 2rem;
		margin-right: $line-height-half;
	}
    .registration-agent-details {
        font-size: $font-size-smaller;
        padding-top: $padding-base;
    }
}

.registration-list {
	margin: 0;
	list-style: none;
    .registration-list-item {
        position: relative;
        padding: $padding-base;
        border-bottom: $thin-row;
        .registration-agent {
            a {
            	font-weight: normal;
            }
        }
        .registration-label {
        	font-weight: bold;
        }
        .registration-description {
        	font-size: $font-size-smaller;
        	color: #999;
        	margin-bottom: $line-height-half;
            @media print {
                display: none;
            }
        }
        .btn-group {
            position: absolute;
            bottom: $padding-base;
            right: $padding-base;
        }
        &:hover {
        	background: $gray-lighter;
        }
        &:last-child {
            border-bottom: none;
        }
        &.registration-edit-mode {
            padding-right: 11rem;
        }
        @media print {
            padding: 0 0 $padding-base;
            margin-bottom: $padding-base;
        }
    }
}
.registration-seals {
    list-style: none;
    margin: 0 0 1.5rem;
    li {
        display: inline-block;
        margin: 0 0.5rem 0.5rem 0;
        position: relative;
        img {
            max-height: 70px;
            max-width: 70px;
        }
        .botoes {
            position: absolute;
            top: -12px;
            right: -6px;
            a {
                background-color: #fff;
                border-radius: 100%;
                &:before {
                    line-height: 180%;
                }
            }
        }
    }
}

.attachment-list {
	margin: 0;
	list-style: none;
    .attachment-list-item {
        position: relative;
        padding: $padding-base 14.5rem $padding-base $padding-base;
        border-bottom: $thin-row;
        font-size: .8em;
        .attachment-title {
            font-size: $font-size-smaller;
            font-weight: normal;
            word-wrap: break-word;
        	&:before {
        		@extend %icon;
        		content: $unicode-attachment;
                margin-right: 3px;
        	}
        }
        .attachment-description {
        	font-size: $font-size-smaller;
        	color: #999;
        	margin-bottom: $line-height-half;
        }
        .attachment-template {
            font-size: $font-size-smaller;
            font-weight: normal;
            &:before {
                @extend %icon;
                content: $unicode-download;
                margin-right: 3px;
            }
        }
        .btn-group {
            position: absolute;
            bottom: $padding-base;
            right: $padding-base;
        }
        &:hover {
        	background: $gray-lighter;
        }
        &:last-child {
            border-bottom: none;
        }
        &.registration-edit-mode {
            padding-right: 1em 14rem 1em 1em;
            p {
                margin-bottom: 0;
            }
        }
        
        &.registration-view-mode {
            padding: .3em 1em;
            font-size: 0.75em;
            label {
                font-weight: bold;
                color:#333;
            }

            a {
                font-weight: normal;
                text-decoration: underline;
            }
        }
    }
}
