.selos {
    .avatar-seal {
        position: relative;
        float: left;
        width: 3rem;
        height: 3rem;
        margin-right: .75rem;
        margin-bottom: .75rem;
        background-size: cover;
        cursor: pointer;
        .botoes {
            position: absolute;
            top: -12px;
            right: 2px;
            a {
                background-color: #fff;
                border-radius: 100%;
                &:before {
                    line-height: 180%;
                }
            }
        }
        &.modal {
            display: inline-block;
            margin-right: 10px;
            text-align: center;
            vertical-align: top;
            margin:10px;
            left:0;
            top:0;
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        &:hover {
            .descricao-do-selo {
                display: block;
            }
        }
        &.pending {
            img {
                opacity: .3;
            }
        }
        img {
            cursor: pointer;
        }
        h3 {
            font-size: 14px;
            color: #666;
            line-height: 1.2;
        }
        .descricao-do-selo {
            display: none;
            position: absolute;
            z-index: $z-index-descricao-do-selo;
            top: 3.5rem;
            width: 135px;
            padding: 0.5rem;
            background: #fff;
            border-radius: $border-radius-base;
            box-shadow: $box-shadow-dropdown;
            &:before {
                @include arrow(up, $caret-width-base, #fff);
                left: $padding-small;
            }
            h1 {
                color: #444;
                font-family: $font-stack-base;
                font-size: .75rem;
                font-weight: bold;
                line-height: $line-height-base;
                margin-bottom: 0;
                text-align: center;
                a {
                    color: #444;
                    font-weight: bold;
                }
            }
            p {
                color: #444;
                font-family: $font-stack-base;
                font-size: .65rem;
                line-height: $line-height-base;
                margin-bottom: 0;
                text-align: center;    
            }
            .btn {
                margin-top: $line-height-half;
            }
        }
    }
    .widget {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
.selos-relacionados{
    margin-top: 10px;
}