/*tips*/
.hltip-box {
    min-width: 60px;
    max-width: 160px;
    border-color: $brand-accent;
}
.hltip-box .hltip-arrow-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    line-height: 0;
    border-color: transparent transparent $brand-accent transparent;
}
.hltip-box .hltip-arrow-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    line-height: 0;
    border-color: $brand-accent transparent transparent transparent;
}
.hltip-box .hltip-title {
    font-size: $font-size-small;
}
.hltip-box .hltip-text {
    padding: $padding-small;
    font-size: $font-size-smaller;
    line-height: 1rem;
    text-align: center;
    border-radius: $border-radius-base;
    color: #fff;
    background-color: $brand-accent;
    box-shadow: $box-shadow-button;
}
.hltip-danger .hltip-arrow-top {
    border-color: transparent transparent $brand-danger transparent;
}
.hltip-danger .hltip-arrow-bottom {
    border-color: $brand-danger transparent transparent transparent;
}
.hltip-danger .hltip-text {
    background: $brand-danger;
    color: #fff;
}