#user-stats {
    margin-right: -$padding-base;
    margin-bottom: $line-height-base;
    > div {
        > div {
            box-sizing: border-box;
            margin-right: $padding-base;
            margin-bottom: $padding-base;
            padding: $padding-base;
            border-radius: $border-radius-base;
            background: $gray-lighter;
            color: $brand-accent;
            -webkit-transition: all .3s;
                    transition: all .3s;
            &:hover {
                background: $brand-primary;
                .icon-add {
                    background: $brand-accent;
                    color: #fff;
                    -webkit-transition: all .3s;
                            transition: all .3s;
                    &:hover {
                        background: #fff;
                        color: $brand-accent;
                    }
                }
            }
        }
        @media screen and (min-width: $screen-phone) {
            float: left;
            width: 50%;
        }

        @media screen and (min-width: $screen-desktop) {
            float: left;
            width: 25%;
            margin-bottom: 0;
        }


    }
    .icon {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        &.icon-add {
            margin-top: 1rem;
            margin-bottom: 0;
            background: $gray-light;
            border-radius: $border-radius-base;
            @media screen and (max-width: $screen-tablet) {
                display: none;
            }
        }
    }
}
.user-stats-value {
    float: left;
    line-height: 2.5rem;
    font-size: 2.5rem;
    font-weight: normal;
    -webkit-transition: all .3s;
            transition: all .3s;
}
.user-stats-value:hover {
    text-decoration: none;
    color: #fff;
}