.widget-verified {
    text-align: center;
}
.verified-seal {
    display: inline-block;
    position: relative;
    width: 89px;
    height: 72px;
    background-image: url(../img/unverified-seal.png);
    background-repeat: no-repeat;
    background-position: center;
    &.inactive {
        opacity: .2;
    }
    &.active {
        background-image: url(../img/verified-seal.png);
    }
    &.editable {
        padding-top: 1rem;
        background-position: center 1rem;
        &:after {
            margin-left: -.5rem;
            position: absolute;
            top: 0;
        }
    }
}

.verified-seal-small {
    background-image: url(../img/unverified-seal-small.png);
    &.inactive {
        opacity: .2;
    }
    &.active {
        background-image: url(../img/verified-seal-small.png);
    }
    &.editable {
        padding-top: 1rem;
        background-position: center 1rem;
        &:after {
            margin-left: -.5rem;
            position: absolute;
            top: 0;
        }
    }
}
