//
// Right Sidebar Widgets
// --------------------------------------------------


//**  Widgets structure.
.widget {
    position: relative;
    margin-bottom: $line-height-base;
    padding-bottom: $padding-large;
    border-bottom: 1px solid #fff;
    font-size: $font-size-small;
	> h3 {
	    margin-bottom: $line-height-half;
	    font-size: .70rem;
	    line-height: $line-height-base;
	    font-family: $font-family-base;
        font-weight: bold;
	    letter-spacing: .1em;
	    text-transform: uppercase;
	    color: #888;
	}
    a.adicionar {
        position: absolute;
        top: 0;
        right: 0;
        color: #999;
        &:hover {
            color: $gray-darker;
        }
        &.botao {
            position: static;
        }
    }
}
//**  Widget list.
.widget-list {
    margin: 0;
    .widget-list-item {
        position: relative;
        padding-bottom: $padding-small;
        > a {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            span {
                white-space: nowrap;
            }
        }
        
    }
    //**  Widget list item when being edited. Editing buttons (edit & delete buttons) show on hover
    .is-editable {
        padding-right: 4rem;
        min-height: $line-height-base;
        .botoes {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 3px;
        }
        &:hover {
            background: $gray-light;
            border-radius: $border-radius-base;
            .botoes {
                display: inline-block;
            }
        }
    }
    a.icone,
    a.editar {
        margin-left: 5px;
        color: $gray-dark;
        cursor: pointer;
        &:hover {
            color: $gray-darker;
        }
    }
    a.icone {
        font-size: 1.5rem;
    }
}