@use '../01.settings/mixins' as *;

.agent-table {
    &__multiselects {
        display: flex;
        gap: var(--mc-space-24);
        flex-wrap: wrap;
    }

    &__inputs {
        display: flex;
        justify-content: flex-start;
        gap: var(--mc-space-20);
        width: fit-content;

        .verified {
            display: flex;
            align-items: center;
            gap: var(--mc-space-4);

            .iconify {
                color: var(--mc-success-500);
            }
        }

        .field {
            &--horizontal {
                display: flex;
                gap: var(--mc-space-10);
            }
        }
    }

    &__actions {
        display: grid;
        gap: var(--mc-space-12);
    }
}