@use '../01.settings/mixins' as *;

.entity-profile {
    max-width: size(118);
    min-width: var(--mc-space-96);
    margin: 0 auto;
    margin-bottom: var(--mc-space-12);

    &__profile {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--mc-space-7);

        &:hover {
            img {
                filter: blur(var(--mc-space-1));
            }
        }
    }

    &__profile-img {
        align-items: center;
        background-color: var(--mc-gray-500);
        border-radius: 50%;
        color: var(--mc-white);
        cursor: pointer;
        display: flex;
        font-size: size(50);
        height: var(--mc-space-96);
        justify-content: center;
        overflow: hidden;
        width: var(--mc-space-96);
    }

    &__profile-label {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: var(--mc-space-14);
        line-height: var(--mc-space-19);
        text-align: center;
        position: relative;

        &::before {
            content: " ";
            background: url('https://api.iconify.design/zondicons/edit-pencil.svg') no-repeat center center / contain;
            position: absolute;
            top: 0;
            width: var(--mc-space-12);
            height: var(--mc-space-12);
        }
    }

    &__profile-label-required {
        color: var(--mc-danger-500);
        font-weight: 700;
        font-size: var(--mc-space-12);
        line-height: var(--mc-space-16);
    }

    &--required {
        .entity-profile__profile-img {
            border: var(--mc-space-2) dashed var(--mc-danger-500);
        }

        .entity-profile__profile-label-required {
            color: var(--mc-danger-500);
            font-weight: 700;
            font-size: var(--mc-space-12);
            line-height: var(--mc-space-16);
        }
    }
}
