@use '../01.settings/mixins' as *;

.entity-field-datepicker {
    display: flex;
    gap: var(--mc-space-16);

    .date-input, .time-input {
        padding-left: var(--mc-space-40);
    }

    &__date {
        max-width: 100%;
        width: 70%;
    }

    &__time {
        max-width: 100%;
        width: 30%;
    }
}