@use '../01.settings/mixins' as *;

.entity-links {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: var(--mc-space-18);
        line-height: var(--mc-space-25);
        margin-bottom: var(--mc-space-8);
    }

    &__links {
        display: flex;
        flex-direction: column; 
        list-style: none;
        margin: var(--mc-space-2) 0 var(--mc-space-10);
        padding: 0;

        &__item{
            align-items: center;
            display: flex;
            gap: var(--mc-space-10);
            justify-content: space-between;
            padding: var(--mc-space-7) var(--mc-space-5);

            &:hover {
                background-color: var(--mc-gray-100);
            }

            .link {
                font-family: var(--mc-font-body);
                font-style: normal;
                font-weight: 700;
                font-size: var(--mc-space-18);
                line-height: var(--mc-space-25);
                margin: 0;
                color: var(--mc-black);
                text-decoration: none;
                display: grid;
                grid-template-columns: var(--mc-space-20) 1fr;
                align-items: center;
                gap: var(--mc-space-10);
                word-break: break-word;

                .iconify {
                    font-size: var(--mc-space-20);
                }

                &.editable {
                    color: var(--mc-danger-500);

                    svg {
                        color: var(--mc-danger-500);
                    }
                }
            }          

            .edit {
                display: flex;
                gap: var(--mc-space-14);
                line-height: var(--mc-space-25);
                
                svg {
                    cursor: pointer;
                    font-size: var(--mc-space-14);
                }
            }              
        }
    }

    &__list{
        width: 100%;
    }

    &__item{
        align-items: flex-end;
        display: flex;
        gap: var(--mc-space-15);
        margin-top: var(--mc-space-16);
    }

    &__buttons{
        display: grid;
        gap: var(--mc-space-10);
        padding: var(--mc-space-3) 0;
    }

    &__button{        
        cursor: pointer;
        display: flex;
        font-size: $font-size-xxxs;
        gap: var(--mc-space-5);
        padding: 0;
        max-width: size(110);
        width: 100%;
        white-space: nowrap;

        &__remove{
            color: var(--mc-danger-500);
            display: flex;
            gap: var(--mc-space-5);
            font-size: $font-size-xxxs;
            white-space: nowrap;
        }
    
        &__save{
           color: var(--mc-success-500);    
        }

        &__saved-remove{
            position: relative;
            top: size(-16);
        }
    }

    &__add-button{
        margin-top: var(--mc-space-16);
    }
}