@use '../01.settings/mixins' as *;

.mc-loading {
    align-items: center;
    display: flex;
    gap: var(--mc-space-12);
    font-weight: 700;
    font-size: var(--mc-space-18);
    line-height: var(--mc-space-25);
    margin: 0 auto;
    justify-content: center;
    
    .iconify {
        font-size: var(--mc-space-40);
    }

}
