@use '../01.settings/mixins' as *;

.user-management {
  &__content {
    // NOTE-BEM: templates also use &__action
    &--action,
    &__action {
      align-items: center;
      display: flex;
      gap: var(--mc-space-13);
    }
  }
}