#print-reports .chart-wrap .download {
    display: none;
}

#print-reports .charts-static,
#print-reports .chart-wrap {
    overflow: hidden;
}

@media print {

    @page {
        /* size: 7in 9.25in; */
        margin: 10mm 7mm 10mm 7mm;
    }

    body {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }

    #print-reports div {
        overflow: hidden;
    }

    #print-reports .charts-static,
    #print-reports .chart-wrap {
        overflow: hidden;
    }

    #print-reports .chart-wrap {
        page-break-after: always;
    }

    #print-reports .chart-wrap:last-child {
        page-break-after: avoid;
        margin-bottom:0;
    }

    #main-header {
        border-bottom: 1px solid #666;
        padding-left: 1.3rem;
    }

    #print-reports .chart-wrap .download {
        display: none;
    }

    #print-reports #main-content-header {
        border-bottom: 1px solid #666;
        margin-top: 0;
        padding: 1rem;
        width: 100%;
    }

    #print-reports .charts-dynamic {
        border-top: 0;
    }

    #print-reports div.chart-scroll {
        overflow-x: hidden;
    }

    #print-reports .chart-container {
        width: 100%;
    }

    #print-reports .charts-dynamic .chart-table table {
        max-width: 100% !important;
    }

    #print-reports .charts-dynamic .chart-table table td,
    #print-reports .charts-dynamic .chart-table table th {
        padding: 0.1rem;
    }

    #print-reports .charts-dynamic .chart-table table thead tr th {
        line-height: 1.6;
        position: relative;
    }

    #print-reports .charts-dynamic .chart-table table thead tr th span {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    #print-reports .chart-wrap header {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    #print-reports .break-page {
        page-break-before: always;
    }

    .log-execution-time {
        display: none;
    }

    #print-reports .alert{
        margin-bottom:0;
    }

}