@use '../settings/mixins' as *;

.opportunity-registrations {
  background-color: #F5F5F5;

  &__container {
    max-width: size(1200);
    display: flex;
    flex-direction: column;
    margin: size(40) auto;
    padding: 0 1rem;
    min-height: size(500);

    .button {
      width: 100%;
    }
  }

  &__observation {
    margin: size(34) 0;
  }

}