//
// Overrides
// --------------------------------------------------
//## Style rules that overrides the default theme's ones.
//## To make it easy to maintain and to avoid cascading problems,
//## just before the new rules, document the name of the Sass partial
//## where the original styles leave, group them per folder and keep
//## them in the same order as the original styles are imported to the main.scss.

//
// application/
// --------------------------------------------------

// _header.scss
#about-nav {
    @media screen and (max-width: $screen-xs-max) {
        padding: 0.65rem;
    }
    #organization-logo img {
        width: 68px;
        @media screen and (min-width: $screen-tablet) {
            width: 130px;
            margin-top: 9px;
        }
    }
}

#brand-logo {
    a {
        float: left;

        &:first-child {
            img {
                width: 68px;
                @media screen and (min-width: $screen-tablet) {
                    margin-top: 9px;
                    width: 95px;
                }
                @media screen and (min-width: $screen-md-min) {
                    margin-top: initial;
                    width: 132px;
                }
            }
        }
        &:nth-child(2) {
            img {
                margin-left: 10px;
                width: 22px;
                @media screen and (min-width: $screen-tablet) {
                    margin-top: 3px;
                    width: 32px;
                }
                @media screen and (min-width: $screen-md-min) {
                    margin-left: 15px;
                    margin-top: initial;
                    width: 39px;
                }
            }
        }

    }
}
