//
// Base
// --------------------------------------------------


body {
    background: $body-bg;
    color: $text-color;
}

hr {
    background-color: $gray;
    border: 1px solid #fff;
    clear: both;
    height: 1px;
    margin-bottom: $line-height-base;
}

/* HTML5 */
section,
article,
header,
footer,
nav,
aside,
hgroup {
    display: block;
}

/* Text elements */
p {
    margin-bottom: 0px;
}
ul {
    list-style: disc;
    margin: 0 0 $line-height-base $line-height-base;
}
ol {
    list-style: decimal;
    margin: 0 0 $line-height-base $line-height-base;
}
ol ol {
    list-style: upper-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
ol ol ol ol {
    list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
    margin-bottom: 0;
}
dl {
    margin: 0 0 $line-height-base 0;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: $line-height-base;
}
strong {
    font-weight: bold;
}
cite,
em,
i {
    font-style: italic;
}
big {
    font-size: 131.25%;
}
ins {
    background: #f66;
    text-decoration: none;
}
blockquote {
    font-style: italic;
    padding: 0 3rem;
    color: $gray-dark;
}
blockquote cite,
blockquote em,
blockquote i {
    font-style: normal;
}
pre {
    background: $gray-light;
    margin-bottom: $line-height-base;
    padding: $line-height-base;
}
abbr,
acronym {
    border-bottom: 1px dotted $gray-dark;
    cursor: help;
}
address {
    font-style: normal;
}
sup,
sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}
label {
    color: $brand-accent;
}
input,
textarea,
button,
select {
    padding: 3px 6px;
    background: $form-fields-bg;
    border: 1px solid $form-fields-border;
    border-radius: $form-fields-border-radius;
    color: $form-fields-color;
    font-family: $form-fields-font;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
}
input,
textarea {
    font-size: $form-fields-font-size;
    @media screen and (max-width: $screen-tablet) {
        width: 95%;
    }
}
input,
button,
select {
    height: $form-fields-height;
    margin: 0 0 .75rem;
}
input[type='submit'],
button[type='submit'] {
    width: auto;
    padding: 0 $padding-base;
    vertical-align: bottom;
    color: $btn-primary-color;
    font-weight: bold;
    font-size: $font-size-smaller;
    background-color: $btn-primary-bg;
    cursor: pointer;
    border: 1px solid $btn-primary-border;
    &:hover {
        color: $btn-primary-color;
        background-color: lighten($btn-primary-bg, 5%);
        border: 1px solid darken($brand-primary, 10%);
        box-shadow: $box-shadow-button;
    }
}
input[type='radio'],
input[type='checkbox'] {
    width: auto;
    height: auto;
    margin: 0;
    vertical-align: baseline;
}
input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: none;
}
a {
    color: $link-color;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
a:hover {
    color: $link-hover-color;
    text-decoration: underline;
}
img,
embed,
object,
video {
    max-width: 100%;
    height: auto;
}

/*table*/
table {
    margin: 0 0 $line-height-base;
    font-size: $font-size-smaller;
}
caption {
    padding: $padding-small;
    font-weight: bold;
    color: $table-caption-color;
    background: $table-caption-bg;
    border-radius: $border-radius-base $border-radius-base 0 0;
}
th,
td {
    padding: $padding-base;
    text-align: center;
    border-bottom: $thin-row;
}
td {
    color: $gray-darker;
}
thead tr th {
    text-align: center;
}
tr th {
    text-align: left;
}