// Antes de editar esse arquivo, leia o README.md desta pasta.

// SETTINGS
@import '0.settings/variables';
@import '0.settings/mixins';
@import '0.settings/typography';
@import '0.settings/global';
@import '0.settings/atoms';

// OBJECTS
@import '1.objects/load-more';
@import '1.objects/mc-title';
@import '1.objects/mc-avatar';

// COMPONENTS
@import '2.components/affirmative-policies--geo-quota-configuration';
@import '2.components/affirmative-policies--quota-configuration';
@import '2.components/_mc-fake-user-create';
@import '2.components/agent-data';
@import '2.components/app-card-content';
@import '2.components/apply-evaluations';
@import '2.components/button';
@import '2.components/claim-support';
@import '2.components/complaint-suggestion';
@import '2.components/container';
@import '2.components/create-app';
@import '2.components/create-entity-modal';
@import '2.components/create-modal';
@import '2.components/create-occurrence';
@import '2.components/data-table';
@import '2.components/datepicker';
@import '2.components/debug';
@import '2.components/entity-actions';
@import '2.components/entity-activity-card';
@import '2.components/entity-card';
@import '2.components/entity-cover';
@import '2.components/entity-data';
@import '2.components/entity-file';
@import '2.components/entity-header';
@import '2.components/entity-links';
@import '2.components/entity-list';
@import '2.components/entity-location';
@import '2.components/entity-log';
@import '2.components/entity-link-project';
@import '2.components/entity-occurrence-list';
@import '2.components/entity-owner';
@import '2.components/entity-parent-edit';
@import '2.components/entity-profile';
@import '2.components/entity-related-agents';
@import '2.components/entity-request-ownership';
@import '2.components/entity-seals';
@import '2.components/entity-social-media';
@import '2.components/entity-status';
@import '2.components/event-age-rating';
@import '2.components/event-importer-files';
@import '2.components/event-importer-upload';
@import '2.components/entity-table';
@import '2.components/faq-accordion';
@import '2.components/faq-info';
@import '2.components/faq-search';
@import '2.components/faq-search-results';
@import '2.components/error-display';
@import '2.components/evaluation-card';
@import '2.components/entity-terms';
@import '2.components/event-info';
@import '2.components/field';
@import '2.components/files-list';
@import '2.components/gallery';
@import '2.components/home-developers';
@import '2.components/home-entities';
@import '2.components/home-feature';
@import '2.components/home-header';
@import '2.components/home-map';
@import '2.components/home-opportunities';
@import '2.components/home-register';
@import '2.components/home-search';
@import '2.components/link-project';
@import '2.components/link-opportunity';
@import '2.components/mc-accordion';
@import '2.components/mc-breadcrumb';
@import '2.components/mc-alert';
@import '2.components/mc-card';
@import '2.components/mc-collapse';
@import '2.components/mc-confirm-button';
@import '2.components/mc-file';
@import '2.components/mc-header-menu-user';
@import '2.components/mc-header-menu';
@import '2.components/mc-linked-entity';
@import '2.components/mc-loading';
@import '2.components/mc-summary-evaluate';
@import '2.components/mc-map-card';
@import '2.components/mc-map';
@import '2.components/mc-multiselect';
@import '2.components/mc-notification';
@import '2.components/mc-relation-card';
@import '2.components/mc-select';
@import '2.components/mc-status';
@import '2.components/mc-stepper-vertical';
@import '2.components/mc-summary-agent-info';
@import '2.components/mc-summary-agent';
@import '2.components/mc-tag-list';
@import '2.components/messages';
@import '2.components/navbar';
@import '2.components/info-message';
@import '2.components/mc-icon';
@import '2.components/notification-card';
@import '2.components/notification-modal';
@import '2.components/opportunity-basic-info';
@import '2.components/opportunity-category-list';
@import '2.components/opportunity-category';
@import '2.components/opportunity-evaluation-committee';
@import '2.components/opportunity-evaluations-list';
@import '2.components/opportunity-evaluations';
@import '2.components/opportunity-form-export';
@import '2.components/opportunity-form-import';
@import '2.components/opportunity-list';
@import '2.components/opportunity-phase-config-data-collection';
@import '2.components/opportunity-phase-evaluations';
@import '2.components/opportunity-phase-header';
@import '2.components/opportunity-phase-list-evaluation';
@import '2.components/opportunity-phase-list-registrations';
@import '2.components/opportunity-phase-publish-config-registration';
@import '2.components/opportunity-phase-publish-date-config';
@import '2.components/opportunity-phase-status';
@import '2.components/opportunity-phases-timeline';
@import '2.components/opportunity-ranges-config';
@import '2.components/opportunity-registrations';
@import '2.components/opportunity-rules';
@import '2.components/opportunity-subscription-list';
@import '2.components/opportunity-subscription';
@import '2.components/panel--entities-summary';
@import '2.components/panel--carousel';
@import '2.components/panel--entity-support';
@import '2.components/panel--last-edited';
@import '2.components/panel--last-registrations';
@import '2.components/panel--open-opportunities';
@import '2.components/panel--pending-evaluations';
@import '2.components/panel-home';
@import '2.components/panel-sidebar';
@import '2.components/panel';
@import '2.components/permission-publish';
@import '2.components/popover';
@import '2.components/popover-form';
@import '2.components/registration-actions';
@import '2.components/registration-card';
@import '2.components/registration-evaluation-actions';
@import '2.components/registration-evaluation-info';
@import '2.components/registration-info';
@import '2.components/registration-print';
@import '2.components/registration-related-entity';
@import '2.components/registration-results';
@import '2.components/registration-status';
@import '2.components/opportunity-header';
@import '2.components/opportunity-registration-table';
@import '2.components/occurrence-card';
@import '2.components/seal-content-share';
@import '2.components/seal-locked-field';
@import '2.components/seal-relation-view';
@import '2.components/search-filter';
@import '2.components/select-entity';
@import '2.components/mc-share-links';
@import '2.components/space-info';
@import '2.components/stack';
@import '2.components/stepper';
@import '2.components/tabs';
@import '2.components/theme-logo';
@import '2.components/technical-assessment-section';
@import '2.components/tiebreaker-criteria-configuration';
@import '2.components/_affirmative-policy--bonus-config';
@import '2.components/timeline';
@import '2.components/user-accepted-terms';
@import '2.components/user-mail';
@import '2.components/user-management';


// LAYOUTS
@import 'layouts/entity-tabs';
@import 'layouts/entity';
@import 'layouts/main-header';
@import 'layouts/main-footer';

// PAGES
@import 'pages/agents';
@import 'pages/seals';
@import 'pages/events';
@import 'pages/faq';
@import 'pages/opportunity';
@import 'pages/panel-evaluations';
@import 'pages/panel-registrations';
@import 'pages/print-registration';
@import 'pages/projects';
@import 'pages/registrations';
@import 'pages/search';
@import 'pages/spaces';
@import 'pages/support';
@import 'pages/terms';
@import 'pages/user-detail';
@import 'pages/form-builder';
@import 'pages/form-preview';
@import 'pages/system-roles';
@import 'pages/system-roles-modal';