RewriteEngine On
RewriteRule ^public/(.*)$ protected/application/themes/active/assets/$1 [L]
#RewriteRule ^geojson/(.*)$ protected/vendor/postgis-restful-web-service-framework/$1 [L]

RewriteCond !^protected/application/themes/active/assets/ [NC]
RewriteRule ^protected/ - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule !^files/ index.php [QSA,L]

AddType application/font-woff .woff