@use '../0.settings/mixins' as *;

.layout-entity {
    background-color: var(--mc-white);

    .mc-map .leaflet-container {
        z-index: 0;
    }

    .tabs-component {
        &__header {

            @media (max-width: size(800)) {
                margin-top: 0;
                background-color: var(--mc-high-500);
            }
        }

        &__panels {
            margin: 0 auto size(40);
        }
    }

    .divider {
        width: 100%;
        border-bottom: size(1) solid var(--mc-high-700);
    }

    &.action-edit {
        background-color: var(--mc-gray-100);

        .container > main {
            gap: size(40);
        }
    }

    &.action-single {
        .tabs-component {
            &__header {
                border-bottom: 1px solid;
                padding: 0;

                @media (max-width: size(1200)) {
                    margin: 0 size(16);
                }
            }

            &__buttons {
                margin: size(35) 0 0;

                &--active::after {
                    background-color: var(--mc-primary-500);
                }
            }

            &__panels {
                .property-list {
                    padding-bottom: size(16);
                }
            }
        }
    }
}