@use '../0.settings/mixins' as *;

// Define comportamento dos itens do menu de entidades (em todo o sistema)
.action {
    &-index {
        .mc-header-menu--item.home{
            .icon {
                background-color: var(--mc-primary-500);
            }
            .label {
                color: var(--mc-primary-500);
            }
        } 
    }

    &-projects {
        .mc-header-menu--item.project {
            .icon {
                background-color: var(--mc-projects-500);
            }
            .label {
                color: var(--mc-projects-500);
            }
        }
    }
    
    &-spaces {
        .mc-header-menu--item.space {
            .icon {
                background-color: var(--mc-spaces-500);
            }
            .label {
                color: var(--mc-spaces-500);
            }
        }
    }
    
    &-events {
        .mc-header-menu--item.event {
            .icon {
                background-color: var(--mc-events-500);
            }
            .label {
                color: var(--mc-events-500);
            }
        }
    }
    
    &-agents {
        .mc-header-menu--item.agent {
            .icon {
                background-color: var(--mc-agents-500);
            }
            .label {
                color: var(--mc-agents-500);
            }
        }
    }   
    
    &-opportunities {
        .mc-header-menu--item.opportunity {
            .icon {
                background-color: var(--mc-opportunities-500);
            }
            .label {
                color: var(--mc-opportunities-500);
            }
        }
    }
}

.main-header {
    background-color: white;
    box-shadow: var(--mc-shadow-lv1);
    width: 100%;
    z-index: 100;
    position: relative;

    &__content {        
        align-items: center;
        display: flex;
        gap: size(30);
        height: size(90);
        justify-content: space-between;
        padding: 0 size(16);
        max-width: size(1440);
        width: 100%;
        margin: 0 auto;

        .logIn {
            align-items: center;
            background:  var(--mc-low-500);
            border-radius: var(--mc-border-radius-xs);
            color: var(--mc-white);
            display: flex;
            font-size: size(14);
            font-weight: 600;
            gap: size(28);
            line-height: size(20);
            padding: size(14) size(64);
            text-decoration: none;

            span {
                display: flex;

                svg {
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                }
            }

            @media (max-width: size(1170)) {
                padding: size(14) size(32);
                max-width: size(77);
                justify-content: center;
            }
        }

        &__options {
            &--userOptions {
                align-items: center;
                display: flex;
                gap: size(30);
            }
        }
    }
    @media (max-width:size(400)){
       &__content{
        height: size(53);
       } 
    }

    &__buttons {
        align-items: center;
        display: flex;
        gap: 0 size(30);
    }
}