@use '../0.settings/mixins' as *;

.main-footer {
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: var(--mc-shadow-lv1-up);
    display: flex;
    gap: size(40);
    justify-content: center;
    padding: size(24) 0 0;
    position: relative;
    flex-wrap: wrap;
    &__support {
        padding-bottom: size(39);
        @include mobile {
            padding-bottom: size(24);
        }
    }
    &__msgspt {
        text-align: center;
    }
    
    @include mobile {
        gap: 0;
    }
    
    &__content {
        margin: 0 auto;
        max-width: size(1440);
        width: 100%;

        &--logo,
        &--links {
            max-width: size(1170);
            margin: 0 auto;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 size(16);

            @include mobile {
                align-items: flex-start;
                flex-direction: column;
            }
        }

        &--logo {
            &-img {
                flex-basis: 100%;
                width: 100%;
                display: flex;
                justify-content: center;

                .theme-logo {
                    width: 30%;
                }

                .theme-logo.onlyImg {
                    width: unset;
                }

                @media (max-width: size(800)) {
                    width: 70%;

                    .theme-logo {
                        grid-template-columns: 100%;
                        text-align: center;
                        justify-content: center;
                        justify-items: center;
                        margin: 0 auto;
                        width: 50%;

                        &__logo {
                            width: 50%;
                            margin: 0 25%;
                        }
                    }
                }

                @media (max-width: size(490)) {
                    width: 100%;
                }

                svg {
                    width: 100%;
                }
            }

            &-share {
                align-items: center;
                color: var(--mc-low-700);
                display: flex;
                gap: size(20);
                justify-content: center;
                padding: size(34) 0;
                font-size: size(20);
                a, a:hover, a:active, a:focus, a:visited
                {
                    color: var(--mc-low-700);
                    text-decoration: none;
                }
            }

            @include mobile {
                align-items: center;
            }    
        }

        &--links {
            align-items: flex-start;
            justify-content: space-evenly;
            gap: size(40);
            padding: 0 size(56);
            
            @include mobile {
                gap: 0;
            }

            @media (max-width: size(450)) {
                width: 100%;
                padding: 0 size(40);
            }

            &-group {
                list-style: none;
                padding: 0;

                li {
                    font-weight: 400;
                    font-size: size(16);
                    line-height: size(22);
                    padding-bottom: size(16);

                    a {
                        align-items: center;
                        color: var(--mc-low-500);
                        display: flex;
                        gap: size(13);
                        text-decoration: none;
                    }
                }

                li:first-child {
                    font-weight: 700;
                    font-size: size(24);
                    line-height: size(28);
                    font-weight: 600;
                    padding-bottom: size(24);    
                    
                    a {
                        color: var(--mc-primary-500);
                    }
                }
            }
        }
    }

    &__reg {
        background: #042A2B;    
        padding: size(14) size(16);    
        width: 100%;

        &-content {
            align-items: center;
            color: var(--mc-high-500);
            display: flex;
            font-weight: 400;
            font-size: size(14);
            flex-wrap: wrap;
            justify-content: space-between;
            line-height: size(19);
            margin: 0 auto;
            max-width: size(1150);
            width: 100%;

            p {
                display: flex;
                flex-wrap: wrap;
                gap: size(5);
                margin: 0;
            }

            a {
                align-items: center;
                color: var(--mc-high-500);
                display: flex;
                gap: size(8);
                text-decoration: none;
            }

            .mapas {
                align-items: center;
                display: flex;
                gap: size(5);
                line-height: size(13);
                font-weight: 700;

                .iconify {
                    width: size(12);
                    height: size(12);
                }
            }
        }

        @media (max-width: size(800)) {
            &-content {
                align-items: center;
                flex-direction: column;
                gap: size(14);
                justify-content: center;

                p {
                    justify-content: center;
                }
            }
        }
    }
}