<form class="js-event-occurrence-form" data-response-action="" data-response-target="" method="post" action="">
    <input type="hidden" class='js-event-occurrence-group'>
    <script type="js-response-template"></script>
    <div class="mensagem erro escondido"></div>
    <label class="js-event-occurrence-value"> <span class="js-event-occurrence-value"></span> <input type="text" class="js-event-occurrence-value" name='value'/></label>
    <label class="js-event-occurrence-title"> <span class="js-event-occurrence-title"></span> <input type="text" class="js-event-occurrence-title" name='title' /></label>
    <label class="js-event-occurrence-description"> <span class="js-event-occurrence-description"></span> <textarea class="js-event-occurrence-description" name='description'></textarea></label>
    
    <input type="submit"/>
</form>
