<form class="js-metalist-form" data-response-action="" data-response-target="" method="post" action="">
    <input type="hidden" class='js-metalist-group'>
    <script type="js-response-template"></script>
    <div class="mensagem erro escondido"></div>
    <label class="js-metalist-value"> <span class="js-metalist-value"></span> <input type="text" class="js-metalist-value" name='value'/></label>
    <label class="js-metalist-title"> <span class="js-metalist-title"></span> <input type="text" class="js-metalist-title" name='title' /></label>
    <label class="js-metalist-description"> <span class="js-metalist-description"></span> <textarea class="js-metalist-description" name='description'></textarea></label>
    
    <input type="submit" value="enviar" />
</form>
