<div class="directive-find-entity">
    <input ng-model="searchText" ng-change="find()"/>
    <ul class="result-container">
        <li ng-repeat="entity in data">
            <div class="search-agent clearfix">
                <img class="search-agent-thumb" ng-src='{{avatarUrl(entity)}}' alt="{{entity.name}}" />
                <h1>{{entity.name}}</h1>
                <div class="objeto-meta">
                    <div>
                        <span class="label">área de atuação:</span>
                        {{entity.terms.areas.join(', ')}}
                    </div>
                    <div><span class="label">tipo:</span>{{entity.type.name}}</div>
                </div>
            </div>
        </li>
    </ul>
</div>